[2016-10-09 02:47] lsmoura opened #1 "Make buildUrl() grab settings from config"
the mtgjson.base_url on config.yaml holds the base url that should be used on buildUrl()

[2016-10-09 02:48] lsmoura opened #2 "config.yaml should really be config.default.yaml"
The file config.yaml should be local to the user and never be pushed / rewritten when committing changes.

[2016-10-09 02:49] lsmoura opened #3 "Add support for pushover notifications"
Using pushover.net -- the pushover keys must also be listed on config.yaml

[2016-10-09 02:50] lsmoura opened #4 "Implement UUID generation"

[2016-10-09 02:51] lsmoura opened #6 "Implement Meld cards parsing"
When #5 is all done, we need to get on the specifics of meld cards.

[2016-10-09 02:55] lsmoura opened #8 "Implement token parsing"
Tokens should be retrieved and inserted on a given set file. It will not be downloaded and parsed one-by-one like cards are now.

Tokens reside here: https://github.com/Cockatrice/Magic-Token/blob/master/tokens.xml

[2016-10-09 03:03] #2 closed

[2016-10-10 12:18] #4 closed

[2016-10-10 15:13] lsmoura opened #12 "Add every set to the sets folder"

[2016-10-12 05:30] #12 closed

[2016-10-13 03:39] Psithief commented on #8
If the picture URL is from `magiccards.info` or `magic.wizards.com` then it was actually printed by WotC.

That rule is only applicable to permanents and emblems. (Neither site has a version of the experience counter or energy reserve that I know of.)

[2016-10-13 07:58] Psithief commented on #8
I cleaned up the data a bit.
https://github.com/Cockatrice/Magic-Token/commit/e7dca0075b578e991bba2f810e79897dd2d2e0d4

[2016-10-13 13:22] lsmoura opened #17 "Retrieve and save sets"

[2016-10-13 13:58] lsmoura commented on #8
Module `xml2js` added to package.json for token parsing.

[2016-10-13 14:32] fvaneldijk commented on #19
Hi @lsmoura, this issue looks interesting. I would like to claim it for Hacktoberfest.

[2016-10-13 14:43] lsmoura commented on #19
@fvaneldijk Sweet! Go for it.
You need to fix the sorting on the `sets.js` file. It's inside the `set_save()` function. It currently sorts using `localeCompare()`, so it goes like this:

[code]

What we want is:
[code]

[2016-10-13 15:51] manishrw commented on #19
Hey, I already worked on it. :-/
I apologise but I've sent the pull request.

[2016-10-13 16:22] yrahul3910 commented on #19
Is this still open?

[2016-10-13 16:40] ZeldaZach commented on #19
I believe @manishrw started working on this already, but we have a few other tickets if you guys would like to check them out! @yrahul3910 @fvaneldijk

(In the future, can you just claim the ticket first @manishrw ? Thanks!)

[2016-10-13 17:04] manishrw commented on #19
sure mate :+1:

[2016-10-13 17:10] lsmoura commented on #19
Fixed by 44d52d7bea8cc9a47409a116e2a9e79843dffa69

[2016-10-13 17:17] lsmoura opened #23 "Properly parse basic lands, instead of only one land type per set."

[2016-10-13 19:15] #23 closed

[2016-10-15 01:11] #1 closed

[2016-10-19 16:44] lsmoura commented on #30
Done.

[2016-10-19 16:44] lsmoura commented on #17
Done.

[2016-10-19 16:44] #17 closed

[2016-10-19 19:00] ZeldaZach opened #36 "Implement colorIdentity"

[2016-10-19 19:00] ZeldaZach opened #37 "Implement variations"

[2016-10-19 19:01] ZeldaZach opened #38 "Implement border"
(This is really only used in sets like Unglued where the lands are a different border color then the set header)

[2016-10-19 19:01] ZeldaZach opened #39 "Implement timeshifted"
Timeshifted status = true or no key

[2016-10-19 19:01] ZeldaZach opened #40 "Implement hand/life"
Useful for vanguard cards.

[2016-10-19 19:18] lsmoura commented on #41
List of cards: http://magic.wizards.com/en/articles/archive/official-reprint-policy-2010-03-10

[2016-10-20 17:57] #6 closed

[2016-10-24 11:09] #36 closed

[2016-10-25 15:46] ZeldaZach commented on #39
Will be implemented with "fixes_XXX" (https://github.com/mtgjson/mtgjson/blob/master/shared/C.js#L4319)

[2016-10-25 15:47] ZeldaZach commented on #41
Will be implemented w/ "Fixes_XXX" (https://github.com/mtgjson/mtgjson/blob/master/shared/C.js#L4750)

[2016-10-25 15:50] ZeldaZach commented on #40
Gatherer doesn't seem to have vanguard cards on it...

[2016-10-25 16:33] dgant commented on #43
I love MTGJSON's coverage of promo cards. Generally, any data that MTGJSON includes, I'll find a use for, and promo card source would be no exception. Here are some of the ways that ComboDeck uses or would like to use promo card data:

* Displaying information about promo cards
* Indexing promo cards by all the keywords a person might use to search for it (for example, a person may be more likely

[2016-10-26 11:12] lsmoura commented on #42
Already done.

[2016-10-26 11:12] lsmoura commented on #8
This is also done.

[2016-10-26 11:12] #8 closed

[2016-10-30 05:53] Psithief commented on #43
Source as an array of one or more strings?

[2016-11-05 15:49] tooomm commented on #52
There might be others too.

Cross referencing interesting comments:
https://github.com/mtgjson/mtgjson/issues/182#issuecomment-227214984
https://github.com/mtgjson/mtgjson/issues/156#issuecomment-215835896

CC: @fenhl

[2016-11-05 16:11] fenhl commented on #52
I believe the set codes should be:

* NEM for *Nemesis*
* P02 for *Portal Second Age*
* CM1 for *Commander's Arsenal*
* DDL for *Duel Decks: Heroes vs. Monsters*

For NEM and P02, the Ask Wizards article clearly lists these set codes and there are to my knowledge no official sources contradicting them.

For CM1 and DDL, those are the the set codes used by Gatherer, and the Card Set Archive is know

[2016-11-06 14:53] naileakim commented on #43
I confirm you that if we had every `mtgjsonSetName` matching a `mkmSetName`, this would remarkably improve the matching ratio between the 2 sources. Currently, 70 `mtgjsonSetName` have no `mkmSetName` equivalent. Original work on this issue was made by @florentdouine (see: https://github.com/mtgjson/mtgjson/pull/93). I guess that for 70 missing values, we can do it manually.

[2016-12-03 16:19] mildmongrel opened #53 "Feature request: Incorporate version"
Can the version number of the file(s) be included in a top-level node?

i.e.

{ version : "4.0.0" }

[2017-07-25 19:19] taw commented on #56
It's slightly easier to work with single color abbreviations than words, but should be same one way or the other.

[2017-07-25 19:23] KingSupernova31 commented on #56
Yeah, there's no reason they should be inconsistent. It just requires extra work when doing any sort of comparison or sorting.

[2017-08-17 12:56] fenhl commented on #53
@tooomm has additionall requested a date of creation field in mtgjson/mtgjson#347.

[2017-08-17 14:00] tooomm commented on #52
If `Nemesis` gets finally corrected, we have to update the documentation on the page as well, since the example there is Nemesis: http://mtgjson.com/documentation.html

[2018-05-26 08:33] ZeldaZach commented on #4
Is this how a python package lists dependencies outside of normal python scope?

[2018-05-26 08:34] AridTag opened #5 "Check Rulings for images"
Example of the issue:

http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=423769

The {E} symbols get correctly picked up in the card text but not in the rulings.

[code]

[2018-05-26 10:02] AridTag commented on #4
[seems that way](https://pip.pypa.io/en/latest/user_guide/#requirements-files)

[2018-05-26 10:10] AridTag opened #7 "Randomly gets stuck"
Known issue where it will just seemingly get stuck processing a set

[2018-05-26 18:20] silasary commented on #4
Yup. It's the way you share pypy dependencies with other developers/users.

[2018-05-26 18:32] #5 closed, assigned to nobody

[2018-05-26 18:32] ZeldaZach commented on #4
Sounds good to me. Are we sure these are the only dependencies (so far)?

[2018-05-26 18:34] ZeldaZach commented on #7
I assume this is something to do with the synchronization of the project. There's probably a race time condition that causes a deadlock.

cc: @fenhl

[2018-05-27 02:31] silasary opened #9 "Use CON_ throughout build process, for better windows compatibility"

[2018-05-27 02:59] silasary commented on #4
So far, yes.
To make it, I created an empty virtual environment, then added packages until it started working.

[2018-05-27 17:37] silasary commented on #7
I'm assuming this is when running `--all-sets`, and on windows?

It is almost certainly getting stuck specifically on Conflux.

[2018-05-27 17:48] ZeldaZach commented on #7
I'm on Mac and I still get stuck so that's not the issue, at least on my end

[2018-05-28 04:09] #37 closed

[2018-05-28 04:09] #38 closed

[2018-05-28 04:10] #39 closed

[2018-05-28 04:10] #40 closed

[2018-05-28 04:10] ZeldaZach commented on #56
It now will work in WUBRG order, for the time being.

[2018-05-28 04:29] tooomm commented on #56
So both, `"colorIdentity"` and `"colors"`, use single letter abbreviations now?

[2018-05-28 04:29] ZeldaZach commented on #56
That is correct

[2018-05-28 22:23] Daenyth commented on #9
There's a list of unsafe names in the cockatrice source. This should use the same

[2018-05-28 23:05] ZeldaZach commented on #9
Good idea, thanks Gav!

[2018-05-28 23:19] ZeldaZach commented on #9
Addressed in 14cf805f5357a6335de850edbc700e363e9ac0d0

[2018-05-28 23:19] #9 closed, assigned to nobody

[2018-05-30 01:38] ZeldaZach commented on #53
Addressed in https://github.com/mtgjson/mtgjson-python/commit/d4046c035bf48e1f8613e3c9ced527af8922fcd0

[2018-05-30 01:38] #53 closed

[2018-05-30 01:40] ZeldaZach commented on #52
Addressed the 4 set code corrections

[2018-05-30 06:35] tooomm commented on #52
Maybe leave still open to not forget to adjust the docs later
(i assume it's only addressed in the v4 rewrite yet)

[2018-05-30 17:26] tooomm commented on #53
Any reason you don't want to add a date field too, to easily check when last updates happened or changes got applied?

[2018-05-30 17:57] ZeldaZach commented on #53
Didn't see that part; decent idea

[2018-05-30 23:00] ZeldaZach commented on #7
https://gist.github.com/ZeldaZach/852af2d2f716946304f3f550a72c1c09

[2018-05-31 06:48] tooomm opened #19 "Language map is incomplete"
https://github.com/mtgjson/mtgjson-python/blob/master/mtgjson4/mtg_global.py#L759-L769

"Korean" and "Chinese Simplified" is missing, see http://gatherer.wizards.com/Pages/Card/Languages.aspx?multiverseid=442889

[2018-05-31 14:22] ZeldaZach commented on #19
If you'd like to open a PR to fix that quickly, please feel free to

[2018-05-31 17:37] #19 closed, assigned to nobody

[2018-06-05 00:36] #7 closed, assigned to nobody

[2018-06-23 18:19] ZeldaZach commented on #23
Good start. I'll look at expanding it in the future

[2018-07-09 00:42] theelk801 opened #26 "Readdress how failed downloads work"
Here's the log: https://gist.github.com/theelk801/c62033260ddb5ef1cfb6e94d3b63d8ae

[2018-07-09 00:51] fenhl commented on #26
I'm not seeing any exception in the main task, just lots of unretrieved ones in other tasks. We should make sure these are propagated to the main task.

[2018-07-09 01:05] ZeldaZach opened #27 "Adding Concurrency"
By adding concurrency (`multiprocessing`) to the build sequence, we can increase the speed of the builds. The goal is <2 hours for an all build.

My initial thought is to make each set run on a thread in a pool, but suggestions are greatly appreciated!

[2018-07-09 01:06] ZeldaZach opened #28 "Fix Async Commands"
With our use of `aiohttp` and `asyncio`, the code base gets very confusing very quickly. We should look into simplifying how things operate to make it easier to test, make more sense to the developers who don't work with this stuff often, and better comments to explain what's happening with the async commands.

[2018-07-09 01:08] ZeldaZach opened #29 "Caching System"
I added a rudimentary caching system to cache the set URLs and the checklists. We should look into what else should be cached in order to speed up future re-runs.

I would like to only cache things we know are constants, or find a way to save hashes and compare it to online pages before we go through the entire process of building.

[2018-07-09 01:09] ZeldaZach opened #30 "Class structure discussions"
Currently, the system has one class in the `mtg_builder` file: `MTGJSON`.

There seems to be no benefit to this class, making it confusing to others who look as it's the only class in the project. The goal here is to either remove the class framework and make every module it's own thing, or classify every module. I'm honestly fine with either choice, but we should come to an agreement. Comments he

[2018-07-09 01:11] ZeldaZach opened #31 "Support for Scryfall"
The awesome people at Scryfall have given us an unlimited API key to gather data from them for validation purposes and specialty sets that Gatherer doesn't contain.

I'd like our focus to be on 100% gatherer parsing for the moment, but this is a great next step once that's done. This will be a replacement for MCI as they have been unresponsive to requests.

[2018-07-09 01:11] fenhl commented on #27
We should not be using threads since we're already using asyncio and threads don't really do anything in Python. Multiprocessing is the way to go.

[2018-07-09 01:12] ZeldaZach commented on #27
I'm not a Python expert, but isn't the multiprocessing package just `ThreadPool()` ?

[2018-07-09 01:16] ZeldaZach commented on #26
I see a lot of `concurrent.futures._base.TimeoutError` errors. The timeouts were something we tried to address with the re-download but that seems to be failing.

Ticket update: Readdress how failed downloads work

[2018-07-09 01:17] ZeldaZach commented on #26
Code location: [MTG_HTTP.PY](https://github.com/mtgjson/mtgjson-python/blob/master/mtgjson4/mtg_http.py#L21)

[2018-07-09 01:24] theelk801 commented on #26
This is one of the reasons to just use the Scryfall API, you know exactly where you stand with regards to things timing out since you're not scraping.

[2018-07-09 01:26] ZeldaZach commented on #26
I'll need to consult with them, but scraping exclusively from scryfall seems like a bad thing for both parties.

1) We essentially become "scryfall.json.zip" which is not what I want to be.
2) Their API is a paid service, so providing a full download of their work seems like we're hurting their business model
3) Sometimes they may have mistakes that we can correct before them.

[2018-07-09 01:28] ZeldaZach commented on #31
Critical note ->  Linking: https://github.com/mtgjson/mtgjson-python/issues/26#issuecomment-403334670

[2018-07-09 01:34] fenhl commented on #27
Multiprocessing uses processes, not threads. Hence the name.

[2018-07-09 01:35] ZeldaZach commented on #27
Weird how they use the word thread then... but anyway, yeah processes would be useful

[2018-07-09 01:40] ZeldaZach opened #32 "Add Dataclasses"
With the release of Python 3.7, [dataclasses](https://docs.python.org/3/library/dataclasses.html) have been added to the language.

Would be useful for some of the elements we manage, like how we're building a card from the ground up. I have no problem advancing this project to 3.7-Minimum, if we can incorporate this into the project.

[2018-07-09 01:40] ZeldaZach commented on #30
Related: https://github.com/mtgjson/mtgjson-python/issues/32

[2018-07-09 01:45] ZeldaZach opened #34 "Consistent File Access (using pathlib.Path instead of os.path)"
We use both `os` and `pathlib` libraries for reading/writing files. I'd like to fix up the code to use either or. We can have a discussion on which is better here, but it seems a bit weird having two libs in that do the same thing

[2018-07-09 01:54] fenhl commented on #34
`pathlib` is much nicer to use imo.

[2018-07-09 01:57] ZeldaZach commented on #34
Any backing to your opinion, @fenhl ? Just looking for a justifiable claim to go one way or the other

[2018-07-09 02:03] fenhl commented on #34
For example, this line: https://github.com/mtgjson/mtgjson-python/blob/8666ea0e10c152e97936c2440857512604e10f79/mtgjson4/mtg_http.py#L135

could be rewritten as:

[code]

[2018-07-09 02:05] fenhl commented on #34
Basically, `os.path` handles strings, while `pathlib.Path` objects have all the required operations as actual methods on them. Since we're on 3.6+, it is also possible to use a `pathlib.Path` instead of a `str` anywhere a path is required.

[2018-07-09 02:06] ZeldaZach commented on #34
Sounds like a solid argument to me.

Ticket update: Move away from `os.path` -> `pathlib.Path`

[2018-07-09 02:23] theelk801 commented on #26
That's understandable. I didn't realize they had a paid version of their API though.

[2018-07-09 08:54] csuhta commented on #31
(I'm a member of the Scryfall team)

Regarding the linked comment https://github.com/mtgjson/mtgjson-python/issues/26#issuecomment-403334670:

This is not quite correct. Our API and images are free for everyone to use, but we have (fairly reasonable) rate limits. If you exceed them, our API may return a 429 status code to you so that you slow down.

We encourage businesses that depend on our data

[2018-07-09 22:00] ZeldaZach opened #35 "Set Config Standardization"
The formatting of the set_configs isn't consistent, and I'd like to change that. We should specify what field(s) are required/optional in a schema/documentation.

My initial thought is
- set name
- set code
- release date
- border
- type
- booster pack contents (TODO: Needs to be reworked)
- languages available in
- scryfall key (if necessary)

but I'm open to suggestions

I know @ancestral starte

[2018-08-03 16:15] ZeldaZach commented on #36
Can you just explain briefly what your change was with the sorting?

[2018-08-03 16:25] taw commented on #36
It looks like V3 sorted them, so you'd see formats in consistent alphabetical order:

      "legalities": [
        {
          "format": "Commander",
          "legality": "Legal"
        },
        {
          "format": "Legacy",
          "legality": "Legal"
        },
        {
          "format": "Modern",
          "legality": "Legal"
        },
        {
          "format": "Vintage",

[2018-08-03 16:30] ZeldaZach commented on #36
Sounds good to me 👍

[2018-08-03 16:42] ZeldaZach commented on #38
Relates to #35

[2018-08-03 16:50] tooomm commented on #35
For later, maybe we can have travis check that all fields we want/need are provided for new entries.

Like with the changelog check introduced in https://github.com/mtgjson/mtgjson/pull/381 or the json check+lint from https://github.com/mtgjson/mtgjson/pull/431.

[2018-08-04 01:37] silasary commented on #37
You also need to update `.travis.yml` to 3.7

[2018-08-04 03:34] tooomm commented on #37
Same for the readme file. It also needs an update to **3.7** ;)

[2018-08-05 13:50] ZeldaZach commented on #37
Addressed @silasary @tooomm

[2018-08-08 13:17] #34 closed, assigned to nobody

[2018-09-10 20:10] #27 closed, assigned to nobody

[2018-09-10 20:10] #28 closed, assigned to nobody

[2018-09-22 21:54] ZeldaZach commented on #35
Moved away from this, using SF's version instead.

Missing booster fields, but we'll consider alternatives in the future.

[2018-09-22 21:54] #35 closed, assigned to ancestral

[2018-09-22 21:54] #31 closed, assigned to nobody

[2018-09-22 21:55] ZeldaZach commented on #31
Moved towards a hybrid between Gatherer/SF

[2018-09-22 21:55] ZeldaZach commented on #26
I don't believe this ticket is relevant anymore. We use a different method to download now, as well as a completely different structure.

[2018-09-22 21:55] #26 closed, assigned to nobody

[2018-09-22 21:55] ZeldaZach commented on #29
I've added a simple cache for pre-built sets. That should be good enough for now.

[2018-09-22 21:55] #29 closed, assigned to nobody

[2018-09-22 21:56] ZeldaZach commented on #30
I've changed the entire structure around since July. There are now only two files, init and main

[2018-09-22 21:56] #30 closed, assigned to nobody

[2018-09-22 21:56] ZeldaZach commented on #32
Not sure if it's necessary...

[2018-09-22 21:56] #32 closed, assigned to nobody

[2018-09-23 02:14] tooomm commented on #31
Is there any documentation on how this works?
Like which data comes from Gatherer and which from Scryfall?

[2018-09-29 01:59] Fryyyyy opened #41 "Missing ForeignData fields"
Some cards (mostly, from what I can tell, the back faces of transform cards) have missing or malformed ForeignData blocks.

Cards that I believe have problems:

`set(['Sage of Ancient Lore', 'Two-Headed Dragon', 'Conduit of Storms', 'Elvish Champion', 'Lambholt Pacifist', 'Heir of Falkenrath', 'Metzali, Tower of Triumph', 'Reckless Waif', 'Ghastly Haunting', 'Nicol Bolas, the Arisen', 'Chandra, Ro

[2018-09-30 15:38] Morioki opened #42 "Cards with Split Layout don't pull full info for each section of the card"
**Describe the bug**
Split cards most recently from the GRN block are not pulling the full data for each section of the card.  For example, the card Invert // Invent is shown as Invert as the base name with both names in the Names entry. It seems both sides split they text and type across Text / OriginalText and Type / OriginalType.

The issue appears to be in terms of the ManaCost field, it shows

[2018-09-30 21:27] taw commented on #42
Also cmc is just bad, it should be per side and instead we get total.

[2018-09-30 22:12] tooomm commented on #42
Since AKH this is correct (rules wise) if you think about the physical card:
https://magic.wizards.com/en/articles/archive/news/amonkhet-split-card-rules-changes-2017-04-04

However I definitely see a use case for a per side display.
Especially since information gets lost if only the combined is shown for both. Instead, calculating and displaying the combined value when needed would be easy when t

[2018-09-30 22:15] taw commented on #42
In some contexts cmcs add up, but that happens only sometimes (not on stack), and in any case it's not useful for people searching things.

[2018-09-30 23:15] fenhl opened #43 "Rulings are sometimes in wrong order"
Scryfall's ordering of rulings is incorrect and makes little sense. For example, Humility should have a ruling from 2006-02-01, one from 2007-02-01, and then two from 2009-10-01. Scryfall's has the date sorting reversed but seemingly keeps rulings from the same date in the correct order.

[2018-10-01 00:56] Morioki opened #44 "Legality changes due to bans or set rotations"
When sets rotate out of a format or when ban's come through, there does not appear to be a way to pull the new legalities for the cards without building an entirely new file for that set.

Would there be a way to create a file of just card legalities or legality changes?

[2018-10-01 18:49] ZeldaZach commented on #44
We've been considering creating set-files such as `Standard.json`, `Modern.json`, etc which would follow the formatting of AllSets and AllCards, with the restriction of only cards/sets in those formats.

Would something like that satisfy what you're looking for?

[2018-10-01 19:45] Morioki commented on #44
For my use case, I do not think that set files would necessarily satisfy it. I'll give a bit of info on how I came to this request.

In my system, I have imported all the cards into my database in a table with a key to a legalities table that contains a card identifier and then a row for each legality and value pair. Now when sets rotate out of formats or cards get banned, the current option is to

[2018-10-01 21:05] dev-id opened #45 "Guildgates mis-named"
Guildgates from GRN have name: "Selesnya Guildgate (a)" and "Selesnya Guildgate (b)"

Should just be "Selesnya Guildgate" for both

Hymn to Tourach in FEM for reference

[code]

[2018-10-03 15:10] ZeldaZach commented on #45
Upstream issue (found on SF and Gatherer). Will bring up to them

[2018-10-03 15:12] ZeldaZach commented on #44
It's something that seems a bit tricky on our end to get right, and it might not be worth the time right now. If you'd like to look into a contribution, I would highly consider it, but I'd rather focus in on some of the bugs we're still having before we release. Hope you understand!

[2018-10-04 17:56] ZeldaZach commented on #41
Fixed in 32607df23f9cc622677588bb7d64399006e561d0

[2018-10-04 17:56] #41 closed, assigned to nobody

[2018-10-04 17:56] ZeldaZach commented on #43
Fixed in 32607df23f9cc622677588bb7d64399006e561d0

[2018-10-04 17:56] #43 closed, assigned to nobody

[2018-10-04 18:27] ZeldaZach commented on #42
I've spoken with several peoples and I think I'm going to leave the CMC as-is. I can't think of a proper way to justify each side, as the CMC being marked as 4 is technically wrong when the card's total CMC is 7.

The originalText/originalType has some issues with split cards, because gatherer parsing is nonsense and impossible to get right. Unfortunately that's a bug that is a long-term goal to f

[2018-10-04 18:37] ZeldaZach commented on #45
Fixed on SF. Re-built GRN and it has two entries for Selesnya Guildgate now, neither have the (a) or (b)
👍

[2018-10-04 18:37] #45 closed, assigned to nobody

[2018-10-04 20:53] ZeldaZach opened #46 "Reimplement Booster Field"
The Booster field from V3 contained how cards could be obtained via packs. We removed it in V4, temporarily, to reevaluate our options and figure out the best way to implement.

This will be our discussion board on this topic.

Cite: https://github.com/mtgjson/mtgjson/issues/521

[2018-10-04 21:01] ZeldaZach opened #47 "AllCards/AllSets for more formats"
Continuation of https://github.com/mtgjson/mtgjson/issues/178

Currently, we will build all sets in existence into these two files. Should we look into a limiting factor, or have different downloads? Technically, they're all real magic cards, so I'd like to keep them bundled. They have an annotation that they're not legal (silver boarder) and most people can infer that information.

Discussions we

[2018-10-04 21:41] ZeldaZach opened #49 "Support Some Token Builds"
Things like Face The Hydra start with a 't' so it's ignored by build script. Fix that :)

[2018-10-05 02:06] ZeldaZach commented on #49
Fixed in 2ea1b95e8b6fd96a9266818b5cdd95f437e35ea1

[2018-10-05 02:06] #49 closed, assigned to nobody

[2018-10-05 03:04] fenhl commented on #42
This is incorrect. To quote the rules:

This means that a half of a split card is, at least sometimes, completely independent of the other half. As such, it makes sense to model the two halves as separate, including a separate CMC. While not on the stack, *all* characteristics of a split card are combined, not just CMC. Let me stress this again: CMC is not special in any way; combining both halves

[2018-10-05 03:10] Fryyyyy commented on #42
I agree that having separate values is best, since it's easy to combine them if you need "full card CMC" and hard to separate out if it's just the total on both sides

[2018-10-05 04:15] jhallbachner commented on #42
Practically speaking, although it's technically true that there is a time at which a split card's CMC is only equal to one of the halves (and that is relevant to some card interactions, like being countered by Disdainful Stroke) it's always the combined value when the card is in hand, the library, the graveyard, exile, etc. The closest analogous situation I can think of is X spells, where the repo

[2018-10-05 04:20] Fryyyyy commented on #42
This isn't a rules engine, though. It's just some facts about the cards, and each half is listed separately in the file.
It's fairly simple logic to calculate the CMC of a split card using one or both halves if you know which zone the card is located in.

[2018-10-05 05:17] ancestral commented on #42
Invert // Invent’s converted mana cost is 7. (This is also how Scryfall does it.)

By definition, the “converted mana cost” of Invert // Invent is the combined mana costs of its halves. The combined *mana costs,* not the combined converted mana costs. This is important: each half does not have an individual converted mana cost. There is currently never a rules interaction that references a half of

[2018-10-05 05:28] fenhl commented on #42
~~This is a fair point. We don't model X costs in CMCs either, so this would be consistent.~~

[2018-10-05 05:32] fenhl commented on #42
However, my point about consistency with other values of a card still stands. Glittering Wish can find Armed // Dangerous, yet we do not set Armed's colors to `["R", "G"]`.

[2018-10-05 05:53] ancestral commented on #42
Perhaps the color should be that of the combined halves then?

[2018-10-05 06:03] fenhl commented on #42
And the mana cost, and the rules text, etc.?

[2018-10-05 06:23] ancestral commented on #42
Hmm. The split card is the combined characteristics of both halves, and each half has its own characteristics (mana cost, color, rules, etc.). In the example from the original issue, the converted mana cost is the combined mana costs, but each half doesn’t have a converted mana cost as that’s a card’s characteristic, not a card’s half’s characteristic.

So the correct answer is probably not puttin

[2018-10-05 23:22] RDWonline opened #51 "Running MTGJSONv4 on Windows"
Using Python 3.7, I did the following:

1. Extracted the contents of mtgjson-master.zip to directory "C:\Users\a046369\Desktop\mtgjson4-master\"
2. Executed "pip3 install -r requirements.txt".  Several messages about files being downloaded and installed
3. From the directory "C:\Users\a046369\Desktop\mtgjson4-master\" I typed:
"C:\Users\a046369\AppData\Local\Programs\Python\Python37-32\python.exe"

[2018-10-05 23:32] ZeldaZach commented on #51
Python3 -m mtgjson4

[2018-10-05 23:41] RDWonline commented on #51
I tried that first.  This is the message I got.  Where is that executable?  pythonw -m mtgjson4 didn't work either.

![pyerror2](https://user-images.githubusercontent.com/32939229/46564636-7ec20080-c8d6-11e8-8816-b27bd870ccf2.gif)

[2018-10-06 00:32] ZeldaZach commented on #51
You need the path for python3... check out google on how to exec a python script

[2018-10-06 00:48] #51 closed, assigned to nobody

[2018-10-06 19:44] Psithief commented on #42
The problem is that you are confusing card properties with spell properties.

A split card has a set of card properties, and a split card also represents two (or more - in silver border) spells, that are themselves objects with their own properties such as converted mana cost. Spells, of course, only exist on the stack. At all other times, a card has its card properties instead of spell properties

[2018-10-06 20:06] taw commented on #42
I feel that mtg.wtf index has a lot more clarity around such concepts with Card, CardPrinting, PhysicalCard etc (except for meld, I hate that mechanic and how it messes up with otherwise perfect domain model)

[2018-10-06 20:37] ancestral commented on #42
Yes, except it is important to know that CMC is not a property of a card half, it is the property of a card. Individual halves do not have separate CMCs.

[2018-10-07 05:11] Psithief commented on #42
This is incorrect. I was not inventing such a thing as a "card half". I was adding _spells_. If `Gaddock Teeg` (`Noncreature spells with converted mana cost 4 or greater can't be cast.`) is on the battlefield then `Beck` from `Beck // Call` could be cast, but `Call` could not.

`Beck` is a spell, nothing can ever see the spell exists unless it's being cast or on the stack. At all other times, it m

[2018-10-07 16:53] ancestral commented on #42
True, when the card is on the stack it behaves differently than when in your hand. It changes as/after it’s cast.

The point I’m trying to make is whichever half you refer to doesn’t have a cmc before it’s cast.

[2018-10-08 05:53] tooomm opened #52 "place a link to the docs in the readme"
Could be to e.g. https://github.com/mtgjson/mtgjson4-website/blob/master/content/pages/docs.md
or later to the website directly.

[2018-10-08 14:51] ZeldaZach commented on #52
Will lead directly to website later, but thanks for the reminder!!

[2018-10-15 05:00] tooomm opened #54 "Set: "block" and "onlineOnly" gone?"
Looking at https://mtgjson.com/v4/docs.html I can't find them anymore, also no mention in https://mtgjson.com/v4/changelog.html.

[2018-10-15 05:07] ZeldaZach commented on #54
Both block and onlineOnly are still valid fields... Looks like we missed them in documentation. Re-issue at the website github

[2018-10-15 05:07] #54 closed, assigned to nobody

[2018-10-15 05:13] tooomm commented on #54
I didn't compare all documentation, these came up to me because I looked for them in particular. (they would be helpful properties to filter/search the set page for example)

Somebody else should double check the documentation as well. It is very important to have all information listed there.

[2018-10-15 05:15] ZeldaZach commented on #52
@tooomm Want to cleanup our readme when you get a chance?

[2018-10-15 16:22] RDWonline opened #55 "Create version.json for MTGJSONv4"
Please create and maintain a version.json file for MTGJSONv4.  It will allow for applications to programmatically determine the version on the server.  Thanks in advance.

[2018-10-15 17:07] ZeldaZach commented on #55
I’m thinking about it, but our files now have a `meta` tag that includes version and date. Is that not good enough?

[2018-10-15 17:29] RDWonline commented on #55
I think it would be a lot more efficient for the version number to be in a separate 100 byte file rather than having to pull down the JSON file, loading it all into memory and THEN doing the comparison.  By then, I may have needlessly consumed ~190MB of bandwidth for nothing.

[2018-10-15 17:45] jmcsmith opened #56 "Include TCGPlayer API ProductID in card info"
Integrate the TCGPlayer API to have TCGProductID as a field on each card.
Category ID is always 1 for Magic
Each MTG set would have a group in category 1. For example Battlebond is group 2245
Each card then has a productid. For example Spire Garden is id 166659
Card data also contains an image link [(https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/166659_200w.jpg]

[2018-10-15 17:49] jmcsmith commented on #55
I agree this file would be helpful as it would allow checking for updates without checking every set file. changelog.json is also helpful if the update, new and removed set lists are kept uniform and machine readable.

[2018-10-15 18:03] ZeldaZach commented on #55
Hmm, so how about a single file, that includes current version, affected sets, and release date?

[2018-10-15 18:08] RDWonline commented on #55
If your object will allow me to check the version number of a specific file, then yes, this could work.

[2018-10-15 23:39] KingSupernova31 commented on #47
Doesn't the "legalities" field accomplish this? Un-cards, Proposal, etc have no legalities at all, whereas things like Chaos Orb and Shahrazad do. (They're just banned.)

[2018-10-16 03:22] ZeldaZach commented on #55
Sorry for not checking up with you guys, but I made a format that will be added in 4.0.1 (tonight-ish)
[code]

New versions will be added to the top of the dictionary.

[2018-10-16 03:53] ZeldaZach commented on #55
Added in 4.0.1
Will have a push to code later, but i did it manually for right now as we were making some changes

[2018-10-16 03:53] #55 closed, assigned to nobody

[2018-10-16 05:24] tooomm opened #57 "set type"
The proper set type for `Battlebonds` is missing. `two-headed_giant`?

Reading the initial issues it should be in the file already (can't check currently):
https://github.com/mtgjson/mtgjson/issues/581 & https://github.com/mtgjson/mtgjson/issues/587
If that's the case as described in the issue:
- set types should be uniform in case and don't use spaces
- why did it change to upper case? is there a

[2018-10-16 05:47] tooomm commented on #55
Hmm, this sounds like a blend between a very tiny file which only contains the version of the most current download/output, and a history of changed files (not really a changelog either)

Wouldn't it be better to have
- `currentVersion` for e.g. simple update checks and to determine further actions
- `updatedFiles` or `changedFiles`...
- and a proper `changelog`

all in separate json files to serv

[2018-10-16 06:03] ZeldaZach commented on #57
cc @ancestral

[2018-10-16 06:05] ZeldaZach commented on #55
I don't plan on making a formal JSON changelog as it's not really helpful. The changelog on the website is probably good enough.

Version will still be a relatively small file, compared to everything else. Maybe i can make a current or smth that only has the first entry from version.json not sure

[2018-10-16 07:31] taw opened #59 ".json.zip links 404"
On https://mtgjson.com/v4/ :

* https://mtgjson.com/v4/json/AllSets.json.zip
* https://mtgjson.com/v4/json/AllCards.json.zip

[2018-10-16 10:54] jmcsmith opened #60 "Provide set list json file."
Version 3 provided two json files that enumerated the sets. SetCodes.json that just had the codes and SetList.json that provides name, release date, and code.
Can this be added back?

[2018-10-16 16:47] ZeldaZach commented on #59
So the issue we have at hand is incorrect file names across our website

Future Spec: File names SHALL follow the format
[code]
Where SET_CODE is defined as any file name. Will be fixed soon.

[2018-10-16 17:02] mr-jonix opened #61 "Split cards do not have colors"
Split cards do not have `colors` array. They do, however, contain `colorIdentity` array.

Expected: `colors` array that includes all colors in the mana cost of the appropriate half and `colorIdentity` array that includes all colors in cost and text of both halves.

[2018-10-16 17:13] ZeldaZach commented on #61
Can you include an example or two from the JSON files

[2018-10-16 17:45] mr-jonix commented on #61
Here is what 'Bound // Determined' looks like right now:

[code]

And what it should be like (IMO):

[code]

[2018-10-16 17:52] mr-jonix opened #62 "Split cards with the same watermark"
Split cards that have the same watermark on both halves would only have it listed for one of the halves (the first one, it seems).

Example (Connive // Concoct):
[code]

[2018-10-16 18:02] mr-jonix opened #63 "Split card's second half has `originalText` of the first"
second half of a split card has `original text` of the first half (`text` is correct). Unless this was intentional, `originalText` should have the printed text of the second half.

Example (Concoct of Connive // Concoct):

[code]

[2018-10-16 19:10] ZeldaZach commented on #60
Sounds reasonable to me. Give me some time :)

[2018-10-16 19:14] ZeldaZach commented on #63
This is a known issue, but I went forward with the release anyway.

I need to figure out how to better manage scraping Gatherer, as this has been an issue for some time. Outside assistance would be awesome, otherwise I can figure it out myself for 4.1.

[2018-10-16 19:14] ZeldaZach commented on #62
Hmm, weird bug

[2018-10-16 19:15] ZeldaZach commented on #56
I recently got a TCGPlayer API key for the project, so I'll consider looking into this in the future :)

[2018-10-16 22:45] KingSupernova31 commented on #42
The way the rules of the game handle split cards really isn't important, because there can be applications that care about a detail of split cards that the rules of the game don't. However just to clear up several incorrect statements about the rules that have been made in this thread: A split card in any zone other than the stack has the characteristics of both halves. So for example, a Wear // T

[2018-10-16 22:48] KingSupernova31 commented on #61
The colors array should definitely exist, however the colorIdentity array should just be the colorIdentity of that half, not both halves. See #42.

[2018-10-16 22:51] KingSupernova31 opened #64 "Add List of Preconstructed Decks"
From https://en.wikipedia.org/wiki/List_of_Magic:_The_Gathering_theme_decks

https://github.com/mtgjson/mtgjson/issues/612

[2018-10-16 23:13] KingSupernova31 opened #65 "Meld cards are missing the "names" field"
All meld cards seem to be missing the "names" field.

[2018-10-16 23:17] KingSupernova31 opened #66 "Salvat/Hachette are not recognized as expansions"
The various Salvat/Hachette expansions are not in the card file.

https://github.com/mtgjson/mtgjson/issues/478

[2018-10-16 23:18] KingSupernova31 opened #67 "Archenemy Promotional Schemes Missing"
Promotional Archenemy Schemes are missing:

Perhaps you have met my Cohort
Plot that spans Centuries
Your inescapable Doom
Imprision this Insolent Witch
Drench the Soil in their Blood

https://github.com/mtgjson/mtgjson/issues/476

[2018-10-16 23:21] KingSupernova31 opened #68 "Add promo rarities"
Should "promo" be allowed as a possible value for rarity?

https://github.com/mtgjson/mtgjson/issues/462

[2018-10-16 23:24] KingSupernova31 opened #69 "Add FBB and FWB"
Add Foreign Black Bordered and Foreign White Bordered sets.

https://github.com/mtgjson/mtgjson/issues/439

[2018-10-16 23:25] KingSupernova31 opened #70 "Add Legendary Cube"
I noticed another missing set: the prize boosters for Legendary Cube, while entirely consisting of reprints, have their own set code (PZ1) and set symbol.

https://github.com/mtgjson/mtgjson/issues/433

[2018-10-16 23:27] KingSupernova31 opened #71 "Some cards with multiple versions aren't included."
Some cards with multiple versions aren't included, such as the Tamiyo's Journals with different flavor text.

https://github.com/mtgjson/mtgjson/issues/410

[2018-10-16 23:30] KingSupernova31 opened #72 "Add "block" to allSets.json"
Add a field for the block that a set is part of.

https://github.com/mtgjson/mtgjson/issues/101

[2018-10-16 23:31] KingSupernova31 opened #73 "Add 'seeded' booster info"
At pre-release events, they sometimes have 'seeded' boosters. Potentially add this info: http://mtgsalvation.gamepedia.com/Booster_pack#Seeded_boosters

https://github.com/mtgjson/mtgjson/issues/62

[2018-10-16 23:33] KingSupernova31 opened #74 "Add additional Duels sets"
Should add the additional Duels of the Planeswalkers sets (2012/1013/etc) and other 'Duels' digital sets, such as 'Magic Duels: Origins'. Will need to make sure I get the 'booster' property set correctly as it differs significantly from physical MtG.

https://github.com/mtgjson/mtgjson/issues/53

[2018-10-16 23:34] KingSupernova31 opened #75 "Add 'deck' or 'subset' field"
This can be used to identify which cards are part of which decks (such as 'elf' deck in the 'elves vs goblins' set). The existing 'source' field is used a bit like this for some promos sets like CPK, but it's not quite the same thing, but it probably would work just fine for this.

https://github.com/mtgjson/mtgjson/issues/51

[2018-10-16 23:35] ZeldaZach commented on #66
Upstream issue, but I'm working with SF to get 2011 in place. We should have 2005 already in.

[2018-10-16 23:36] ZeldaZach commented on #67
I don't know if we have archenemy in the current release. Can you check and confirm this is still an issue?

[2018-10-16 23:37] ZeldaZach commented on #68
It would be too much of a hassle imo to do this manually

[2018-10-16 23:37] KingSupernova31 commented on #67
You're right, vanguards, planes, schemes, etc are all not included in v4, so this is moot until they're added.

[2018-10-16 23:37] #67 closed, assigned to nobody

[2018-10-16 23:38] ZeldaZach commented on #69
Not sure what this really means...

[2018-10-16 23:38] ZeldaZach commented on #70
This is in V4. It's just not published on our sets page. This is an issue with display, which @ancestral is fixing up

[2018-10-16 23:38] #70 closed, assigned to nobody

[2018-10-16 23:39] ZeldaZach commented on #71
So there's really no good solution to this. The _only_ impacted card is Tamiyo's journal, and the difference is only flavortext. Imo, I don't recommend a fix as it wouldn't make sense to anybody...

[2018-10-16 23:40] KingSupernova31 opened #76 "Include additional frame information"
It would be nice to have information about nonstandard frames including:
various masterpiece frames
Ixalan DFC backside frame
textless promos
full art promos
full art lands
(possibly Nyx, miracle, and other such minor frame features)
the new legendary frame (this can be extrapolated from the current frame field combined with the supertypes.)

https://github.com/mtgjson/mtgjson/issues/454

[2018-10-16 23:40] ZeldaZach commented on #72
Added in v4 already.

[2018-10-16 23:40] #72 closed, assigned to nobody

[2018-10-16 23:41] ZeldaZach commented on #73
We'd need to get more information first on what the seeded boosters are. Would rather defer to another source for that information, if we can find it.

[2018-10-16 23:42] ZeldaZach commented on #74
The "booster" field is currently not implemented in V4, and I don't think we'd add it for such sets anyway. My recommendation is to close and wait for the booster impl

[2018-10-16 23:42] ZeldaZach commented on #75
Source has been removed, but I think this could be an interesting idea. Would need someone to sit down and go through everything though

[2018-10-16 23:43] ZeldaZach commented on #76
I don't have enough information right now to make an informed decision. Will defer for help

[2018-10-16 23:44] KingSupernova31 opened #77 "Include a field for misc icons"
Some cards have icons on them that denote something that's usually set-specific.

* Double-faced card front/back icons
* Future sight type icons
* Odyssey block "interacts with the graveyard" icon.

https://github.com/mtgjson/mtgjson/issues/228

[2018-10-16 23:45] KingSupernova31 commented on #74
Can't the sets be added, just without the "booster" field?

[2018-10-16 23:46] ZeldaZach commented on #77
Hmm... How does Scryfall address this? Is it in the API in someway? cc @csuhta

[2018-10-16 23:46] KingSupernova31 commented on #71
Other cards with different versions are supported though, such as the different guildgates from Guilds of Ravnica and the Unstable variants.

[2018-10-16 23:47] csuhta commented on #77
Scryfall doesn't currently expose this information. We're considering some kind of "frame effect" field for things like these icons and things like the Nyx-touched and Miracle frames.

[2018-10-16 23:49] KingSupernova31 commented on #69
Each printing of Revised and 4th Edition in a foreign language was technically a different set. Same for Italian Legends. I think it's fine to treat them as the same set, but the foreign text at least needs to be added. (For example, Legends cards don't have their Italian translation in the foreignText field.)

[2018-10-16 23:52] ZeldaZach commented on #77
I'm gonna leave this open as an upstream issue then. Lets see who gets to it first :)

[2018-10-16 23:53] KingSupernova31 opened #78 "Add Magic Card Market set names for each set"
Adding the set name used by https://www.magiccardmarket.eu/Expansions would allow those that use the MTGJSON data to more easily integrate into the pricing data provided by that site.

https://github.com/mtgjson/mtgjson/issues/67

[2018-10-16 23:57] KingSupernova31 opened #79 "Add special guest gift cards"
Add the rest of the special guest gift cards. Robot Chicken is already included, but the others are not.

https://www.magiclibrarities.net/798-rarities-special-guest-gift-cards-english-cards-index.html

[2018-10-16 23:58] ZeldaZach commented on #79
I'd call this an upstream issue cc: @csuhta

[2018-10-16 23:58] ZeldaZach commented on #78
I recently got access to TCGPlayer API and pricing system, so I'd consider that before MKM. We're also not really a pricing system, so I'm not sure if I want to go forward with this.

[2018-10-16 23:58] bcattaneo opened #80 "uuid duplicate found (split cards)"
E.g.:
* ae155ee2-008f-4dc6-82bf-476be7baa224 (_Archangel Avacyn_ and _Avacyn, the Purifier_)
* 1001e708-e4f9-456a-8b9d-3421a2a3833d (_Avacynian Missionaries_ and _Lunarch Inquisitors_)

[2018-10-16 23:59] ZeldaZach commented on #80
Seems to be a lot of issues with split cards... I'm considering re-doing them again to try and solve all of the major issues.

[2018-10-17 00:06] KingSupernova31 opened #81 "Mark cards which cannot appear in boosters"
Mark cards that can't appear in boosters (such as the Planeswalker deck exclusives).

https://github.com/mtgjson/mtgjson/issues/340

[2018-10-17 00:07] KingSupernova31 opened #82 "Older sets had different notions of rarity that don't neatly fit into "common", "uncommon", etc"
Difficult to summarize, just read the original thread:

https://github.com/mtgjson/mtgjson/issues/364

[2018-10-17 00:12] KingSupernova31 opened #83 "Include formatting info for text"
Reminder text is always inclosed in parentheses, so it's easy to locate with a regex. Ability words are more difficult however, so information as to what text in the "text" field is italicized would come in handy.

https://github.com/mtgjson/mtgjson/issues/75

[2018-10-17 00:14] KingSupernova31 opened #84 "Add a list of keyword abilities, keyword actions, and ability words in card info"
A list of keyword abilities, keyword actions, and ability words that each card has would be helpful.

https://github.com/mtgjson/mtgjson/issues/285

[2018-10-17 00:14] KingSupernova31 commented on #83
Implementing #84 would solve the issue for locating ability words.

[2018-10-17 00:15] ZeldaZach commented on #81
We mark them as "starter" cards. I feel this is solved.

[2018-10-17 00:15] #81 closed, assigned to nobody

[2018-10-17 00:16] ZeldaZach commented on #82
Useful for when we consider re-impl of the booster field.

[2018-10-17 00:16] KingSupernova31 opened #85 "Color indicator is missing"
Cards with a color indicator do not a have a field for that characteristic. This is a gameplay-relevant card characteristic that's completely missing.

[2018-10-17 00:18] bcattaneo commented on #80
Full report: http://cattaneo.uy/private/mtgjsonv4_duplicate_uuid.txt

[2018-10-17 00:19] ZeldaZach commented on #83
I don't think I want to do this... I don't see a good purpose for it. Would rather look at #84.

[2018-10-17 00:19] #83 closed, assigned to nobody

[2018-10-17 00:20] ZeldaZach commented on #85
Yep... forgot about this. Will be back in 4.1!

[2018-10-17 00:22] ZeldaZach commented on #84
I like this idea a lot, but we'd need to keep a list of _all_ keywords, then a simple regex to see if they're in the text. Not certain about impl but I'd consider help on this

[2018-10-17 00:27] fenhl commented on #78
If we're going to implement TCGPlayer IDs, we should also implement MKM IDs. MKM is the only reliable source of Euro prices since the secondary market often looks very different over here.

[2018-10-17 00:31] KingSupernova31 opened #86 "B.F.M. right side is missing"
In allCards.json, the right half is completely missing. In allSets.json, the right half is missing and there are two entries for the left half.

[2018-10-17 00:35] ZeldaZach commented on #78
Fair enough, I'll look into it at some point in the future. This is a lower priority for me at the moment

[2018-10-17 00:37] ZeldaZach commented on #86
We seem to be having a lot of trouble with split cards... I'm gonna have to sit down and figure it out

[2018-10-17 00:42] fenhl opened #87 "Missing Explorers of Ixalan Events, Quests, and Sites"
As @KingSupernova31 pointed out in <https://github.com/mtgjson/mtgjson4/issues/67#issuecomment-430437889>, we are currently missing vanguards, schemes, planes, etc. While not traditional cards, these are *Magic* cards and should be included.

[2018-10-17 00:45] ZeldaZach commented on #87
Contemplating how to go about it. Prob just a custom gatherer scrape. Seems feasible for 4.1

[2018-10-17 00:46] fenhl commented on #68
We should keep this issue open since there might be a way to automate this or someone willing to do the work manually.

[2018-10-17 00:48] fenhl commented on #64
We should probably be using [taw/magic-preconstructed-decks](https://github.com/taw/magic-preconstructed-decks), since it's more complete than the Wikipedia list.

[2018-10-17 01:10] ZeldaZach commented on #86
So this is correct in both UGL.json and AllSets.json. The cards have two halves. The names are the same, but the flavortext are different.

[2018-10-17 01:10] #86 closed, assigned to nobody

[2018-10-17 01:13] KingSupernova31 commented on #86
My error for allSets.json, I was expecting them to have different names. However the issue still exists in allCards.json, there's only one entry.

[2018-10-17 01:14] ZeldaZach commented on #80
Fix Proposal: Leave one UUID the same, and for the other one increment the last byte by one to get a new UUID.
[code]

[2018-10-17 01:22] ZeldaZach commented on #65
This is an issue on my part for bad parsing. A fix will be proposed shortly

[2018-10-17 01:30] fenhl commented on #61
I think it makes sense to keep the exception for color identity, since it's defined on physical cards and even explicitly includes the back face of double-faced cards.

[2018-10-17 01:30] KingSupernova31 commented on #61
Yeah, that's a fair point.

[2018-10-17 01:33] ZeldaZach commented on #61
Will have a fix up shortly.

[2018-10-17 01:47] ZeldaZach commented on #42
Closing in favor of individual tickets with these issues listed out

[2018-10-17 01:47] #42 closed, assigned to nobody

[2018-10-17 01:52] ZeldaZach commented on #62
This is an upstream issue for that specific card. Maybe more? This is not a problem for cards like `Wear // Tear`
https://api.scryfall.com/cards/search?format=json&include_extras=false&order=set&page=2&q=e%3Agrn&unique=prints cc: @csuhta

[2018-10-17 04:36] csuhta commented on #62
@ZeldaZach This is fixed on Scryfall: https://api.scryfall.com/cards/search?q=e%3Agrn%20is%3Awm%20is%3Asplit%20unique%3Aprints&pretty=true

[2018-10-17 04:37] ZeldaZach commented on #62
Sounds good. Doing a rebuild soon anyway :)

[2018-10-17 04:37] #62 closed, assigned to nobody

[2018-10-17 04:37] #61 closed, assigned to nobody

[2018-10-17 04:37] #65 closed, assigned to nobody

[2018-10-17 04:37] #80 closed, assigned to nobody

[2018-10-17 04:37] #85 closed, assigned to nobody

[2018-10-17 08:20] lfgcampos commented on #69
This is indeed important since the price difference from 4th FWB and FBB is huge and make sense to have it as 2 different sets IMO.

[2018-10-17 08:23] lfgcampos commented on #84
You could have a `keywords.json` as well where anyone can contribute when new keywords are added.

[2018-10-17 08:25] KingSupernova31 commented on #84
It would be easy enough to just pull them from the Comprehensive Rules, they're all listed there.

[2018-10-17 08:25] ZeldaZach commented on #84
Good idea, King!

This seems feasible

[2018-10-17 08:50] KingSupernova31 opened #90 "Names field on meld cards is out of order"
The "names" array on all multi-part cards is the only way to tell which part is which, and as such its order is important. For meld cards, the order should be: top half, bottom half, melded card. This is the intuitive order, and is the way it was done in v3. Currently however the names arrays on the meld cards are in a seemingly random order, not even consistent among themselves.

[2018-10-17 08:56] KingSupernova31 opened #91 "The names field is severely messed up on ~70% of multi-part cards."
Looks like the recent change to the names array has caused some... problems. Budoka Gardener has the array of ["Budoka Gardener // Dokai, Weaver of Life"], Start // Finish has ["Start // Finish", "Warrior"], and Arlinn Kord has ["Arlinn Kord // Arlinn, Embraced by the Moon", "Wolf", "Arlinn Kord Emblem"]. Not all cards are affected: Wear // Tear is fine.

[2018-10-17 08:58] KingSupernova31 opened #92 "CMC on split cards just counts the number of symbols in the mana cost"
The current CMC field of split cards is just counting the number of mana symbols in the mana cost, not the value of those symbols. A half with a mana cost of {2}{R} is being assigned a CMC of 2 when it should be 3.

[2018-10-17 10:42] fenhl commented on #87
I just checked and vanguards, schemes, planes, phenomena, and conspiracies all seem to be on Scryfall. Only *Explorers of Ixalan* events, quests, and sites are missing.

[2018-10-17 11:08] KingSupernova31 opened #93 "Prossh, Skyraider of Kher has a duplicate name"
The entry for Prossh, Skyraider of Kher has "names": ["Prossh, Skyraider of Kher", "Prossh, Skyraider of Kher"] for some reason.

[2018-10-17 11:11] KingSupernova31 opened #94 "Card entires with the same name are collapsed in allCards.json"
Some card entries in the individual set files have the exact same key. ("Everythingamajig", "Ineffable Blessing", etc.) When creating allCards.json, all of these entries are improperly collapsed, leading to a single entry that only has the correct text of one of the variants. (Except it will have a "names" field containing an array of its own name several times.)

[2018-10-17 11:12] KingSupernova31 commented on #94
This is the cause for #86 as well.

[2018-10-17 14:58] ZeldaZach commented on #90
They were manually done before. We might fix that up, but honestly ordering is not really guaranteed in JSON

[2018-10-17 14:59] ZeldaZach commented on #92
Whoops my bad

[2018-10-17 15:09] fenhl commented on #90
Whether or not an array or object in JSON has ordering semantics depends entirely on the specification, which in our case is <https://mtgjson.com/v4/docs.html>. I've checked the docs for `"names"` however and you're correct that the field currently specifies no order. That is a severe feature loss compared to version 3, and guaranteed order should be reintroduced. From the v3 docs:

We should also

[2018-10-17 15:26] ZeldaZach commented on #90
I could agree with defining an ordering. I will need a bit of time to get this right, however. At the latest, this will be in 4.1

[2018-10-17 20:10] KingSupernova31 commented on #90
There needs to be some way to tell which part of a multi-part card is which. A guaranteed ordering of "names" is the simplest way to do that, and is consistent with v3.

[2018-10-18 00:27] Kasburn666 opened #95 "code is missing"
Hello,
i don't know where to put this request so i put here :
in the json AllSets.json available here : https://mtgjson.com/v4/json/AllSets.json , the json key "code" is missing for all sets, can you add this key plz ?

[2018-10-18 00:32] ZeldaZach commented on #95
Haha whoops. Was my mistake. https://github.com/mtgjson/mtgjson4/blob/master/mtgjson4/__main__.py#L797 Simple one line fix (aka remove the line).

Will have this up by next week (I'm a bit busy this week and can't do a full rebuild)

[2018-10-18 02:22] ghost opened #96 ""Masters Edition" listed twice against "MED" and "ME1" set codes"
The set "Masters Edition" is listed twice in AllSets.json against "MED" and "ME1" set codes. According to Scryfall, "ME1" is the correct code for "Masters Edition" and "MED" should be used for "Mythic Edition". "Mythic Edition" appears to be missing altogether from AllSets.json.

[2018-10-18 02:39] ZeldaZach commented on #96
https://api.scryfall.com/sets/ME1 shows Masters Edition
https://api.scryfall.com/sets/MED shows Masters Edition

This appears to be an upstream issue: cc @csuhta

[2018-10-18 20:39] tooomm commented on #90
@ZeldaZach do you have milestones, projects or tags setup for this purpose? So that things like boosters and this issue are planned for `4.1`?

@fenhl So we could say for the array of cards we define that the first element always will be "name" of the card? And don't start it with artist in alphabetical ordering?
That would make looking at the file manually way way easier and convenient!

[2018-10-18 20:56] fenhl commented on #90
Yes, that is possible in the JSON format. To support this, we would have to:

* use `collections.OrderedDict`s instead of `dict`s for card objects,
* make sure keys are inserted in the correct order,
* make sure `json.dump`/`json.dumps` is called without the `sort_keys=True` flag, and
* document this order.

[2018-10-19 04:37] Kasburn666 commented on #95
Ok thx do this when you can

[2018-10-19 08:26] KingSupernova31 commented on #95
"isOnlineOnly" and "meta" are also missing from allSets.json.

[2018-10-19 08:36] csuhta commented on #96
@ZeldaZach This is fixed on Scryfall

[2018-10-19 08:39] KingSupernova31 opened #97 "Sets released over time have an inconsistent releaseDate field"
Most sets that weren't released all at once, like judge promos or the celebration cards, have a release date of null. However some of them, like the Happy Holidays cards, do have a release date. (The date at which the first card from them was released.) Either way makes sense, but it should be consistent.

Also, the documentation should be updated to explain how the releaseDate of these sets is ha

[2018-10-19 16:34] tooomm commented on #77
This is related to https://github.com/mtgjson/mtgjson/issues/480 and https://github.com/mtgjson/mtgjson/issues/228

[2018-10-19 16:47] tooomm commented on #76
Linking https://github.com/mtgjson/mtgjson/issues/480 and https://github.com/mtgjson/mtgjson4/issues/77

[2018-10-19 18:29] ZeldaZach commented on #97
These dates are pulled directly from ScryFall. If there are inconsistencies, that's an upstream issue.

cc: @csuhta

[2018-10-19 18:30] ZeldaZach commented on #96
Will require a rebuild, which will be done in 4.0.2

[2018-10-19 18:30] #96 closed, assigned to nobody

[2018-10-19 18:31] ZeldaZach commented on #90
@fenhl That's a bit of work to accomplish, and I'm not sure if I have the time to do such a thing right now... Would be open to a refactor of the project to allow for such a solution

[2018-10-19 19:12] tooomm commented on #96
The page lists 4.0.2 as up already @ZeldaZach
Is that not the case yet?

[2018-10-19 19:12] ZeldaZach commented on #96
Meant to say 4.0.3 **

[2018-10-19 19:19] tooomm commented on #96
Oh sure, kk 😄

Couldn't verify which one is up due to https://github.com/mtgjson/mtgjson4/issues/95#issuecomment-431285885.

[2018-10-22 02:26] ZeldaZach commented on #69
Update: SF just released FBB at https://scryfall.com/sets/fbb?order=set

Waiting on FWB to close ticket, but I will build FBB in the next few days or so and get it up (This will include a rebuild of AllCards/AllSets too. Will be an increment in version)

[2018-10-28 20:31] #52 closed, assigned to nobody

[2018-10-28 21:48] ZeldaZach commented on #93
This looks like a weird one-off with Scryfall. I checked cards such as Oloro, Avenger of Zendikar, and others from that set but none seem to have this weird qwirk.

cc: @csuhta

[2018-10-28 21:48] #59 closed, assigned to ZeldaZach

[2018-10-28 21:49] ZeldaZach commented on #63
Fixed with #100

[2018-10-28 21:49] #63 closed, assigned to nobody

[2018-10-28 21:50] ZeldaZach commented on #66
Should be good to go in 4.0.3 (next build)

[2018-10-28 21:50] #66 closed, assigned to nobody

[2018-10-28 21:50] ZeldaZach commented on #69
Will be added on 4.0.3 (next build)

[2018-10-28 21:50] #69 closed, assigned to nobody

[2018-10-28 21:53] #95 closed, assigned to ZeldaZach

[2018-10-28 22:05] #92 closed, assigned to nobody

[2018-10-28 22:07] ZeldaZach commented on #94
So just thinking about this a bit further (no code work done at all)... what's a good solution? If there's a card with multiple rulings texts (i.e. un-cards only) how should we handle it? The cheapest solution we can do is to not include un-cards in these output files, but is that a good idea? I like having _all_ data available.

We'd need to come up with a better method to combine them. Open to i

[2018-10-29 04:32] csuhta commented on #93
This is fixed upstream for Prosh

[2018-10-29 06:14] #93 closed, assigned to nobody

[2018-10-29 06:14] ZeldaZach commented on #93
Will be addressed in the next build

[2018-10-29 19:35] KingSupernova31 commented on #94
The way that makes sense to me would be to append " (a)", " (b)", etc to the key in allCards.json. (This matches how most other websites and applications handle them.) The "name" field of the card itself should remain just the actual name of the card, and there could be a "variant" field on the card object that only exists if the card has multiple variants in the same expansion.

This does have a

[2018-10-29 19:55] ancestral commented on #57
Battlebond type is `draft_innovation`, a classification Wizards uses. (Scryfall also uses this value under their `set_type` property.)

From [Introducing Magic Weekend](https://magic.wizards.com/en/articles/archive/news/introducing-magic-weekend-2018-10-29), published today:

[2018-10-30 16:45] #57 closed, assigned to nobody

[2018-10-30 16:55] ancestral commented on #78
I feel like we should not be including this sort of thing.

Personally I feel like being pure to the data has value. Given we get the data from Scryfall, and argument can be made to keep some of those data points. Otherwise, it ends up being more steps to keep up-to-date with other services that may come and go.

[2018-10-30 21:23] #90 closed, assigned to nobody

[2018-10-30 21:23] #91 closed, assigned to nobody

[2018-10-30 21:31] ZeldaZach commented on #87
cc: @jhallbachner

[2018-10-30 21:48] ZeldaZach commented on #47
I believe you are correct, @KingSupernova31 . People can read up on the legalities field to determine card types.

I do plan on making Standard.json, Modern.json, etc in the future. But that's a diff ticket.

[2018-10-30 21:49] ZeldaZach commented on #71
So Tamiyo's Journal is the _only_ card that has this issue... I don't think it's worth the issue ticket tbh

~~_EDIT_ Maybe some cards from the recent un-set have this issue too?~~

[2018-10-30 22:13] #71 closed, assigned to nobody

[2018-10-31 01:10] ZeldaZach commented on #79
cc: @jhallbachner

[2018-10-31 06:27] tooomm commented on #71
Do we keep a list of known issues then somewhere?

[2018-10-31 19:13] #60 closed, assigned to ZeldaZach

[2018-10-31 19:24] #46 closed, assigned to nobody

[2018-10-31 19:56] ZeldaZach commented on #74
Booster field has been addressed now. Will see if there's a source for this. If not, will bump to 4.2

[2018-10-31 23:42] ZeldaZach commented on #74
So this is something I can't find definitive data on, so I'll have to bump it back

[2018-11-01 05:14] ZeldaZach commented on #75
Note: Most of the Duel Deck sets number the first deck and then the second deck though

ex: in DDU cards number 1-34 are the green deck

[2018-11-01 05:23] ZeldaZach commented on #64
SF plans on looking into this, so I'll mark it as upstream for now. Still can possibly go on my own to do this at some point

[2018-11-01 05:23] ZeldaZach commented on #74
Marked as upstream since SF will be looking into this at some point. A bit tough to do on my own.

[2018-11-01 05:26] ZeldaZach commented on #76
Labeled as upstream, since they might look into it in the future. Will consider myself at some point

[2018-11-01 05:29] ZeldaZach commented on #82
It's an interesting idea for sure, but it's hard to impl as we have no definitive sources for such data... Not sure what to do here

[2018-11-01 05:31] ZeldaZach commented on #78
@ancestral We're talking about major components to the community, not minor one man shows (except mtgjson of course _haha_...). Including MKM/TCG Seems logical to me as they are broad seller markets. Including specific stores I would prob be against

Scryfall provides purchase URLs for tcgplayer/MKM, so it would be a simple parse. It would be up to SF to keep such data up to date from what it look

[2018-11-01 05:36] KingSupernova31 commented on #82
Honestly I think it's fine to just go by the rarity that Gatherer displays, even if that doesn't perfectly match how the cards were distributed. I doubt anyone who needs to know the exact collation in old sets would be coming to MTGJSON for that data anyway.

[2018-11-01 14:08] #84 closed, assigned to nobody

[2018-11-01 14:37] KingSupernova31 commented on #84
So no plans to make card-specific fields, just the game-wide list of all keywords and ability words?

[2018-11-01 15:07] ZeldaZach commented on #84
Hmm... I think I misread your ticket then. Thought you wanted the global list. I can work on a new one that's card specific if you open a new ticket

[2018-11-01 20:49] tooomm commented on #46
Maybe this should stay open?

From the PR:

[2018-11-01 20:57] ZeldaZach commented on #46
Nah, it’s an internal thing for now. I’ll reopen with solutions in the future

[2018-11-02 13:45] KingSupernova31 commented on #84
I think either one works. Having only a global list adds an extra step for all the uses that need to know the keywords that are on a specific card, but it's not too hard to match them with a regex.

[2018-11-03 21:43] antoinevanwel opened #110 "Identical card numbers for transform cards"
Hi,

I was expecting card numbers to be different for front and back of transform cards (like in v3), but found
- Search for Azcanta / Azcanta, the Sunken Ruin, both number 74 (or 74s in different set)
- Arguel's Blood Fast / Temple of Aclazotz, both 90 (or 90s in a different set)

in v3 this is 74a / 74b and 90a / 90b

Trying to find if a card is front or backside, any advice how this should be d

[2018-11-05 07:01] #94 closed, assigned to nobody

[2018-11-05 07:05] ZeldaZach commented on #110
Split cards can be identified by a card having the "names" field. This field is only on split/flip/transform/meld/etc cards, so it's fairly standard.

For numbering of cards, v3 did do it as an a/b side, and it seems we currently do not with v4. Is this something that is wanted? Does it matter?

Please do let me know!

[2018-11-05 08:46] silasary commented on #110
Yes, having a/b is preferable

[2018-11-05 20:08] ZeldaZach commented on #110
PR #111 should address this :)

[2018-11-06 02:40] ancestral commented on #78
What’s going to happen is you’re going to get requests for CardKingdom, for MTGGoldfish, for ChannelFireball, coolstuff, PucaTrade… where do you end this?

[2018-11-07 14:19] mr-jonix opened #112 "Names array contains tokens"
names array of cards that generate tokens includes names of these tokens, while it shouldn't.

Example
[code]

[2018-11-07 14:25] mr-jonix commented on #112
Also, DFC cards that produce tokens have the face names concatenated.

Example, Westvale Abbey

[code]

[2018-11-07 14:37] ZeldaZach commented on #112
I'm pretty sure you're using 4.0.2, which this is a bug on. Just tested with my fix and it seems good to go. Thanks for the report!

[2018-11-07 14:51] #112 closed, assigned to nobody

[2018-11-08 22:50] bakert commented on #110
As long as it's possible to reconstruct the card from the data I don't think it matters *too* much what you choose.

If mtgjson's "card" data represents "faces" ('Alive' and 'Well' as two separate things, 'Erayo' and "Erayo's Essence" as two separate things) and not as card ('Alive // Well', the Erayo flip card) then a choice has to be made about how to represent the relationships.

One option is

[2018-11-09 19:57] #110 closed, assigned to ZeldaZach

[2018-11-12 06:29] ancestral opened #161 "Keywords in keywords.json should be case insensitive"
As people may be using keywords.json to compare with the card data, the keywords should all be lowercase to emphasize that the keywords don’t always have capitalization (like `flying` or `investigate`).

[2018-11-12 16:10] RDWonline opened #114 "change timeshifted to isTimeshifted"
This is so that all the bools are labeled consistently.  I brought this up a few weeks ago and wanted to add it here so that it isn't omitted from 4.2.

[2018-11-13 00:10] Kerrick opened #115 "Support JSONP or CORS"
Hi!

MTGJSON v3 supported JSONP so a website could load the data from the browser. However, MTGJSON v4 does not, and trying to load the JSON URL directly fails because the `OPTIONS` request made by the browser doesn't get a response stating that the server supports CORS for the URL.

Can you please add back JSONP support _or_ configure the server to support CORS for the following URLs?

- `https:/

[2018-11-13 00:21] ZeldaZach commented on #114
I swear I did that for v4.1... whoops

[2018-11-14 04:18] KingSupernova31 opened #116 "8000 cards are duplicated in the file"
Around 8000 cards incorrectly have two entries in AllCards.JSON, one labeled with (a) and one with (b). Burning Wish as one example. This affects regular cards along with split cards, double-faced cards, etc.

[2018-11-14 04:22] KingSupernova31 opened #117 "Meld cards don't have a "side" field"
Meld cards should have a "side" field just like all other multi-part cards, with the top half being "a", bottom half being "b", and melded face being "c".

[2018-11-14 04:23] KingSupernova31 opened #118 "Card entries with the same name have duplicated "names"."
See #94. Collapsing the entries was fixed, but the names field still has the duplicates.

[2018-11-14 04:35] KingSupernova31 opened #119 "Some cards have a nonsensical "names" array"
Helm of Kaldra, Hero of Bladehold, and Herald of Anafenza for example.

[2018-11-14 04:35] KingSupernova31 commented on #112
This has not been fixed, see #119.

[2018-11-14 14:56] KingSupernova31 commented on #117
Alternatively, both front sides could be "a" and the melded side could be "b". I'm not sure which one makes more sense from a design perspective.

[2018-11-14 18:31] KingSupernova31 opened #120 "Keywords.json uses incorrect apostrophe character"
The Magic comp rules and therefore the Keywords.json file uses "’" as its apostrophe character (unicode: single right quote, 0x2019). However the oracle text files use "'" (unicode: apostrophe, 0x27) as their apostrophe character. This leads to false negatives when doing any sort of comparison between the two.

Keywords.json should convert all single right quotes to apostrophes.

[2018-11-15 07:13] CajunAvenger opened #121 "Transform cards don't have flavorText field"
All cards in the sets jsons with layout: "transform" don't have flavorText fields, regardless of if the face has ft or not. This isn't a problem on the meld layout cards. Easiest way to see this is V17.json, but they're missing from the comprehensive jsons as well.

[2018-11-16 22:28] ZeldaZach commented on #117
Meld cards are a real special case... not sure what the right approach is here. I'm more inclined to leave it as is than try to make up a formatting further.

If you have an alternative opinion, please speak up so I know what the community wants

[2018-11-16 22:28] ZeldaZach commented on #120
That's annoying... I parse right from the document, and that's what they had selected. Why would they use the wrong one? :P

[2018-11-16 22:29] ZeldaZach commented on #121
That's a big problem. Thanks for bringing this up. I'll work on this hopefully next week.

[2018-11-16 22:31] ZeldaZach commented on #119
I'll keep playing with the names array. A bit annoyed, I thought i solved it already

[2018-11-16 22:32] ZeldaZach commented on #118
I wasn't sure what to do with this. Should I change it to Foo (A), Foo (B) or leave it as a list of Foo's. Would like further opinions.

[2018-11-16 22:32] ZeldaZach commented on #116
Whoops... Will investigate soon

[2018-11-16 22:34] ZeldaZach commented on #115
Thanks for the report. I'll see about adding CORS for the json folder in the near future

[2018-11-16 22:43] KingSupernova31 commented on #120
Yeah, it's a pain. Unfortunately there are a lot of programs that default to a single right quote as their apostrophe character- I assume that whatever they're using to build their file is one of them.

[2018-11-16 22:45] KingSupernova31 commented on #118
A list of Foos isn't particularly helpful. "Foo (A)", "Foo (B)" makes sense, but is somewhat inconsistant with how other cards are handled. I think it's the best option though.

[2018-11-18 04:08] ghost opened #124 "'Desolation' incorrectly associated with set 'FBB' in AllCards.json (v4.1)"
'Desolation' is incorrectly associated with the set 'FBB' in AllCards.json (v4.1). This is possibly the result
 of confusion with the card 'Badlands' in 'FBB' which has the French name 'Désolation'.

[2018-11-18 11:28] rvock commented on #119
Here are some more examples in GRN Guild Kit (GK1): https://mtgjson.com/v4/json/GK1.json
`Thunderheads` has names `Weird` and `Goblin`:
`Tolsimir Wolfblood` has names `Voja` and `Saproling`

`Jiang Yanggu` in "Global Series Jiang Yanggu & Mu Yanling" (GS1)

[2018-11-18 20:33] CajunAvenger opened #125 "Futureshifted incorrectly use "special" rarity"
The shifted cards from Future Sight all use the Special rarity instead of their printed rarity (which is done correctly with the Planar Chaos shifted cards.)

[2018-11-18 21:37] ZeldaZach opened #126 "AllSets CON"
AllSets contains "CON_" instead of CON.

[2018-11-18 21:47] ZeldaZach commented on #124
So i looked in FBB.json and i don't see Desolation, but it does show the FBB tag in AllCards and AllSets. Will look into this!

[2018-11-18 21:49] ZeldaZach commented on #125
I'll look into this

Note for me: https://api.scryfall.com/cards/47e6e715-abd8-4ff9-a8aa-8f4b929b0283?format=json&pretty=true

[2018-11-19 00:32] ZeldaZach opened #127 "Rework code to use new api"
Account for loss of SF api with certain fields.

https://scryfall.com/blog/category/api

EOL: 12/31/18

[2018-11-22 00:11] #114 closed, assigned to nobody

[2018-11-22 00:11] #127 closed, assigned to ZeldaZach

[2018-11-22 00:17] #116 closed, assigned to nobody

[2018-11-22 00:17] #119 closed, assigned to nobody

[2018-11-22 01:47] #120 closed, assigned to nobody

[2018-11-22 01:49] #121 closed, assigned to nobody

[2018-11-22 02:06] #126 closed, assigned to nobody

[2018-11-22 03:00] #125 closed, assigned to nobody

[2018-11-22 03:10] ZeldaZach commented on #124
Appears to be upstream issue with SF https://api.scryfall.com/cards/3b186460-d2af-4912-ba19-95b2cb5f1639?format=json&pretty=true is the URL and if you look at printings, https://api.scryfall.com/cards/search?order=set&q=%21%E2%80%9CDesolation%E2%80%9D+include%3Aextras&unique=prints, it will show both cards.

cc: @csuhta

[2018-11-22 03:10] #44 closed, assigned to nobody

[2018-11-22 05:00] ZeldaZach commented on #118
Fixed with #134

[2018-11-22 05:00] #118 closed, assigned to nobody

[2018-11-22 06:10] ivodopyanov opened #135 "Card duplicates in 10E in AllSets.json"
Each card is followed by its duplicate for 10E set in AllSets.json.
Those duplicates has no 'multiverseId' field and their 'number' field ends with a star symbol.
Is this intended?

[2018-11-22 06:16] ivodopyanov opened #136 "Conflux set key is "CON_" instead of "CON" in AllSets.json"
Root dict object in AllSets.json has key "CON_" for Conflux set.

[2018-11-22 06:34] ZeldaZach commented on #135
Duplicate of #116

[2018-11-22 06:34] #135 closed, assigned to nobody

[2018-11-22 06:34] ZeldaZach commented on #136
Duplicate of #126

[2018-11-22 06:34] #136 closed, assigned to nobody

[2018-11-22 11:13] ivodopyanov opened #137 "Mythic rarity has different names in 'boosterV3' field and in 'rarity'"
Card.rarity field can have 'mythic' value.
Set.boosterV3 array can have 'mythic rare' value.

That difference causes some inconvenience. Can it be uniform?

[2018-11-22 14:15] ZeldaZach commented on #137
Since boosterV3 is fully compatible with V3 of MTGJSON, there will be no changes to the boosterV3 field at any time.

This is something to note for if/when we re-implement as "booster" (v4 incompatible version)

[2018-11-22 14:15] #137 closed, assigned to nobody

[2018-11-22 19:38] KingSupernova31 opened #138 "Flip cards are missing their colors"
For example, "Budoka Gardener" and "Dokai, Weaver of Life" should both have color: ["G"], but they do not.

[2018-11-22 19:40] KingSupernova31 opened #139 "The flipped face of flip cards is missing the mana cost"
Dokai, Weaver of Life should have manaCost: "{1}{G}", but it does not have any manaCost listed.

[2018-11-22 19:45] KingSupernova31 opened #140 "Layout "transform" should be "double-faced""
Might not be worth fixing at this point, but transform is a keyword- the correct term is "double-faced".

[2018-11-22 23:41] KingSupernova31 commented on #117
The docs say that the side field is "used on cards with multiple faces", which meld cards certainly qualify for. It seems strange to omit it.

After thinking about it a bit more, I think it makes the most sense to have "a", "b", and "c". The difference between the top half and the bottom half is relevant for applications that want to display card images. The top half is also always the one that ha

[2018-11-23 20:49] ZeldaZach commented on #138
Doesn't `colorIdentity` serve this purpose? The "colors" of a card are usually derived from the mana cost, but the flip side of cards do not have a mana cost.

[2018-11-23 20:50] ZeldaZach commented on #138
Note to self: Simple fix, if necessary,

[code]

[2018-11-23 20:52] ZeldaZach commented on #140
We already selected transform to be our standard for this field, and it falls in line with what other sources have been using. People should be able to decipher the information on their own.

[2018-11-23 20:52] #140 closed, assigned to nobody

[2018-11-23 20:53] ZeldaZach commented on #139
I don't know if I agree with this, as it doesn't have a printed mana cost... Can you provide some reasons why this should be added?

[2018-11-23 21:01] KingSupernova31 commented on #138
There are a lot of things that *could* be figured out from various fields. borderColor, colorIdentity, colors, convertedManaCost, frameVersion, hasNonFoil, supertypes, types, and subtypes are all redundant on every card- their values could be derived from the other fields. That doesn't mean that they should be inconsistently omitted on some cards and not on others.

The flipped side of flip cards

[2018-11-23 21:02] KingSupernova31 commented on #139
Because that's its mana cost. Didn't we already go over this in the Discord?

[2018-11-23 21:32] fenhl commented on #138
`hasNonFoil` isn't redundant. There are cards that exist as both (e.g. most cards from booster products) and there are cards that only exist as foils (e.g. Kess, Dissident Mage).

[2018-11-23 21:36] KingSupernova31 commented on #138
It is indeed redundant, there's an `isFoilOnly` field. Regardless, that's not important. Those were just examples to illustrate that redundancy is not a reason to leave this bug unfixed.

[2018-11-24 04:21] ancestral commented on #139
I’m thinking this is correct as-is. The reason is, on a flip card (instead of a split card), you can only cast one part — in this case, Budoka Gardener.

Let’s take a step back. There are a few ways to list and manage cards:

* Each part of a card (split and flip cards)
* Each face of a card (double-face cards and meld cards)
* Each physical card

Budoka Gardener // Dokai Weaver is one physical ca

[2018-11-24 04:30] KingSupernova31 commented on #139
@ancestral It is not a mistake. Dokai has a mana cost of {1}{G}. It's really as simple as that. That's its oracle text. If you want to say that its printed text has no mana cost, I won't argue with you there. But MTGJSON goes by oracle text, not printed text, and its oracle text has a mana cost of {1}{G}. It's just a fact, there's no opinion about it.

[2018-11-24 07:12] ancestral commented on #139
I discussed this with Magic judges. 709.1c says when flipped, nothing changes, so yes, the card still has a mana cost of {1}{G}. However, the parts (I should have used the word “halves” or “faces”) don’t contain any mana costs, only the card does. Per the comprehensive rules:

Having the mana cost on each face would be incorrect. Which means maybe we should submit a bug report upstream to Scryfall

[2018-11-24 07:41] KingSupernova31 commented on #139
If it helps, I am also a judge. But that's not really relevant here. What's relevant is the fact that Gatherer is the official source of oracle text. Gatherer says that it has mana cost {1}{G}, so that's what MTGJSON should reflect. You're trying to claim that WOTC's rules have a bug.

Additionally, you're being inconsistent. If you want MTGJSON to reflect printed text, then you're going to need t

[2018-11-24 07:47] ZeldaZach commented on #139
Lets try to keep things free flowing and relaxing, if possible

There seems to be arguments for both sides of the equation. At this current moment, MTGJSONv4 relies more on Scryfall than Gatherer for its information. The amount of users who are impacted by us neglecting a component of Gatherer in favor of a more steady data stream should be a minority.

If this were to change over to being a major

[2018-11-24 07:51] ZeldaZach commented on #138
Thanks for pointing out this issue. A fix has been added, as the "front" side not listing color is definitely an issue. Adding it to the back _shouldnt_ cause too many problems.

[2018-11-24 08:06] #138 closed, assigned to nobody

[2018-11-24 08:57] csuhta commented on #124
This issue is fixed upstream, the `prints_search_uri` field now provides a URI that links to searches that don't require using the `!""` operator.

[2018-11-24 08:58] ZeldaZach commented on #124
Perfect, appreciated!!

[2018-11-24 08:58] #124 closed, assigned to nobody

[2018-11-24 20:07] KingSupernova31 commented on #139
"The amount of users who are impacted by us neglecting a component of Gatherer in favor of a more steady data stream should be a minority."

You are providing incorrect data. Just because you aren't seeing other people chime in and complain about it doesn't mean that they don't exist. A lot of MTG developers don't use MTGJSON and make their own data source instead, and I'm sure things like this ar

[2018-11-25 07:18] ZeldaZach opened #142 "Reconsidering CMC for Split Cards"
After talking with several parties, I am rethinking how we should handle split face cards CMCs.

On one hand, I agree that a card should list its CMC based on the mana cost. On the other hand, we should help convey the information of the split card by listening the combined CMC too.

My suggestion is we have two fields:

- `convertedManaCost` = the cost of the entire object. An object is a singula

[2018-11-25 07:22] ZeldaZach commented on #139
@KingSupernova31 for those who choose not to use MTGJSON, that is their own prerogative. I am trying to do what I feel is best for the project with my decisions.

At the current time, I don't feel adding the printed mana cost from the front face is appropriate. I spoke with SF and a few friends outside the project and they all came to a similar idea that it doesn't make a lot of sense to print wha

[2018-11-25 07:24] #139 closed, assigned to nobody

[2018-11-25 07:37] ancestral commented on #142
I support this idea, as a handful of cards care about CMC of a card outside of the stack (Inquisition of Kozilek, Repeal) while others care about the CMC of a spell (Disdainful Stroke, Chalice of the Void).

[2018-11-26 23:50] #142 closed, assigned to nobody

[2018-11-27 02:09] ZeldaZach opened #144 "Create version.json automatically"
Add it to the -c complication option

[2018-11-29 21:45] ZeldaZach opened #145 "Not happy with the (a) (b)"
https://github.com/Cockatrice/Cockatrice/pull/3458#issuecomment-442996478

Gonna re-think this. Might go back to the variations field for non un-sets instead. Seems like the right approach

[2018-11-29 21:47] ZeldaZach commented on #115
Update: This will be put into place after the new years. We'll be switching host providers at that time, so I'll have a bit more authority on the server :)

[2018-11-29 21:52] ZeldaZach commented on #145
Proposed Change

For Unsets:
- No changes made, this works as expected

For Non Unsets:
- Convert the (a), (b), ... to `variations` which I pulled from v3's docs.
- `variations` will be a list of strings, with the strings containing the MTGJSON UUID values of duplicate cards in the single set.
- `variations` will not appear in AllCards, but will appear in AllSets

[2018-11-29 22:07] #144 closed, assigned to ZeldaZach

[2018-12-01 02:46] #145 closed, assigned to ZeldaZach

[2018-12-02 04:42] ZeldaZach commented on #82
After thinking this through further, there is no reliable way to get the information we need. I don't feel confident changing rarities around like this, so I won't be for the foreseeable future.

[2018-12-02 04:42] #82 closed, assigned to nobody

[2018-12-02 04:47] ZeldaZach commented on #87
Ok, so Events, Quests, and Sites are tiles, not cards. As such, I don't plan on indexing them into MTGJSON at this time.

[2018-12-02 04:47] #87 closed, assigned to nobody

[2018-12-02 05:25] ZeldaZach commented on #97
SF won't be addressing this as they don't want to release information that is uncertain. Cards from them have a released_at tag for promos to indicate the date.

Might consider impl that feature in the future, but this ticket is a nofix.

[2018-12-02 05:25] #97 closed, assigned to nobody

[2018-12-02 17:51] dbottillo opened #149 "Cards without multiverseId"
Hi,

I've recently built all the sets and I have discovered that some cards are without a multiverseId.

Sets affected:
- Anthologies - all cards are without it
- DeckMasters - all cards are without it
- Duel Decks: Elves vs Inventors - only the card `Darksteel Plate`
- Duel Decks: Zendikar vs Eldrazi - The token`plant` is in the array of cards
- Duels of the Planeswalkers - all cards are without

[2018-12-02 18:35] tooomm commented on #149
It looks like, as least for UMA, there are no url's either.

[2018-12-02 19:34] ZeldaZach commented on #149
@tooomm UMA wasn't up on SF when this ticket came out, it's fixed now on their end so I just need a rebuild. Will be done for the next release

[2018-12-02 19:50] ZeldaZach commented on #149
So I brought this issue up with SF (one of our upstream providers) and they gave some valid input.

The following sets aren't available on Gatherer, so there's no way to associate a multiverseId to them
- Anthologies
- DeckMasters
- Duels of the Planeswalkers
- Unhinged (The alternate artwork cards are not on Gatherer)

The following sets have been fixed based on your feedback (thank you!):
- Duel

[2018-12-02 20:40] dbottillo commented on #149
yes I'm not using the `multiverseId` as a primary key :) But I'm using that to fetch the card image from gatherer, I'm thinking to maybe use the `scryfall` API for images in the future so I don't need the `multiverseId` anymore. I guess I can't display images for those 4 sets if they are not on gatherer 🤷‍♂️

[2018-12-02 21:47] tooomm opened #152 "idea: customize "type" keys"
There are a lot of different `type` keys around in all file and in different logical places.

Wouldn't it be better and more helpful for the consumer to have unique or different naming for them?
Like `setType`, `cardType`, `cardTypeForeign` etc.

E.g. in the AllCards file if you search for "type" you find oracle "card type" next to each "card type" for every language for that card.

Does this prop

[2018-12-02 21:50] ZeldaZach commented on #152
Can you give an example with JSON? It doesn't have to be large, just with enough entries to exemplify your points

[2018-12-02 23:58] tooomm commented on #152
For example, `originalType` better specifies what it is about. Could even be `originalCardType`.
So that just by looking at the key you know what it relates to.

Currently there is 1x `type` for cards, 1x `type` for each foreign language, 1x `type` for each token and 1x `type` for each set.
Does this better explain where my idea came from? It's only about renaming and differentiating the several t

[2018-12-03 15:32] TheOnlyDJCat opened #154 "Some cards have different ability texts than on gatherer"
While parsing new v4 of AllCards.json I found that several cards have ability texts that differ from the current gatherer text.

For example: Arclight Phoenix
- At the beginning of combat on your turn, if you've cast three or more instant and sorcery spells this turn, return Arclight Phoenix from your graveyard to the battlefield.
- At the beginning of combat on your turn, if you've cast three or

[2018-12-03 18:45] ZeldaZach commented on #154
Are you referring to `text` or `originalText`? the latter should always refer to what was printed on a specific card at the time of printing. the former should be consistent across all printings and contain the latest oracle text of the card.

[2018-12-04 07:58] TheOnlyDJCat commented on #154
I can't see originalText in the json file?
I parse the "text" key.
If it helps I attach the comparison of the gatherer version with the V4 version
[Compare.zip](https://github.com/mtgjson/mtgjson4/files/2642883/Compare.zip)

[2018-12-04 08:14] ZeldaZach commented on #154
Since you closed the issue I can assume you were parsing the wrong field by accident? Either way, I’ll check the zip file tomorrow.

[2018-12-04 15:31] TheOnlyDJCat commented on #154
Sorry, I'm a Github noob and clicked the wrong button ;)

[2018-12-04 22:23] #56 closed, assigned to nobody

[2018-12-04 22:36] #149 closed, assigned to nobody

[2018-12-04 22:38] ZeldaZach commented on #152
The keys are all within individual structs, so I don't find this necessary or really helpful.

[2018-12-04 22:38] #152 closed, assigned to nobody

[2018-12-04 22:43] ancestral commented on #79
It might be good to determine what is a card. For example, [there was a MTG Japan-only game on the Sega Dreamcast](https://mtg.gamepedia.com/Magic:_The_Gathering_(Dreamcast)) that had some truly unusual effects.

[2018-12-05 00:47] ancestral commented on #47
I would love to have download links for the following:

* Standard
* Modern
* Legacy
* Vintage
* Commander
* No-Un Cards

(Sorry if this belongs in a different ticket…)

[2018-12-05 01:21] ZeldaZach opened #155 "Additional Output Types"
As @ancestral stated, agumenting the ideas I had but never ticketed, we should look into multiple format downloads.

- Standard
- Modern
- Legacy
- Vintage
- Commander
- AllCards / AllSets (w/o Un-Cards)

[2018-12-05 01:22] ZeldaZach commented on #155
Will probably want an additional download page. We're fine with having AllCards/AllSets on the homepage, but an additional page like "sets" would be useful

[2018-12-05 06:20] tooomm commented on #152
Ok. 👍

[2018-12-06 11:21] lebenski commented on #149
Awesome!  When will the next update go out?  I'm looking to get Ultimate Masters up on Cube Tutor before release of the set (Saturday) if possible.  Thanks for all your hard work on this new version @ZeldaZach

[2018-12-06 17:03] ZeldaZach commented on #149
@lebenski Didn't know CT was using MTGJSON. Glad you like!

Since you're hoping to get an update on Saturday, I'll put out a fix build today or tomorrow (4.1.3)

[2018-12-06 17:59] ZeldaZach commented on #155
After further thinking, I have decided to make the follow files:
- Standard.json
- Modern.json
- AllCardsNoUn.json
- AllSetsNoUn.json

Legacy, Vintage, and Commander all take from the entire magic pool, so there's no reason to have separate downloads (As the NoUn builds handle this).

If there is anything else to consider, please let me know asap!

[2018-12-06 18:01] lebenski commented on #149
@ZeldaZach Much appreciated!  :)

[2018-12-06 20:10] lfgcampos commented on #149
Interested in the new release as well!! =)

[2018-12-06 23:39] JayDi85 opened #158 "Wrong card data: Erase, Old Fogey and Grimlock"
Version: 4.1.2 (2018-11-30)

Cards data have wrong info, please check that:
 * [Erase](https://scryfall.com/card/ktk/9/erase):
   * FIXED: **cost** `{2}{W}` must be changed to `{W}`;
 * [Old Fogey](https://scryfall.com/card/unh/106/old-fogey):
   * **PT** `null/null` must be changed to `7/7`;
   * **Type** `Summon` must be changed to `Creature` (maybe);
   * Scryfall have same problems, maybe it's

[2018-12-06 23:47] ZeldaZach commented on #158
Can you point me to which file(s) have this issue? So I can better pinpoint where things went wrong?

[2018-12-06 23:50] JayDi85 commented on #158
That's all in `AllCards.json.zip`

[2018-12-06 23:51] ZeldaZach commented on #158
Can you confirm/deny this is a problem in other compiled outputs? (i.e. AllSets.json, UNH.json, etc.)

[2018-12-06 23:58] JayDi85 commented on #158
Hmm... I've checked direct json files -- that's `Erase` is fine (it's an `allcards` problem only):
 * https://mtgjson.com/v4/json/KTK.json
 * https://mtgjson.com/v4/json/M13.json
 * https://mtgjson.com/v4/json/ULG.json

Other cards: Old Fogey and Grimlock, Dinobot Leader have same "problems".

[2018-12-07 00:03] ZeldaZach commented on #158
Just checked myself:

- Old Fogey is indeed a problem with upstream. I have reported this to them.
- Grimlock appears to be fine on the latest rebuild (that I just ran locally) `"manaCost": "{1}{R}{G}{W}",`. Also looked on SF and it appears correct. Maybe they _just_ fixed this?
- Erase has the correct mana cost (1)
- Erase (Not the Urza's Legacy One) has the correct mana cost (3)

[2018-12-07 00:06] ZeldaZach commented on #158
Update: Summon is correct for Old Fogey as it's apart of the joke of the dino being _olddd_

The rest of the ticket is upstream based and will be fixed shortly. I appreciate the bug report! You're what drives MTGJSON and Scryfall to be the best sources of accurate content :)

[2018-12-07 00:06] #158 closed, assigned to nobody

[2018-12-07 00:11] ZeldaZach commented on #154
Just tested around with this. Seems some cards have their API and on-card mismatched with updated text.

cc: @csuhta

[2018-12-07 00:13] JayDi85 commented on #158
Yearh, scryfall fixed Grimlock minutes ago. Thanks for your json data.

[2018-12-07 00:41] nhrsn commented on #117
While being a very slight corner case, I definitely think meld cards need to follow the same standard as other multi-part cards. So no matter what I think the `side` field should be added.

I'm inclined to say `a` is the front of the primary card, `b` is the front of the secondary card and `c` is the full face of the melded card. The half faces of the melded card aren't cards and shouldn't exist a

[2018-12-07 00:49] csuhta commented on #154
All three fixed

[2018-12-07 00:52] nhrsn commented on #78
All other services should be ~bending to the will~ using the IDs provided by mtgjson. I think adding the IDs used by external sites just encourages more inconsistency across all the MTG services out there.

[2018-12-07 01:04] #154 closed, assigned to nobody

[2018-12-07 01:06] ZeldaZach commented on #78
I felt that adding TCGPlayer's id system was appropriate because they have a catered to API network, and we're giving help to those who might want to list and not have to do some grunt work.

If other services provide similar things I'd be willing to consider it, but otherwise I have no further intentions to add additional ID key sets

[2018-12-07 01:25] JayDi85 opened #159 "Wrong cards/tokens in Friday Night Magic sets"
Friday Night Magic sets have wrong cards data. All tokens stores as `cards`, but it must stores as `tokens`. I'd checked [Friday Night Magic 2017](https://mtgjson.com/v4/json/F17.json) and [Friday Night Magic 2018](https://mtgjson.com/v4/json/F18.json). It's haven't tokens at all and save it as cards.

As example:
 * FNM 2018 ([scryfall](https://scryfall.com/sets/f18), [mtgjsonv4](https://mtgjson.

[2018-12-07 05:14] ZeldaZach commented on #159
Thanks for that, I have a fix in the works

[2018-12-07 05:33] ZeldaZach commented on #159
Addressed in #156

[2018-12-07 05:58] #117 closed, assigned to nobody

[2018-12-07 05:58] #155 closed, assigned to nobody

[2018-12-07 05:58] #159 closed, assigned to nobody

[2018-12-08 02:04] #78 closed, assigned to nobody

[2018-12-08 08:41] tooomm commented on #78
MKM has an api as well: https://www.mkmapi.eu/ws/documentation
I didn't look into details...

[2018-12-08 18:02] ZeldaZach commented on #161
Looking for additional feedback before considering a change on this

[2018-12-08 20:54] carlol opened #162 "UMA set cards have not their multiverseId property"
#### MTGJSON Version: 4.X.X
4.1.2 (2018-11-30)

#### Description of Bug:
Hi,
thank you for your really appreciated work.

In UMA set cards have not their multiverseId property, is it intentional because you are waiting for the gatherer update?

Best regards.

[2018-12-08 21:04] lfgcampos commented on #162
It is fixed in the latest version (4.1.3).

[2018-12-08 21:07] carlol commented on #162
I don't see it on https://mtgjson.com/v4/, have I to download it directly form github?

[2018-12-08 21:12] lfgcampos commented on #162
I have downloaded it this morning and everything was fine. But I can't see this on the website anymore.
Let's wait for any other input from the guys.

[2018-12-08 22:42] ZeldaZach commented on #162
This has been fixed in 4.1.3 and we're getting it live currently. Give us a bit of time :)

[2018-12-08 22:42] #162 closed, assigned to nobody

[2018-12-09 15:45] dbottillo opened #164 "Duplicated cards in 10th edition without multiverseID"
#### MTGJSON Version: 4.1.2

#### Description of Bug:
Some cards in https://mtgjson.com/v4/json/10E.json are duplicated and the copy doesn't have a `multiverseID`. For example: the first card is `Ancestor's Chosen` which has `multiverseId = 130500` and the card right after it's a copy `Ancestor's Chosen` but without `multiverseId`.

![screenshot 2018-12-09 at 15 44 17](https://user-images.githubus

[2018-12-09 17:33] ZeldaZach commented on #164
So the reason for this is some cards have alternative text (usually in the foils). You'll notice that there is no reminder text in the foil versions, so SF considers them two different cards. You can also see that the card number has a star next to the number, indicating it's a modification of the original.

My potential fixes are:
- Remove duplicates from 10E
- Manually override with a MID
- Do n

[2018-12-10 19:54] ZeldaZach commented on #64
Started looking into this. Taw let me know that he plans on updating the service in January to better accommodate us, so I'll be holding off until then.

[2018-12-10 19:55] ZeldaZach commented on #68
I don't expect anyone to step up for such a minuscule thing... If something pops up we can revisit this

[2018-12-10 19:55] #68 closed, assigned to nobody

[2018-12-10 20:12] ZeldaZach commented on #73
So i spent quite a bit of time this weekend trying to find somewhere that might possibly have this info. It just doesn't exist. Frankly, this isn't too critical at this time and not worth anymore effort. Sorry :(

[2018-12-10 20:12] #73 closed, assigned to nobody

[2018-12-10 20:16] ZeldaZach commented on #74
Still will be an upstream, but a nofix on my part.

[2018-12-10 20:16] #74 closed, assigned to nobody

[2018-12-10 20:28] ZeldaZach commented on #76
This is now doable using the `frame_effect` feature. Not sure what I want to do with this though. Looking for additional inputs before I go forward with anything

[2018-12-10 20:29] ZeldaZach commented on #77
Doable with the new `frame_effects` Sf added (https://scryfall.com/docs/api/layouts). We need to come up with a way to make this useful linking to #76

[2018-12-10 20:48] excention commented on #164
I would think something like "alternate":"art" or "alternate":"text" or not in the JSON if not an alternate... might be a better way and remove the Star from the number.

I track the alternates.

[2018-12-10 20:49] excention commented on #161
I would agree.. the uppercase can always be applied via CSS on the consuming app

[2018-12-10 20:52] lfgcampos opened #165 "Add MTGUMA Box Topper"
Do you have plans to add MTGUMA Box Topper to the files?
ex: https://www.cardkingdom.com/mtg/ultimate-box-topper

[2018-12-10 20:59] tooomm commented on #74
Is SF aware of this? @ZeldaZach

[2018-12-10 21:00] ZeldaZach commented on #74
Yes, it's on their long todo list from what I can tell

[2018-12-10 22:03] ZeldaZach commented on #165
http://mtgjson.com/v4/json/PUMA.json also available in AllCards, AllSets, etc. Enjoy!

[2018-12-10 22:03] #165 closed, assigned to nobody

[2018-12-11 03:59] #161 closed, assigned to nobody

[2018-12-11 05:08] nhrsn opened #167 "Missing UUIDs for Tokens"
#### MTGJSON Version: 4.1.2

#### Description of Bug:

66 tokens are missing UUIDs. These tokens exist across sets A25, F12, F17, F18, GK1, GS1, L16, L17, PEMN, PHEL, UST.

[2018-12-11 05:14] ZeldaZach commented on #167
Can you provide some examples? Would love to see all, but a small sample would be enough to pinpoint the issue

[2018-12-11 05:47] nhrsn commented on #167
[tokenExamples.json.txt](https://github.com/mtgjson/mtgjson4/files/2666149/tokenExamples.json.txt)

[2018-12-11 05:48] nhrsn commented on #167
That's all of them. Just set codes and names but I thought that'd be enough...

[2018-12-11 13:17] JayDi85 opened #168 "Add cards gameplay info (abilities, targets, boost effects and more)"
Hi.

I'm one of the developer of [XMage](https://github.com/magefree/mage) -- open source MTG game with full implemented mechanics, cards, AI and auto-ruling engine. We are using mtgjson for verify inner database and other cards info.

There are many useful info inside like abilities list for each card, target types for each ability, spell modes and other real gameplay data. I can write some scrip

[2018-12-11 14:32] ZeldaZach commented on #168
Interesting use of our data, I like!

Is this something I want to support mass scale? I'm not too sure. It feels very niche to your project, and you guys seem to already have a decent support engine for it.

If other people want to chime in opinions, I'd love to hear if this is something everyone wants.

[2018-12-12 03:30] NickBranstein opened #169 "Invalid UUIDs"
#### MTGJSON Version: 4.1.2

#### Description of Bug:
Fire and Ice from UMA both have invalid UUIDs in this version. It appears an extra character was inserted into them making them an invalid UUID format (the last grouping should be 12 digits and these have 13 now).

- In 4.1.2 Ice (UMA) is '3f822331-315e-4297-bb69-f1069032c6c51' in a previous version the UUID was '3F822331-315E-4297-BB69-F106903

[2018-12-12 06:03] nhrsn opened #170 "Incorrect Meld Card Name Ordering ("Chittering Host" - EMN)"
#### MTGJSON Version: 4.1.2

#### Description of Bug:

"Chittering Host" should be at index 1, as per documentation.

[code]

[2018-12-12 06:03] nhrsn commented on #170
Left this as a comment on a merged PR so it may have been missed. Thank @tooomm for pinging me 😄

[2018-12-12 06:41] ZeldaZach commented on #169
So this was intentional. What I did in the prior rendition was cut off the last character (which was a 5) and the append the index (0 or 1). I am trying to figure out an appropriate way to give two different UUIDs to the halves, while still keeping them close so you can card find with them.

If you have a better solution, please feel free to propose it.

[2018-12-12 06:47] ZeldaZach commented on #170
Reported as an issue upstream. Thanks for pointing this out!

[2018-12-12 09:46] dbottillo commented on #164
My preferred option would be to leave there as a duplicate but retain the MID from the original card, because it would be nice to show that card with the alternative image as well (they are foil). If that's not possible then I would prefer to remove the duplicate or have an `alternate: text` in the original card (although I would not using it for anything in my own app 🤷‍♂️ )

[2018-12-12 12:34] NickBranstein commented on #169
I think that approach is fine but it looks like in 4.1.2 the 5 somehow snuck back into the mix so you can't parse the string as a valid UUID format because there are 13 digits in the last part of the string.

[2018-12-13 07:49] TheOnlyDJCat commented on #154
I have checked the json from 4.1.3 version and there are still the other inconsistencies. only the three examples are fixed. Now I extracted all cards with different ability texts:

Assure // Assemble (Assure)
Bad River
Blood Crypt
Breeding Pool
Demotion
Faith's Fetters
Fertilid
Flood Plain
Godless Shrine
Grasslands
Hallowed Fountain
Land Tax
Mnemonic Betrayal
Pir's Whim
Plots That Span Centuries

[2018-12-13 07:49] ZeldaZach commented on #154
cc: @csuhta :)

[2018-12-13 07:58] csuhta commented on #154
These are all updated upstream, except: Plots That Span Centuries is not on Gatherer, it can't have different text.

[2018-12-13 10:21] TheOnlyDJCat commented on #154
Yes you are right with "Plots...". I always check against my current own database which also has a few non- gatherer cards. But on other sites with extracted rule text, I see "Plots..." only with the word 'would' inbetween - as it was printed. I don't see a hint, that this word was removed anywhere?

[2018-12-13 22:07] ArkadesSabboth opened #171 "Bring back gatherer set code"
Version 3 had multiple fields for the set code :
- code  : The code name of the set
- gathererCode : The code that Gatherer uses for the set.
- oldCode : An old style code used by some Magic software.
- magicCardsInfoCode : The code that magiccards.info uses for the set.

version 4 have :
- code : Set code for the set.
- mtgoCode :  Set code for the set as it appears on Magic: The Gathering Online

[2018-12-14 08:25] ZeldaZach commented on #171
I have no easy way to re-impl this field, and I'm not sure what information you'd need from gatherer as we have everything from them, plus more. Unfortunately this is probably a nofix on our end :(

If you'd like to provide a use case, I'm sure we can help find a way to better integrate MTGJSON usage! Feel free to reach out whenever

[2018-12-14 08:25] #171 closed, assigned to nobody

[2018-12-14 08:27] ZeldaZach commented on #170
So upstream will be adding a new way of handling the parts, and won't be fixing this on their end. I'll look into a manual override soon (temporary placeholder)

[2018-12-14 08:29] ZeldaZach commented on #169
If you check out the [4.1.3 changelog](https://mtgjson.com/v4/changelog.html) we describe the change we've made.

I'm trying to think of the best way to handle split cards / cards with multiple faces, as I give each a unique ID. If my current strategy is poor, another idea I have is that I can modify the last value and run a modulo incrementer (i.e. Fire/Ice = "12345" => Fire = "12345" Ice = "1234

[2018-12-14 08:31] ZeldaZach commented on #168
Hey @JayDi85 coming back to the ticket, I may have misunderstood what you were saying.

Are you implying that you'd like to contribute to the project with your program that parses out the abilities fields and such? If so, that would be awesome! Feel free to open a PR and we can discuss the code changes there.

If you meant something else, please let me know as I'm still a bit confused with what yo

[2018-12-14 08:32] ZeldaZach commented on #164
So to address this well I'd have to figure out what changed between cards, so I'd probably go with an `isAlternative (bool)` option, if anything.

Contemplating still what to do, but it's a secret print in the set so not 100% certain what the best strategy is.

[2018-12-14 10:31] lfgcampos opened #172 "[UMA] Mythic Rare issue"
MTGJson4 is using `mythic` and not `mythic rare` for mythics card.
I have looked on gatherer and scryfall and they use `Mythic Rare`.

Example links:
- http://gatherer.wizards.com/Pages/Card/Details.aspx?printed=true&multiverseid=456785
- https://scryfall.com/card/uma/189/vengevine

ps: I've tagged as UMA but haven't checked the other jsons.

[2018-12-14 10:44] JayDi85 commented on #168
I have mtg app with manually added and refined game logic and cards with all abilities and data (that's app developed many years and have ~18k unique cards). So what can we do:
1. You are creates data list or json example with info (what you want get for your project -- see examples at my first post);
2. I'm creates extra java scripts in my project -- that's scripts will use game engine, process c

[2018-12-14 15:37] NickBranstein commented on #169
Thanks for that explanation I did not see it earlier. I think if you're going to call that field a UUID it should conform to the standard 36 character length or change the name of the field. If you decide to leave it as a "UUID" then think incrementing the last digit would work fine and also maintain the valid UUID formatting.

[2018-12-14 17:03] ZeldaZach commented on #172
Interesting, as SF's API uses `mythic` but I could agree to upgrading it ourselves to mythic rare. Will tag them just in case this is an oversight on their part.

cc: @csuhta

[2018-12-14 17:18] csuhta commented on #172
Our API always uses the value `mythic`, but we sometimes display that as “M” or “Mythic Rare” around the site in UI.

[2018-12-14 19:25] excention opened #173 "Tokens Missing numbers In Masters 25"
#### MTGJSON Version: 4.1.3
Inside the "AllSets.json" the masters 25 tokens have cards missing numbers, possibly duplicates. This contains 3 Cards that are all kraken one has the number on it.

`
            {
                "artist": "Dan Scott",
                "colors": [
                    "U"
                ],
                "name": "Kraken",
                "power": "9",

[2018-12-14 19:30] excention opened #174 "Ultimate Masters Base Card Number 79"
#### MTGJSON Version: 4.1.3

#### Description of Bug:

the base card number in Ultimate masters is 79 instead of 254.

`   "UMA": {
        "baseSetSize": 79,
        "cards": [`

[2018-12-14 20:07] excention commented on #173
Here is a list of all the cards having this issue...

[code]

[2018-12-14 20:15] ZeldaZach commented on #172
Sounds good. The word "mythic" should be clear enough imo, as there's no "mythic commons" etc. If that were to ever change, I would consider updating the program to include "mythic rare" but for the time being I find this appropriate.

If you disagree and can provide good reasoning, I am more than willing to reconsider this topic. Thanks for helping improve MTGJSON :)

[2018-12-14 20:15] #172 closed, assigned to nobody

[2018-12-14 20:16] ZeldaZach commented on #173
Is this an issue in the A25.json file as well?

[2018-12-14 20:16] ZeldaZach commented on #174
That's really weird... will look into it

[2018-12-14 20:55] excention commented on #169
Between this purposed path and adding the index on the end the index is better, but only if scryfall accepts the exact UUID and brings back the full card image....
Otherwise it will get confusing from one card to the next what UUID you need to use if you are doing +1 to the side a for each side. In cases like Who/what/where/when/why.

Conforming to the UUID standard not sure that it matters as lon

[2018-12-14 22:55] NickBranstein commented on #169
In languages (not js) where UUID/Guid is natively supported, then users consuming would/could/should be using these types to parse a UUID and do validation.

Either way it doesn't ultimately matter to me this is more of a semantics argument at this point because I don't fully understand the purpose of this field if split cards are getting different unique ids when they aren't really cards themselv

[2018-12-17 20:47] ZeldaZach commented on #174
So this is fixed when I rebuilt my local program and ran it. Will be "fixed" when the next release is live. Thanks for reporting this issue!!

[2018-12-17 20:47] #174 closed, assigned to ZeldaZach

[2018-12-18 00:17] ZeldaZach commented on #167
Ok so after reviewing this, the issue is only with double-sided tokens. My issue is I didn't split them up with UUIDs correctly, so i'll get that fixed. In conjunction with #173

[2018-12-18 01:28] ZeldaZach commented on #169
So i'll be changing how this is done (again)

id = my own UUID
scryfallId = UUID given by scryfall

That way I can repeat the values for scryfall, but have my own that people can key with

[2018-12-18 03:32] PAK90 commented on #51
I found the fix for this: remove `:` from the logfile name generation. Windows doesn't like colons in filenames, apparently.

[2018-12-18 03:56] PAK90 opened #178 "Make flags better"
There should be a flag or some notification when the python script is run without TCGPlayer credentials, else the script will just crash on trying to retrieve a TCGPlayer url. For devs that don't have a key, maybe an option to skip the price acquisitions too might be good.

[2018-12-18 04:17] #167 closed, assigned to nobody

[2018-12-18 04:17] #173 closed, assigned to ZeldaZach

[2018-12-18 04:18] #170 closed, assigned to ZeldaZach

[2018-12-18 04:20] PAK90 opened #179 "Have the ability to exclude 'abnormal' sets by flag."
For most of my use cases I only need 'normal' cards, i.e. non-token, non-scheme, non-vanguard, non-funny, etc. cards. Having a flag for this would be very useful. [Scryfall offers some set categorizations](https://scryfall.com/docs/api/sets), which might be handy.

[2018-12-18 04:24] ZeldaZach commented on #178
Gonna update this ticket: Make my flags better :)

Ask for (or give option to omit) TCGPlayer dev key

[2018-12-18 04:25] ZeldaZach commented on #179
I'm gonna call this a dupe of #178

[2018-12-18 04:25] #179 closed, assigned to nobody

[2018-12-18 04:26] ZeldaZach commented on #178
For most of my use cases I only need 'normal' cards, i.e. non-token, non-scheme, non-vanguard, non-funny, etc. cards. Having a flag for this would be very useful. Scryfall offers some set categorizations, which might be handy.

[2018-12-18 04:32] #169 closed, assigned to ZeldaZach

[2018-12-18 05:37] #178 closed, assigned to nobody

[2018-12-18 06:26] #76 closed, assigned to nobody

[2018-12-18 06:26] #77 closed, assigned to nobody

[2018-12-18 06:39] ZeldaZach commented on #168
@JayDi85 Can you write out a step-by-step guide to use it? I'm looking through the XMage source, but I can't find what I'm looking for

[2018-12-18 06:42] ZeldaZach commented on #79
I'd call it a card, since we have 1996 World Championship as an example

[2018-12-18 06:44] ZeldaZach commented on #79
This is also a fully upstream thing, as I won't be fixing it locally anytime soon

[2018-12-18 06:44] #79 closed, assigned to nobody

[2018-12-18 08:32] #164 closed, assigned to nobody

[2018-12-18 18:29] #75 closed, assigned to nobody

[2018-12-18 21:01] excention opened #184 "Kyscu Drake in visions has a "side" = c attribute in error."
#### MTGJSON Version: 4.1.3

#### Description of Bug:
Kyscu Drake in visions has a side attribute with the value of C. According to zach this is due to the multiple names in the names array being linked as "combo pieces" and not being checked correctly.

`,
            {
                "artist": "Geofrey Darrow & I. Rabarot",
                "borderColor": "black",
                "colorIdentity"

[2018-12-18 21:24] ZeldaZach commented on #184
Fixed in 3c377417fef17c2a99dbb7d09f4048deba12cee4 <3

[2018-12-18 21:24] #184 closed, assigned to nobody

[2018-12-19 14:16] TheOnlyDJCat opened #185 "Some cards have still different ability texts than on gatherer"
#### MTGJSON Version: 4.2

#### Description of Bug:

Following https://github.com/mtgjson/mtgjson4/issues/154
After the last update only 3.5 cards are still different than the gatherer/correct version.

- Circuitous Route

- The Savant (I know there is no gatherer entry for that, but the AllCards.json text differents also from the printed version?)

- Plots That Span Centuries (I know there is no

[2018-12-20 03:52] ZeldaZach commented on #115
And supported :)

[2018-12-20 03:52] #115 closed, assigned to nobody

[2018-12-20 18:49] KingSupernova31 commented on #170
This is not fixed.

[2018-12-20 18:51] ZeldaZach commented on #170
Just tested, it is for me?

<img width="358" alt="screenshot 2018-12-20 13 51 10" src="https://user-images.githubusercontent.com/7460172/50304565-528e3880-045e-11e9-922d-742598507fa1.png">
<img width="359" alt="screenshot 2018-12-20 13 51 07" src="https://user-images.githubusercontent.com/7460172/50304566-528e3880-045e-11e9-8f4a-e4c39c88b214.png">
<img width="371" alt="screenshot 2018-12-20 13 51

[2018-12-20 18:56] KingSupernova31 commented on #170
That's only one of them. Hanweir and Brisela are still broken.

[2018-12-20 19:00] ZeldaZach commented on #170
I'm very confused. They look right to me.

<img width="429" alt="screenshot 2018-12-20 13 58 19" src="https://user-images.githubusercontent.com/7460172/50304921-566e8a80-045f-11e9-8e10-d07c4501135b.png">
<img width="466" alt="screenshot 2018-12-20 13 58 15" src="https://user-images.githubusercontent.com/7460172/50304922-566e8a80-045f-11e9-837f-1222a5814a1a.png">
<img width="466" alt="screenshot 20

[2018-12-20 19:02] KingSupernova31 commented on #170
Hanweir Battlements and Gisela, the Broken Blade should be index 0, not 2. They're switched with the other half.

[2018-12-20 19:04] ZeldaZach commented on #185
cc @csuhta

[2018-12-20 22:08] csuhta commented on #185
All fixed upstream

[2018-12-20 22:09] #185 closed, assigned to nobody

[2018-12-20 22:09] ZeldaZach commented on #185
Appreciate the help, as always :)

[2018-12-20 22:43] KingSupernova31 opened #186 ""printings" should be lowercase"
The set codes in SetList.json are lowercase, while set codes everywhere else are uppercase.

[2018-12-20 22:47] KingSupernova31 opened #187 "2 of the meld pairs have incorrect side and name order"
Hanweir Battlements and Gisela, the Broken Blade should be `side: "a"` and have index 0 in the `names` array, but they are instead `side: "b"` and index 2. (Hanweir Garrison and Bruna, the Fading Light are of course also affected in the inverse manner.)

The Graf Rats meld pair is correct.

[2018-12-20 23:11] ZeldaZach commented on #186
Documentation states this is intended behavior. If someone wants it in capitals, they can do it themselves very easily.

[2018-12-20 23:21] KingSupernova31 commented on #186
Why would this be intended? There is no benefit to requiring a case-change in order for any comparison to be made.

And the documentation only states that most set codes are uppercase, it says nothing about SetList.json being lowercase. (The example is lowercase, but if there are going to be inconsistencies that people won't expect, the documentation should state as much explicitly.)

[2018-12-20 23:23] ZeldaZach commented on #186
It aligns to the lower-case change we made for Keywords, the `code` and `mtgo` fields within a Set.

Seems like `printings` is capitalized, so I could look to change that

[2018-12-20 23:50] scarletcs commented on #186
APIs vary on whether or not they capitalise or lowercase set codes, meaning most peoples' workflows will need conversion at some point, it'd just be a matter of whether the conversion is to uppercase or lowercase and where it happens and to what data set.

I think the best thing for MTGJSON to do here would be to pick a philosophy as to how it wants to present set codes and stick with that to make

[2018-12-20 23:50] ZeldaZach commented on #186
Based on the fact that we've been going on a lower-case binge recently, I am more inclined to update printings to be lowercase. Will re-open with new name.

[2018-12-21 00:12] ZeldaZach commented on #187
So I'm looking at it again, but we don't state anything about the ordering, just that one part will be 1st, the other part will be 3rd, and the melded combination will be 2nd. I'm not sure if this is worth fixing.

Looking for other opinions

[2018-12-21 03:38] KingSupernova31 commented on #187
The documentation says "Meld cards are listed in the order of CardA, Meld, CardB."

Hanweir Battlements and Gisela, the Broken Blade are card A, yet they're in the place of card B.

[2018-12-21 05:10] #186 closed, assigned to nobody

[2018-12-21 17:49] enyalios opened #189 "v4 JSON missing some vanguard card data"
#### MTGJSON Version: 4.X.X

#### Description of Bug:

The 'hand' and 'life' fields have disappeared from vanguard layout cards in the version 4 JSON files.  Thanks.

[2018-12-22 01:44] ZeldaZach commented on #189
Heh, good catch. Forgot about them. Will get this fixed up :)

[2018-12-22 01:59] #189 closed, assigned to ZeldaZach

[2018-12-22 03:42] JayDi85 commented on #168
Added generated json example (see attachment):
[jsonexample1.txt](https://github.com/mtgjson/mtgjson/files/2704779/jsonexample1.txt)

Code example to generate it:
[ExportJsonGameplayDataTest.java.txt](https://github.com/mtgjson/mtgjson/files/2704961/ExportJsonGameplayDataTest.java.txt)

Sample from that file:

[code]

[2018-12-22 15:48] magreenblatt opened #191 "Incorrect isAlternative/hasFoil/hasNonFoil fields for some 10E cards"
#### MTGJSON Version: 4.2

#### Description of Bug:
The records for "Stampeding Wildebeests" and "Dragon Roost" in 10E (Tenth Edition) have incorrect isAlternative/hasFoil/hasNonFoil fields. The other cards in this set appear to be properly tagged.

For example, below are the records for the "Stampeding Wildebeests" card. The first record ("number": "300") should represent the normal card and have

[2018-12-22 20:59] ZeldaZach commented on #191
My code, for 10th Edition, is based on the properties of hasFoil and hasNonFoil.  As such this appears to be an upstream issue where the cards have these fields incorrectly marked, in comparison to the other cards in the set.

cc: @csuhta

[2018-12-23 00:24] KingSupernova31 commented on #97
Looks like this has been fixed, all sets have a release date now. Can I rely on that staying the case?

[2018-12-23 01:06] ZeldaZach commented on #97
I noticed they decided to publish all dates a few weeks ago. It’s implemented in 4.2, just not the website (yet). Will have website update around New Years

[2018-12-23 13:00] magreenblatt opened #193 "Case inconsistency between AllSets.json key and "code" field"
The key in the AllSets.json file is upper-case (e.g. "XLN") while the "code" field in the set data is lower-case (e.g. "xln"). Other usages of the code value (like the "printings" field) are upper-case, and in V3 the "code" field was also upper-case. It would be nice if the case could be consistent in all usages.

[2018-12-23 14:22] ZeldaZach commented on #193
So we (just) recently changed printings to be lowercase, but I did plan on keeping the keys as upper. I agree consistency is important, so maybe converting everything to uppercase is the right move?

[2018-12-23 15:01] magreenblatt opened #194 "boosterV3 is incorrect for Unstable (UST)"
#### MTGJSON Version: 4.2

#### Description of Bug:
Cards in UST have "mythic" rarity, but the "boosterV3" value for UST does not include a mythic slot. The value is currently as follows:

[code]

[2018-12-23 15:17] ZeldaZach commented on #194
Appreciated. Will fix it soon. Keep up the great bug reports!

[2018-12-23 17:16] magreenblatt commented on #193
All in uppercase sounds good to me :)

[2018-12-24 05:34] #194 closed, assigned to ZeldaZach

[2018-12-24 05:53] #193 closed, assigned to ZeldaZach

[2018-12-24 06:55] ZeldaZach commented on #187
So I've thought about this further, and I have come to the conclusion that this will be a no fix.

My reasoning: If you take a look at the numbering, in the three meld pairs, they are inconsistent with how they choose to define what card number to give the meld pair (Bruna/Hanweird depend on the top half, Chittering on the bottom). As such, this makes it quite hard to dictate the ordering back to

[2018-12-24 06:55] #187 closed, assigned to nobody

[2018-12-24 06:56] ZeldaZach commented on #168
This is pretty cool, but it's a lot of bloat that I'm not sure everyone would appreciate.

I've been poked about this for a bit, but maybe going back to "extra" files compared to "stripped" files might be useful. The ideas I would have for those stripped files I will bring up in another ticket.

[2018-12-24 07:03] ZeldaZach opened #197 "Resplitting into stripped and full outputs"
With MTGJSONv3, we had "FILE" and "FILE-x" to indicate the two file options. A stripped version, and an extra/bloated one. With my initial release of MTGJSONv4, I went away from this model, opting to give one file with all of the information.

With recent advancements in the software, I am reconsidering splitting the model again.  There are a few fields that can (probably) be safely moved to a sep

[2018-12-24 11:26] JayDi85 commented on #197
It's can be [GraphQL](https://www.graphql.org/) or API interface to fetch data. With GraphQL developers can selects and query only needed data.

[2018-12-24 16:10] magreenblatt opened #198 "Improvements to TCG group matching"
Prior to V4 I developed my own mapping of MTGJSON set "name" to TCGPlayer group "name". With V4 I've performed a comparison of my own selections to MTGJSON's selections, inline below. Values that end with "(suggested: None)" are cases where I have a mapping and MTGJSON does not. The "tcg_missing" list at the end are the TCGPlayer groups that neither of us are currently mapping. There's still a lot

[2018-12-24 21:26] ZeldaZach commented on #198
Hey @magreenblatt thanks for bringing this up! I'm always open to improvements on the data set I use. I thought I had a pretty good system in place to pull out the tcgplayer sets, but it appears I may have been doing this incorrectly.

As seen [in the TCGPlayer code I wrote](https://github.com/mtgjson/mtgjson/blob/master/mtgjson4/provider/tcgplayer.py), I took the set codes that were provided by S

[2018-12-25 16:48] magreenblatt commented on #198
Unfortunately I'm not aware of an existing external data source that does a good job with this mapping. Given the small number of sets added each year I've found it easiest just to maintain the list manually (in my case as a JSON file). If this approach would be acceptable for you I can provide the initial file in whatever format you prefer, and submit PRs in the future as I improve the set mappin

[2018-12-26 06:12] ZeldaZach commented on #198
I'm gonna reach out to TCGPlayer and Scryfall to see if either has an appropriate mapping between them. Based on their partnership, I can take a guess that such a mapping exists somewhere.

Edit: Seems that product_id is included in scryfall's card objects (Just noticed, will prob take that impl from them) but I don't see groups. Will investigate further.

[2018-12-26 08:59] csuhta commented on #191
These 2 (4) cards have been corrected on Scryfall

[2018-12-26 10:02] magreenblatt commented on #64
Just to check, this will also include the quantity of each card in the deck list (keeping in mind that some decks also have alternate art cards)?

[2018-12-26 10:51] magreenblatt opened #200 "Cards missing from Starter 2000 (S00)"
#### MTGJSON Version: 4.2

#### Description of Bug:
The following cards are missing from the Starter 2000 set data:

['Armored Pegasus', 'Bog Imp', 'Coercion', 'Counterspell', 'Disenchant', 'Drudge Skeletons', 'Flame Spirit', 'Flight', 'Giant Growth', 'Goblin Hero', u"Hero's Resolve", 'Inspiration', 'Llanowar Elves', 'Merfolk of the Pearl Trident', 'Obsianus Golem', 'Orcish Oriflamme', 'Prodigal S

[2018-12-26 11:04] magreenblatt commented on #198
@ZeldaZach Sounds good, thanks!

[2018-12-29 23:14] tooomm commented on #170
Linking the follow up issue: https://github.com/mtgjson/mtgjson/issues/187

[2018-12-30 06:40] ZeldaZach commented on #200
Took a look and this is correct on Gatherer, but incorrect on Scryfall. I can only assume Sf saw different set symbols (The cards you listed have Classic 6th Edition symbol, whereas the other cards don't have a set symbol) and split them up accordingly?

cc: @csuhta

[2018-12-30 06:42] ZeldaZach commented on #191
Appreciated, will be updated in the next build!

[2018-12-30 06:42] #191 closed, assigned to nobody

[2018-12-30 06:43] ZeldaZach commented on #197
I don't think GraphQL is what I'm looking for in this situation, but it's a thought for the future!

The overall impact and responses I have gotten indicate splitting would be useful. I only plan on moving really heavy hitters to the secondary files (which will have the new file name). I'll see what I come up with and have a PR up soon

[2018-12-30 13:11] synercoder opened #201 "Rarity incorrect documentation for timeshifted cards"
#### MTGJSON Version: 4.2

#### Description of Bug:
I used the documentation to create my own C# client. I created an enum type for rarity since the documentation stated that it could only be one of five values. Now I try to parse all the sets and I got a parse error:

Error converting value "timeshifted uncommon" to type 'MtgJson.Models.Rarity'. Path 'cards[17].rarity', line 2215, position 44.

I

[2018-12-30 16:26] csuhta commented on #200
The Starter 2000 box included both 6ED cards and special Starter 2000 cards. Gatherer incorrectly has duplicates of the 6ED cards filed in Starter 2000.

(This isn’t a case where the cards include the 6ED symbol but are visually different, they’re exactly the same cards. Explorers of Ixalan is another example product like this.)

[2018-12-30 17:31] JayDi85 commented on #201
Remarks for @ZeldaZach -- there are two rarity types. One from gatherer -- it's a "booster" rarity and can contains "special" (e.g. it's a booster slot type). And one from scryfall -- it's a real rarity (e.g. it's a card's rarity icon). [Info from scryfall admins](https://github.com/scryfall/gatherer-bugs/issues/34).

[2018-12-30 23:37] ZeldaZach commented on #201
My rarity fields are based on Scryfall, with the exception that cards from TSP can have the `"timeshifted" + $rarity` combination. If y'all feel this is wrong (and I should leave it up to the implementer to understand `if isTimeshifted then rarity = "timeshifted" + rarity` then I'm fine changing it back. Otherwise, we can update documentation to fit what's listed.

[2018-12-30 23:38] ZeldaZach commented on #200
Appreciate the insight. As such, this is closed as a nofix.

If you come across any other inconsistencies, @magreenblatt , please do feel free to create new tickets :)

[2018-12-30 23:38] #200 closed, assigned to nobody

[2018-12-31 00:15] synercoder commented on #201
I dont personaly see the benefit of having "extra/double" timeshifted rarities.

Like you said @ZeldaZach in my own code I can use: `if isTimeshifted then rarity = "timeshifted" + rarity`

Instead I now have code that strips the timeshifted from the rarity.

But then again... I am not the only user of mtgjson ^^.

[2018-12-31 00:25] ZeldaZach commented on #201
I added it to match the requests of the booster field, but not enough people chime in on what they'd like to see, so I constantly have to be making changes.

I'm fine stripping it again, and leaving that to the end user, but i could also just document it

[2018-12-31 00:26] synercoder commented on #201
Either way is eventually fine for me.

[2018-12-31 11:17] magreenblatt commented on #200
Thanks for the explanation. Makes sense!

[2018-12-31 11:25] magreenblatt commented on #64
Another complexity is constructed products that combine cards from multiple sets. For example, Starter 2000 box (which includes both 6ED and Starter 2000 cards) and Explorers of Ixalan (which includes both Ixalan and Explorers of Ixalan cards).

[2018-12-31 12:37] magreenblatt opened #203 "Incorrect key in AllSets.json for PRNA (Ravnica Allegiance Promos)"
#### MTGJSON Version: 4.2

#### Description of Bug:
The "code" value for "Ravnica Allegiance Promos" is "prna" but the JSON key in AllSets.json is "PRN" (missing the 'A'). The JSON keys for other promo sets seem to be correct ('P' + set code).

[2019-01-01 18:39] ZeldaZach commented on #203
RNA/PRNA was accidentally included into the 4.2 build. The set is not complete nor is it ready. This bug shouldn't be a problem in future builds, but I'm going to leave it open to re-confirm later.

[2019-01-01 20:27] magreenblatt opened #204 "Incorrect baseSetSize value for BBD (Battlebond)"
#### MTGJSON Version: 4.2

#### Description of Bug:
BBD has a "baseSetSize" value of 79 but this should actually be 254 [1]. The "totalSetSize" value of 256 is correct.

I've checked a few other sets (GRN, DOM, M19, RIX, XLN) and they appear to have correct "baseSetSize" values.

[1] https://mtg.gamepedia.com/Battlebond

[2019-01-01 20:40] esb opened #205 "Flavor Text is missing New Line characters"
#### MTGJSON Version: 4.2.0

#### Description of Bug:
The Flavor text is being scraped without keeping the new-line characters. The data is formatted in Gatherer in multiple divs for each line in exactly the same way as the card text box, but a new line is not being added for each div in the same was that it is done for card text.

[2019-01-01 20:49] ZeldaZach commented on #204
The baseSetSize field honestly needs an overhaul. If you'd be willing to compile a list of all base set sizes in JSON/CSV/whatever format (Set: Size) I'd really appreciate it!

[2019-01-01 20:50] ZeldaZach commented on #205
Can you give a few examples of cards that are "broken" in this situation? So I can better investigate

[2019-01-01 21:13] esb commented on #205
From Dragon's Maze, Rakdos Cluestone

"flavorText": "\"Burn. Bleed. Enjoy.\" ÔÇöCluestone inscription",

The entry for this card in Gatherer is formatted with 2 divs which is formatted in 2 lines.

div class="flavortextbox">"Burn. Bleed. Enjoy."</div
div class="flavortextbox">—Cluestone inscription</div

The flavor text in the json file is missing a "\n" between the two lines.

[2019-01-01 22:40] esb opened #206 "Missing Watermarks"
#### MTGJSON Version: 4.2.0

#### Description of Bug:
Stinkweed Imp (Multiverse ID 370450) from Modern Masters is missing the Golgari watermark.

[2019-01-01 22:53] ZeldaZach commented on #206
Good catch! Upstream issue. https://scryfall.com/card/mma/98/stinkweed-imp

cc: @csuhta

[2019-01-01 22:56] ZeldaZach commented on #205
Hmm, our primary data source for flavortext (Scryfall) doesn't seem to have the linebreaks and such within their API nor their website...

A bit curious myself why this is. cc: @csuhta

[2019-01-01 23:44] esb opened #207 "Wrong Rarity for Starter 1999 Goblin Hero"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Goblin Hero from Starter 1999 (Multiverse ID 21066) was misprinted with a gold symbol even though it is a Common card. The rarity is incorrectly set to Rare in the JSON file.

https://magic.wizards.com/en/articles/archive/goblin-misprints-2002-10-10

[2019-01-01 23:58] esb opened #208 "More Missing Modern Masters Watermarks"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Here is a list of more cards from Modern Masters that are missing the watermark.

Greater Mossdog
Life from the Loam
Moldervine Cloak
Electrolyze
Trygon Predator

[2019-01-02 00:16] ZeldaZach commented on #208
Gonna close as dupe, and just add them to the list in the other ticket #206

[2019-01-02 00:16] #208 closed, assigned to nobody

[2019-01-02 00:16] ZeldaZach commented on #206
More missing:

Greater Mossdog
Life from the Loam
Moldervine Cloak
Electrolyze
Trygon Predator

[2019-01-02 00:17] ZeldaZach commented on #207
Heh, nice find. Seems to be an upstream thing.

cc: @csuhta

[2019-01-02 02:16] esb opened #209 "Firestorm (Weatherlight) missing punctuation in flavor"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Firestorm in Weathlight is missing a ! in the flavor text.

"Glok loved storms " should be "Glok loved storms!"

[2019-01-02 02:19] esb commented on #209
Also in Weatherlight, more missing ! marks.

Fervor should have flavor text of

“If your blood doesn’t run hot, I will make it run in the sands!”

[2019-01-02 02:23] esb commented on #209
Boiling Blood - "Your father has no horns!\nYour mother wears a bell\nYou drink the milk of goats!"
Vodalian Illusionist - "Torahn gore these shifty fishtails!"
Phantom Wings - "But you said 'when goats fly!'"
Inner Sanctum - "Either way, do not ignore me!"
Benalish Missionary - "I say let him find out for himself—right now!"

[2019-01-02 05:27] csuhta commented on #206
All fixed upstream

[2019-01-02 05:27] csuhta commented on #207
Fixed

[2019-01-02 05:28] #206 closed, assigned to nobody

[2019-01-02 05:29] csuhta commented on #205
Scryfall has sourced flavor texts from a lot of places, and while we try to have the correct flavor text, and whitespace it correctly on newer cards, the whitespace in flavor text is not guaranteed to be perfect. Maintaining it at this level of nuance is currently not a good use of our time.

[2019-01-02 05:29] #207 closed, assigned to nobody

[2019-01-02 05:32] ZeldaZach commented on #205
Provided flavor text is accurately spaced on _funny_ cards, as that might matter, I could agree that it's not fully necessary.

@esb If you'd like to submit flavor text corrections, I'm sure SF would appreciate it and I can get it implemented.

[2019-01-02 05:32] #205 closed, assigned to nobody

[2019-01-02 05:32] ZeldaZach commented on #209
cc: @csuhta

[2019-01-02 06:06] csuhta commented on #209
All fixed upstream

[2019-01-02 06:07] ZeldaZach commented on #209
Thanks for all of the reports, @esb Keep up the great work :)

[2019-01-02 06:07] #209 closed, assigned to nobody

[2019-01-02 06:48] esb opened #210 "Wrong Multiverse ID for Nissa, Sage Animist (Origins)"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Nissa, Sage Animist from Origins has a Multiverse ID of 398439. It should be 398432.

The ID given actually is for Bellows Lizard.

[2019-01-02 08:26] esb opened #211 "Glissa, the Traitor in From the Vault: Lore is missing Watermark"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Glissa, the Traitor (V16) does not have a watermark field.

It should be 'phyrexian'

[2019-01-02 10:03] esb opened #212 "Commander 2016 Plains have wrong Multiverse IDs"
#### MTGJSON Version: 4.2.0

#### Description of Bug:

Commander 2016 Plains #338 should be 420955 and not 420956.
Commander 2016 Plains #339 should be 420956 and not 420955.

[2019-01-02 10:15] esb commented on #212
Commander 2016 Island #341 should be 420958 and not 420959.
Commander 2016 Island #342 should be 420959 and not 420958.
Commander 2016 Swamp #344 should be 420961 and not 420962.
Commander 2016 Swamp #345 should be 420962 and not 420961.
Commander 2016 Mountain #347 should be 420964 and not 420965.
Commander 2016 Mountain #348 should be 420965 and not 420964.

[2019-01-02 10:26] magreenblatt commented on #201
Personally, I would prefer not to have "timeshifted" or other prefixes on the "rarity" values in card records because (a) it makes parsing more complicated, and (b) it's redundant with existing flags like isTimeshifted.

Prefixes included with the "boosterV3" values ("timeshifted", "double faced", "foil") are fine for now. We can discuss possible improvements to the booster representation at some

[2019-01-02 14:20] magreenblatt commented on #204
Below are the results of parsing values from the markup for all https://mtg.gamepedia.com set pages. If you'd like to parse this information yourself it can be retrieved by sending POST requests to https://mtg.gamepedia.com/Special:Export.

- The list of set pages can be retrieved using the "Add pages from category:" form on that page. Start with the "Magic sets" category and parse the resulting H

[2019-01-02 14:26] magreenblatt commented on #204
Here's the current complete list of set pages if you want to skip the category parsing step described above. Not all of these pages have an `infobox set` table.

[code]

[2019-01-03 19:36] magreenblatt opened #213 "Incorrect Duel Decks set codes"
#### MTGJSON Version: 4.2

#### Description of Bug:
Comparing Duel Decks set codes between MTGJSON versions 4 and 3:

[code]
I believe the V3 set codes are correct and the V4 set codes are incorrect as follows:

- "Duel Decks: Elves vs. Goblins" should be EVG: https://magic.wizards.com/en/content/duel-decks-elves-vs-goblins:

- "Duel Decks Duel Decks Anthology" is a reprint of previous Duel Decks

[2019-01-04 11:22] magreenblatt opened #214 "Cards missing from RQS (Rivals Quick Start Set)"
#### MTGJSON Version: 4.2

#### Description of Bug:
According to the decklists [1] this set should contain "Scathe Zombies" and "Reverse Damage", but those cards are missing from the MTGJSON data.

[1] https://mtg.gamepedia.com/Rivals_Quick_Start_Set

[2019-01-04 12:43] magreenblatt opened #215 "Differentiate between new and previous printings in sets"
In issue #214 I reported some cards missing from RQS (Rivals Quick Start Set). According to [1] all of the cards in RQS are actually standard 4th edition cards. There are other sets, like S00 (Starter 2000), that contain both new (S00) printings and cards from previous (6ED) printings. However, only the S00 printings are currently listed for that set (see issue #200).

I think set data should incl

[2019-01-04 12:47] magreenblatt commented on #197
The stripped version of AllSets.json could also remove the "printings" field, since that value can already be determined from the JSON data if desired.

[2019-01-04 13:14] magreenblatt commented on #215
Incorrect existing card printing records (like with the current RQS set) may need to be fixed upstream.

The missing cards for mixed-printing sets like S00 can often be determined by comparing to the deck lists at https://github.com/taw/magic-preconstructed-decks, and then choosing the closest existing printing (for example, 6ED is the closest printing that predates S00 for the missing cards). Thi

[2019-01-04 13:34] magreenblatt commented on #215
Comparing the V4.2 data to the deck lists linked above, the sets with missing card records (e.g. likely mixed printings) appear to be [E01, E02, GK1, GNT, S00, W16, W17].

[2019-01-04 14:08] magreenblatt commented on #215
An alternate approach to adding card records and the "fromPrinting" value in AllSets.json would be to delete the incorrect card records (e.g. all cards from RQS) and instead rely on the resolution of issue #64 to build mixed printing deck lists. In this case AllSets.json would contain set records but no card records for sets that are 100% existing printings.

[2019-01-04 14:36] magreenblatt commented on #214
According to [1] all of the cards in RQS are actually standard 4th edition cards. Consequently all RQS card records should probably be removed. See related discussion in issue #215.

[2019-01-04 15:48] magreenblatt commented on #215
Challenger Decks [1] are another example where we should have a set record (with code Q01) but no card records (because cards come from the Kaladesh block and Amonkhet block).

[1] https://mtg.gamepedia.com/Challenger_Decks

[2019-01-05 04:30] taw commented on #214
They're not totally same due to different copyright year on copyright line.

[2019-01-05 04:37] taw opened #216 "foreignData has entries without card name"
For latest (4.2).

I found it on Italian 7ED, but then full scan shows these (JSON reformatted by script):

* 7ED - Angelic Page - `[{"language":"Italian","multiverseId":185954}]`
* 7ED - Ardent Militia - `[{"language":"Italian","multiverseId":185955}]`
* 7ED - Blessed Reversal - `[{"language":"Italian","multiverseId":185956}]`
* 7ED - Breath of Life - `[{"language":"Italian","multiverseId":185957

[2019-01-05 04:40] ZeldaZach commented on #210
cc: @csuhta

[2019-01-05 04:40] ZeldaZach commented on #211
cc: @csuhta

[2019-01-05 04:41] ZeldaZach commented on #212
cc: @csuhta

[2019-01-05 04:42] csuhta commented on #210
This isn't an upstream issue: https://api.scryfall.com/cards/multiverse/398432?pretty=true

[2019-01-05 04:42] ZeldaZach commented on #213
I know that scryfall decided to go away from the gatherer set codes for some sets as they were not helpful. However, maybe they have more information on what happened with the Duel Decks on their end?

cc: @csuhta

[2019-01-05 04:43] ZeldaZach commented on #210
Hmm, weird. I'll look into this on my end further. Thanks!

[2019-01-05 04:44] ZeldaZach commented on #215
This is an interesting idea, and I do like it in some regards. Will think about it over the next week or so and see what prototypes I can come up with

[2019-01-05 04:46] ZeldaZach commented on #214
I'd like to discuss this, along with #215 via Discord with you, @magreenblatt . Invite's found on the website homepage. Feel free to reach out next week anytime!

[2019-01-05 04:49] ZeldaZach commented on #216
I just took a look; The issue is Scryfall doesn't have localized data for the cards above, so the only information I extract is the language and MID. Probably an oversight on my part, but I should consider what to parse if they don't have the data I need.

Feel free to give suggestions!

[2019-01-05 04:56] csuhta commented on #213
`DD3_EVG` and friends are codes that appear only on Gatherer, and it seems to be a hackaround to deal with the fact that WotC re-used `EVG` for two sets.

- Duel Decks: Elves vs. Goblins 's official set code is `EVG`, but it was not printed on the cards (Gatherer is not incorrect here). https://magic.wizards.com/en/content/duel-decks-elves-vs-goblins
- Duel Decks: Jace vs. Chandra's official set c

[2019-01-05 04:58] csuhta commented on #211
Fixed upstream

[2019-01-05 04:59] ZeldaZach commented on #211
Appreciate the quick fix!

[2019-01-05 04:59] #211 closed, assigned to nobody

[2019-01-05 05:00] ZeldaZach commented on #213
Appreciate the insight, Corey! Given this information, I will ponder on a fix, with a no fix being a valid solution, for the next few days.

[2019-01-05 05:07] csuhta commented on #212
Fixed upstream

[2019-01-05 05:07] #212 closed, assigned to nobody

[2019-01-05 08:53] magreenblatt commented on #213
Corey, thanks for the explanation. Personally, I think it’s better to stick with the Gatherer codes because that’s what other (non-Scryfall-based) MTG data sources are currently using. Inventing new/different codes just makes it harder to map data across sources.

[2019-01-05 08:59] magreenblatt commented on #214
Zack, what time (and timezone) would be best for you, for Discord discussions?

[2019-01-05 09:19] magreenblatt commented on #214
Returning to the previous topic (adding the missing cards). It makes sense to keep the RQS records when they're actually different printings.

[2019-01-08 03:15] ZeldaZach commented on #210
This was fixed upstream at some point. My local rebuild is correct. Will be live in 4.2.1. Thanks for the ticket!

[2019-01-08 03:15] #210 closed, assigned to nobody

[2019-01-08 03:15] ZeldaZach commented on #203
Seem to be valid on my local build temporarily. Will re-eval soon. Thanks for all the reports!

[2019-01-08 03:15] #203 closed, assigned to nobody

[2019-01-08 03:16] #201 closed, assigned to nobody

[2019-01-09 01:12] ZeldaZach commented on #215
So I'm going to leave this open to user interpretation. If someone would like to come along and look into something like this, I wouldn't object :)

[2019-01-09 01:13] ZeldaZach commented on #214
@magreenblatt Discord invite: https://discordapp.com/invite/74GUQDE

I'm around most days at various hours, just have to ping me.

---

I feel this ticket is a duplicate of #215 so I'm going to leave discussions of this there.

[2019-01-09 01:13] #214 closed, assigned to nobody

[2019-01-09 01:36] ZeldaZach commented on #213
Since one of the goals of v4 is to maintain compatibility with the most popular sources (i.e.Scryfall) as it's simplistic. At the same time, I am more than willing to add a sub-code for the "old" set codes if you would find that helpful. (`v3Code`)

v3 to v4 is an incompatible change, and this just happens to be one of the "broken" components. Let me know what you think of my idea

[2019-01-09 01:39] ZeldaZach commented on #197
I could see that as an option too

[2019-01-09 01:42] ZeldaZach commented on #216
Ok so looking a bit further into this, there is no source for information for said cards. As such, my thought is to strip these from the translation tables since they don't have any sources (gatherer, scryfall, etc) with the valid translations

If anyone wants to chime in on this decision, let me know. Otherwise, I'll go forward with it

[2019-01-09 01:59] ZeldaZach commented on #204
I appreciate the information @magreenblatt ! I've forwarded this on to Scryfall. If they don't implement it in a few days, I'll look into making a makeshift (similar to booster) myself :)

[2019-01-09 03:05] #213 closed, assigned to ZeldaZach

[2019-01-09 03:36] ZeldaZach commented on #168
So I started playing around with the code you sent, and modified it: https://gist.github.com/ZeldaZach/10388092173753b19332b2f210baa2e4

It seems that Xmage is failing at quite a few tests when you call `mode.getTargets().get(0)` as the getTargets() is returning an empty array. This is called from `resEffect.addProperty("text", effect.getText(mode));`

I'm not big into the XMage codebase, so me de

[2019-01-09 06:59] JayDi85 commented on #168
I'm [fixed that errors in master](https://github.com/magefree/mage/commit/942ecc5328e4008d8039d2a5d1aa23e50b19200e). Also uploaded export code example to
`Mage.Tests/src/test/java/org/mage/test/utils/ExportJsonGameplayDataTest.java`

[2019-01-09 15:19] ancestral commented on #47
Non-playable tournament cards like 1996 World Champion, Planechase Schemes and Vanguard cards exist in the No-Un Cards. Either this is a mistake, or we need a “tournament-compatible” download.

[2019-01-09 15:24] ZeldaZach commented on #47
Those should be pulled out from the NoUn file. A sweep for "Not Legal" in Vintage should help clear that up

[2019-01-09 18:15] ancestral commented on #47
I guess the question is, what’s the difference between no-Un and Vintage? Ante cards?

[2019-01-09 19:36] ZeldaZach commented on #47
Those are banned. Not legal is different

[2019-01-12 14:49] lfgcampos commented on #203
@ZeldaZach not sure if I should open a ticket for it but... when are you planning to include RNA?
The json doesn't look complete as you stated before: https://mtgjson.com/json/RNA.json

Another question: should we open requests to include new editions? Or do you have a time schedule for it (ex: 1 week prior to the release, etc)?

[2019-01-12 19:31] ZeldaZach commented on #198
@magreenblatt I ask that you look over 4.2.1 when it goes live (a few days). I've done some changes to how I pull the information, hoping it's better now!

[2019-01-12 22:36] #216 closed, assigned to nobody

[2019-01-13 21:37] ZeldaZach opened #219 "Failed to build several sets"
4.2.1:

Several sets won't build correctly as they're token only, and double tokens at that. ['f18', 'l16', 'l17', 'prna']

Will look into for 4.2.2, but these won't be in the main build for now.

- [ ]

[2019-01-15 02:59] CantyCanadian commented on #203
The spoiler season is done and I seem to have access to a lot of cards from RNA in the JSON. However, as the original issue stated, PRNA is still labeled as PRN, causing some issues when trying to fetch images online. Any news on if that'll be fixed?

[2019-01-15 03:44] ZeldaZach commented on #203
Still busted in 4.2.1? Oof I’ll check again :/

[2019-01-15 20:20] lfgcampos opened #220 "MultiverseId is missing for RNA/PRW2/PRNA"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
`multiverseId` is missing for the new set (RNA, PRW2 and PRNA).
https://mtgjson.com/json/RNA.json
https://mtgjson.com/json/PRW2.json
https://mtgjson.com/json/PRNA.json

[2019-01-15 23:34] ZeldaZach commented on #220
Since these sets aren't on Gatherer (yet), there is no such MID. This isn't really a "bug" per say, but when they go on gatherer I will look into a provisional update (4.2.1_1) ?

[2019-01-15 23:34] #220 closed, assigned to nobody

[2019-01-16 09:03] kellenwhitaker opened #221 "switching to capitalized set codes has changed the uuid for all cards"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
The latest release capitalizes the set code. Since the uuid hash is dependent on the set code, it appears that this has changed all uuid's, breaking compatibility with previous releases.

[2019-01-16 15:10] lfgcampos commented on #220
But the set is there: http://gatherer.wizards.com/Pages/Search/Default.aspx?set=[%22Ravnica+Allegiance%22]

[2019-01-16 16:26] lebenski commented on #220
Also need this for Cube Tutor please!

[2019-01-16 16:37] ZeldaZach commented on #220
RNA went live on gatherer 6 hours after my comment. A rebuild is in progress and will be up today. Thanks for your patience!

[2019-01-16 16:39] lebenski commented on #220
Thanks for all your great work!

[2019-01-16 17:28] ZeldaZach commented on #220
New files are up, enjoy!

[2019-01-16 20:05] lfgcampos commented on #220
@ZeldaZach thank you very much!
`foreignData` will be added later as well?

[2019-01-16 20:05] ZeldaZach commented on #220
Expect foreignData in the next release. It takes time to propagate that to our upstream sources.

[2019-01-16 20:31] ZeldaZach commented on #221
Hmm, that's a problem. We have two options: Call the "new" UUIDs the standard, or say 4.2.1 has broken UUID's and 4.2.2 will have "fixed" ones.

Since I won't be lower-casing set codes anymore, anywhere, I'm tempted to call this the new standard. What do you think?

[2019-01-16 20:41] #219 closed, assigned to ZeldaZach

[2019-01-16 21:08] kellenwhitaker commented on #221
My main concern is that the uuid standard has already changed once. Something like this should stay consistent, I believe, since it's an obvious target for a key in a database. The main issue that recently cropped up during development of my application is when a set needs to be updated, not when it's first populated. So having an evolving uuid standard can definitely present some downstream issue

[2019-01-16 21:18] ZeldaZach commented on #221
Based on that, expect this to be the new "standard" going forward. I'll make more notes on fields i'll have to address based on what the UUIDv5 is made of. Appreciate the ticket, and thanks for caring!

[2019-01-16 21:18] #221 closed, assigned to nobody

[2019-01-16 21:23] kellenwhitaker commented on #221
No problem. Will make changes to my application in order to adapt.

[2019-01-17 14:01] lebenski commented on #220
Hey @ZeldaZach.  Please tell me if i'm being blind or looking in the wrong place but I still don't see the multiverseId in here:

https://mtgjson.com/json/RNA.json

[2019-01-17 14:03] lfgcampos commented on #220
@lebenski isn't it a cache issue?
I can see the `multiverseId` here without problems.

And I could download all the images yesterday from gatherer using the `multiverseId`.

[2019-01-17 14:35] lebenski commented on #220
Yes it is!  Thanks

[2019-01-17 17:05] jceddy commented on #55
I used the old changelog.json pretty heavily...sad to see it gone.

[2019-01-17 23:24] NikolayXHD opened #223 "Question on UUID and setcode uppercase"
Since 4.2.1 is released with set codes converted to uppercase, and set code is used to calculate `uuid` 4.2.1 uuids are supposed to be incompatible with previous release (again)

Is it correct or am I missing something?

[2019-01-17 23:42] ZeldaZach commented on #223
Re: #221
You are correct, UUID's unfortunately did change with this release. At this point, I do plan on keeping them consistent as the other fields shouldn't change.

Sorry about that!

[2019-01-17 23:42] #223 closed, assigned to nobody

[2019-01-17 23:58] NikolayXHD commented on #223
Maybe it's worth mentioning in release notes to help other developers be prepared.

[2019-01-17 23:58] ZeldaZach commented on #223
Agreed, I'll make that change now. Appreciate the input!!

[2019-01-18 04:06] mildmongrel opened #225 "Basic land rarity assigned to "common""
#### MTGJSON Version: 4.X.X
 4.2.1 (also seen in 4.2)

#### Description of Bug:
The rarity for basic lands in MTGJSON 4, at least spot-checking for recent sets like DOM, GRN, RNA is "common".  According to the docs I'd expect "basic".  FWIW, MTGJSON 3 used "Basic Land".  For my use case, using a specific rarity makes it more straightforward to construct booster packs.

[2019-01-18 06:42] ZeldaZach commented on #225
The issue is I don't have a good source to determine when a land is a "common" vs a "basic". I'd have to hard code that in, which I could, but it seems weird. The symbol indicates it's a common

[2019-01-19 18:00] mildmongrel commented on #225
Makes sense and I can work around it, thanks for taking a look.  If you don't think this will change, you can enhance the documentation for card rarity to remove 'basic'.

[2019-01-19 18:00] #225 closed, assigned to nobody

[2019-01-19 21:04] loicgasser opened #226 "Changes in structure between releases and no doc!"
Hi,
I am using MTG json (for which I donated money) to help me build my website and I noticed that you introduced **A LOT** of changes to cards structure. It's a bit annoying when you have automated updates like me and that you realize that something as important as `cmc` has been renamed to `convertedManaCost` without any further notice in the releases.

I was wondering if you could just add the

[2019-01-19 21:42] ZeldaZach commented on #226
Hey @loicgasser Thanks for the donation to the project!

With MTGJSONv4, we made several breaking changes to the project compared to the v3 release (Which is why we incremented the major number).

If you look in the 4.0 release notes (found at https://mtgjson.com/changelog) you'll see a full list of all the changes we've made. Included in this list is the following:

We never had a `castingCost` f

[2019-01-19 21:42] #226 closed, assigned to nobody

[2019-01-20 02:10] #204 closed, assigned to nobody

[2019-01-20 02:12] ZeldaZach commented on #198
@magreenblatt Did you get a chance to look over the latest release?

[2019-01-20 21:26] loicgasser commented on #226
Oh thank you for the pointer.
Yes in fact it was cmc.

[2019-01-21 03:39] kellenwhitaker opened #229 "TCGPlayer property queries fail for certain cards"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
TCGPlayer property queries fail for for basic lands, GRN/RNA Guildgates, split cards, and cards having diacritical marks in their names. This means Product Ids are not found for these cards.

Sorry, jumped the gun on the PR. I meant to raise the issue first.

[2019-01-21 08:12] excention opened #230 "Unstable missing tokens"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
Unstable Tokens are missing. You will notice that there are gaps in the token numbers. Token #1,3,6,8,9,11,13,14,17,18. Not sure if the issue goes beyond this set.

[2019-01-21 12:44] magreenblatt opened #231 "Variation of Piety (Arabian Nights) with mid=977 missing"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
Gatherer lists 2 versions of Piety [1] with multiverse IDs 977 and 978. The 977 variation is missing from AllSets.json in version 4.2.1. Both variations exist in version 4.2 and earlier.

[1] http://gatherer.wizards.com/Pages/Card/Printings.aspx?multiverseid=978

[2019-01-21 13:23] magreenblatt commented on #198
@ZeldaZach Thanks, it's looking better. Below is the updated mapping with 4.2.1. The remaining issues appear to be with:

- Duel Decks Anthology
- World Championship Decks
- Various promos

[code]

[2019-01-22 14:41] ZeldaZach commented on #231
So several cards from Arabian Nights have two printings: A light version, and a dark version. They're honestly the same card, and seem interchangeable in the packs so I'm not sure if we want to support them...

[2019-01-23 00:31] carlol opened #232 "Splitted cards have wrong cmc"
#### MTGJSON Version: 4.2.1

#### Description of Bug:

Hi,
thank you for your hard work.

I found this error looking at Fire//Ice spell (see below for the json objects).

{
                "layout": "split",
                "name": "Ice",
                "names": [
                    "Fire",
                    "Ice"
                ],
                "manaCost": "{1}{U}",
                "conver

[2019-01-24 15:01] silasary commented on #232
This is correct.  The CMC of Fire // Ice is 4.

(This is a change from the pre-2017 [Amonkhet] rules, where each side had its own CMC)

[2019-01-24 16:46] ZeldaZach commented on #232
Hey @carlol the CMC are correct on these cards. There _should_ be a field called `faceConvertedManaCost` that identifies the cost on the face of the card.

<img width="366" alt="screenshot 2019-01-24 11 46 04" src="https://user-images.githubusercontent.com/7460172/51693831-ab0ca480-1fcd-11e9-997c-323dbf73e58c.png">

Hope this helps!!

[2019-01-24 16:46] #232 closed, assigned to nobody

[2019-01-24 16:56] ZeldaZach commented on #230
Addressed in a prior push to master. There are now 30 entries into the tokens list for UST (20 fronts, 10 backs). Just wait for 4.2.2 or build yourself if you need the tokens asap :)

I've attached my build of UST for you to use
[UST.json.txt](https://github.com/mtgjson/mtgjson/files/2792717/UST.json.txt)

[2019-01-24 16:56] #230 closed, assigned to nobody

[2019-01-26 20:55] ZeldaZach commented on #229
Fixed in c7f8987ca479425631537fec93a4e7b302da9c80

[2019-01-26 20:55] #229 closed, assigned to nobody

[2019-01-27 09:28] ZeldaZach commented on #168
I'm still contemplating the best way to add such data to MTGJSON. I'm close to a solution in my head, but I'm hoping to get some outside feedback too :)

[2019-01-30 07:57] ZeldaZach commented on #231
https://api.scryfall.com/cards/search?q=is%3Avariation contains the 41 cards with a variation. We can consider what to do from here

[2019-01-30 23:45] magreenblatt commented on #231
Thanks for the list. My primary concern with skipping these records is that they have unique multiverse IDs. Other sources that refer to cards by multiverse ID may fail to match if these records are excluded.

If you don't like the idea of variations having distinct card records perhaps we could add an attribute (like "multiverseIdVariations") that lists the alternate multiverse ID value(s) on the

[2019-01-30 23:47] ZeldaZach commented on #231
That could be an idea. Would accept a PR for that. Feel free to discuss on Discord

[2019-01-31 00:31] ZeldaZach commented on #198
We've had a lot of improvements, so this will be a no fix for the time being. Appreciate the effort <3

[2019-01-31 00:31] #198 closed, assigned to nobody

[2019-01-31 00:34] ZeldaZach commented on #214
Fixed in 4.2.1

[2019-01-31 02:06] ZeldaZach commented on #215
Closing in favor of #64

[2019-01-31 02:06] #215 closed, assigned to nobody

[2019-01-31 03:06] magreenblatt opened #236 "Add caching of network data (Gatherer, Wizards)"
Running an MTGJSON build currently takes a long time (2.5 hours). A lot of that time is spent downloading network resources that could be cached. We should do that (and have a command-line flag for clearing the cache when desired).

[2019-01-31 03:08] ZeldaZach commented on #236
My concern is there are sometimes updates to resources that are not known (like SF updates a card's oracle text to be correct) There are also volatile fields on SF so a hash check of the file wouldn't work necessarily. Have to be creative.

Gatherer resources can and should be cached, as those should never change (I use them only for printed text/type, so once is good)

[2019-01-31 03:12] staghouse opened #237 "Card: Easy access to latest printing"
Use case: filter out duplicates by showing latest printing

Currently, when looking for a card or group of cards, all of the printings are returned in alphabetical order. This leads to need to call on sets to parse each set to get the release date and reduce to the most current.

Possible approaches:

1. Data point in the card itself for latest printing that could return an array of the set code a

[2019-01-31 04:18] ZeldaZach commented on #237
Outside of the scope of MTGJSON, but I'm sure MTG.IO will look into this :)

[2019-01-31 04:18] #237 closed, assigned to nobody

[2019-01-31 04:24] magreenblatt commented on #236
I was thinking mostly about caching the scraped websites, but even caching Scryfall data for 24 hours as recommended in [1] could be an improvement from a developer standpoint.

[1] https://scryfall.com/docs/api

[2019-01-31 04:25] ZeldaZach commented on #236
Considering I (usually) only build once every few weeks, it might not be necessary. But sure, helps with local testing :)

[2019-01-31 05:41] staghouse opened #238 "Improve README.md usage command for clairty"
**Current:**
[code]

To me this reads like FIRST run a non existent module with flags, and THEN run the python command with a single flag

**Suggested:**
[code]

[2019-01-31 07:36] TriangularCube opened #239 "Wrong date"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
In version.json for 4.2.1, date is set to 2018. Pretty sure this is an oversight as it appears correctly at the top of the website.

[2019-01-31 08:05] ZeldaZach commented on #239
I'm mid-building 4.2.2 and it has the wrong date. I'll `sed` it before uploading. Thanks for the report!!

[2019-01-31 08:06] ZeldaZach commented on #238
Feel free to open a pr :)

[2019-01-31 08:46] staghouse commented on #238
PR has been PR'ed

[2019-01-31 09:50] kellenwhitaker commented on #236
I would think caching the Gatherer resources would cut down on compile times (and testing times) substantially. Was going to suggest adding more concurrency, but since the Gatherer stuff is static, I don't think there's a need. Fetching the Gatherer pages takes forever.

[2019-01-31 10:54] Psykopear opened #241 "Foreign names generation does not check card 'number' and duplicates entries"
Hi, first of all thank for your work with this project.
While porting an application to version 4, I noticed a possible bug in the generation of `foreignData`.

#### MTGJSON Version: latest master 000d79f

#### Description of Bug:
In sets where there are cards with different `number`, for example `Plains` cards in `C18` set, the `foreignData` field of each card contains all the `foreignData` of ca

[2019-01-31 15:01] #238 closed, assigned to nobody

[2019-01-31 19:02] ZeldaZach commented on #241
Hey @Psykopear thanks for bringing this issue to my attention! If you'd like to open a PR here, I'd be glad to review and possibly merge it in :)

[2019-01-31 21:54] jordanbrauer opened #242 "upgrade guide for v3 to v4?"
Hi there,

First of all, thanks a tonne in advance for this library!

I am using it (v3 specifically) to make an app & had to do a lot of manual data normalization to data in the JSON files in the import mechanism I have made. It seems that v4 has updated fields from v3, and am unable to find an upgrade guide in your docs. Does this exist, or is it something that needs to added?

Thanks again!

--

[2019-01-31 22:29] robertjanetzko opened #243 "foreignData multiverseId for double sided card backs wrong"
#### MTGJSON Version: 4.2.1

#### Description of Bug:
front and back sides of double sided cards have the same multiverseId for all foreignDatas
(it seems scryfall does not provide this data as it lists only one multiverseId on foreign printings for double sided cards)

Gatherer shows both images with different multiverse ids (410951, 410952)
http://gatherer.wizards.com/Pages/Card/Details.aspx?mul

[2019-01-31 23:23] ZeldaZach commented on #243
~~Uploading 4.2.2 shortly. Lmk if it's still an issue for you!~~

[2019-02-01 08:33] Psykopear commented on #241
PR opened

[2019-02-01 10:28] #241 closed, assigned to nobody

[2019-02-01 10:34] ZeldaZach commented on #243
I've let SF know, and will update this when I hear back.

[2019-02-01 10:34] ZeldaZach commented on #239
Fixed 4.2.2 :)

[2019-02-01 10:34] #239 closed, assigned to nobody

[2019-02-01 10:37] ZeldaZach commented on #242
Hey @jordanbrauer and welcome to MTGJSONv4! The "upgrade guide" is based on our changelog, which you can view at https://mtgjson.com/changelog. If you scroll to the bottom, you can follow all changes we've made over time. Hopefully this gives you enough to make the changes necessary for your project!

If you find any changes not well documented, please do let us know so we can correct them for oth

[2019-02-01 21:44] jordanbrauer commented on #242
Ah, okay! I figured that the changelog would be the next best spot to check, but wanted to be sure first. At a quick glance, it _should_ be enough information combined with my test errors, to make the changes. If not, I will for sure let you know!

I may just keep all the card data I have as is, and attempt to support both v3 & v4 as import sources. Hopefully this won't be too hard with the change

[2019-02-02 02:43] ZeldaZach commented on #242
Can't wait to see what you're working on :)

[2019-02-02 02:43] #242 closed, assigned to nobody

[2019-02-02 02:44] ZeldaZach commented on #243
Update: SF doesn't have the full data available as they have to manually confirm it as correct. Not sure of a good fix. Willing to accept a file that has the mappings if you'd like to make it :)

[2019-02-02 02:44] ZeldaZach commented on #236
You make a good point @kellenwhitaker as we only need to update our gatherer sources once every few weeks, so we can cache them for longer

[2019-02-02 09:32] robertjanetzko commented on #243
mtgjson3 had this data, so it should be available somewhere.
what kind of mapping would you need? multiverseId to multiverseIdBack?

[2019-02-02 09:35] ZeldaZach commented on #243
You can just give it as simply `Card Name | Front ID | Back ID` in a list or something if that's convenient for you. Unfortunately I have no backups of MTGJSONv3 data, so if you have some feel free to share it on.

The mapping you make doesn't have to be JSON or anything, simple CSV or smth would work too. Lmk if you have Qs

[2019-02-02 09:40] robertjanetzko commented on #243
ok, I think I can write a script that will check all languages of all b sides on gatherer for the back side id

[2019-02-02 09:42] ZeldaZach commented on #243
Appreciated! Thanks for supporting my project :)

[2019-02-03 08:38] robertjanetzko commented on #243
here is a map for all foreign flip, transform and meld cards: https://gist.github.com/robertjanetzko/ab3a746e697da06070426197b94350c9

and here is some code to create it: https://gist.github.com/robertjanetzko/0020b377a8cb0d36ec43c08dbf719244

[2019-02-03 09:12] robertjanetzko opened #246 "GRN guild gates have no foreignData"
#### MTGJSON Version: 4.2.2

#### Description of Bug:
The guildgates for GRN don't have any foreignData.
It seems as even gatherer doesn't connect the english version with the others:

english: http://gatherer.wizards.com/Pages/Card/Languages.aspx?multiverseid=452995 (no other languages)
german: http://gatherer.wizards.com/Pages/Card/Languages.aspx?multiverseid=453254 (all other languages except e

[2019-02-04 17:51] ZeldaZach commented on #246
~~The issue is gatherer doesn't have the data, as you have figured out, so Scryfall has no basis for marking the cards since they don't have the translations. As such, we can't really add the data either, as we have no reliable source of data. Unfortunately this is a no-fix upstream issue for the time being :(~~

Interesting find, I didn't read your ticket closely! I'll report this upstream :)

[2019-02-04 17:51] #246 closed, assigned to nobody

[2019-02-04 21:28] excention opened #247 "Unstable Double sided Tokens Missing Numbers, and layout/side details"
#### MTGJSON Version: 4.2.2

#### Description of Bug:
The unstable tokens are missing card numbers, and layout/side details to denote that they are a single card with an alternate art on the back. Assume that the layout is supposed to be "double_faced_token"

[2019-02-04 21:30] excention commented on #231
Variations of the cards are important from a collection standpoint. Even though the light and dark versions are just the circle number it's not much different from alt artwork like in fallen empires and such in my opinion.

[2019-02-04 21:34] excention commented on #168
It might be interesting if you have a game mechanics side JSON that can be downloaded that references the UUIDs of this project.

[2019-02-04 21:36] ZeldaZach commented on #168
Hmm, that's an interesting idea. Would be very different than what I'm used to, so maybe the alternative download would be `{"MTGJSON_UUID": ...}`

[2019-02-04 21:51] ZeldaZach commented on #247
I've been having a lot of issues dealing with Unstable tokens. Will re-review at some point in the future when I find time. If you'd like to contribute a fix for them, always accepting! :)

[2019-02-04 22:48] excention commented on #247
Do you have some idea where the offending code is in the code base? I can take a look no guarantees

[2019-02-04 22:50] ZeldaZach commented on #247
https://github.com/mtgjson/mtgjson/blob/master/mtgjson4/compile_mtg.py#L383 would be a good starting point

[2019-02-05 19:14] excention commented on #247
https://github.com/excention/mtgjson/tree/Ticket247

[2019-02-05 19:49] ZeldaZach commented on #243
I'm reviewing your outputs but they don't seem to be too helpful in its current state.

Can you have it output (in non-json format) `Card Name, CardMID, Foreign Lang, ForeignMID\n`? that would be super helpful! :)

[2019-02-05 20:58] robertjanetzko commented on #243
i thought you could just replace the multiverse ids of the b-sides with the ones from the map

but I can also export them as csv tomorrow

[2019-02-05 22:21] nhrsn opened #249 "Add Array of Printed Languages to Set Object"
A set defines the languages that all its cards are printed in (apart from a few corner cases). If each set object displays a list of its printed languages it would be easier to loop over sets and determine how many cards in all languages exist.

[2019-02-06 05:40] #247 closed, assigned to nobody

[2019-02-06 05:40] ZeldaZach opened #250 "Flip tokens have same MTGJSON UUID"
Current build

Need to re-address how I handle UUIDs for tokens, similar to cards

[2019-02-06 17:47] robertjanetzko commented on #243
CSV: https://gist.github.com/robertjanetzko/85800a676a2c598599a1aa2b11007ef2
and code to create it: https://gist.github.com/robertjanetzko/276180ff2d2362c9021c5518b45ff8e6

[2019-02-06 17:49] MidnightLightning commented on #197
For the projects that I use MTGJSON data for, I typically end up making a pre-run step where I download the main `AllCards.json` file, loop through it, and prune out the data I know that project won't need, and save it as a separate JSON file that the application uses for all further processing. I think if the main MTGJSON builds created different heavy/medium/light outputs, it might help bootstra

[2019-02-07 04:24] ZeldaZach commented on #249
After our discussions, I've come to realize this is probably _not_ the best way to handle such a feature. The inconsistencies of printings in foreign languages makes it tough, especially when we get to cards that have printings in only a specific language.

I'm leaving it up to the reader as an exercise to determine what languages to prune for in each set. Thanks for the ticket, and I hope you hav

[2019-02-07 04:24] #249 closed, assigned to nobody

[2019-02-07 04:24] ZeldaZach commented on #250
I think I was confused, they look fine.

[2019-02-07 04:24] #250 closed, assigned to nobody

[2019-02-07 07:16] ZeldaZach commented on #243
Submitted and approved upstream. Thanks for the help. Will be fixed in the next release :)

@robertjanetzko If you'd like to join us on Discord, please feel free! It's how we stay in contact around these parts. Link's on the website.

[2019-02-07 07:16] #243 closed, assigned to nobody

[2019-02-07 07:19] ZeldaZach commented on #231
Fair enough, so we'll have to look at how to address this correctly. I don't want multiple copies within the initial set honestly, as for example: 5 copies of tamiyo's journal makes no real sense.

[2019-02-07 07:25] ZeldaZach commented on #197
@MidnightLightning While i do like what the minecraft/jquery programs are doing, I'm not sure if that's the goal of my project in its current state. First, AllCards is poorly documented and I hope to improve upon that file soon. Second, my first thought is to have the "SET.json" files be complete and the compiled outputs will have a small/large version.

I believe @silasary will take a crack at it

[2019-02-10 05:11] ZeldaZach commented on #236
Any further thoughts on this @magreenblatt

[2019-02-19 04:22] MECHHavik opened #254 "Cockatrice/Oracle"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
When using the Oracle program for Cockatrice the attached error message comes up. Not sure if it's something wrong with your coding or the Cockatrice/Oracle program.
![error 2-18-19](https://user-images.githubusercontent.com/47767892/52989976-ea16f580-33d3-11e9-8508-01c21aaac4f4.jpg)

[2019-02-19 05:51] skwerlman commented on #254
What version of cockatrice are you using?

[2019-02-19 17:33] ZeldaZach commented on #254
This is a Cockatrice issue, not a MTGJSON issue. Please file the issue there, and ensure you are on 2.6.2 or newer.

[2019-02-19 17:33] #254 closed, assigned to nobody

[2019-02-20 19:40] #64 closed, assigned to ZeldaZach

[2019-02-21 15:03] kiagam opened #256 "Bloodbraid elf missing foreign data [pt-br]"
Hi guys, just noticed that bloodbraid elf is missing foreign data for portuguese - brasil

https://scryfall.com/card/arb/50/pt/elfo-tran%C3%A7as-de-sangue

That is the one that caught my eye, not sure if there are other entries missing. If you ever need translation for pt-br, feel free to message me.

thanks

[2019-02-21 17:59] ZeldaZach commented on #256
Nice catch. I'll get this fixed up in the 4.3.0 release coming really soon :)

[2019-02-22 16:54] vrspectre opened #257 "Mythic Edition Set Contains cards from two sets"
#### MTGJSON Version: 4.2.2

#### Description of Bug: When viewing the all cards there is a set named Mythic Edition. Code is MED.

Cards like Kaya, Orzhov Usurper (456589) and Elspeth, Knight-Errant (456589) both show in that set. However they are listed in different sets according to gatherer.  Ravnica Allegiance Mythic Edition and Guilds of Ravnica Mythic Edition respectively.

[2019-02-24 22:51] MickHardins opened #258 "mkm_name and mkm_id missing"
Hi! In v3 Sets had some fields that are now missing like mkm_name and mkm_id. Any plans to re-insert this info? 😄

[2019-02-24 22:54] ZeldaZach commented on #258
Hi @MickHardins! We decided to end support of MKM name/id with MTGJSONv4 since they weren't too useful to most of our users and can be determined manually by a user on the MKM website.

We also want to be careful with how many external dependencies we add, as the more external sources we support, the more work we'll need to do to keep it valid and accurate in case of changes upstream.

I'll keep t

[2019-02-24 23:07] MickHardins commented on #258
Thanks for the super-fast response! Personally I think mkm is way more useful than TCG for EU players, but i also understand that for non-EU players it's the opposite.

Keeping the dependencies low it's good, but IMHO adding the most used store in EU could provide some utility for developers.

Anyway, if i'm the only one to use those fields, then it's probably not worth it readding it, and i'll do

[2019-02-24 23:31] ZeldaZach commented on #257
Scryfall classifies them as independent sets, which is why it appears that way. I'm more inclined to go with the Scryfall split up, as Gatherer is too unpredictable with what they do to get this correct. This is a data selection option, and you're free to combine the data how you choose.

Lmk if you have any other questions!

[2019-02-24 23:31] #257 closed, assigned to nobody

[2019-02-24 23:31] ZeldaZach commented on #256
Should be fixed now!

[2019-02-24 23:31] #256 closed, assigned to nobody

[2019-02-25 02:32] marshl opened #259 "Rakdos the Defiler in RNA Guild Kit is missing Artist"
#### MTGJSON Version: 4.2.2

#### Description of Bug:Rakdos the Defiler in RNA Guild Kit is missing Artist
Rakdos the Defiler in RNA Guild Kit (GK2) does not have an artist,.
The artist should be "Zoltan Boros & Gabor Szikszai". (http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=460617)

No other cards in the set are missing an artist.

[2019-02-25 02:46] ZeldaZach commented on #259
Thanks for pointing this out! I'll get it fixed up in the next release :)

[2019-02-25 04:09] marshl opened #260 "Hyphen/Minus inconsistencies for planeswalkers"
#### MTGJSON Version: 4.2.2

#### The use of hyphen or minus sign for planeswalker loyalty costs is inconsistent
While most planeswalkers (137) use the minus sign (−) for the text minus loyalty abilities, a handful of them use hyphens (-) instead. Those planeswalkers are:
"Garruk the Slayer"
"Urza, Academy Headmaster"
"Will Kenrith"
"Rowan Kenrith"
"Ral, Izzet Viceroy"
"Vraska, Golgari Queen"

Thi

[2019-02-25 05:44] ZeldaZach commented on #260
You're fully correct on this one! I'll forward it upstream :)

[2019-02-25 05:45] ZeldaZach commented on #260
cc: @csuhta

[2019-02-25 05:45] ZeldaZach commented on #259
cc: @csuhta

[2019-02-25 05:45] csuhta commented on #259
Fixed upstream

[2019-02-25 05:46] #259 closed, assigned to nobody

[2019-02-25 19:01] vrspectre commented on #257
I think there's some confusion.

Scryfall has them both in the same set. It's Gatherer and TCG and other things that list them out as separate sets.
https://scryfall.com/card/med/GR1/elspeth-knight-errant
https://scryfall.com/card/med/RA8/kaya-orzhov-usurper

My best guess is that it was listed as MED when GRN came out and then when RNA came out gatherer probably split MED into two sets. And that'

[2019-02-28 20:14] ZeldaZach commented on #260
Addressed upstream

[2019-02-28 20:14] #260 closed, assigned to nobody

[2019-02-28 20:47] ZeldaZach commented on #258
Starting to look into this a bit more, but a roadblock I'm hitting is I don't have a conversion from MTGJSON -> MKM.

I have the MKM lineup of (Set Name, Set ID) but they don't have, for example, official MTG codes, so I can't validate which sets they go to automatically... gonna have to investigate further

[2019-03-02 13:07] taw opened #262 "ITP has duplicate numbers for unrelated cards"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

Most number duplicates are just multipart cards with missing a/b (or a/b/c/d/e for unsets), so I can fill that in.

This one is just data bug.

https://mtgjson.com/json/ITP.json

* `"53" - "Plains", "Forest"`
* `"54" - "Plains", "Island"`
* `"55" - "Plains", "Mountain"`
* `"56" - "Plains", "Island"`
* `"57" - "Island", "Swamp"`

Whichever numb

[2019-03-02 13:15] taw commented on #262
Actually now that I double checked this file, there's weird stuff like `"frameVersion": "2015",` for some of them. (it came out in 1996)

[2019-03-02 13:39] taw opened #263 "A25 / CNS / CN2 Watermarks"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

This is somewhat between bug and enhancement request.

* https://mtgjson.com/json/A25.json
* https://mtgjson.com/json/CNS.json
* https://mtgjson.com/json/CN2.json

A25 cards have `"watermark": "set"`. Even Gatherer lists their actual watermarks.

I guess something like `"set (CNS)"` would make the most sense, because some sets have stupid name

[2019-03-02 14:07] taw opened #264 "Card without artist"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

https://mtgjson.com/json/GK2.json - `Rakdos the Defiler` has no artist. All other cards seem to be fine.

[2019-03-02 14:25] taw opened #265 "BFZ basics with rarity common"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

https://mtgjson.com/json/BFZ.json

BFZ had fun basics as they were in two versions, full art (for boosters and fat packs) and traditional (for intro packs). Anyway, they should all have rarity `"basic"`, not `"common"`.

Related links:

* http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=401887
* http://gatherer.wizards.com/Page

[2019-03-02 16:00] ZeldaZach commented on #264
Dupe #259

[2019-03-02 16:00] #264 closed, assigned to nobody

[2019-03-03 17:10] taw opened #266 "ARN many to one multiverseid mapping needed"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

For some background - https://magic.wizards.com/en/articles/archive/versus-b-2002-08-08

v3 was matching gatherer and had 92 cards. v4 has this more limited idea and 78.

It's probably fine either way, but then mtgjson should include `otherMultiverseIds` field or something.

This many-to-one multiverseid mapping applies to S00 in a different w

[2019-03-03 17:25] taw opened #267 "POR is missing 7 cards"
#### MTGJSON Version: 4.3.0

#### Description of Bug:

https://mtgjson.com/json/POR.json

It says `"baseSetSize": 222`, but only has 215 cards.

Missing cards have multiverseids: 4225, 4287, 4293, 4304, 4329, 4356, 4406.

[2019-03-03 18:13] ZeldaZach commented on #262
Upstream issue.

cc: @csuhta

[2019-03-03 18:15] ZeldaZach commented on #263
I like the idea of changing the watermarks to being `set (CODE)` where appropriate.

I don't think I'll change the CNS/CN2, as there won't be a conflict with the naming scheme.

[2019-03-03 18:22] ZeldaZach commented on #265
We discontinued the "basic" type as only basic lands had it. Can easily determine on own now.

Should we look at re-adding it? Would be a simple fix (if basic land -> set type). Want more opinions.

[2019-03-03 18:59] taw commented on #265
Why? It's official rarity, it gets own print sheets, and it only _mostly_ maps to basic type.

There are exceptions both ways:

* [some basic lands have nonbasic rarity printed on them](http://mtg.wtf/card/pjgp/90/Island)
* [ME4 had basic sheet with these](http://mtg.wtf/card?q=-t%3Abasic+r%3Abasic+%2B%2B)

[2019-03-03 20:13] ZeldaZach commented on #266
Dupe #231

[2019-03-03 20:13] #266 closed, assigned to nobody

[2019-03-03 20:24] ZeldaZach commented on #265
If you can provide me the full list of lands that fit the basic role, and common role, I can look into integrations

[2019-03-03 20:32] ZeldaZach commented on #267
Dupe #231 -- That bug affects 40smth cards, which include these 7

[2019-03-03 20:32] #267 closed, assigned to nobody

[2019-03-03 23:35] MickHardins commented on #258
I could have a mapping from mtgjson code to mkm code up to dominaria. I'll try to check in the next days, although it will probably take more time, since i'm very busy lately. :(

[2019-03-03 23:38] ZeldaZach commented on #258
Not a problem, it can make it into a provisional release :) Here's my current mapping, but I need it translated to gatherer/scryfall set codes:

Here's a gist of all the sets they have available: https://gist.github.com/ZeldaZach/be62b82f22508564f332f7f51c502b68
Key = Set Name, value = Set ID. I need to get a Set Name <-> Set Code translation to implement this.

[2019-03-04 01:36] csuhta commented on #262
Fixed upstream (also we added localizations for the other collector numbers too)

[2019-03-04 01:36] #262 closed, assigned to nobody

[2019-03-04 17:17] JayDi85 commented on #265
@taw gatherer "rarity" is booster slot type, not real card rarity (info from scryfall admins -- that's why they have diffs).

[2019-03-04 17:21] taw commented on #265
What do you mean by "real card rarity"?

[2019-03-04 17:29] JayDi85 commented on #265
Rules rarity -- see 206.2

[2019-03-04 17:33] JayDi85 commented on #265
@taw look at that comment from scryfall:
https://github.com/scryfall/gatherer-bugs/issues/34#issuecomment-425260926

[2019-03-05 20:53] Grantward68 opened #268 "RNA Guildgates missing tcgplayer fields"
#### MTGJSON Version: 4.3.1

#### Description of Bug:
All the RNA set tcgplayerProductId & tcgplayerPurchaseURL fields seem to be missing for all 10 Guildgate cards:  243-244, 249-250, 252-253, & 255-258.

[2019-03-06 08:47] ZeldaZach opened #269 "Re-add support for foreign set names"
We used to have (in MTGJSONv3) a field in each set file to indicate the set's name in a foreign language. Would like to re-add support.

Ideas: Scrape WPN using complex methods to get the set name from them on newer sets. Use MTGJSONv3 dump for older (provided by Fenhl <3).

Old format:
[code]

Will probably do a similar format, but I know we changed our LANG string so just gotta compare that up.

[2019-03-10 09:46] ctrlaltca opened #270 "HTR17 set is missing two cards"
#### MTGJSON Version: 4.3.1

#### Description of Bug:
It looks like the HTR17 set is missing two cards out of three.
Original ticket: https://github.com/Cockatrice/Cockatrice/issues/3643
Scryfall set: https://scryfall.com/sets/htr17
Mtgjson set: https://mtgjson.com/json/HTR17.json

[2019-03-10 09:47] ZeldaZach commented on #270
Was added after build. Will be added in 4.3.2 when that’s ready in a week or two.

[2019-03-10 09:47] #270 closed, assigned to nobody

[2019-03-10 12:13] taw commented on #265
So here's how I see it:

* rarity only _approximately_ maps to things like expansion symbol, print sheets, or card frequency
* basic land is official rarity, WotC refers to it as a separate rarity on 100% consistent basis, and never once referred to basics as commons, I'm completely baffled by scryfall thinking here. ( [Random example](https://magic.wizards.com/en/articles/archive/news/changes-200

[2019-03-11 17:17] schnolis opened #271 "Card Count in ITP Set"
#### MTGJSON Version: 4.3.1

#### Description of Bug:
The baseSetSize says 72 but there are only 67 cards in the file, and the totalSetSize says 67 as well. Is this a mistake?

[2019-03-11 17:35] schnolis opened #272 "Duplicate uuid in UST set"
#### MTGJSON Version: 4.3.1

#### Description of Bug:
Both cards with the name Clue have the same uuid in the UST set
        {
            "artist": "John Avon",
            "colorIdentity": [],
            "colors": [],
            "layout": "double_faced_token",
            "name": "Clue",
            "number": "18",
            "reverseRelated": [],
            "scryfallId": "9b111525-0600-4ba

[2019-03-12 06:43] ZeldaZach commented on #272
So the cards are really weird because they're the same card in essence, one side just has the picture larger...

I'll think about what to do here next week.

[2019-03-12 06:51] ZeldaZach commented on #271
Could very well be a mistake on my side. Will investigate

[2019-03-15 12:22] jmcsmith opened #273 "PDOM - Dominaria Promos are missing tcgplayerProductId"
Looks like the PDOM cards are missing the tcgplayerProductId in the set file.
I specifically checked Llanowar Elves but also searched for the field anywhere in the file and it was not there.

[2019-03-16 03:07] ZeldaZach commented on #273
https://shop.tcgplayer.com/magic/open-house-promos/llanowar-elves
https://shop.tcgplayer.com/magic/prerelease-cards/jayas-immolating-inferno
https://shop.tcgplayer.com/magic/prerelease-cards/forebears-blade

Looks like they have their own methods of marking cards... will have to play around with this to get promos added correctly

[2019-03-17 06:49] staghouse opened #275 "Add key "keyruneCode" for SetList.json"
Add "keyruneCode" on the SetList.json output to enable the front-end to render an accurate code for the set list

[2019-03-17 19:59] #231 closed, assigned to nobody

[2019-03-17 19:59] #275 closed, assigned to nobody

[2019-03-17 21:47] #263 closed, assigned to nobody

[2019-03-17 21:51] #271 closed, assigned to nobody

[2019-03-17 22:07] #272 closed, assigned to nobody

[2019-03-18 00:26] ZeldaZach commented on #273
Just re-built locally and they all appear to be there. Will close now. If still an issue at the next release, please do drop a line!

[PDOM.json.txt](https://github.com/mtgjson/mtgjson/files/2975915/PDOM.json.txt)

[2019-03-18 00:26] #273 closed, assigned to nobody

[2019-03-18 00:31] ZeldaZach commented on #236
bump @magreenblatt

[2019-03-18 00:51] ZeldaZach commented on #258
bump @MickHardins

[2019-03-18 00:54] ZeldaZach commented on #268
Fixed upstream, will push a release at some point soon. Thanks for the report!!
[RNA.json.txt](https://github.com/mtgjson/mtgjson/files/2975956/RNA.json.txt)

[2019-03-18 00:54] #268 closed, assigned to nobody

[2019-03-18 01:15] ZeldaZach commented on #269
Build from AllSets-x: [set_translations.json.txt](https://github.com/mtgjson/mtgjson/files/2975995/set_translations.json.txt)

Still need to ensure correctness (hard to do) and then look at incorporating new stuff in.

[2019-03-18 01:41] ZeldaZach commented on #168
I've decided to pass on this for the time being. The script to generate isn't working as expected, and the build time for adding this seems a bit lengthy.

If you're able to generate the data as one file stored as `{"MTGJSON_UUID": [card abilities], ...}` I'd consider a pull request, but I don't feel exerting any more energy on my part would be useful. @JayDi85

[2019-03-18 01:41] #168 closed, assigned to nobody

[2019-03-18 01:51] staghouse opened #280 "Add "releaseDate" to DeckLists.json"
Add a releaseDate key to DeckLists to allow documentation to sort deck options

[2019-03-18 01:54] magreenblatt commented on #236
Sorry, I won’t have time to work on this soon. Feel free to reassign or close.

[2019-03-18 02:29] magreenblatt commented on #231
Thanks for the fix :)

[2019-03-18 15:46] MickHardins commented on #258
Hi Zach, sorry for the late reply.
This is what i have:
https://gist.github.com/MickHardins/9423cfc5a88ceed8c28fff93c5da394f

It's a CSV with ";" as a delimiter (because of commas in some set names). It contains Set Name, MKM Name (-1 if not available), MKM ID (0 if unavailable), and Set Code (Mtgjson)

let me know if it's helpful :)

[2019-03-18 17:26] #258 closed, assigned to nobody

[2019-03-18 18:59] MickHardins commented on #236
If this is not urgent, i can take a look at it.

[2019-03-18 19:00] ZeldaZach commented on #236
Not urgent, but something that would be nice to have. It has no impact on data, just time.

[2019-03-18 19:02] ZeldaZach commented on #197
I’m gonna back away from this for the time being. We decided to not support the Xmage blob, so this isn’t fully needed now.

Can come back to it in the future if it becomes an issue.

[2019-03-18 19:02] #197 closed, assigned to nobody

[2019-03-18 23:37] MickHardins commented on #236
PR #282 should have this feature implemented :)

[2019-03-19 02:04] #236 closed, assigned to nobody

[2019-03-19 02:30] #280 closed, assigned to nobody

[2019-03-19 23:24] ZeldaZach commented on #265
This seems like a lot of work for little reward, so I'll leave this open for a bit if anyone wants to give it a shot, but it's a no-fix on my end.

[2019-03-19 23:27] #269 closed, assigned to nobody

[2019-03-19 23:31] ZeldaZach opened #285 "Foreign Set Names Additionals"
See #284 for adding of the 5 core languages.

Languages to Support:
- [x] English [ Added in #284 ]
- [x] French [ Added in #284 ]
- [x] German [ Added in #284 ]
- [x] Italian [ Added in #284 ]
- [x] Spanish [ Added in #284 ]
- [x] Portuguese (Brazil) [ Added in #286 ]
    - https://pt.wikipedia.org/wiki/Expans%C3%B5es_de_Magic:_The_Gathering
- [x] Japanese [ Added in #286 ]
    - http://www.harer

[2019-03-19 23:34] pvsfair commented on #285
I will help with the Portuguese (Brazil) translations.

[2019-03-20 01:59] pvsfair commented on #285
Here are the translations for the Portuguese (Brazil)
[TranslationTable.json.txt](https://github.com/mtgjson/mtgjson/files/2986192/TranslationTable.json.txt)

[2019-03-20 06:50] ZeldaZach commented on #285
Appreciated, @pvsfair ! I've automated the Portuguese based on your information :)

[2019-03-21 17:25] lfgcampos commented on #285
@ZeldaZach same approach from Korean can be done for Russian: `.../ru/...`

[2019-03-21 17:26] ZeldaZach commented on #285
The issue is I don't have a backlog of older russian translations, and I only feel comfortable parsing the newest content. I'll see what I can come up with

[2019-03-22 00:10] #285 closed, assigned to nobody

[2019-04-01 20:21] MickHardins commented on #197
I'm fine with the idea of splitting. In the future i would also consider to provide full database splitter per language. For the latter, i'm not sure if it's possible, since i don't know whats the current support to foreign languages

[2019-04-03 08:21] DJCatBlitz opened #290 "Missing bracket in reminder text of "Relentless Advance""
#### MTGJSON Version: 4.3.2

#### Description of Bug:
The reminder text of "Relentless Advance" (for Amass) is missing a closing bracket.
This caused an endless loop in my parser :(

[2019-04-03 21:25] ZeldaZach commented on #290
Will be fixed tonight, ty for the report :)

[2019-04-03 21:25] #290 closed, assigned to nobody

[2019-04-05 18:29] taw opened #291 "Fate Reforged release date is off by a day"
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/FRF.json
https://mtgjson.com/json/CP2.json

#### Description of Bug:

Nothing I can find implies they were released one day apart. It should be 2015-01-23 for both.

Other clash packs (CP1 for M15; CP3 for ORI) seem to be fine.

Related sources:

* https://mtg.gamepedia.com/Fate_Reforged
* https://magic.wizards.com/en/game-info/products/card-se