[2020-06-18 21:25] staghouse opened #595 "(v5) Add Card "promoTypes" enum values to EnumValues.json"
Now that we are capturing promotional attributes in an array, please have these values added as enum values. The data should look like:

[code]

[2020-06-19 14:54] ZeldaZach commented on #591
Seems to be indicated upstream. I'm not sure of the model they follow (scheduled date or actual date)

cc: @csuhta

[2020-06-19 14:55] ZeldaZach commented on #590
If you know which cards, might be helpful. However, this tags back to upstream.

cc: @csuhta

[2020-06-19 16:32] #595 closed, assigned to ZeldaZach

[2020-06-19 16:43] ZeldaZach commented on #594
Hmm... the uploaded version is empty, but my local version has the value. Will postpone this until I do another full build and see what's up.

[2020-06-19 16:52] #589 closed, assigned to ZeldaZach

[2020-06-19 16:54] ZeldaZach commented on #592
Appears one of our upstream providers is having an ID collision. Will address it with them directly.

[2020-06-19 17:07] ZeldaZach commented on #593
Hey @oelarnes can you go into a bit more detail on the issue. Are the digital prices wrong? paper? Is there a flip between the printings? Can you show examples so I can dig deeper into this

[2020-06-19 22:40] taw commented on #590
All cards C20.json marks as hasFoil+hasNotFoil are actually foil only (commander, alt commander, and alt partner commanders for each deck), not foil+nonfoil.

For precon sets, generally card is either foil, or nonfoil, not really both (there was like one exception to this rule ever).

[2020-06-20 20:49] #490 closed, assigned to ZeldaZach

[2020-06-20 20:49] ZeldaZach commented on #490
Addressed in v5, will not be backporting to v4.

[2020-06-20 20:53] ZeldaZach commented on #594
Yeah on the rebuild they're in... not sure why that bugged out before.

[2020-06-20 21:05] #591 closed, assigned to nobody

[2020-06-20 21:07] ZeldaZach commented on #590
According to upstream, the collector packs are the reason non-foils can exist. As such, this appears to be working as expected.

[2020-06-20 21:07] #590 closed, assigned to nobody

[2020-06-20 22:29] taw commented on #590
Oh wow, I missed that.

[2020-06-21 23:37] AncientSwordRage opened #596 "Can we include saltiness of cards from Edhrec please?"
We can already see the rating. I hope the saltiness is also available.

Many thanks.

[2020-06-22 02:38] ZeldaZach commented on #596
I pinged upstream to see if this is a possibility

[2020-06-22 21:14] #594 closed, assigned to ZeldaZach

[2020-06-23 00:41] giniman opened #597 "M21 Card Name error."
#### MTGJSON Version: 4.X.X

#### Description of Bug:
M21 - 226 "Twinblade Assassin"
-> "s" is omitted. "Twinblade Assassins"

[2020-06-23 11:32] lconnellan opened #598 "Missing IKO cards?"
#### MTGJSON Version: 4.X.X

#### Description of Bug:

Recently tried updating the database on cockatrice from https://www.mtgjson.com/files/AllPrintings.json.xz but there appears to be some missing cards from Ikoria e.g. The Ozolith, and some other cards with placeholder names. Not sure if this is a cockatrice problem or a MTGJSON problem but I thought I should raise it anyway.

Interestingly the

[2020-06-23 21:23] ZeldaZach commented on #597
Thanks, fixed that up!

[2020-06-23 21:23] #597 closed, assigned to ZeldaZach

[2020-06-23 21:23] ZeldaZach commented on #598
We had a system failure last night. A new build went live a moment ago with all of Ikoria!

[2020-06-23 21:23] #598 closed, assigned to ZeldaZach

[2020-06-23 21:26] lconnellan commented on #598
Ok thanks!

[2020-06-25 15:01] oelarnes commented on #593
There are two entries for Teferi, Time Raveler. One has a normal collector number, an mtgoId, and no mtgo price. I copied these values from the json object currently linked on the main site:

"mtgoId": 72048...  "name": "Teferi, Time Raveler", "number": "221" ... "prices": {"mtgo": {}, "mtgoFoil": {}, ...

The other has a starred collector number, no mtgoId, and an mtgo price

"name": "Teferi, Tim

[2020-06-27 10:30] SethMilliken opened #599 "minor misspellings in card text"
#### MTGJSON Version: 4.6.3

#### Description of Bug:
_Orcish Catapult_: `s/ceratures/creatures/`
_Bruvac the Grandiloquent_: `s/insted/instead/`

[2020-06-28 01:10] ZeldaZach commented on #599
Thanks for catching these. Will be addressed in Monday's rebuild!!

[2020-07-01 02:48] aaronbamberger opened #600 "Certain double-sided tokens where both sides have the same name have the same UUID for each side"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
I'm actually not 100% sure this is a bug, it's possible this is intentional behavior, but it was surprising to me, so I wanted to open an issue to check.  My assumption was that card UUIDs uniquely indicated a card face, since that seems to be true for most of the double-sided cards that I checked.  However, certain double-sided tokens that see

[2020-07-01 03:22] ZeldaZach commented on #600
Every card in the program should have a unique UUID (hence the U in UUID). This is most certainly a bug that I will be looking into.

[2020-07-01 03:43] aaronbamberger commented on #600
That's what I figured, just wanted to double check.  The full list of tokens that I noticed with this behavior are:

* Modern Horizons Art Series (AMH1)
  * Endling
  * Morophon, the Boundless
  * Sisay, Weatherlight Captain
  * Waterlogged Grove
  * Sword of Sinew and Steel
  * Prismatic Vista
  * Silent Clearing
  * Wall of One Thousand Cuts
  * Face of Divinity
  * Smoke Shroud
  * First Sliver

[2020-07-01 15:56] cheyner opened #601 "Cards with multiple faces (e.g. transform layout) missing Scryfall Illustration ID"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
"transform" layout cards in MTGJSON data are lacking ScryfallIllustrationId

In the Scryfall API, for cards w/transform layout, Scryfall Illustration ID is nested in the card_faces object.

[2020-07-01 20:25] cmdr0 opened #602 "Price Issues in v4"
#### MTGJSON Version: 4.6.3

#### Description of Bug:

AllPrices.json appears to be missing price data/historic prices for a large number of cards (12,583)
Complete list of discovered IDs at https://pastebin.com/23wqTAas
List does include some JMP/M21, which at this point is not expected to have price data, but was not filtered out of my query

First fifty from that list presented here:

**Name [S

[2020-07-02 16:34] ZeldaZach commented on #601
Good catch. It seems to be an issue on v5 & v4. Will address and backport.

[2020-07-02 16:46] #601 closed, assigned to ZeldaZach

[2020-07-02 17:16] ZeldaZach commented on #600
So this breaks down to me forgetting to say "tokens please use the token UUID generation op"... oops.

[2020-07-02 17:52] #600 closed, assigned to ZeldaZach

[2020-07-02 17:53] #599 closed, assigned to ZeldaZach

[2020-07-02 17:54] ZeldaZach commented on #592
This was fixed upstream, should have been populating for a bit.

[2020-07-02 17:54] #592 closed, assigned to nobody

[2020-07-02 17:59] ZeldaZach commented on #593
I just went through v4's AllPrices and it appears to be correct on that part. The internal "prices" field shouldn't be used any longer and the AllPrices.json file should be the source of price data instead.

[2020-07-02 17:59] #593 closed, assigned to nobody

[2020-07-02 18:06] ZeldaZach commented on #602
As I'm looking through these, I'm noticing a pattern. There are a lot of cards that aren't sold/ID'd by upstream systems (such as Gold Border cards) and the other cards I see here (Like Boiling Blood) has the correct amount of data in AllPrices v4 and v5. I'm not really sure where to go with this at the moment until we can clarify further which cards _should_ have better pricing data and what's wr

[2020-07-03 08:53] lyngbach commented on #525
I would just like to add in here that the original suggestion does not always fit in the scenario (like it was pointed out with WotC inconsistently handling this).

I am referring to the Arabian Nights set where `baseSetSize` is 78 and `totalSetSize` is 92 with the variants being the darker symbol cards that is mixed in all over in the set list.

[2020-07-03 09:47] kodawah commented on #525
@lyngbach i don't think using ARN is a fair comparison, this would be strictly for the "promo-non-promo" cards that are mixed in the "non-promo" set in Scryfall (with incremental collector numbers) such as from ELD onwars. Nobody is suggesting to do that for cards that feature alternative cards which reuse the same collector number

[2020-07-05 11:16] lyngbach commented on #525
I am all in for that. I too need a way to determine the difference in a programmable way, just wanted to point out that some sets have a different `baseSetSize` compared to the `totalSetSize` that are not the newer extended art/variants.

I guess for now we have to make our own logic for each set.

[2020-07-05 21:16] ZeldaZach opened #604 "Ensure ReferralMap is unique, sorted, and correct"
NGINX requires compliance and for all entries to be unique. For some reason, I'm having a small number of conflicts. Needs to be addressed. We also have complete dupes included, which need to be filtered off (easy)

Examples
[code]

[2020-07-05 21:29] ZeldaZach opened #605 "Update deployment scripts"
MTGJSON now runs on NGINX. To support this op, we need to modify our copyscripts to move to /api instead of symlinks within the public html sector.

[2020-07-06 02:01] #604 closed, assigned to ZeldaZach

[2020-07-06 03:57] ZeldaZach commented on #605
Handled on private repo

[2020-07-06 03:57] #605 closed, assigned to ZeldaZach

[2020-07-06 18:40] omfgitsmark opened #607 "Specifying output directory for v5"
Need to add an option for specifying where the output directory is.

[2020-07-07 16:17] ZeldaZach opened #608 "v4 ReferralMap fixes"
Still having duplicates on the /links/ID portion. need to address.

[2020-07-07 19:12] taw opened #609 "v5 foreignData is only for one side of split card"
Example:

[code]

"Chaos // Order" has Chaos foreignData on both sides.

It seems to affect them all.

[2020-07-07 19:16] taw opened #610 "v5 some foreignData lacks name"
Example entry from 7ED:

[code]

There's at least 500 of such entries, probably more, but my script crashes for other reasons before it can even check them all ;-)

[2020-07-07 19:22] taw opened #611 "v5 foreign flavor names are weird"
So not sure what to do with this:

[code]

There's no English text on that card. `flavorName` is `結晶の巨人`, official `name` is `決戦兵器、メカゴジラ`.

Affected cards seem to be:
* "結晶の巨人 (決戦兵器、メカゴジラ) // Mechagodzilla, the Weapon"
* "哀歌コウモリ (暗黒破壊獣、バトラ) // Battra, Dark Destroyer"
* "不思議な卵 (モスラの巨大な繭) // Mothra's Great Cocoon"

[2020-07-07 19:30] taw opened #612 "v5 Masters 25 watermark information is lost"
In v4 it was like `"watermark": "set (M10)"`.

In v5 it's all `"watermark": "set"` regardless of variety of watermarks.

[2020-07-07 19:45] ZeldaZach commented on #611
This appears to be a limitation that Wizards only published these cards in Japanese, and upstream providers are only showing English names for the split.

cc: @csuhta

[2020-07-07 20:08] csuhta commented on #611
For these specific cards, we have it formatted like this currently because we lack a field for what WotC has done here.

These cards have four title texts:

- Oracle name
- Localized name
- Localized flavor name
- WotC also published the English version of the localized flavor name, and people want to search by it, and we don't have a distinct field for this problem just yet

[2020-07-07 22:11] #607 closed, assigned to ZeldaZach

[2020-07-07 23:42] taw opened #613 "Include v4 uuid in identities"
v5 uuids are all completely different, and there's no good way to match cards between v4 and v5 (set code + number mostly work, but multipart cards, unsets etc. complicate things).

It would be useful to include v4 uuid in identities.

[2020-07-08 00:42] #613 closed, assigned to ZeldaZach

[2020-07-08 11:26] mrphlip opened #614 "v5 otherFaceIds missing from promo sets"
#### MTGJSON Version: 5.0.0+20200707

`otherFaceIds` is missing from cards, particularly in promotional/special sets.

Some examples I've seen in AllPrintings:
* `Who // What // Where // When // Why` in UND is missing it (though it is present in the one in UNH).
* `Budoka Pupil // Ichiga, Who Topples Oaks` in PREL (though it is present in BOK)
* `Grimlock, Dinobot Leader // Grimlock, Ferocious Kin

[2020-07-08 11:40] mrphlip opened #615 "Add "Augment" from Unstable to card keywords"
I'm finding the `keywords` field on cards quite useful, but I'd find it helpful if the Augment keyword from Unstable could be added to the list.

The code I'm writing has special handling for host/augment cards, and currently the only way I can recognise a card with Augment is to search in the rules text and see if the ability is in there...

[2020-07-08 11:50] taw opened #616 "Some link by name from melded card into its components?"
Right now entry looks like this:

[code]

There's no way to find out what are names of the other sides, other than by checking the whole database for matching id.

[2020-07-08 15:37] #612 closed, assigned to ZeldaZach

[2020-07-08 15:55] #614 closed, assigned to ZeldaZach

[2020-07-08 16:06] #610 closed, assigned to ZeldaZach

[2020-07-08 16:25] #609 closed, assigned to ZeldaZach

[2020-07-08 17:00] #608 closed, assigned to ZeldaZach

[2020-07-08 17:12] ZeldaZach commented on #616
After pondering this with two database engineers, we've come to the conclusion this is a no-fix and is working as intended.

Given Card A, otherFaceIds will get you to Card C. Card C links to both Card A and Card B in otherFaceIds, so you can get to Card B via this indirect route. The lookups on this route are O(1) + O(1)*2, or O(1). You shouldn't have to check the entire database in an O(N) fashi

[2020-07-08 17:12] #616 closed, assigned to nobody

[2020-07-08 17:15] kodawah commented on #616
On a broader note, unifying the card names on a single line (with the '//' separator) was due to unifying handling of split/transform cards.

Now both canonical names can be looked up in the Name field which now follows the same verbatim name as defined by the Gatherer. And there are no more aliasing problem like fire//ice and fire//start.

[2020-07-08 17:22] ZeldaZach opened #617 "AllPrices UUID misalign"
UUIDs in v5 AllPrices don't align well and broke on the 6th-7th of this month. Need to address and merge them to fit the new UUID scheme

[2020-07-08 18:37] ZeldaZach commented on #617
Fixed it by merging old and new IDs together into the new ID

[2020-07-08 18:37] #617 closed, assigned to ZeldaZach

[2020-07-09 02:05] ZeldaZach commented on #615
Added. Will be in tomorrow's full rebuild.

[2020-07-09 02:05] #615 closed, assigned to nobody

[2020-07-09 13:19] carlol opened #618 "Rin and Seri, Inseparable not present in AllPrintings file"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
Hi,

the card "Rin and Seri, Inseparable" doesn't seam to be present in the exported file AllPrintings, on the other hand I could find it in the M21 file in AllSets section.

It is a known issue?

Best Regards,

CL

[2020-07-09 17:24] ZeldaZach commented on #618
Hey @carlol I just took at a look at AllPrintings for both v4 and v5, and I was able to find Rin and Seri in both AllPrintings files. Are you sure you digested the file correctly?
<img width="466" alt="Screenshot 2020-07-09 13 24 15" src="https://user-images.githubusercontent.com/7460172/87070926-80290700-c1e7-11ea-98c2-959f9ae9c442.png">

[2020-07-10 13:24] staghouse opened #619 "Add types to EnumValues"
I would like to move Card Types in the documentation to a strict data model. In order to do this I will need Enums for subtypes and supertypes like so:

`EnumValues.data.types.subTypes` `EnumValues.data.types.superTypes`

[2020-07-10 14:27] eddie-g opened #620 "AllPrices.json missing Online prices for [Meld,Flip,Transform] cards and possibly more."
AllPrices.json is missing data entirely for any Meld,flip or transform cards.

uuid: 3042d741-2594-57e5-a2b8-31a290600128
name : Homura, Human Ascendant // Homura's Essence
cardhoarder: https://www.cardhoarder.com/cards/22138/sok-homura-human-ascendant
**No price data**

uuid:5bb79a0f-ad7d-5383-8c9d-04bc757bcb4f
name: Gisela, the Broken Blade // Brisela, Voice of Nightmares
cardhoarder: https://ww

[2020-07-10 15:53] ZeldaZach commented on #620
Can you please indicate if this is a v4, v5, or both issue?

[2020-07-10 21:35] eddie-g commented on #620
This is with v5.
https://mtgjson.com/api/v5/AllPrices.json

[2020-07-11 04:37] ZeldaZach opened #621 "Card Prices v5 Id clash"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

v5 UUIDs that don't seem to get proper price data.
d5d4e44e-9fb1-5e19-9ab9-537a1d1bc5e3
27453e61-7297-57fb-b0fe-e43557e96607
f91a8a7d-89df-5c91-9137-07640a16ccbf
2fb95b16-0470-52bb-927c-5fede51e012d
ef9380b4-bff3-5f44-96ba-c65042673190

I also saw earlier there was a clash for some split cards, gotta look into that.

[2020-07-11 05:09] #618 closed, assigned to nobody

[2020-07-11 05:09] ZeldaZach commented on #618
If you continue to have this issue, please let me know!

[2020-07-11 05:11] ZeldaZach commented on #620
A fix is building now and will deploy in the morning. b49b4c30eca88fa99b1bc9c2bd980ce5dd5bfaed

[2020-07-11 05:11] ZeldaZach commented on #621
Dupe #620

[2020-07-11 05:11] #621 closed, assigned to nobody

[2020-07-11 05:14] ZeldaZach commented on #619
Not sure I understand what you're looking for here.

[2020-07-11 12:46] staghouse commented on #619
I would like Enum values for subTypes and SuperTypes to be filled in to the EnumValues files in the structure above

[2020-07-11 19:22] taw opened #622 "`keywords` is present on wrong side of a card too"
#### Version(s) affected
- [x] MTGJSON 5

It looks like `keyword` is listed even if it's on wrong side of a card. So adventure instants / sorceries have flying, DFCs have flying on non-flying side (including when it's land or planeswalker), and so on.

[2020-07-12 02:35] eddie-g commented on #620
Issue still persists: Note

7a1aab33-99c6-5756-8f30-832f2e11bc67
Dark Depths / CSP
https://www.cardhoarder.com/cards/24583/csp-dark-depths
**No Online Price Data**

![image](https://user-images.githubusercontent.com/8391906/87237660-b10f6480-c3be-11ea-86ea-8fbd9a80565d.png)

[2020-07-12 21:11] ZeldaZach commented on #620
I looked into it further and realized our upstream provider was missing MTGJSON ids for around 3000 cards. I've sent them an aggregated list with the correct IDs to associate, and am waiting for their adoption.

[2020-07-12 21:18] ZeldaZach commented on #619
Does `card.subtypes` and `card.supertypes` not do it for you?

[2020-07-12 21:32] #622 closed, assigned to ZeldaZach

[2020-07-12 21:43] ZeldaZach commented on #596
Update: This feature will be added in the near future. Hang tight! :)

[2020-07-14 00:42] staghouse commented on #619
You bring up a good inspiration that we can probably add a new frontmatter variable to target repeatitive enums. Let me try that first.

[2020-07-14 17:22] SternerStock opened #623 "LeadershipSkills for Brawl always false"
#### Version(s) affected
- [ * ] MTGJSON 4
- [ * ] MTGJSON 5

#### Version(s) tested against
MTGJSON 4.7.0+20200713
MTGJSON 5.0.0+20200713

#### Description of Bug
leadershipSkills.brawl is always false. It should be true for legendary creatures and planeswalkers printed in a standard-legal set. See Brokkos, Apex of Forever, or Narset of the Ancient Way for examples of cards that should have Brawl

[2020-07-14 20:28] billylarsson opened #624 "uuid to mcmId far from always correct on special cards"
#### Version(s) affected
- [x] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

#### Description of Bug

copy/paste from discord:

i think you got some (those i checked) cards with Flavor names wrongly connected from cardmarkets prices in AllPrices.
example: 6f8ddb82-805d-573a-beca-5d8f369c8108

The human eye knows that uuid: 6f8ddb82-805d-573a-beca-5d8f369c8108 should be mcmId: 451838 a

[2020-07-14 21:03] #623 closed, assigned to ZeldaZach

[2020-07-14 21:43] ZeldaZach commented on #620
I put a temporary block of code in MTGJSON5 to account for these missing IDs for the time being. Waiting for upstream adoption still.

[2020-07-16 15:39] #619 closed, assigned to ZeldaZach

[2020-07-17 11:29] taw opened #625 "PMEI 38 Dark Ritual has no artist"
It should be Tom Fleming I think.

[2020-07-17 20:04] lionelh opened #626 "Bad character in the french translation of set with code RIX (aka Rivals of Ixalan)"
The french translation for 'Rivals of Ixalan' (SetCode = RIX) ends with '}' character which i think is an error.

[2020-07-17 20:10] omfgitsmark commented on #626
![image](https://user-images.githubusercontent.com/35660089/87826972-db8e7100-c847-11ea-8eb9-7c98ae76ddbb.png)
This would probably be an upstream issue, but I'm not sure where you're seeing this.

[2020-07-17 20:14] omfgitsmark commented on #626
https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/resources/translation_overrides.json#L57

[2020-07-17 20:16] lionelh commented on #626
The bad value is present in sqlite and JSON files so i believe that the mentioned file (translation_overrides.json) should be fixed.

[2020-07-18 16:06] lionelh opened #627 "Add faceName field in the ForeginData structure"
With v5, faceName field is present and it allow to knox the name of the current face for card with multiple face layout (split, transform, meld, aftermath, flip). But this filed is not present in the ForeignDAta structure. So for ForeignData we have the faceName in the name field and this a bit confusing.

Could you modify the foreignData structure ?

[2020-07-19 14:38] taw opened #628 "WCxx Signature"
World Championship Decks decks all have signature of the player who made them.

It would be nice to have this in data. It could arguably just go into `watermark` field.

Card number already includes player's initials, so it's very easy to do this.

[2020-07-19 21:48] taw opened #629 "WCxx card numbers"
mtgjson WCxx sets use naming scheme of (player initials)(number)(`sb` if sideboard).

However, there are a few cases where this isn't followed.

This is not actually SB card:
* WC98 Cali Nightmare: ["Karplusan Forest bs356sb"]

These are actually SB cards:
* WC04 Blue-White Anti-Affinity Control: ["Pacifism gn33"]
* WC04 Green-White Astral Slide: ["Rude Awakening jn92", "Scrabbling Claws jn237"]

[2020-07-20 01:56] kodawah commented on #629
thanks, reported upstream, will update soon

[2020-07-20 02:05] kodawah opened #630 "erebus and other layout!=normal cards do not have the correct v4uuid in the db"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Description of Bug
i might be doing something wrong, but `Elbrus, the Binding Blade` has `bcc0bed1-cce7-5a8b-86b5-5a9b9568fbcd`on the db file, and `718043c6-ccf8-549c-b3d8-822e531874c8` on the json file (this latter one is correct)

I noticed for a few other cards as well, but i lost the list, i'll submit it if you need it

[2020-07-20 18:52] kodawah commented on #629
fixed upstream, the updated numbers should be present in the next build

ticket may be closed

[2020-07-21 08:40] krijoh92 opened #631 "Atomic Cards missing uuid field"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON: 5.0.0+20200720

#### Description of Bug
Each card in AtomicCards.json is missing `uuid` field

[2020-07-21 16:33] #629 closed, assigned to nobody

[2020-07-21 16:35] ZeldaZach commented on #631
Atomic Cards don’t get UUIDs as we don’t have a generation scheme for partial objects. One could say a UUID might be helpful, but it would have to come from an alternative scheme.

I’m open to suggestions on how we can better serve our data, but UUIDs as we build them currently aren’t compatible with AtomicCards

[2020-07-21 19:09] krijoh92 commented on #631
Hmm, I admit I have no insight into how you build any of the data at the moment, so I don't have the ability to give any suggestions.

But if the absence of UUIDs for AtomicCards is a conscious decision I should probably create a PR for the documentation repo removing UUID from AtomicCards as a start, and later add it back if we can figure a way to give them UUIDs ?

I'll see if I can make sense o

[2020-07-22 08:30] krijoh92 opened #632 "Double faced tokens with same side value for both sides"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20200720

#### Description of Bug
I've found that tokens in Unstable (UST) have the same value for both sides (both are "a"), thus making them get the same uuid value.

[2020-07-22 12:54] krijoh92 commented on #578
Hmm, this bug has reappeared @ZeldaZach :/

This time on version 5.0.0+20200720

[2020-07-22 13:29] staghouse opened #633 "Add deck "type" to DeckList"
Individual Decks have a `type` field that is filled with a value like "Jumpstart" for example. Ca we have this same value for "type" put in to DeckList objects?

[2020-07-22 13:56] ZeldaZach commented on #578
I changed from Apache to nginx. Might’ve missed this fix. Will address soon.

[2020-07-22 23:00] kodawah opened #634 "provide frequent xdelta patches to main downloadable files"
In addition to building the releases every week, it would be nice if we could have daily xdelta patches of the main text files (.json and .sql). In this way we could just download the main file and keep it updated!

I know not many details change every day, but especially during spoiler seasons, where the single set.json is provided, we could maybe expand support for users of the main file too

ht

[2020-07-22 23:50] staghouse opened #635 "Individual decks should not have releaseDate: null"
We know this is how the app has worked for a while, however, can we not get every release date of every deck?

[2020-07-24 01:10] ZeldaZach commented on #635
You didn't specify if this is a v4 and/or v5 issue. Please let me know when you do. Will look into it soon.

[2020-07-24 01:14] ZeldaZach commented on #634
I _really_ like this idea, and it's somewhat feasible. I'm gonna loop in @omfgitsmark as this feels like a cool thing to try introducing to the build sequence.

Our first approach to this would be for only AllPrintings. This would give us a good focus on if this is feasible and how much effort it would take on our part. This would take place whenever a non-price build happens. When the build finis

[2020-07-24 01:16] ZeldaZach commented on #632
Terribly sorry you ran across this issue! Will try to have this addressed before Monday's full rebuild :)

[2020-07-24 01:17] ZeldaZach commented on #631
Yeah, AtomicCards shouldn't have a UUID in the docs. cc @staghouse  to address that, if necessary.

This ticket will be closed as the issue at hand is moot. You're more than welcomed to open a new ticket/pull request for additional discussions if you're interested, or to reopen this one if it's warranted.

[2020-07-24 01:17] #631 closed, assigned to nobody

[2020-07-24 01:18] ZeldaZach commented on #630
The SQL is generated _from_ the JSON, so I'm not sure why they would be different. @omfgitsmark can you look into this please?

[2020-07-24 01:18] ZeldaZach commented on #628
I like the idea, will see what I come up with. Low priority right now, but it shouldn't take too long to brainstorm.

[2020-07-24 01:19] ZeldaZach commented on #627
Seems like a very reasonable request. I'll see what I can come up with hopefully before Monday's rebuild.

[2020-07-24 01:19] ZeldaZach commented on #626
This was fixed in #637

[2020-07-24 01:19] #626 closed, assigned to nobody

[2020-07-24 10:32] kodawah commented on #634
In spoiler seasons you could also generate a new allprintings.json by loading the old one, reload and apply the new set.json and dump to file. Then run xdelta and provide the daily change from whichever reference

[2020-07-24 13:55] staghouse commented on #635
V4 and v5

[2020-07-24 19:48] Cosaquee opened #638 "Some cards have missing mtgArenaId key despite having arena in availability."
### Steps to reproduce
Parse `AllPrintings.json` file, opening each set and checking if in `availability` we have word `arena`. If yes check if there is `mtgArenaId`.
### What is expected?
My assumption is that every card that has `arena` in availability should have an Arena specific ID.

### What is actually happening?
Based on my script 245 cards do not have this ID. I have not checked all of th

[2020-07-25 01:51] ZeldaZach commented on #578
Fixed again. Sorry for the occurrence! Shouldn't happen again

[2020-07-25 01:51] #578 closed, assigned to ZeldaZach

[2020-07-25 21:21] ZeldaZach commented on #625
Fixed!

[2020-07-25 21:21] #625 closed, assigned to ZeldaZach

[2020-07-25 21:27] ZeldaZach commented on #627
I'm taking a look at what I did within v5. It appears that I put the card's full name as the foreign name, _if_ it's not a split-type card. If it is a split-type card, then I replace the full name with the face name. Was this not an appropriate change?

Minimal Viable Example:
[code]

[2020-07-25 21:28] ZeldaZach commented on #635
Tagging @taw  for more details

[2020-07-25 21:31] ZeldaZach commented on #638
I looked through the card list you posted, and I can see a trending pattern. The WAR cards are the stained glass walkers, the Theros, Core 21, and Ikoria sets are the full art variants. The historic anthology cards are a bit diff.

Might have been an oversight by upstream sources. cc: @csuhta

[2020-07-25 21:37] taw commented on #635
Oops, I thought they'd be automatically flagged on my side.

That's the issue with newly added WCxx decks.

[2020-07-25 21:40] csuhta commented on #638
Can you provide specific collector numbers or Scryfall IDs to investigate? Each of these has multiple prints

[2020-07-25 21:43] ZeldaZach commented on #638
I can give you a few, but these are all the boxtopper/alt arts that appear on Arena.

https://scryfall.com/card/thb/329/nyleas-intervention
https://scryfall.com/card/m21/345/pack-leader
https://scryfall.com/card/iko/318/mythos-of-illuna
https://scryfall.com/card/ha2/15/knight-of-the-reliquary

[2020-07-25 21:44] #633 closed, assigned to ZeldaZach

[2020-07-25 21:50] ZeldaZach commented on #630
Just checked the v4 JSON. This looks correct to me.
<img width="622" alt="Screen Shot 2020-07-25 at 5 49 39 PM" src="https://user-images.githubusercontent.com/7460172/88466922-4c183c00-ce9f-11ea-8f13-8a840a4fc383.png">

v5 JSON
<img width="690" alt="Screen Shot 2020-07-25 at 5 50 39 PM" src="https://user-images.githubusercontent.com/7460172/88466928-5f2b0c00-ce9f-11ea-9d49-b817bbe34241.png">

Can

[2020-07-25 21:51] taw commented on #635
It should be fixed now on my end.

[2020-07-25 21:52] #635 closed, assigned to taw

[2020-07-25 21:52] ZeldaZach commented on #635
Thanks for the prompt fix. Will be built on Monday.

[2020-07-25 22:18] #632 closed, assigned to nobody

[2020-07-26 02:54] staghouse opened #639 "Legalities should return false values instead of being omitted"
Right now legalities on a card can return no properties if they are not legal. Instead they should return false.

For example. Sol Ring

"modern": false

[2020-07-28 19:42] cheyner opened #640 "Remove dependency on MTGJSON UUID in Cardhoarder price file"
As discussed, we feel it best for mtgjson to no longer depend on the presence of its UUID in the Cardhoarder price file.  Instead, we'd ask that you find a way to map the MTGO ID on your end.  We'll continue to provide the mtgjson UUID in our file for the next 60 days to accommodate this transition.

[2020-07-29 15:26] tpblaster opened #641 "Add reminder to change mtgjson.properties in the readme"
Currently, there is no warning to new users to change the mtgjson.properties file in the readme. I think it would be a good minor addition

[2020-07-29 15:37] tpblaster opened #642 "Potential Addition of TCGPlayer Buylist Data"
Currently, only TCGPlayer retail data is pulled for the pricing file. Right now the TCGPlayer retail prices are found using group ids. Using the same data and the endpoint List Product Buylist Prices by Group buylist data could be grabbed. For cards with both foil and nonfoil the skus need to be parsed in order to get complete data. Each sku id refers to a specific version of a card like a near mi

[2020-07-29 15:38] ZeldaZach commented on #641
Fixed in d93b9bdffcfd029db88e2c52d165f3152c420f27

[2020-07-29 15:38] #641 closed, assigned to ZeldaZach

[2020-07-29 15:42] ZeldaZach commented on #642
I like the idea of having buylist prices for TCGPlayer within the project! Our [Prices Object](https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/classes/mtgjson_prices.py) already has the ability to store buylist and retaillist pricing.

If we're going to do this, I'd recommend only storing the NM pricing for buylist, as almost every other price is derived from it with a gradient chart.

[2020-07-29 15:44] tpblaster commented on #639
I think it makes more sense to return False only for banned cards in a format. Cards that are not legal because they have not been printed in a modern set should return no properties.

[2020-07-29 15:57] kodawah commented on #639
I don't think it's correct to expose something like that, listing all the formats everywhere would be wasted space and a bit of a maintenance burden when new formats are issued

Legalities are boolean values, a card can either be legal or illegal in any given format, so mtgjson sets a `flag`->`true` if it's legal, or does not set anything if it's illegal: there is no "third state" that a missing f

[2020-07-29 16:09] tpblaster commented on #642
Unfortunately, TCGPlayer buylist is one of the few buylists that doesn't use a gradient chart to derive lower condition prices. On the other hand, I do agree that only storing the near mint data makes sense

[2020-07-29 18:13] staghouse commented on #639
I think returning SOMETHING is better than nothing. Empty string makes sense to me since the false is not very semantic and null is often returned as false.

[2020-07-29 22:08] kodawah commented on #639
returning nothing for false boolean values is very common in json

[2020-07-30 01:50] andrew-s-ali opened #643 "Available languages for printed sets"
Hello! A nice little data set to have would be to add the available printed languages for a set. What I mean by this is for example, Masters 25 (A25) was only released in English, Japanese, and Simplified Chinese. There are only translations for set names, but nothing currently about this topic.

[2020-07-31 13:46] JosephSBoyle commented on #624
I've compiled a list of sets where uuid's don't map to mcmIDs, upon a quick inspection it seems to be almost exlusively _promotional_ sets affected by this issue. The only exceptions I can see are Double Horizons and Modern Horizons.

[affected_sets.txt](https://github.com/mtgjson/mtgjson/files/5007313/affected_sets.txt)

[2020-08-01 00:22] tpblaster opened #645 "Crash while referencing github update"
#### Version(s) affected

MTGJSON v5

#### Version(s) tested against
MTGJSON v5

#### Description of Bug

When running a full build there is an attempt to update a private github repository that stores pricing info. If the key for that repository isn't included in the properties file there will be a critical error. I think this update should be fully skipped if the keys haven't been added.

[2020-08-05 17:04] #645 closed, assigned to ZeldaZach

[2020-08-05 17:28] ZeldaZach commented on #643
I like the idea! I'll see what I can come up with in the near future.

[2020-08-06 23:19] #640 closed, assigned to ZeldaZach

[2020-08-07 00:07] ZeldaZach commented on #640
This has been successfully addressed in v4 and v5

[2020-08-07 22:16] ZeldaZach commented on #639
I'm inclined to close this as a no-fix because omitted values are commonly known as NULL/FALSE in JSON.

In this situation, if a value is not found, it can be inferred that the card is not allowed to be play in that specific format. If a value is found, you can check with that value if the card is allowed or not.

If the documentation on this isn't clear, we should rectify that. I'm not set on mak

[2020-08-07 22:16] #639 closed, assigned to nobody

[2020-08-07 22:38] #627 closed, assigned to ZeldaZach

[2020-08-07 22:38] #630 closed, assigned to omfgitsmark

[2020-08-07 22:39] ZeldaZach commented on #630
If you still have an issue, please let me know

[2020-08-07 22:41] ZeldaZach commented on #620
This has been addressed in full, and should be up now!

[2020-08-07 22:41] #620 closed, assigned to ZeldaZach

[2020-08-07 22:42] ZeldaZach commented on #602
If you have more info in the future, please feel free to reopen :)

[2020-08-07 22:42] #602 closed, assigned to nobody

[2020-08-11 22:51] ZeldaZach commented on #642
Fixed by #646 :D

[2020-08-11 22:51] #642 closed, assigned to nobody

[2020-08-12 00:24] ZeldaZach commented on #638
Ping @csuhta

[2020-08-12 01:08] kodawah opened #648 "use PMEI keyrunecode for sets with the shooting star"
#### Version(s) affected
- [x] MTGJSON 4
- [x] MTGJSON 5

#### Description of Bug
tried on avacyn judge promo, the keyrune retuns the default icon, but i feel like it judge promos should use the shooting star logo - PMEI in keyrune language

I reported the bug upstream, but i don't think new sets will be added https://github.com/andrewgioia/keyrune/issues/131

[2020-08-12 12:26] JeromedC34 opened #649 "Bad JSON format / AllPrices on some prices"
#### Version(s) affected
- [ ] MTGJSON 4
- [X ] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20200811

#### Description of Bug
In the AllPrices.json file, some prices are in double quotes.
For example in "data"/"395a846d-cafd-52e5-9f1e-53d1f12e5650"/"paper"/"cardkingdom"/"buylist"/"foil"/"2020-06-15" the price is "0.05" instead of 0.05, the other prices for other dates are OK.

[2020-08-12 17:25] kodawah opened #650 "add uuid->cardobject+ json file"
It would be nice to have a json file to tie in allprintings and atomiccards, so that it is possible to map a uuid to a cardobject.

The main caveat is that each entry would need a SetCode and/or edition name to retrieve the set properties

[2020-08-12 17:53] ZeldaZach commented on #649
I traced this back to an upstream error 3 months ago that wasn't caught until today. I have rectified the fix on my private prices repo, and will have them rebuilt for today. Thanks for letting me know of this!!

[2020-08-12 17:53] #649 closed, assigned to ZeldaZach

[2020-08-12 20:29] kodawah commented on #648
also the SLD promo planeswalkers

[2020-08-13 13:17] billylarsson commented on #624
My solution: https://pastebin.com/eb2qCtmg

[2020-08-13 15:27] kodawah commented on #628
I spoke with upstream, which is not too keen to reuse `watermark` for something that is not really a watermark (understandably)

They mentioned they might add a new category in the future when more deck sources are added, and this would be a good fit for it, so it's something on the radar now 👍

[2020-08-13 22:35] kodawah commented on #648
also magic fest sets

[2020-08-14 10:08] DanielMaly opened #651 "scryfallOracleId not in v5 AtomicCards"
We have been relying on the ouput of AllCards in v4 to get data about individual card faces, which we would then join with Scryfall data because it's more suitable for our purposes for information about individual printings.

Since v5, `scryfallOracleId` is gone from AtomicCards, making the entire data source useless. Is there any way to return `scryfallOracleId` to AtomicCards?

[2020-08-14 17:38] kodawah opened #652 "set isAlternate for cards with same name and same frame in JMP and 2XM"
#### Version(s) affected
- [x] MTGJSON 4
- [x] MTGJSON 5

#### Description of Bug
similar to #530 we need to set some IsAlternate properties for some cards that are duplicated in the new sets, namely
* Scholar of the Lost Trove JMP 496
* Wrath of God 2XM 383
* Chord of Calling 2XM 384

[2020-08-14 18:32] kodawah commented on #652
also no idea why they have `"isStarter": true,` set

[2020-08-14 19:27] staghouse commented on #628
Some ideas

`"isAutographed" -> Bool`
`"isSigned" -> Bool`
`"flourishes": [
  "autographed": Bool,
  ...
]`

[2020-08-14 21:56] taw commented on #628
Other than signatures, are there any other card features not in mtgjson?

[2020-08-15 13:51] florenceboettger opened #654 "Certain Sets missing from v4"
#### Version(s) affected
- [x] MTGJSON 4
- [ ] MTGJSON 5

#### Description of Bug

Certain sets, such as Theros Beyond Death, Scars of Mirrodin or Ixalan are missing from v4. Those sets, as well as all their individual cards, are missing from https://mtgjson.com/api/v4/AllPrintings.json.xz, whereas https://mtgjson.com/api/v5/AllPrintings.json.xz contains those sets. Similarily, the individual json

[2020-08-15 22:14] ZeldaZach commented on #654
I had to do a hotfix on v4 last night. Rebuilding it in its entirety. Will close when reup'd

[2020-08-15 22:16] ZeldaZach commented on #654
In the meantime, I rolled back v4's release from yesterday.

[2020-08-15 22:30] kodawah commented on #648
upon further investigation, we determined this caused by the fact that scryfall uses the `STAR` name during data import, while keyrune expect `PMEI`

not sure what's the best course of action, I'd just add `if scryfall_code == STAR then keyrune_code = PMEI` here to be honest

[2020-08-17 20:38] thomasohagen opened #656 "StandardAtomic Missing Card Faces"
#### Version(s) affected
- MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20200815
#### Description of Bug
Card set "Standard Atomic" split cards are missing their "Side B" cards.
Card set contains all "Side A" cards.
For example, the card array under Data > "Thrash // Threat" contains "Thrash" and does not contain "Threat".

[code]

[2020-08-17 22:57] #648 closed, assigned to ZeldaZach

[2020-08-17 23:09] #654 closed, assigned to ZeldaZach

[2020-08-18 04:19] AxeBane opened #657 "SetList.json 404"
#### Version(s) affected
- [X] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0

#### Description of Bug
GET requests to https://mtgjson.com/api/v5/SetList.json reach a 404 page as of today's date.
Similar results have been found with directly accessing through the front-end web page.
This may not be limited to just SetList.json.

[2020-08-18 18:19] ZeldaZach commented on #657
Looks to be my last build was killed by the OS. I reverted and this is handled. Will address the issue on my end today.

[2020-08-18 18:19] #657 closed, assigned to nobody

[2020-08-19 21:42] csuhta commented on #638
We've correct the two Anthology cards. The rest of the cards were Arena card styles or not available at all, and we have removed `game:arena` from those cards.

[2020-08-19 21:43] #638 closed, assigned to nobody

[2020-08-20 16:55] #650 closed, assigned to ZeldaZach

[2020-08-20 18:13] staghouse opened #659 "[ v4/v5 ] provide "setCode" to Card object permanently"
We are going to be adding this for AllIdentifiers file but to me it makes sense to make it a first class property that is always available to all card objects to keep the documentation and object variations as uniform as possible.

Realistically it would also be available to Tokens.

[2020-08-20 18:44] ZeldaZach commented on #659
I don't plan on backporting to v4

[2020-08-21 16:46] JayDi85 opened #660 "Missing non-english card reprints from Portal set"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

Current website

#### Description of Bug
[Assassin's Blade from Portal](https://scryfall.com/search?q=Assassin%27s+Blade+set%3Apor&unique=cards&as=grid&order=name) on scryfall have 2 print versions (numbers 80 and 80a):
![shot_200821_203131](https://user-images.githubusercontent.com/8344157/90913456-57527f00-

[2020-08-22 14:36] JayDi85 opened #661 "Meld cards gets composite name with meld's part but they must not"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

Current website

#### Description of Bug
* [Bruna, the Fading Light](https://scryfall.com/card/emn/15a/bruna-the-fading-light) from scryfall have simple name ([json](https://api.scryfall.com/cards/27907985-b5f6-4098-ab43-15a0c2bf94d5?format=json&pretty=true)): `Bruna, the Fading Light`

![shot_200822_182428](

[2020-08-23 19:48] #659 closed, assigned to ZeldaZach

[2020-08-23 19:50] ZeldaZach commented on #661
This was a design decision for MTGJSON5. We've heard arguments from both sides, and I worked with several folks to try and come up with the best approach. More info is on https://github.com/mtgjson/mtgjson/issues/616#issuecomment-655646281.

[2020-08-23 19:50] #661 closed, assigned to nobody

[2020-08-23 20:52] #656 closed, assigned to ZeldaZach

[2020-08-23 21:10] ZeldaZach commented on #651
Hey @DanielMaly sorry you aren't satisfied with my data set as-is. I've pushed a change to include the scryfallOracleId entity (within identifiers) for the 5.0.1 release.

If you're interested, I'd love to know your use case so I can help better adapt and enrich our data. You shouldn't have to go to multiple data providers for information. If there's something missing, I'd love to try and solve it

[2020-08-23 21:10] #651 closed, assigned to ZeldaZach

[2020-08-23 21:18] #652 closed, assigned to ZeldaZach

[2020-08-23 21:29] JayDi85 commented on #661
Correct link about names: https://github.com/mtgjson/mtgjson/issues/616#issuecomment-655648085

[2020-08-25 14:36] jmcsmith commented on #634
I love the idea of being able to load my app one time and then keep it up to date with deltas. I don't use AllPrintings.json at this time for the initial load but for deltas that may be enough.
Please let me know if help is needed with testing consumption of the deltas.

edit: I think that deltas on the weekly runs and spoiler runs would be plenty.

[2020-08-29 07:57] kodawah opened #663 "void beckoner "misprint" wrong tcgplayerid"
977d943c-8388-512b-9712-29fa7824713d (aka Void Beckoner, 373A) has the same tcgplayerid of 075b1f28-306b-5d5c-878b-599a2d037380 (aka Void Beckoner, 104)

it seems that this bug is not present upstream

[2020-08-29 18:37] taw opened #664 "Chinese 5ED, 6ED, and Portal cards marked as having foils"
Newly added Chinese special versions `/NUMs/` cards in:

* https://mtgjson.com/api/v5/POR.json
* https://mtgjson.com/api/v5/5ED.json
* https://mtgjson.com/api/v5/6ED.json

5ED, 6ED, and Portal predate foils.

(might be worth checking if any other sets are affected)

[2020-08-31 14:50] taw opened #665 "A lot of links on https://mtgjson.com/downloads/all-decks/ don't work"
Seems like it affects ones with special characters like "Above the Clouds (1)" goes to https://mtgjson.com/api/v5/decks/AboveTheClouds1_JMP.json, which 404s.

[2020-08-31 15:40] taw opened #666 "Precon data schema updated"
Data files got updated https://github.com/taw/magic-preconstructed-decks-data

Old schema - `decks.json`

New schema - `decks_v2.json`

Changes:

* `commander` is now separate from `sideboard` (applies to `decks_v2.json` only).
* every card has `mtgjson_uuid` so complex matching system should not be necessary (applied to both) - this is backwards compatible, as you can ignore this and match the ol

[2020-08-31 21:17] ZeldaZach opened #667 "Better Handling of MKM Failures"
#### Version(s) affected
- [ ] MTGJSON 4
- [x ] MTGJSON 5

[code]

[2020-09-01 21:29] kodawah opened #668 "compile a new file for tcg skus"
So i was thinking of a way to integrate @tpblaster's changes from https://github.com/mtgjson/mtgjson/pull/644

If we want to avoid including vendor-specific information in the main files, maybe we could shove vendor specific data in a separate file. I'd design AllTCGSkus.json like AllIdentifiers, so a map of uuids pointing to the map of sku and product id

The only question is if we need to someth

[2020-09-01 21:32] kodawah opened #669 "open spoiler season endpoint"
it would be nice to have an endpoint to notify that magic is in spoiler season, and thus we should update mtgjson daily instead of weekly. Not sure if it's better a simple true/false function or if there could be more data attached to it (set code, planned releas date etc)

alternatively with so many products coming out we could use a similar endpoint to know if we're /not/ in spoiler season :joy:

[2020-09-04 08:36] gstraymond opened #671 "Add export in json lines format in V5"
Thanks for this great tool, this is really valuable !

I'm currently migrating to the V5 API and was working about integrating prices.
This json is big (around 400Mb on disk) and it's a cumbersome to process it because it takes a lot of RAM just to load the json in memory.

Have you considered to do an export in the json lines format (jsonl): http://jsonlines.org/ ?
The format is one json object p

[2020-09-06 16:08] tpblaster opened #672 "Incorrect Foreign Data for 3ED Goblin King"
#### Version(s) affected
- [ ] MTGJSON 5

#### Version(s) tested against
- MTGJSON 5.0.1

#### Description of Bug
UUID: e3094187-d666-414b-a1fd-ae0ef55c3fcb refers to 3ED Goblin King. When checking how the data is referred to in Foreign Data, there are 3 entries for that UUID when Revised only has an English version. I think this is a bug that is mapping some FBB foreign data to Revised cards. Thi

[2020-09-09 15:22] kodawah opened #673 "smaller allprices.json file for daily price data"
instead of downloading a huge (maybe compressed) file containing several days worth of data, it might be interesting to prive an abridged version containing only today's prices

while an xdelta will cover that in the future a lot of sites tracking prices have their own way of managing history, and do not need the backlog, saving gigabites of downloads over time, and using more than half less memor

[2020-09-09 15:24] kodawah opened #674 "add currency field to allprices"
cardkingdom uses USD, cardmarket uses EUR (maybe?), cardhoarder uses  ???

It would improve downstream users if each store had a brief currency section, or if there was a currency dictionary for each entry, especially important if you're adding more stores in the future

[2020-09-09 22:53] kodawah opened #675 "simplified chinese old variants have empty ForeignData and no IsAlternative"
A few cards like Assasin's Blade from Portal or Charcoal DIamond from 7th Edition have different art in Simplified Chinese.

However it's not possible to programmatically tell these apart from their English counterpart: they would need isAlternative set and possibly foreignData too. Unfortunately only checking for foreignData empty leads to false positives, as a lot of cards in the Promos departme

[2020-09-10 00:31] kodawah opened #676 "2xm boosterfun cards are tagged as isAlternative"
related to #652

it looks like all the box topper cards got tagged as isalternative but they shouldn't get that flag as they already have properties that tell them apart from normal variants

[2020-09-10 22:27] ZeldaZach commented on #676
Not sure if there's an easy enough way to distinguish them. They're technically alternatives, right?

[2020-09-10 22:31] ZeldaZach commented on #675
Looking upstream, they seem to indicate the artworks are the same via oracle_id.

Assassin's Blade:
EN: https://api.scryfall.com/cards/b80e8fe0-eccb-4268-a6ce-1365c68e6b13?format=json&pretty=true
CS: https://api.scryfall.com/cards/235f25bf-e079-4957-bbb1-0f90716275ad?format=json&pretty=true

cc: @csuhta

We might want to add an oracleID field to each foreignData entry point if the art differs from

[2020-09-10 22:31] ZeldaZach commented on #674
I really like this idea! Will see what I can do soon

[2020-09-10 22:32] csuhta commented on #675
We indicate that they have distinct artwork with the `illustration_id` field. If the UUIDs there match, the cards have the same art.

[2020-09-10 22:33] ZeldaZach commented on #673
I don't think I'm going to be providing a new compiled file with _just_ today's pricing, as #634 will solve this with a patch. If a user wants access to the latest prices from today right away, why can't they poll the appropriate APIs from those services?

Leaving open for a bit for discussion, but I'm considering this a dupe

[2020-09-10 22:34] ZeldaZach commented on #675
Ahh, my bad. Sorry for the rogue ping. Will think about fixes on my end.

[2020-09-10 22:37] ZeldaZach commented on #672
I'm looking at all of Revised and they all have 3 entries. Can you confirm Revised was English only, as upstream sources have them in several languages?

[2020-09-10 22:42] ZeldaZach commented on #671
Hey @gstraymond thanks for your kind words!

I looked into jsonlines, but it doesn't seem to be a standardized tool. Is this really the best approach to helping folks who can't load in the full data set at once? Is there a feature of your language that will allow for lazy loading you might be able to take advantage of?

It also looks like JSONLines wants constant structs, but that would mean the l

[2020-09-10 22:44] ZeldaZach commented on #669
I think this might be out of scope for the project. People can easily poll our SetList.json and see if isPartialPreview is found and that should most likely indicate if we're in preview season.

[2020-09-10 22:45] ZeldaZach commented on #668
Love the idea, and we have a PR up. I need to scope through it a bit more, but we'll have this done soon.

[2020-09-10 22:45] ZeldaZach commented on #666
I'll get to this when I can, will be before our next release

[2020-09-10 22:45] ZeldaZach commented on #665
Well that's a problem. Thanks for pointing it out. I'm gonna see what I can do.

[2020-09-10 22:49] ZeldaZach commented on #664
I'm looking at the [Magic Library](http://www.magiclibrarities.net/332-rarities-simplified-chinese-alternate-art-cards-simplified-chinese-cards-index.html), but it doesn't mention anything about these cards being in foil. Maybe you can lend a hand @csuhta ?

[2020-09-10 22:50] ZeldaZach commented on #663
Can you check if this is still a problem?

[2020-09-10 22:51] ZeldaZach commented on #660
Thanks for pointing this out. I need to figure out how to better integrate foreign-only printed cards... hmm

[2020-09-10 22:52] ZeldaZach commented on #624
Sorry for the long delay on responding. I want to solve this, just it's a bigger issue than I realized. Will try to come up with ways to handle the API, or have a cleaner approach soon

[2020-09-11 00:19] #672 closed, assigned to nobody

[2020-09-11 00:37] csuhta commented on #664
Corrected on Scryfall!

[2020-09-11 01:38] #664 closed, assigned to nobody

[2020-09-11 01:43] kodawah commented on #669
well as of right now, we can just download allprintings every day. The goal of this feature request would be to avoid making pointless downloads, not causing an additional one :-)

maybe it's something that can be ignored once addressed with xdelta support

[2020-09-11 01:47] kodawah commented on #673
because access to those services is often guarded via API access, and API limiting, while a single point of access to a bunch of data is one of the strongest features or mtgjson (besides the fact that users needs to translate those services entries into mtgjson's to be usable)

[2020-09-11 01:48] kodawah commented on #676
no, they are promos/variants, but not alternatives

you could maybe prune them out if they have a particular promotype set

[2020-09-11 06:29] ZeldaZach opened #677 "V4 missing C17 prices"
Unconfirmed, but got notice from a Patron that v4 didn’t have these prices. Prices are found in v5 successfully. Will investigate.

[2020-09-11 09:46] kodawah commented on #673
besides, the uncompress file with 3 stores is like 500MB, with a few more stores it'll get to 1GB easily.
Do you really want to churn that much data every day in user downloads? Even with xdelta, I believe the diff is going to be pretty big in my opinion, and on the user side, it's much much better to deal with smaller files anyway

[2020-09-11 13:41] peardox commented on #673
ATM AllPrices.json is one exceedingly long line of data. If the file was one line per record then processing it would be far easier.

e.g.

{
  "data": {
     "00010d56-fe38-5e35-8aed-518019aa36a5": {...},
     "0001e0d0-2dcd-5640-aadc-a84765cf5fc9": {...},
           ----- c. 53k similar lines -----
     "0003caab-9ff5-5d1a-bc06-976dd0457f19": {...}
    },
  "meta": { "date": "2020-09-08", "versi

[2020-09-11 13:48] peardox commented on #673
Oh. forgot to mention...

I'll write a cross-platform native code (i.e. compiled) extractor to - err - extract the data you're after. Most useful option would be most recent price although I can make other options available as well if requested

[2020-09-12 14:59] ebbit1q opened #679 "isStarter and isAlternative confusion"
The latest reprint for Lotus Cobra has a "showcase" version with number 307 instead of 193 that is marked as isStarter but not as isAlternative, while the normal frame version has neither of these tags. Could the function of these two tags be clarified?

[2020-09-13 07:21] gstraymond commented on #671
I agree that's more a convention than a real standard, but it doesn't require to reinvent the wheel since it's 99% based on json.
For the metadata, it's not forbidden to put as the first line, or you can imagine to provide it as a separate file.
On my side, I had to preprocess the file using the streaming API of `jq` (https://stedolan.github.io/jq/manual/#Streaming), it required more work but it w

[2020-09-15 00:20] taw opened #680 "Chinese USG cards marked as having foils"
https://mtgjson.com/api/v5/USG.json

I missed one in https://github.com/mtgjson/mtgjson/issues/664 - I think it's the last one now.

The thing that confused me is that USG was the first set with foils - but that was only a single card prerelease promo Lighting Dragon. (mtgjson lists it as PPRE/4, not as part of USG set). There were no in-booster foil cards.

Those 6 Chinese alt art cards in USG ha

[2020-09-15 00:24] ZeldaZach commented on #680
cc @csuhta

[2020-09-15 00:26] ZeldaZach commented on #668
Fixed by #670. Thanks @tpblaster

[2020-09-15 00:26] #668 closed, assigned to nobody

[2020-09-15 00:30] ZeldaZach commented on #665
I can't seem to reproduce this. Looking at the latest release, I see that URL working as expected. Can you confirm and close?

[2020-09-15 00:45] kodawah commented on #668
s/#644/#670/

[2020-09-15 00:48] kodawah commented on #663
seems fine now 👍

[2020-09-15 00:48] #663 closed, assigned to nobody

[2020-09-15 00:52] kodawah commented on #679
`isAlternative` is only when there aren't alternative ways of determining card difference (ie kaya from conspiracy) - lotus cobra has `promo_types` and `frame_effects` that you can check to tell them apart

as for `isStarter`... KIWF

[2020-09-15 01:02] taw commented on #665
Yeah, looks like it's working now.

[2020-09-15 01:02] #665 closed, assigned to nobody

[2020-09-15 21:49] JayDi85 opened #682 "Broken decks (Cavalcade Charge)"
#### Version(s) affected
- MTGJSON 5

#### Version(s) tested against

Current website

#### Description of Bug
Some decks can be broken (e.g. contains wrong cards amount or duplicated data).

As example: Cavalcade Charge ([mtgjson](https://mtgjson.com/api/v5/decks/CavalcadeCharge_THB.json), [other](https://www.mtggoldfish.com/deck/2772612#online)) -- it contains duplicated records of `Bonecrusher

[2020-09-15 21:58] JayDi85 commented on #660
Example from scryfall api (request image without specific language param): if you try to get card without English version then it will return first available card.

So mtgjson can use same logic: sort available cards by language and put the first one to the list.

[2020-09-18 19:08] kodawah opened #683 "add .originalReleaseDate to CardObject"
Sometimes cards are added at a different point in time than the set.ReleaseDate, however this information is lost in the pulling data from upstream. It's important to keep this information if we want to sort cards and sets by release date

[2020-09-18 22:43] joriki opened #684 "foreign data for cards missing in AtomicCards.json"
The foreign data for German (and other languages) is missing in AtomicCards.json for the following cards:

Ezuri's Archers: Ezuris Bogenschützen
Copperhorn Scout: Kupferhornspäher
Kiln Fiend:  Meiler-Unhold
Act of Heroism: Heldentat
Grotesque Mutation: Groteske Mutation
Tumble Magnet: Magnet des Taumelns

These cards have two different Scryfall pages; one includes only the English, Japanese and Si

[2020-09-20 09:48] nicho92 opened #686 "Update MagicCardMarket values for Core Set"
#### Version(s) affected
- [ ] MTGJSON 4
- [ X ] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1+20200914

#### Description of Bug

McmName & mcmId Field for last coreSet are empty :

NAME                --        MCMName      --      McmId
Core Set 2019    --        Core 2019        --      1835
Core Set 2020    --        Core 2020        --      2447
Core Set 2021    --        Core 2021

[2020-09-21 15:30] ebbit1q commented on #679
https://mtgjson.com/data-models/card/#isAlternative states that the card simply has a variation on its original, checking the list of frame effects for ones you consider alternative and which are from an original printing (say devoid cards) does not seem like a good solution. The card does not have promotypes set at all.

[2020-09-21 17:40] kodawah commented on #679
yes it's a variation, and documentation should be probably improved. Sorry, I don't understand how devoid is related to this question, can you pleaseelaborate?

For the case at hand it is very possible that the mtgjson version you downloaded didn't have yet all the fields initialized, given it's a recent preview card. Today's mtgjson version has everything you need

[code]

[2020-09-21 18:44] ZeldaZach commented on #683
Can you provide a few examples so I can test against this?

[2020-09-21 18:55] #674 closed, assigned to nobody

[2020-09-22 01:29] kodawah commented on #683
PWOR is the simplest set to test, since you'll notice the date on crucible but not on horde, then any other Promos sets is game

[2020-09-22 09:44] ebbit1q commented on #679
devoid cards also have a frameEffects but are not alternatives

[2020-09-22 10:52] kodawah commented on #679
of course, but they also do not have any other printing than the one with the frameeffects, so there is nothing to differentiate from

[2020-09-22 11:44] ebbit1q commented on #679
that's the entire point....

[2020-09-22 13:28] kodawah commented on #679
I guess we're talking about different things then, let's start over.

`isAlternative` is set when you can't differentiate with the usual ways (promotypes, frameEffects, borderColor etc). For conspiracy and battlebond, this usually corresponds to cards having the same name but different illustrationId. For more recent sets (in particular promotypes==boosterfun) the illustrationId restriction does n

[2020-09-22 13:40] ebbit1q commented on #679
Let's show a simple usecase:
We want to have a list of all of the normal printings of a card in a set for every set. Now the simple way would be to have a single attribute saying which card is the normal printing. isAlternative missing would indicate the card being the normal/primary printing.
Instead of this we would have to check every single attribute to see which ones are different between the

[2020-09-22 20:46] ZeldaZach commented on #682
Looking further into this, it appears "correct" as-is, even if it's not the intended result. If you take a look at the data block, there are 4 copies of "Bonecrusher Giant" and 4 copies of "Stomp", as the faceNames are different. This does feel unintuitive, so maybe we can set the count to 0 for the back sides of split-like cards? Or maybe you have a proposed solution on how we can better provide

[2020-09-22 20:48] ZeldaZach commented on #680
This appears fixed

[2020-09-22 20:48] #680 closed, assigned to nobody

[2020-09-22 20:53] ZeldaZach commented on #677
I went through and tested a variety of cards, but the prices appeared there. Will ping back to the client.

[2020-09-22 20:53] #677 closed, assigned to ZeldaZach

[2020-09-22 20:58] JayDi85 commented on #682
Each deck's record must be one card with amount. Same as one line from standard text deck. With face cards only. So your deck file must have same structure as text deck but with full cards info.

[2020-09-22 21:08] JayDi85 commented on #682
If you want to add full faces info to json then look at scryfall data format. It contains additional faces or parts list with full info. One json object equal one printed card.

[2020-09-23 15:50] #683 closed, assigned to kodawah

[2020-09-23 17:13] #686 closed, assigned to ZeldaZach

[2020-09-23 18:24] taw opened #688 "Modal DFC's back cmc is wrong for every card"
Affects https://mtgjson.com/api/v5/ZNR.json (and future sets to come)

[They changed the rules again](https://magic.wizards.com/en/articles/archive/news/comprehensive-rules-changes-2020-09-22):

So:

* originally each face used own cmc
* then they chaged it so both faces use front's cmc
* now they changed it again, so non-modal DFCs use front face for cmc of both , modal DFCs use own cmc

mtgjson

[2020-09-23 19:15] 0az opened #689 "Runtime Warning from incompatible Gevent version"
#### Version(s) affected
- [ ] MTGJSON 4
- [X] MTGJSON 5

#### Version(s) tested against
5.0.1-4-g64e4e0a

#### Description of Bug

mtgjson5 exits with SIGSEV when started with Python 3.8.
[code]

[code]

[2020-09-23 19:26] 0az commented on #689
See: https://github.com/python-greenlet/greenlet/issues/178

Fixing this also means dropping support for 3.6.

[2020-09-25 10:59] jamadden commented on #689
Why would this mean dropping support for Python 3.6? gevent 20.9 supports the same versions of Python as gevent 20.6.x did, and the same goes for greenlet 0.4.17 and 0.4.16.

[2020-09-27 01:47] ZeldaZach commented on #624
Note for self: https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/providers/cardmarket.py#L209 this is _super wrong_ and can be fixed by better hashing the content

[2020-09-27 01:51] ZeldaZach commented on #689
My goal is to support py 3.6 still, which is why I'm not overly happy with the fix. Will do some testing on the latest version in a few days to see what happens on 3.6

[2020-09-27 20:02] DJCatBlitz opened #691 "Typos in two cards"
Text of

Kabira Outrider:
When Kabria Outrider enters the battlefield, ...
->
When Kabira Outrider enters the battlefield,

Obuun, Mul Daya Ancestor
Landfall - Whenever land enters the battlefield ...
->
Landfall - Whenever a land enters the battlefield

[2020-10-02 12:12] kodawah commented on #691
reported upstream, thanks

[2020-10-05 20:12] kodawah commented on #691
this should be fixed in today's release

[2020-10-05 20:13] #691 closed, assigned to nobody

[2020-10-05 22:57] ZeldaZach commented on #667
Upstream has started providing IDs matched for us. Woohoo! Will implement a fix soon

[2020-10-06 04:16] giniman opened #693 "Nylea's Huntmaster(THB-187) Korean data is missing."
Not sure all foreigndata missing.

[2020-10-06 09:50] KMB opened #694 "Add more data from Set to SetList / Include Identifiers"
Hello

Two suggestions:

a)
I was surprised by the lack of information (or at least the difference in information) when comparing Set with SetList. I would have expected SetList to be all the data that is in Set minus cards and tokens.

In order to get a list of sets including the translated information I would need to parse the AllPrintings file, which seems over the top.

My suggestion is to add

[2020-10-06 18:49] staghouse commented on #669
Wouldn't using the sha256 files circumvent this or am I missing something?

[2020-10-06 18:54] staghouse commented on #694
For context, SetList was originally created as an internal desire to populate documentation pages and download files, which is why it is pretty bare.

[2020-10-08 16:52] taw opened #696 "SZNR "Double-Faced Substitute Card""
They have `"layout": "normal"` and are generally pretending to be real cards.

They should probably have `"layout": "token"` or be marked as not a card somehow else.

[2020-10-08 17:10] taw opened #697 "ZNC foiling"
Not totally sure if it's a bug, as there are too many booster types to keep track of.

Anyway, https://mtgjson.com/api/v5/ZNC.json has everything marked as `"hasFoil": true`, implying ZNC cards are available as foil somewhere else in some weird booster type.

https://mtgjson.com/api/v5/C20.json does not.

Did something change between IKO/C20 and ZNR/ZNC, or is this a bug?

[2020-10-08 17:14] taw opened #698 "INV Urborg Skeleton foiling"
https://mtgjson.com/api/v5/INV.json

Chinese alt art Urborg Skeleton (134s) is marked as nonfoil-only.

Invasion had regular foils of all cards in boosters, so I believe this is incorrect, and it should have same foiling (both foil and nonfoil available) as all other cards in the set.

[2020-10-17 06:15] taw opened #702 "POR Assassin's Blade has wrong rarity"
Regular version of Assassin's Blade (80) is listed as uncommon, but Chinese alt art version (80s) as common.

They should both be uncommons.

[2020-10-18 18:44] ZeldaZach commented on #702
cc: @csuhta

[2020-10-18 18:44] ZeldaZach commented on #698
cc: @csuhta

[2020-10-18 18:45] ZeldaZach commented on #697
Yeah that looks off to me. cc @csuhta

[2020-10-18 19:38] ZeldaZach commented on #693
Should be fixed now :)

[2020-10-18 19:38] #693 closed, assigned to nobody

[2020-10-18 19:39] #696 closed, assigned to ZeldaZach

[2020-10-18 19:42] #694 closed, assigned to ZeldaZach

[2020-10-20 19:56] staghouse opened #705 "[Card Object] otherFaceParts, for collecting consistent UUID order for meld cards"
The problem im facing with meld cards is that as each card changes, there can either be 1 or 2 uuids, which can make logic funky and hard to work with when figuring out what the next card should (image some type of function where you are cycling through the parts.)

Something helpful would be a `otherFaceParts` that is a list of each part of the card, in a logical order, including its own id and w

[2020-10-31 02:46] kodawah opened #706 "add CollectorNumbers array to each card object"
Similar to Printings, this array should contain the collector numbers of the card as printed in same edition.
This should facilitate listing all the possible variations as the Variation array doesn't contain the original uuid

[2020-11-04 16:48] peardox opened #707 "Duplicate UUIDs"
By definition you can't have duplicate UUIDs but MZNR has four

OK it's a five card double_faced_token set (not the point)

Scryfall has good data for the cards including images for both faces of the four dfcs - https://scryfall.com/sets/mznr

Key = 976b53d2-dc89-5fb4-875a-c46db36aa254
Key = c78a16c2-30d1-5baf-ba63-1d1a4d9b26e9
Key = 4aecdd07-d9ca-5b6f-b2bb-c1b4a56b0e57
Key = 57d02f2f-edc5-5cdd-a4

[2020-11-06 04:28] ZeldaZach commented on #706
Just trying to understand this a bit more. The variations field intentionally doesn't include a self reference.

Set Foo with CardA printed 3 times (Denoted CardA1, CardA2, CardA3) should give enough information to link around.

[code]

What would adding the collector number to this sequence add that the UUID doesn't?

[2020-11-06 04:30] #697 closed, assigned to nobody

[2020-11-06 04:57] #666 closed, assigned to ZeldaZach

[2020-11-06 05:22] ZeldaZach commented on #682
I believe this was fixed by #708

[2020-11-06 05:22] #682 closed, assigned to nobody

[2020-11-06 13:06] kodawah commented on #706
two things are missing

1. the variations array does not contain the id of itself - this is understandable but in that case if you want to print all numbers of a card in a set you need additional logic to print the card itself, then print all the other variations. This is different from Printings where the SetCode of each card is printed, every time
2. the order is impacted, Printings allows for a

[2020-11-07 06:17] MidnightLightning opened #709 "Modern Horizons Art Series cards don't have "side" set properly"
All cards in the "Modern Horizons Art Series" are classified as `tokens` and have `layout` set to `art_series` (which are correct), however, all the tokens in the data file have `side` set to `a`, and none of them have `reverseRelated` values set.

So, as-is, there's no way to differentiate the "front" from the "back" for those tokens in the MTJSON data set: both have the `faceName` of the related

[2020-11-07 13:42] ChainsawXIV opened #710 "Card type array for some older cards contains bad values"
#### Version(s) affected
- [x] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1 API data as of 2020-11-07
Issue has been present since at least 2020-07-04

#### Description of Bug
The array of card types for some cards contains incorrect data which appears to have been parsed from the original 1990s style type lines for the cards.

For example, the types array for the card P

[2020-11-07 14:39] PierreJeanjacquot opened #711 "Missing CORS header in /api/v5/CON.json.sha256 and /api/v5/CON.json response"
#### Version(s) affected
- [ ] MTGJSON 4
- [X] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1+20201102

#### Description of Bug
When hitting https://mtgjson.com/api/v5/CON.json.sha256 and https://mtgjson.com/api/v5/CON.json the HttpResponse doesn't contain header `Access-Control-Allow-Origin: *`
This prevents fetch request to complete and to perform the redirection to the permanently move

[2020-11-07 18:11] JayDi85 opened #712 "CMR - wrong cost order in Amareth, the Lustrous"
#### Version(s) affected
- [x] MTGJSON 5

#### Version(s) tested against
current website

#### Description of Bug
[Amareth, the Lustrous](https://scryfall.com/card/cmr/266/amareth-the-lustrous) from CMR:
* must have cost: `{3}{G}{W}{U}`
* [mtgjson](https://mtgjson.com/api/v5/CMR.json) shows wrong cost order: `{3}{G}{U}{W}`

[2020-11-08 00:01] ZeldaZach commented on #712
Fixed

[2020-11-08 00:01] #712 closed, assigned to nobody

[2020-11-08 20:06] ZeldaZach commented on #711
Thanks for the alert. I've fixed this up! Had a bad Nginx rewrite rule :)

[2020-11-08 20:06] #711 closed, assigned to ZeldaZach

[2020-11-08 20:10] ZeldaZach commented on #710
This might be unintuitive, but this is working as expected. The card you're referring to is from [Astral Magic aka Shandalar](https://magic.wizards.com/en/articles/archive/feature/astral-cards-2009-02-12), which has several cards never seen since. These cards were never "real" in the sense of being collectable in any fashion. As such, they never received Oracle updates and we elected to keep the o

[2020-11-08 20:10] #710 closed, assigned to nobody

[2020-11-11 04:37] LKay opened #714 "Data for cards is incomplete or wrong"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

Version: 5.0.1+20201109

#### Description of Bug

### Issue with missing data

Card variations are missing data, such as translations, multiverseId etc. even if the card variations exist.

For example a card extended art variation of the `Agadeem's Awakening // Agadeem, the Undercrypt` from `ZNR` set. The car

[2020-11-12 18:16] taw opened #715 "CMR release date is wrong"
https://mtgjson.com/api/v5/CMR.json

I'm not sure where `"releaseDate": "2020-11-11"` is coming from.

Official release date is `2020-11-20`. [wiki](https://mtg.gamepedia.com/Commander_Legends), and [official page](https://magic.wizards.com/en/products/commander-legends) both list `2020-11-20`.

[2020-11-14 14:00] ChainsawXIV commented on #710
Thanks for the clarification.

Real vs. relics isn't really an issue for my application of the data, so much as having the relics pollute the user experience with data that looks wrong to the end user (in this case, the types from a filtered list of cards are gathered into the UI and used, and my users thought there was some kind of bleed-over from the subtypes and reported it as a bug to me).

Th

[2020-11-18 02:58] staghouse opened #716 "[Request] Card Model => setName"
I would like to see `setName` added to the card model as an preference over just setCode

[2020-11-19 13:04] giniman opened #717 "Cards are missing in CMR"
CMR-135, CMR-567 are missing.

They are all Nadier.

[2020-11-19 13:09] giniman commented on #717
Oh. already patched!

[2020-11-19 13:09] #717 closed, assigned to nobody

[2020-11-21 19:16] AEFeinstein opened #718 "Inconsistent MultiverseIds for ZNR Extended Art Cards"
#### Version(s) affected
- [ ] MTGJSON 4
- [X] MTGJSON 5

#### Version(s) tested against
v5.0.1+20201117

#### Description of Bug

Multiverse IDs for ZNR extended art cards seem to be inconsistent.

For instance, "Nissa of Shadowed Boughs" has `multiverseId`s for both #231 and #283.

But "Agadeem's Awakening // Agadeem, the Undercrypt" only has `multiverseId`s for #90a/#90b, not #335a/#335b
| Card

[2020-11-21 19:18] AEFeinstein commented on #718
Likely a duplicate of #714, I didn't check other open tickets first 😢

[2020-11-22 12:25] DJCatBlitz opened #719 "Typo in ability text for Juri, Master of the Revue"
MTGJSON 5.0.1+20201117

Juri, Master of the Revue:
Missing 'to' in ability text

[2020-11-25 15:23] epigamic opened #720 "Multiple MultiverseIDs missing from Secret Lair Drop"
#### Version(s) affected
- [ ] MTGJSON 4
- [X] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20201124

#### Description of Bug
A small subset of cards from Secret Lair Drop have MultiverseIDs in mtgjson but many more that are listed in Gatherer are missing them.

Files tested:
https://mtgjson.com/api/v5/SLD.json
https://mtgjson.com/api/v5/AllPrintings.json

Gatherer page with Secret Lair

[2020-11-26 02:19] ZeldaZach commented on #720
Hey mate, thanks for the report! Would love to get this fixed, and I think you might be able to help!

Can you provide me a full list of missing MultiverseIds? Maybe formatted as MTGJSON_UUID,MULTIVERSE_ID or SCRYFALL_UUID,MULTIVERSE_ID so I can import the changes?

[2020-11-26 09:24] epigamic commented on #720
Happy to help. Here is a list of MTGJSON_UUID,MULTIVERSE_ID for all cards on the referenced Gatherer page, including those which already have a MultiverseID in mtgjson. This includes correct MultiverseIDs for cards with multiple versions (Lightning Bolt, Serum Visions, Thalia, Guardian of Thraben.

4f83eed0-9565-5f56-9354-67f69fc9877d,497497
1571957b-0497-5eb4-98ea-fa1a8773299b,485311
15d2153c-840

[2020-11-30 19:38] ZeldaZach opened #722 "Crash v5 build"
MTGJSON 5.0.1+20201130: Build failed
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/mtgjson5/__main__.py", line 116, in main
    dispatcher(args)
  File "/usr/local/lib/python3.8/dist-packages/mtgjson5/__main__.py", line 93, in dispatcher
    build_mtgjson_sets(sets_to_build, args.pretty, args.referrals)
  File "/usr/local/lib/python3.8/dist-packages/mtgjson5/__m

[2020-11-30 22:35] #722 closed, assigned to ZeldaZach

[2020-12-01 03:18] jmcsmith opened #723 "TFTH json file has all items in tokens instead of 5 tokens and 10 cards."
#### Version(s) affected
- [ ] MTGJSON 5

#### Description of Bug
Current json for TFTH on the website has 15 items but they are all in tokens instead of 5 tokens and 10 cards.

[2020-12-01 09:44] DJCatBlitz commented on #719
Fixed with last update

[2020-12-01 09:44] #719 closed, assigned to nobody

[2020-12-01 09:49] DJCatBlitz opened #724 "Doubled entry in json array for Soulhunter Rakshasa"
#### Version(s) tested against

#### Description of Bug
Soulhunter Rakshasa has a double entry in this version. Only Unstable cards have multiple entries in the json array with same name and layout otherwise. Perhaps this is a bug?

[2020-12-02 00:50] SleazyOtto opened #725 "isPaperOnly missing"
isPaperOnly doesn't exist in V5 SetList.json, only in V4

[2020-12-03 02:52] giniman opened #726 "Some Prerelease Promos are missing."
#### Version(s) affected
- [ ] MTGJSON 5

#### Version(s) tested against

MTGJSON 5.0.0, Nov 30th.

#### Description of Bug
Prerelease Promotional cards, Malfegor (pcon-117★), Ajani Vegeant (pala-154★), Obelisk of Alara(pcon-140★) is missiong.
I am not sure the card set and numbering rules changed in prerelease promotional cards...

[2020-12-03 04:47] Palladinium commented on #726
I can confirm this, some promo cards appear to be missing when migrating from v4 to v5.

Tested with: https://www.mtgjson.com/api/v5/AllPrintings.json
Downloaded on Dec 3rd, 2020
sha256: `ff593ee0989e96c2623d36de3ed6a4e116c550884053d70970db1eefe2cc6495`

Missing cards:
- PEMN Hanweir Battlements // Hanweir, the Writhing Township
- PEMN Hanweir Garrison // Hanweir, the Writhing Township
- PHEL Ange

[2020-12-03 17:56] staghouse commented on #715
This has been resolved. Current date is now `2020-11-20` according to https://mtgjson.com/api/v5/CMR.json

[2020-12-03 17:56] #715 closed, assigned to nobody

[2020-12-03 18:12] staghouse commented on #725
`isPaperOnly` is an optional field and currently no Sets are only printed in paper. Not sure if thats a bug but you should not expect it to return false

[2020-12-03 18:44] SleazyOtto commented on #725
It's not that it returns false, it's simply not there (which fits the "optional" classification).  However, if it's not populated in any instance - not even Alpha? Beta? - why bother with it?
Mostly, I was just surprised when I saw it in the doc, but not in the actual data.  (i.e., no big deal)

[2020-12-03 18:46] staghouse commented on #725
Right, optional values that are false don't return at all, so it makes sense if you don't see it - but also, i agree that is strange that it never populates for any set. That's leading me to believe this is a bug.

[2020-12-03 23:48] Palladinium commented on #705
v4 used to work similarly to what you propose - meld cards had a `names` array that AFAIK was always in the order `[front_1, back, front_2]`, it included the current card, and was identical in all three cards.

As a workaround for v5, I've had luck with this method (pseudocode):

[code]

[2020-12-04 00:51] Palladinium opened #727 "UST Full-art tokens don't have otherFaceIds set"
#### Version(s) affected
MTGJSON 5

#### Version(s) tested against
v5.0.1
Downloaded from https://www.mtgjson.com/api/v5/AllPrintings.json on Dec 3rd, 2020
sha256: ff593ee0989e96c2623d36de3ed6a4e116c550884053d70970db1eefe2cc6495

#### Description of Bug
Affected cards: All of the two-sided full-art tokens in the Unstable (UST) set.
- Angel
- Beast
- Clue
- Elemental (Red)
- Elemental (White/Green)

[2020-12-05 07:48] ZeldaZach commented on #726
Rebuilt. This should be solved. Upstream was migrating promos around.

[2020-12-05 07:48] #726 closed, assigned to nobody

[2020-12-05 07:49] ZeldaZach commented on #725
Just took a look, and this field is 100% falsey in the v4. Since the field is optional, I see no issue with our current impl.

[2020-12-05 07:49] #725 closed, assigned to nobody

[2020-12-05 07:50] ZeldaZach commented on #724
Can you provide some more detail? v4, v5, or both? What file(s) did you see an issue in?

[2020-12-05 08:10] #723 closed, assigned to ZeldaZach

[2020-12-06 18:17] DJCatBlitz commented on #724
I'll try ;)
I use AtomicCards.json and when I parsed the json Soulhunter Rakshasa appeared two times. For all cards (except unstable) this means the cards have different layouts, are split cards, meld cards, ...
Only Soulhunter Rakshasa  had this problem with same layout.

[2020-12-06 21:39] michelg31 opened #728 "Set Translations have been failing for a while"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

5.0.1+20201203

#### Description of Bug
In setList.json, DATA information for each set.
For each DATA entry, you have a field translations.
It is consistant (with somemissing) until AKH but for release after AKH,  it is mostly empty with no entries or with Null values.

I checked in allprintings.zip and you d

[2020-12-06 22:17] michelg31 commented on #728
I double checked and there is also missing information in allprintings.sqlite

Example for WAR in set_translations

Language  | setCode | traslation
Chinese Simplified | WAR |  _Null_
Chinese Traditional | WAR |  _Null_
French | WAR | La Guerre des Planeswlakers
German | WAR |  _Null_
Italian | WAR |  _Null_
Japanese | WAR |  _Null_
Korean | WAR |  _Null_
Portuguese (Brazil) | WAR |  _Null_
Russia

[2020-12-07 00:24] Palladinium commented on #709
The same problem occurs with:
- Tokens in the "Zendikar Rising Art Series" (AZNR) set, whose layout is also `art_series`
- Tokens in the "Zendikar Rising Minigames" (MZNR) set, whose layout is `double_faced_token` (which is correct)

### Tested with
v5.0.1
Downloaded from https://www.mtgjson.com/api/v5/AllPrintings.json on Dec 7th, 2020
sha256: 2a64648632f787e5526aef65d1e2902e6fd314c152d29de37515c

[2020-12-08 13:30] taw opened #729 "https://mtgjson.com/api/v5/AllPrintings.json is 404"
On https://mtgjson.com/downloads/all-files/

https://mtgjson.com/api/v5/AllPrintings.json is 404.

It worked fine last week.

[2020-12-08 16:27] taw commented on #729
Looks like it's fixed now.

[2020-12-08 16:27] #729 closed, assigned to nobody

[2020-12-08 16:33] staghouse commented on #705
Thanks, im doing something similar myself as a workaround.

[2020-12-11 18:31] ZeldaZach commented on #716
I'm gonna close this as invalid, because you can extrapolate setName from setCode, and setName would be in English which might not be helpful to all folks using the service. I don't really see a point of this duplication of effort at this time.

If i'm wrong, please let me know why!

[2020-12-11 18:31] #716 closed, assigned to nobody

[2020-12-12 22:27] kodawah opened #730 "[alltcgskus] alt art of some non-English cards shadow the main id"
there are a few Simplified Chinese-alt art cards that got assigned the same tcgProductid of their English counterpart

https://scryfall.com/card/por/71s/zhs/taunt is an example

this led to a problem in the alltcgskus file: it seems like the id of the main edition got overwritten, and that the english data was assigned to the alt art card - in fact 6581eebc-bbf2-5d44-b325-d97e371bb59f in the file

[2020-12-15 19:49] krijoh92 opened #731 "Salvat 2005 is not marked as Foreign Only"
#### Version(s) affected
- [ ] MTGJSON 4 (Not tested)
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1+20201214

#### Description of Bug
Salvat 2005 is not marked as as foreign only set, `PSAL` set code missing from the [FOREIGN_SETS array](https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/consts.py#L50)

[2020-12-15 21:16] ZeldaZach opened #732 "Trigger Alarm if Price Push Fails"
It appears we hit a size limit on GitHub last month and our prices have failed to update the global database. I've mitigated the issue by assigning a new repo ID, but this will need addressing.

Damage done was a loss of price history between 2020-11-06 and 2020-12-14.

I'm thinking of scouting the [push operation](https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/price_builder.py#L96) and p

[2020-12-17 07:29] ZeldaZach opened #733 "Several missing decks from upstream"
A kind user provided me with missing decks from the GN2 block @taw can you look at incorporating these, if they aren't available yet?

Glorious Combat (White)

1 Highcliff Felidar  [GN2]
1 Zetalpa, Primal Dawn [GN2]
1 Kytheon's Irregulars [GN2]
1 Loxodon Lifechanter [M20]
1 Sephara, Sky's Blade [M20]
1 Griffin Protector [M20]
2 Inspiring Captain [M20]
2 Squad Captain [M20]
3 Steadfast Sentry [M20]

[2020-12-17 07:33] ZeldaZach commented on #709
Raising to High Priority

[2020-12-17 08:22] ZeldaZach opened #735 "Move off Travis in favor of GitHub Actions"
Priority operation as Travis no longer supports open source services :(

cc: @ebbit1q

[2020-12-17 08:36] #709 closed, assigned to ZeldaZach

[2020-12-17 08:40] ZeldaZach commented on #667
I put in a shunt to stop this issue 20413bf3bca5162c2e390380a4594c747789aa92

[2020-12-17 08:40] #667 closed, assigned to ZeldaZach

[2020-12-17 13:57] DJCatBlitz commented on #724
Fixed in 20201214 version!

[2020-12-17 13:57] #724 closed, assigned to nobody

[2020-12-17 14:08] taw commented on #733
It's all done now.

[2020-12-17 18:05] #735 closed, assigned to nobody

[2020-12-17 21:11] #733 closed, assigned to nobody

[2020-12-17 22:51] #720 closed, assigned to ZeldaZach

[2020-12-18 04:57] csuhta commented on #698
Fixed on Scryfall

[2020-12-18 04:58] csuhta commented on #702
Fixed on Scryfall

[2020-12-18 04:58] #702 closed, assigned to nobody

[2020-12-18 04:58] #698 closed, assigned to nobody

[2020-12-22 23:03] fverdoja opened #738 "Missing booster data for Amonkhet Remastered (AKR)"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

MTGJSON 5.0.1+20201221

#### Description of Bug
In `data.AKR` the `booster` attribute is missing.

Since it's an MTGA-only set, Amonkhet Remastered boosters don't have foils nor a basic land slot, so they should pretty simple. Deserts and other non-basic lands appear among the other cards of their rarity (as

[2020-12-23 01:29] silasary commented on #738
Upstream issue for https://github.com/taw/magic-sealed-data

[2020-12-23 03:38] #731 closed, assigned to nobody

[2020-12-23 15:19] fverdoja commented on #738
I didn't know you were taking the booster data from there. What do you suggest? Should I post the issue there as well or are the people involved in that project looking here?

[2020-12-23 19:58] ZeldaZach commented on #738
I just ping @taw normally. Speaking of that, hey Taw can you look into this? :)

[2020-12-23 22:00] taw commented on #738
@ZeldaZach is this true for all Arena draft boosters for Standard as well, not just remastered sets? That they never contain any foils, but otherwise match paper/MTGO boosters?

[2020-12-23 22:17] fverdoja commented on #738
Arena packs never contain foils, that's correct.
iirc, they also don't contain a basic land slot, unless in the set there are non-basic lands in the land slot.

[2020-12-23 23:38] taw commented on #738
I'll add Arena boosters for all sets then. They'll be listed as `arena` type not `default`. (and generally 0 foils, 1 rare/mythic, 3 uncommons, 10 color balanced commons, 0 basics)

[2020-12-24 04:45] taw commented on #738
Kaladesh Remastered and Amonkhet Remastered now have fixed Arena boosters.

[2020-12-26 19:11] jmcsmith opened #740 "Daily build for spoilers"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Description of Bug
Schedule daily builds for spoilers.

[2020-12-26 22:45] ZeldaZach commented on #740
I've marked Kaldeheim for spoiler builds starting tomorrow.

[2020-12-26 22:45] #740 closed, assigned to nobody

[2020-12-28 08:23] taw commented on #738
All sets now have Arena boosters.
[It's live on mtg.wtf](https://mtg.wtf/sealed) and should get included in next weekly update of mtgjson.

As long as the only differences are - no foils and no basic-only slot (but yes to mixed basic/common land slots) - I can add Arena boosters together with regular boosters.

So that's pretty much it for this issue?

[2020-12-28 15:08] fverdoja commented on #738
I think this solves it, thanks! If you want to include all sets present in Arena I think you are only missing Dominaria, otherwise this is closed ;)

[2020-12-29 09:18] taw commented on #738
I just forgot to enable Dominaria Arena Booster, it's there now.

[2020-12-29 09:20] fverdoja commented on #738
Thanks a lot for addressing this then :) I think this does it for this one.

[2020-12-29 09:20] #738 closed, assigned to nobody

[2021-01-05 21:22] DJCatBlitz opened #741 "Typo in Youthful Valkyrie"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against

#### Description of Bug
...put a +1/+1 counter on Youthful Valyrie
->
...put a +1/+1 counter on Youthful Valkyrie

[2021-01-11 04:04] staghouse commented on #679
Is there any documentation wordage updates I can make in relation to this ticket?

[2021-01-11 11:45] DJCatBlitz opened #742 "Missing word for Bretagard Stronghold"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1+20210109"

#### Description of Bug
Bretagard Stronghold is missing a "could" in its 3rd ability text

[2021-01-11 12:55] DJCatBlitz opened #743 "Typo in The World Tree"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.1+20210109

#### Description of Bug
Last ability of The World Tree:
into -> onto

[2021-01-11 13:14] DJCatBlitz opened #744 "Typo on Varragoth, Bloodsky Sire (Is it helpful to report these kind of bugs?)"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20210109

#### Description of Bug
search -> searches

[2021-01-11 13:26] DJCatBlitz opened #745 "Typo in Ranar the Ever-Watchful"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20210109

#### Description of Bug
in 2nd ability:
reature -> creature

[2021-01-11 16:02] ebbit1q commented on #679
no, I believe isAlternative should be changed to function like is described in the documentation instead. cards like lotus cobra that are a second printing with different art should be marked isAlternative instead of needing to compare their frameEffects. currently the workaround is to give precedence to the card with the lower collector number.

[2021-01-14 16:00] jmcsmith commented on #740
@ZeldaZach looks like the last build of Kaldheim was 1-9-2021. Are daily builds for spoilers still working?

[2021-01-14 16:28] ZeldaZach commented on #740
The builds were getting uploaded but not pushed live. I gotta fix that soon. In any case, deployed

[2021-01-15 06:22] KingSupernova31 opened #746 "The "keywords" field is missing from atomic cards"
The "keywords" field is on the "card" model but not the "card (atomic)" model for some reason. Keywords are dependent on oracle text and aren't printing-dependent, so they should be accessible on atomic cards as well.

[2021-01-15 09:01] DJCatBlitz commented on #743
Fixed

[2021-01-15 09:01] #743 closed, assigned to nobody

[2021-01-17 00:21] peardox opened #747 "Set AZNR has incorrect layout entry"
Every card in AZNR has a layout marked as 'token' while the proper layout from Scryfall is 'art_series'.

WotC have started introducing more double-sided tokens, AZNR and MZNR are examples (MZNR has double_sided_token)

[2021-01-17 19:11] #747 closed, assigned to ZeldaZach

[2021-01-17 19:20] #746 closed, assigned to ZeldaZach

[2021-01-17 19:21] ZeldaZach commented on #745
Fixed

[2021-01-17 19:21] #745 closed, assigned to nobody

[2021-01-17 19:22] ZeldaZach commented on #744
Reported and should be fixed shortly. As a general rule of thumb, during spoiler season assume some data might be slightly off. If you see an issue that persists more than 2 or 3 days, then it's worth reporting. A good chunk of these should get caught on the first audit, which happens after we load in the data.

[2021-01-17 19:22] #744 closed, assigned to nobody

[2021-01-17 19:24] ZeldaZach commented on #742
Reported, should be fixed shortly

[2021-01-17 19:24] #742 closed, assigned to nobody

[2021-01-17 19:25] ZeldaZach commented on #741
Reported and should be fixed shortly

[2021-01-17 19:25] #741 closed, assigned to nobody

[2021-01-17 19:29] ZeldaZach commented on #707
I worked on a fix with our upstream provider and this is no longer an issue!

[2021-01-17 19:29] #707 closed, assigned to nobody

[2021-01-18 00:36] kodawah opened #750 "Design for AllPricesV2.json"
This proposal describes the creation of a new file, supplanting most of the functionality of the current AllPrices.json and expanding the number of data points. Among the limitations of the current solution there is the fact that the generated file is pretty big in terms of size, can only host one type of price and it providing redundant information.

**Proposal**
The current nested dictionary str

[2021-01-19 01:41] peardox opened #752 "Set MZNR has incorrect layout entries (4 of 5)"
Every card in MZNR has a layout marked as 'token' while the proper layout from Scryfall is 'double_faced_token' for four of the five cards.

It's worth noting that WotC one single-sided token mixed in with this token set and rumor has it (not 100% on this) that there will a be similar token set for set boosters for KHM

This also affects a few other cards from some other sets - see https://scryfal

[2021-01-19 05:05] KingSupernova31 opened #753 "originalReleaseDate should be on atomic cards"
The originalReleaseDate of a card doesn't change with expansion since it always refers to the first one, so it can be on card (atomic).

[2021-01-19 05:06] KingSupernova31 opened #754 "Github defaults to v4 for bug reports"
Very minor issue, Github tells me I can only submit suggestions for v4.

![Screen Shot 2021-01-18 at 21 05 43](https://user-images.githubusercontent.com/27539004/104990182-200eeb00-59ea-11eb-91ac-17b91a80f02a.JPG)

[2021-01-19 05:09] KingSupernova31 commented on #688
Any update on this? It should be an easy fix, just check the layout and calculate the CMC based on that face's mana cost if it's an MDFC.

Also worth noting that this wasn't actually a rule change, MDFCs are a completely new thing, so it was just a rule addition in order to support them at all.

[2021-01-19 05:14] KingSupernova31 opened #756 "Type-changing CDAs are not taken into account"
MTGJSON fails to considers characteristic-defining abilities that modify a card's subtypes. Tajuru Paragon's subtypes are only Elf, not the other 4 types.

[2021-01-19 05:22] KingSupernova31 opened #757 "Keywords array needs a rework"
- Black Knight has "Protection", but not "Protection from White"
- Knight of Malice has both "Hexproof" and "Hexproof from", but not "Hexproof from white"
- Absorb Vis has both "Basic landcycling" and "Landcycling" while having neither "Typecycling" nor "Cycling"
- Commander's Plate just has "Equip", not "Equip commander"
- Deathmist Raptor has "Megamorph" but not "Morph"

[2021-01-19 15:34] nicho92 opened #758 "SQLLiteFile is empty"
#### Version(s) affected
- [ ] MTGJSON 4
- [X] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.0.0+20200703

#### Description of Bug
The SQLLite File in https://mtgjson.com/api/v5/AllPrintings.sqlite is empty.

[2021-01-19 16:30] #754 closed, assigned to nobody

[2021-01-20 13:57] splatterb0y commented on #758
This is also true for the regular SQL files.

[2021-01-20 15:55] patricklewis commented on #758
After discovering that https://mtgjson.com/api/v5/AllPrintings.sqlite had no data this morning I tried building my own sqlite file with [mtgsqlive](https://github.com/mtgjson/mtgsqlive) and encountered an error:

[code]

[2021-01-20 18:16] ZeldaZach commented on #758
I've reverted the breaking change upstream, and we'll have a new build of this file up today. Sorry for that issue.

[2021-01-20 18:16] #758 closed, assigned to nobody

[2021-01-21 13:15] kodawah opened #759 "Add isNonEnglishOnly card property"
I know foreign language support is being reworked, so i wanted to propose adding a flag to better identify which cards do not have an english printing.

This would be helpful to determine when to check the ForeignData array, and would simplify code that need to deduplicate cards by language

[2021-01-23 02:10] st-sha commented on #673
@peardox I am pretty interested in daily data that doesn't require JSON parsing to narrow it down. Have you made any headway on the extractor?

[2021-01-23 08:40] peardox commented on #673
@anawis Yep, Lots. My current model is two end-product tables (with a fair few intermediate ones) that boil everything down to two MySQL tables for my own specific uses.

The prices stuff I create a pricegrid of one row per uid with 14 fields - the uid, a timestamp + 3 x 4 lots of prices (only interested in paper). This is probably what you want.

This price table links to a cards table called uui

[2021-01-27 22:10] clsn-eng opened #760 "KHM snow duals incorrectly listed as commons"
#### Version(s) affected
Whichever version is live on the website.

#### Version(s) tested against
The download from the website

#### Description of Bug
The common snow dual lands are listed as commons.
They should be listed as appearing in the same slot as the basic lands.
eg. M19 is a set which has the same booster structure.

[2021-02-05 12:10] Fyzxs opened #761 "Inconsistency in how 10th edition cards represent having a foil version"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
5.1.0+20210201

#### Description of Bug
125 of the 383 cards in 10th Edition have their foil versions as variations instead of using the `hasFoil` flag.

Example card: `Ancestor's Chosen`  from 10E Set JSON
[code]

The inconsistency makes the data hard to accurately consume.
The 125 UUIDs for 10th I found with

[2021-02-07 01:25] KingSupernova31 opened #762 "Kaldheim Commander incorrect legalities"
Cards from Kaldheim Commander are showing up as not legal in any format for some reason. Tested in Atomic Cards.

[2021-02-07 07:41] ZeldaZach commented on #761
Hey @Fyzxs thanks for the ticket. I know it might be weird, but this is intentional behavior. In 10th edition, they played around with the concept of "foil cards have different printed text" via removing reminder text. As such, the foil and non-foil variants are technically different objects. They seem to have backed away from this concept, but in 2007 they [thought it was a good idea](https://mag

[2021-02-07 07:41] #761 closed, assigned to nobody

[2021-02-07 07:41] ZeldaZach commented on #762
Fixed

[2021-02-07 07:41] #762 closed, assigned to nobody

[2021-02-07 07:42] ZeldaZach commented on #760
This sounds like a booster issue. cc: @taw

[2021-02-07 11:49] taw commented on #760
Like with every set, booster information went through a bunch of iterations, as there's usually something missing from official data.

Latest data should all be correct I think.

[2021-02-08 02:13] ZeldaZach commented on #727
Priority raised by Mythic Patron

[2021-02-08 02:13] ZeldaZach commented on #705
Priority raised by Mythic Patron request

[2021-02-08 13:41] venning opened #763 "`hasAlternativeDeckLimit` not set for Seven Dwarves"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
"MTGJSON 5.1.0+20210207"

#### Description of Bug
The `hasAlternativeDeckLimit` boolean for the card "Seven Dwarves" is not set in Atomic Cards.

Description for this property in the docs: "If the card allows a value other than 4 copies in a deck".

Seven Dwarves allows for up to 7 copies of itself in a deck,

[2021-02-09 21:51] ChainsawXIV opened #764 "Incorrect multiverseId by side for some MDFCs"
#### Version(s) affected
- [ ] MTGJSON 4
- [x] MTGJSON 5

#### Version(s) tested against
MTGJSON 5.1.0

#### Description of Bug
In some but not all cases, the multiverseId values for the various faces of modal double faced cards are incorrect. I have not checked all MDFCs, but a quick spot check shows that, for example:

- All Kaldheim god cards have their front and back multiverseIds swapped betw

[2021-02-09 21:56] ChainsawXIV commented on #763
This should likely also be set for Once More with Feeling which has a special deck limit of one.

[2021-02-09 22:29] peardox opened #765 "baseSetSize incorrect since M21"
Looking at recent standard sets...

ELD 269 269
THB 254 254
IKO 274 274
M21 274 277*
ZNR 280 285*
KHM 285 290*

The first number is the base set size as quite by Wikipedia +Fandom, the second number is the one reported by MTGJson. Since M21 the numbers appear to be incorrect (to high - can't quite work out which extra cards are being counted).

[2021-02-10 00:33] ZeldaZach commented on #763
Thanks for pointing this out, I'll get around to fixing this soon!

[2021-02-12 00:54] kodawah commented on #765
im affected by this as well

[2021-02-12 12:45] ZeldaZach commented on #765
Will look into this as soon as I can

[2021-02-12 20:28] peardox opened #766 "PLIST Rotation issues"
First I'll mention the obvious, this one is admittedly of limited interest (basically important only to those, like myself, who wanna know the source of a given printing)

With the release of [KHM](https://mtg.fandom.com/wiki/Kaldheim) WotC rotated 48 cards in [PLIST](https://mtg.fandom.com/wiki/The_List) removing some from the [ZNR](https://mtg.fandom.com/wiki/Zendikar_Rising) version of PLIST.

[2021-02-13 01:21] peardox commented on #766
For anyone who's interested I've split out PLIST into PLIST (Cards in both versions), PLISTZNR (ZNR only) and PLISTKHM (KHM only)

Note that I'm only providing the details of where a card 'properly' lives, you'll need to apply it yourself to your own setup (unless MTGJson decide to do something similar to my version).

Note that this also breaks SetList, and PLIST a bit as PLIST now only has 252 c

[2021-02-15 20:42] taw commented on #765
I tried using baseSetSize for my sealed data, but then discovered the same 3 issues.

[2021-02-16 12:06] kodawah commented on #766
this is interesting, and very much needed.

design-wise i'd just avoid introducing a new set code, but rather keep the "official" PLIST code and add a subfield for the parent code. Alternatively the PLIST card objects could have an array similar to `Printings` containing all the associated sets whose PLIST card appears in (it's not excluded that a card may be added, then removed, then added again)

[2021-02-16 12:06] kodawah commented on #766
the same should/could be done for the silly promo pack cards btw

[2021-02-16 18:15] peardox commented on #766
I made https://decknet.co.uk/fixups.php deliberately as structure-neutral as possible as that way the data is easy to adapt to whatever structure you want to use personally for your data. The fixups json only says that a specific card uuid is part of my virtual PLISTZNR/PLISTKHM  sets. Armed with that info any dev can implement their own solution such as your Printings concept.

If you look at htt

[2021-02-17 17:16] peardox commented on #765
Having explored for a few hours it appears that Scryfall _may_ have mis-labelled some M21 + ZNR cards
Using https://magic.wizards.com/en/productdetails as a (badly laid out) reference it appears that ...

M21 #275-277 (alt art Teferi, Master of Time) are not main set cards (it's also got PWDeck cards just to confuse things...)
ZNR #380-384 (standard lands) are not main set cards
KHM, on the other

[2021-02-17 18:05] peardox opened #767 "isInBooster option available upstream"
Scryfall has a promo_types array that is not fully passed to MTGJson
Scryfall has a booster field that is omitted in MTGJson

Taking https://api.scryfall.com/cards/ce2bc7ad-458d-445e-a0a9-7897b596fdd0?format=json&pretty=true as an example the card's promo_types includes 'planeswalkerdeck' and has a booster entry of false

This information indicates that the sample card is to be found in Planeswalk

[2021-02-18 01:42] ZeldaZach commented on #767
That booster field looks new, will have to audit the docs. Might use that to fixup/drop that isStarter component.

As for PWD, that's not a "promo" type imo. It's just indicating the card is only in promo decks, a special kind of deck. Will think more of this in the coming weeks.

[2021-02-18 01:44] ZeldaZach commented on #766
I like the concept of multiple PLIST files personally, each with their own annotation on which they're based on. Will bring up this idea with an upstream provider and get their take.

[2021-02-18 01:45] ZeldaZach commented on #759
I like this idea. I don't have a way to pull in foreign-only cards yet, so it's on the backburner. But i'll keep it in mind!

[2021-02-18 01:46] ZeldaZach commented on #757
Thanks for catching these, will make a motion to fix these ones reported.

If you have a full list of broken/incomplete ones, and a list of corrections, that would be even better!

[2021-02-18 01:49] ZeldaZach commented on #756
I'm not 100% sold on this being a MTGJSON issue. Since Wizards didn't include this data on the type line, it's a bit in-genuine for me to alter the data to account for data in the card's body.

This feels like a project-specific use case, but I'm open to other opinions on the topic.

[2021-02-18 01:52] ZeldaZach opened #768 "Support releaseDate"
Useful entities of cards, non-atomic, that show when a card was first released. This is especially helpful for sets that are conglomerates of multiple release cycles (think FNM promos)

[2021-02-18 01:54] ZeldaZach commented on #768
(Durrrr I did this already in #685)

[2021-02-18 01:54] #768 closed, assigned to nobody

[2021-02-18 01:55] ZeldaZach commented on #753
This could come about by taking the min value of all release dates in the cycle, taking into account the set release date if a date isn't found... I'll think about it.

Other comments are welcomed!

[2021-02-18 01:56] ZeldaZach commented on #752
I'll look into this further in the near future, thanks for bringing it up.

[2021-02-18 01:58] ZeldaZach commented on #730
I need to look into this further, at some point.

[2021-02-18 01:58] ZeldaZach commented on #728
Will have to re-audit my set translation code, as Wizards breaks things a lot :)

[2021-02-18 01:59] ZeldaZach commented on #718
Looks to be an issue upstream

[2021-02-18 02:00] ZeldaZach commented on #714
Yeahhh dupe of #718 (I know this is older, but I saw that one first )

[2021-02-18 02:00] #714 closed, assigned to nobody

[2021-02-18 02:00] ZeldaZach commented on #684
AtomicCards needs better handling of foreign data, and not selecting on a primary basis. This is indeed a bug.

[2021-02-18 02:01] ZeldaZach commented on #679
Will be deprecating isStarter, as it's just confusing. I will look at adopting Booster instead, as that's more useful anyway.

[2021-02-18 05:11] peardox commented on #766
This conceptually applies to other sets - JMP springs to mind as they have replacement cards for Arena which muddles things up. I'm sure Arena will happily trample over other sets when it feels like it...

[2021-02-18 07:22] peardox opened #769 "A problem with no upstream solution (card orientation)"
Maybe you've noticed that AZNR has cards in both portrait and landscape orientation? If not, the set has that dubious distinction. Fortunately they _appear_ to be one block or portrait followed by another block or landscape (36 and 45 cards respectfully - note I need to verify this assumption)

The yet-to-hit-scryfall [AKHM](https://magic.wizards.com/en/articles/archive/card-image-gallery/kaldheim

[2021-02-19 00:26] kodawah commented on #766
imo it's a bit of repeated data, but as long as there is a common way to retrieve PLIST and PROMOPACK data sources, i'm all for it

[2021-02-19 00:32] peardox commented on #766
What data is repeated?

It's not like I'm suggesting sticking a repeated currency field in the middle of a load of numerical information

[2021-02-19 01:56] kodawah commented on #766
Each PLIST-ZNR, PLIST-KHM etc will contain the full set of cards with all the data, which will be identical to the ones present in the PLIST set. My suggestion was aiming at reducing the repetition and just add the relevant information (aka in which of the many PLIST sub sets a card is present)

this is extremely passive aggressive and really unproductive, if you are grumpy about something it's ok

[2021-02-19 20:38] Lockheed-Dragon opened #770 "Identify Tourney Promos"
Currently all "tourney" promos have the tag promoType == "tourney", this doesn't help identify the type of promo, for example, Mutavault has both a Grand Prix and a Champs promo, both are tagged in an identical fashion. If we are searching without the exact set code, this can cause some confusion.

Can we add identifiers like "tourney,grandprix" or "tourney,champs" similar to the way FNM promos ar

[2021-02-27 19:44] KingSupernova31 commented on #753
Oh, does originalReleaseDate of a card in a particular expansion refer to that expansion's release date? I assumed it was referring to the first printing of that card in any expansion. If it's the former, I still support the described field in atomic cards, but think it should be given a different name to avoid confusion.

[2021-02-27 19:51] KingSupernova31 commented on #756
It's definitely an MTGJSON issue, it's inconsistent with how you treat other cards. You do take into account the CDA on Ghostfire making it colorless, for example. Either taking into account all CDAs or taking into account none of them would both be reasonable approaches, but doing a rather arbitrary half and half is confusing and leads to inconsistent results.

I think taking all CDAs (and color

[2021-02-27 19:55] KingSupernova31 commented on #757
There are probably hundreds of errors like these; whatever the parsing logic is doing seems to break on most keywords that have arguments or variables. I just picked a few of the clearest examples to showcase the issue, but they're not isolated problems.

[2021-03-16 06:01] cognivore opened #773 "In AllPrintings.json, set legality depending on the printing"
## Clarification and Motivation

Currently, legality seems to be determined based on the most legal printing of a given card, as seen in this gold-bordered printing of Arcbound Ravager:

![Screenshot of well-structured JSON representing a gold-bordered Arcbound Ravager MTG card that has legality: modern, ...](https://user-images.githubusercontent.com/66186054/111262671-8c8a1d00-861c-11eb-9dbb-faf5

[2021-03-19 05:32] camfulton opened #774 "Secret Lair Teferi, Hero of Dominaria missing artist attribution in AllPrintings"
#### Version(s) tested against

MTGJSON 5.1.0+20210316

#### Description of Bug
The Secret Lair Drop Teferi, Hero of Dominaria has an empty artist attribution.

The attribution on the card is "KNIIO".

[2021-03-24 17:11] staghouse commented on #769
+1 this. Would like a property like `"orientation": "portrait || landscape"`

[2021-03-24 20:54] splatterb0y opened #777 "mcmIds missing for "buy a box"-promos"
Version: 5.1.0+20210322

"Athreos, Shroud-Veiled" a Buy a Box-Promo for THB does not have it's mcmId attached.
It should be mcmId 429026. This might be true for other BAB promos too.

[2021-03-25 19:26] lfgcampos opened #778 "Missing Kaldheim Art Series"
Kaldheim also has an Art Series.
Other sets have it included but Kaldheim not.

Link for reference: https://mtg.fandom.com/wiki/Kaldheim/Art_Series

[2021-03-28 12:12] nicho92 opened #780 "TSR Timeshifted cards are all "false""
#### Version(s) tested against
MTGJSON 5.1.0+20210326

#### Description of Bug
all timeshifted cards in TimeSpiral Remastered have "isTimeshifted" attribute to false.

[2021-04-01 20:00] kodawah opened #781 "load mcmId from scryfall"
It would be nice to keep data in sync with upstream and use scryfall to load the cardmarket information as available

Especially now that the mkm api seems gone for a while, having a reliable third party to keep providing this kind of data seems useful

[2021-04-04 04:02] patrickgaskill opened #782 "originalReleaseDate missing on Mesmeric Glare promo face"
#### Version(s) tested against

MTGJSON 5.1.0+20210222

#### Description of Bug

The Mesmeric Glare adventure face on the PMEI promo is missing its originalReleaseDate, which exists on its other face Hypnotic Sprite.

Mesmeric Glare mtgjsonv4Id: `8d87b558-d73f-5f11-92ca-0d813c3af60b`

[2021-04-05 00:48] giniman opened #783 "STX-181 has two data set in same 'set'"
#### Version(s) tested against

#### Description of Bug
STX-181 has two data set.  The one has watermark 'prismari'. Another has not.

[2021-04-05 06:03] giniman opened #784 "Missing card data in STX"
#### Version(s) tested against

#### Description of Bug
stx-297
stx-300
stx-302
stx-304
stx-306
stx-314
stx-322
stx-337
stx-339
stx-342
stx-351
stx-359
stx-380

[2021-04-09 11:36] gweniche opened #786 "Set Foreign White Bordered missing"
Hi,

the set Set Foreign White Bordered is missing.

Thx.

[2021-04-09 11:38] gweniche opened #787 "Problem prices for chronicles, rennaissance and legends"
Hi,

there is a problem with the prices from card market for the set chronicles, rennaissance and legends, they are not accurate.

Thx

[2021-04-09 11:41] gweniche opened #788 "wrong translation for Vesuvan Doppelganger"
Hi,

they re is a wrong translation for Vesuvan Doppelganger  in french for the set Foreign Black Border and Revised Edition, actually its Mutaforme Vesuvano but for french should be 'DOPPELGANGER VÉSUVÉEN'.

thx

[2021-04-12 15:43] staghouse commented on #759
+1

[2021-04-16 11:52] fverdoja opened #789 "Missing cards in STX"
#### Version(s) tested against
MTGJSON v5.1.0+20210414

#### Description of Bug
In the STX booster there are these card ids (in the `nonlessonRareMythic` sheet) which do not appear in the card list:
[code]
Maybe related to #784
Maybe of interest of @taw

[2021-04-16 12:17] fverdoja commented on #789
After a bit of reverse engineering, it seems to me the two card ids should correspond to:
[code]

[2021-04-16 12:24] taw commented on #789
Here's the visualizer, it always matches latest data, even before it gets to mtgjson: https://mtg.wtf/pack/stx

Anyway two most common issues:

* Most times new set comes out, mtgjson uuids for a few cards will change. Due to the way we update things, if uuid changes, mtgjson's card sheet data will contain old uuid for whole week. That's probably what affected cards 20/151, as I can definitely see

[2021-04-16 12:29] fverdoja commented on #789
Thanks for the clarification.
It seems you are correct, cards 20/151 are in the card list, but their uuids are different than the ones in the booster data. In the card list, they are:
[code]
So I guess this will solve itself next build?

[2021-04-16 12:30] taw commented on #789
Yeah, I can confirm cards 20, 151, and 285 changed uuids this week. Updated data should be automatically picked up for next week's update.

[2021-04-16 15:25] ZeldaZach commented on #789
This issue appears to be resolved, with a change on Taw's side :)

[2021-04-16 15:25] #789 closed, assigned to nobody

[2021-04-18 15:51] GaryTheHutt opened #790 "STX most double-faced cards have wrong MultiverseID"
Most of the double-faced cards in the STX with multiple versions set have their multiverseIDs reversed. The multiverseID associated with the card name and sequence in the database are backward from the listing in Gatherer.

[2021-04-18 18:15] ZeldaZach commented on #788
Thanks for the report! I've validated the claim and filed it upstream. Should be fixed soon :)

[2021-04-18 18:17] ZeldaZach commented on #787
Can you provide more information? What makes you think the prices are inaccurate?

[2021-04-18 18:23] ZeldaZach commented on #784
Fixed!

[2021-04-18 18:23] #784 closed, assigned to nobody

[2021-04-18 18:24] ZeldaZach commented on #783
Fixed!

[2021-04-18 18:24] #783 closed, assigned to nobody

[2021-04-18 18:27] ZeldaZach commented on #782
Thanks for the report. I've validated the issue. Will look into a fix soon!

[2021-04-18 18:27] ZeldaZach commented on #781
We have access to the MCM API again, but I do agree we should have redundancies in place.

[2021-04-18 18:28] ZeldaZach commented on #780
Thanks for the report! I've validated this issue and will work on a fix soon :)

[2021-04-18 18:31] ZeldaZach commented on #778
Thanks for the report! Seems like these were missed upstream, I've left a note and we'll get to this soon :)

[2021-04-18 18:34] ZeldaZach commented on #777
Yep this appears to be an issue with mtgjson. will investigate further soon!

[2021-04-18 18:35] ZeldaZach commented on #774
This was fixed up a few weeks ago, thanks for the report!! :)

[2021-04-18 18:35] #774 closed, assigned to nobody

[2021-04-18 18:40] ZeldaZach commented on #773
Hey @cognivore I just double checked to confirm and legalities are determined on a per-printing basis as-is. Is there something I'm missing here?

[2021-04-18 18:44] ZeldaZach commented on #770
Hey Lockheed! Looking further at this, can you not just use the set name to determine the type?

[2021-04-18 18:48] ZeldaZach commented on #786
Hey there! Thanks for the report. I see that FWB isn't supported yet, on FBB. I'll page upstream sources to see if there are future plans. If not, will look into my own methods.

[2021-04-18 18:52] ZeldaZach commented on #790
Hey @GaryTheHutt can you provide me a csv/list of the offending cards? `MTGJSON uuid, Gatherer ID` or `Scryfall uuid, Gatherer ID` would be greatly appreciated!

[2021-04-19 18:10] Lockheed-Dragon commented on #770
Hey Zach, you'll notice in the initial comment, that we may be searching without the exact set code.
Though I can examine the set code of each card returned in my search and extrapolate from there, that's adding complexity that doesn't exist for other similar situations as noted above for FNM promos.

Consistency is king! :)

[2021-04-20 11:39] gweniche opened #791 "Wrong translation for CONFRONTEZ LES TÉNÈBRES set"
Hi,

they re is a wrong translation for Eldritch Moon in french for the set, actually its CONFRONTEZ LES TÉNÈBRES but for french should be 'Lune Hermétique'.

thx

[2021-04-21 01:45] rjmac opened #792 "Some modal double-faced cards have the wrong originalText on one face"
#### Version(s) tested against
MTGJSON 5.1.0+20210417

#### Description of Bug
A large number (but not all) modal double-faced cards have a single face's `originalText` field assigned to both faces.  It's not consistent which face ends up with the winning text.  Sometimes it's side A, sometimes side B.  I haven't confirmed yet, but I think they're all Kaldheim and Strixhaven cards?  Anyway, here's

[2021-04-25 19:42] KingSupernova31 commented on #773
Gold-bordered cards aren't legal in Modern.

[2021-04-25 19:47] KingSupernova31 opened #793 "Add manaValue field"
Converted mana cost has been renamed to mana value. All fields referencing it in the JSON should eventually be updated. This is a breaking change, so it would probably be best to add duplicate `manaValue` fields and leave `convertedManaCost` around until the next major update.

[2021-04-28 11:00] gweniche commented on #787
Like this card for example, https://www.cardmarket.com/fr/Magic/Products/Singles/The-Dark/Ball-Lightning, the price in database are too low.

[2021-05-02 03:32] ZeldaZach commented on #793
Your proposed solution makes sense, but I'm very hesitant of renaming such a "critical" field until we ensure our audience is well informed. Will look at adding manaValue, but CMC will be lingering until v6 most likely.

[2021-05-06 17:06] valentinoredo opened #797 "STX promo cards"
Version: MTGJSON v5.1.0+20210503

Hi,
in STX Set json file there are some cards which have the same mcmid.
For example:
Fracture, number 188, mcmid 558037
Fracture, number 378, mcmid 558037

I'm not expert about MTGJSON files but I think it's an error as they are two distinct cards and on mkm there are two cards, one for main set, one for promo set

[2021-05-06 17:11] lafadot opened #798 "mcmid on STA Set"
MTGJSON Ver: v5.1.0+20210503

Hi,
I noticed that for STA Set, only 8 of 126 cards have an mcmId. Is it right ? I guess almost all cards should have an mcmid, isnt it?
I also know that MagicMarket APIs are facing some issues, maybe it's related to the actual API fault?

Thank you

[2021-05-13 12:57] kodawah opened #799 "future sealed work"
tracking bug for some sealed work I'd like to see before public release

- [x] if appropriate, add number of boosters in the box
- [x] add a category field - we need to be able to understand whether a product is a booster box/booster pack/deck/special set
- [x] add a decklist reference - for set with defined decklists we need references to the cards contained or links to additional resources
- [ ]

[2021-05-17 06:21] splatterb0y commented on #777
The 2021 Judge Reward "The Gitrog Monster" - mcmId 557289 has the same issue.

[2021-05-25 00:15] jmcsmith opened #800 "Add MH2 to daily spoiler runs"
MH2 is currently being spoiled.

[2021-05-25 12:28] lfgcampos commented on #778
Already include, thank you @ZeldaZach!

https://mtgjson.com/api/v5/AKHM.json

[2021-05-25 12:28] #778 closed, assigned to nobody

[2021-05-25 19:47] ZeldaZach commented on #800
Done, building now

[2021-05-25 19:47] #800 closed, assigned to nobody

[2021-05-27 02:45] patrickgaskill opened #801 "Non-legal subtypes in CardTypes.json"
#### Version(s) tested against
MTGJSON 5.1.0+20210524

#### Description of Bug

`CardTypes.json` contains a number of types that aren't in the Comprehensive Rules:

- Creature types
    - Chicken -- From `Robot Chicken`, which is black bordered but Scryfall has as `memorabilia: true`
    - Head -- From `Skull Saucer`, a silver-bordered Unsanctioned card
    - Hornet -- From before the grand creatu

[2021-05-27 07:26] Samurus commented on #798
Hi,
I just found this project but I did some research with scryfall and MCM. Here is some related information which might help:

I figured that scryfall has about 59k "products" while only 45k have a cardmarketId. Multiple Issues come together here:
Problem 1 - unmapped Set codes:  MCMcombines multiple sets to one set. I think around 300 sets are missing or have another code there.
Problem 2 - dif

[2021-05-27 07:38] Samurus commented on #624
linked issue: https://github.com/mtgjson/mtgjson/issues/798
I also commented some of my insights.
How is the progress? Whats the best way to help here?

[2021-05-27 15:27] AEFeinstein opened #802 "CC1 Missing Multiverse IDs"
#### Version(s) tested against
v5.1.0+20210526

#### Description of Bug
Commander Collection: Green does not have multiverse IDs listed, but they do exist on Gatherer:
https://gatherer.wizards.com/Pages/Search/Default.aspx?set=[%22Commander+Collection%3a+Green%22]

It's a small set, so here are the missing multiverse IDs:
[code]

[2021-05-31 20:39] SteveLGK opened #803 "Duplicate UUID in MH2 JSON version"
#### Version(s) tested against
  "meta": {
    "date": "2021-05-30",
    "version": "5.1.0+20210530"
  },

#### Description of Bug

The following card appears twice. From my comparison (eyes only), there are no differences. Even the UUID is the same.

     {
        "artist": "Steven Belledin",
        "availability": [ "mtgo", "paper" ],
        "borderColor": "black",
        "colorIdentity": [

[2021-06-01 20:15] Samurus commented on #798
List of Scryfall Sets with missing cardmarket product id mappings :

aznr, Zendikar Rising Art Series
wc04, World Championship Decks 2004
oc20, Commander 2020 Oversized
anb, Arena Beginner Set
trna, Ravnica Allegiance Tokens
ddr, Duel Decks: Nissa vs. Ob Nixilis
tmm3, Modern Masters 2017 Tokens
j13, Judge Gift Cards 2013
phel, Open the Helvault
pana, MTG Arena Promos
oc15, Commander 2015 Oversized

[2021-06-03 14:58] antzidious opened #805 "Wrong release date for preconstructed decks"
#### Version(s) tested against
v5.1.0+20210601

#### Description of Bug
Preconstructed decks `Awakening Earth` and `Song Dance` from M20 both have a release date of 2021-11-08, which is incorrect. I believe this should be 2019-11-08.

[2021-06-18 19:42] staghouse opened #806 "Ability keywords taking on wrong values"
#### Version(s) tested against
v5.1.0+20210616

#### Description of Bug

Ability words is incorrect, its instead taking on keyword-abilities.

https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/compiled_classes/mtgjson_keywords.py#L23

[2021-06-18 19:44] staghouse commented on #806
We should also make sure that EnumValues.json takes on the right values

[2021-06-18 20:08] staghouse opened #807 "AtomicCards are missing UUID"
#### Version(s) tested against
v5.1.0+20210616

#### Description of Bug

AtomicCards.json seems to all be missing uuid on each card

[2021-06-19 00:23] staghouse commented on #799
assuming you're talking about `sealedProduct` - `releaseDate` may return null, is this intentional?

[2021-06-19 08:05] nicho92 commented on #780
In the same Way , MH2 timeshifted cards to

![image](https://user-images.githubusercontent.com/11507615/122635736-e26fd480-d0e5-11eb-829b-ae1212aeb1cb.png)

[2021-06-23 01:13] kodawah commented on #799
@staghouse yes i'm referring to the new element. I think `releaseDate` is just what tcg reports, we probably should strip empty values though (cc @tpblaster)

[2021-06-25 08:08] lfgcampos opened #808 "Add AFR to daily spoiler runs"
AFR is being spoiled since yesterday (June 24th) and it would be benefical to have it on the daily runs.

[2021-06-26 00:49] ZeldaZach commented on #808
These spoilers were successfully added yesterday, but thanks for the re-reminder!

[2021-06-26 00:49] #808 closed, assigned to nobody

[2021-06-26 00:50] ZeldaZach commented on #807
Intentional as AtomicCards inherently don't have a MTGJSON UUID

[2021-06-26 00:50] #807 closed, assigned to nobody

[2021-06-26 00:50] ZeldaZach commented on #805
cc @taw

[2021-06-26 06:50] taw commented on #805
Fixed

[2021-06-28 15:17] joe-nasti opened #809 "incorrect cardKingdomFoilId for Cursed Totem"
Tested against AllPrintings.json
{'date': '2021-06-25', 'version': '5.1.0+20210625'}

'uuid' : '2ecba824-4c05-5cdf-8377-e46e4b9d757e'
'name' : 'Cursed Totem'
'cardKingdomId' : '246436'           #  correct mtg/modern-horizons-2/cursed-totem
'cardKingdomFoilId' : '247185'       ​#  incorrect mtg/modern-horizons-2/cursed-totem-foil-etched
'tcgplayerProductId' : '240154'      #  correct https://store

[2021-06-29 11:47] jmcsmith opened #810 "Add AFR to daily spoiler builds."
I believe AFR spoilers just started.  Thanks

[2021-06-29 12:37] AEFeinstein opened #811 "Duplicate Arabian Nights Cards"
#### Version(s) tested against
MTGJSON v5.1.0+20210628

#### Description of Bug

Some cards in ARN.json are now duplicated. For example, there are two entries for Army of Allah with the same `uuid`. The only difference is one has an `mcmMetaId` and `cardmarket` `purchaseUrls` and the other does not.

You can see the duplicate cards which were added in the diff of my patch: https://github.com/AEFei

[2021-06-30 09:47] lfgcampos commented on #808
Hey @ZeldaZach, sorry to ping you but seems like they are not running daily or I missed something... there were lots of spoilers yesterday but last build it still `20210628`.

[2021-06-30 09:47] lfgcampos commented on #810
Dup of https://github.com/mtgjson/mtgjson/issues/808

[2021-06-30 14:47] #810 closed, assigned to nobody

[2021-06-30 14:48] ZeldaZach commented on #808
Hey @lfgcampos I just took a look at https://mtgjson.com/api/v5/AFR.json and it seems like the file was successfully updated. Let me know if there are other issues.

[2021-06-30 15:15] ZeldaZach opened #812 "Better handling of dupe UUIDS"
There are times when dupe UUIDs appear. We need a method to catch them and throw an error for the operator

[2021-06-30 15:16] ZeldaZach commented on #811
Will close as this was a transient error, but will create a new ticket to track dupe IDs #812

[2021-06-30 15:16] #811 closed, assigned to nobody

[2021-06-30 15:16] AEFeinstein commented on #811
May also be related to #803?

[2021-06-30 15:23] lfgcampos commented on #808
Hey @ZeldaZach, thanks for the heads up!
Now it does but it wasn't at that time :)

[2021-07-02 01:54] AncientSwordRage opened #813 "Provide a coarser way to check build version"
I don't always need to a weekly build from the meta endpoint, especially not the daily spoiler builds.

Can there be a quick way to check the last time the allsets (etc) data was updated, ignoring spoilers?

[2021-07-07 14:09] mrphlip opened #814 "Missing otherFaceIds for many cards"
#### Version(s) tested against
* AllPrintings.json.xz version 5.1.0+20210706

#### Description of Bug
A whole bunch of multi-face cards seem to be missing the `otherFaceIds` property. It's oddly not all of them, but quite a few. I've attached a list of all the instances I could find, below.

In addition to this, the Meld cards from EMN also seem to be in bad shape, missing both `otherFaceIds` and

[2021-07-08 03:42] mrphlip commented on #814
Looks like this was just a temporary hiccup, as it's resolved in 5.1.0+20210707

[2021-07-08 03:42] #814 closed, assigned to nobody

[2021-07-12 17:19] taw opened #815 "OC21 needs some indicator these are not legal Magic cards"
https://mtgjson.com/api/v5/OC20.json and before had `isOversized: true`

https://mtgjson.com/api/v5/OC21.json doesn't, as they replaced oversized cards by extra-thick non-tournament-legal special foils.

But in mtgjson they look like just regular playable cards. Some new flag is needed to mark them as not tournament legal.

I expect future Commander sets to have the same issue.

[2021-07-12 19:53] jmcsmith opened #816 "Enhance token reverseRelated to be card IDs instead of names."
Currently reverseRelated lists cards that create that token by name. This would be much more helpful programmatically if it was the card UUID.

 `"reverseRelated": [
                    "Scour the Desert",
                    "Soul of Migration"
    ]`
would look like
`reverseRelated": [
                    "6441701d-0dae-5c5a-9b2d-8f93a951c191",
                    "c0a36974-0541-505c-bcd5-724469

[2021-07-12 22:19] taw opened #817 "LEA Card "Prodigal Sorcerer" has "flavorName": "Tim""
https://mtgjson.com/api/v5/LEA.json

For some weird reason one of the cards has `"flavorName": "Tim"`. This is totally not what `flavorName` is used for (Ikoria style printed-on-the-card second name) and it should be removed.

[2021-07-15 15:15] NikolayXHD commented on #812
Hi Zach, a little summary of existing duplicates as per v5.1.0+20210714

77 duplicate token ids AAFR
[code]
1 duplicate card ids ATQ
[code]

[2021-07-15 15:35] taw opened #818 "Back sides of modal DFCs all have wrong cmcs"
https://mtgjson.com/api/v5/STX.json etc.

Sample (there's no `faceConvertedManaCost` in this, just incorrect cmc):

[code]

This is incorrect. By rules only transforming DFCs have mana value of the front face. Modal DFCs have mana value corresponding to printed mana cost. This can be easily differentiated by `layout: "modal_dfc"` vs `layout: "transform"`.

[2021-07-16 13:08] igr-maru opened #819 "Owlbear has keyword of "Keen senses""
#### Version(s) tested against

v5.1.0+20210714

#### Description of Bug
Owlbear has keyword of "Keen senses".  Owlbear cards are two, which are boosterfun and normal ones.

[2021-07-16 20:12] kodawah opened #820 "meld cards again"
Some of the meld cards changed uuid and/or are entirely missing - it seems this had to deal with the order of cards from upstream (thanks **itemfive** for diving into this), so it's necessary to sort them beforehand

original discussion
-------------------

It doesn't look like `meld_part / melt_result order` is guaranteed to be (part, part, result).

* https://api.scryfall.com/cards/0900e494-962d

[2021-07-20 13:37] giniman opened #821 "AFR-1 +2 Mace : foreign data is missing."

[2021-07-20 23:12] #820 closed, assigned to ZeldaZach

[2021-08-08 19:22] taw opened #824 "JMP MTGO availability issues"
https://mtgjson.com/api/v5/JMP.json

[This was reported by an user here](https://github.com/taw/magic-search-engine/issues/148), but without much detail.

I can't find exact list, but quick search says some JMP cards were added to MTGO treasure chests when M21 happened.

On mtgjson only 2 JMP cards are marked as available on MTGO.

Perhaps someone more familiar with MTGO can find out correct list.

[2021-08-10 14:45] staghouse commented on #806
Is this as simple as just renaming it to `ability-words`?

[2021-08-10 14:59] staghouse commented on #805
Confirming fixed via documentation

<img width="713" alt="image" src="https://user-images.githubusercontent.com/1939508/128890413-9c51d713-ab08-4bcd-a2fa-dd48980233ea.png">
<img width="725" alt="image" src="https://user-images.githubusercontent.com/1939508/128890486-e9a8c71c-aa89-465d-914a-70e667d047ac.png">

[2021-08-10 14:59] #805 closed, assigned to nobody

[2021-08-10 15:04] staghouse commented on #803
This looks by my eyes to be resolved, can you confirm @SteveLGK

[2021-08-10 15:10] SteveLGK commented on #803
Looks good with current version.

[2021-08-10 15:10] #803 closed, assigned to nobody

[2021-08-10 15:12] staghouse commented on #788
This looks to be resolved. Can you confirm @gweniche?

[2021-08-10 15:19] staghouse commented on #802
This looks to be resolved. Can you confirm @AEFeinstein

[2021-08-10 19:11] staghouse commented on #802
Confirmed offline that this is resolved.

[2021-08-10 19:11] #802 closed, assigned to nobody

[2021-08-11 09:17] gweniche commented on #788
Perfect, thx a lot.

[2021-08-11 09:18] #788 closed, assigned to nobody

[2021-08-16 16:49] KingSupernova31 opened #826 "Dungeons are missing from AtomicCards"
#### Version(s) tested against
5.1.0

#### Description of Bug
AtomicCards has most of AFR, but doesn't contain the three dungeons.

[2021-08-21 06:22] giniman opened #827 "Missing Promo card :"
Omnath, Locus of Rage
Planswalker Promo
PBFZ-217p

https://www.cardkingdom.com/mtg/promo-pack/omnath-locus-of-rage-promo-pack

[2021-08-22 22:14] KingSupernova31 opened #828 "Add support for italicized text"
There's currently no good way to programmatically separate something like the flavor words on Grim Wanderer from the actual rules text of cards like Aboroth, Abrade, Battershield Warrior, Citadel Siege, etc. (Ability words and reminder text are more easily identifiable because 207.2c contains a list of all ability words and reminder text is always in parentheses.) MTGJSON could start including a l

[2021-08-24 13:03] igr-maru opened #829 "Two cards in AFR are missing multiverseId for Japanese ones and jp-name at least."
#### Version(s) tested against
Version(s) tested against
v5.1.0+20210823

#### Description of Bug
The following cards in AFR are missing multiverseId for Japanese ones and jp-name at least.  (I'm not sure other language's)
+2 Mace
Mountain (multiversId is 530170)

[2021-08-24 13:04] igr-maru opened #830 ""Trelasarra, Moon Dancer"'s name in Japanese is English."
#### Version(s) tested against
Version(s) tested against
v5.1.0+20210823

#### Description of Bug
"Trelasarra, Moon Dancer"'s name in Japanese is English. (which has same value in name properties in EN and JP)

[2021-08-27 13:21] ncoxage opened #832 "SubType Enchantment/Class is missing"
api/v5/CardTypes.json

The subType 'Class' is missing from the Enchantment object

"enchantment": {
            "subTypes": [
                "Aura",
                "Cartouche",
                "Curse",
                "Rune",
                "Saga",
                "Shard",
                "Shrine"
            ]

[2021-09-02 05:27] krijoh92 opened #834 "Grist's leadership skills are wrong"
#### Version(s) tested against
MTGJSON 5.1.0+20210901

#### Description of Bug
[Grist](https://scryfall.com/card/mh2/202/grist-the-hunger-tide) should be able to be your commander. Based of a [discussion](https://discord.com/channels/224178957103136779/448295284137656342/870047375710900275) in the discord, the "Creature" check fails for Grist

[2021-09-02 09:37] kodawah opened #835 "add an upstream announcement channel in discord"
It would be nice if we could have an upstream channel in discord for all the upstream notifications, such as from scryfall or taw

for scryfall in particular we would just need to hit "follow" and select the desired channel where to publish the notification

[2021-09-05 00:52] taw commented on #835
Do you need any special support from me?

IIRC mtgjson only takes my data through these two repos, so if you want to subscribe to commit messages on both, you'd get pretty much all of it, right?

* https://github.com/taw/magic-sealed-data/commits/master
* https://github.com/taw/magic-preconstructed-decks-data/commits/master

If I plan to do any schema changes, or anything else major, I DMed Zach o

[2021-09-06 01:03] ZeldaZach commented on #835
@taw Our twitter line of contact seems fine for the time being. If anything changes i'll let you know!

[2021-09-07 18:04] ThauEx opened #837 "Missing translations/foreignData"
#### Version(s) tested against
v5.1.0+20210906

#### Description of Bug
I noticed that some cards are missing the foreignData, e.g. card id 02a13fa6-ff4e-4794-be31-167af8806771 (swamp)
The foreignData is empty, but when checking scryfall, it has data: https://scryfall.com/card/m21/311/swamp
The german version of this card has the scryfall-id "02a13fa6-ff4e-4794-be31-167af8806771", but this doesn't

[2021-09-08 13:02] rsamso opened #838 "Prices last week"
Hello, first at all, i want to congratulate MTGJson for the work are you doing !! is a amazing contribution to MTG community.

I am try to load daily the prices from allprices.json to get the last day price, Is posible to add an new .json file with only the prices of the last week, or last day?

[2021-09-09 14:39] staghouse opened #840 "Add `finishes` to EnumValues.json"
Please add card.finishes to EnumValues.json

[2021-09-14 22:12] kodawah opened #841 "Review etched for CK IDs and URLs"
The CK etched matches are ready, they just need to be audited

~~Same for tcg sku, we probably need to export finishes to that file too~~

[2021-09-15 01:35] staghouse opened #842 "Check whether `isFoil` for Card (Deck) is still useful"
With the addition of `finishes`, we should look at `isFoil` and check to see if its still needed or can be replaced with `finishes`

[2021-09-15 16:26] staghouse commented on #832
This seems to be resolved now. Can you confirm @ncoxage?

[2021-09-15 16:42] ncoxage commented on #832
yep, "Class" is now present

[2021-09-15 16:42] #832 closed, assigned to nobody

[2021-09-15 19:51] staghouse commented on #819
This looks to be resolved. Is this still an issue @igr-maru?

[2021-09-15 19:55] staghouse commented on #806
Resolved.

[2021-09-15 19:55] #806 closed, assigned to nobody

[2021-09-15 19:56] staghouse commented on #780
Should "isTimeshifted" be deprecated in favor of of new `rarity` value of `special`?

[2021-09-15 20:15] staghouse commented on #815
My thought is that that property can still be used since the card technically is still oversized, we just need to mark those cards as `isOversized` if they are not already.

Thoughts?

[2021-09-16 06:56] nicho92 commented on #780
For TSR expansion. It's ok, all timeshifted icon's set are purple... but in MH2 set, timeshifted cards have their own rarity (common, uncommon, rare, mythics, ...) . so i think keeping "isTimeshifted" with correct value is better solution.
![image](https://user-images.githubusercontent.com/11507615/133566242-c8c10dd9-1a3b-44e4-82af-0e86e7dfc319.png)

[2021-09-16 11:10] igr-maru commented on #819
@staghouse
I've checked this and it was already solved. Thank you.

[2021-09-16 11:11] igr-maru commented on #819
So, I'll close this issue.

[2021-09-16 11:11] #819 closed, assigned to nobody

[2021-09-16 20:11] ZeldaZach commented on #842
After reviewing the layout, I'm inclined to leave this field as-is. `finishes` gives permutations of how the card can be found, whereas cards in a deck are (usually) definitive in if it's foil or not. Theoretically, we could rename this field to `finish`, as Wizards could theoretically put etched foils in precons.

[2021-09-16 20:24] ZeldaZach commented on #841
Thanks! PR in coming

[2021-09-16 20:59] ZeldaZach commented on #838
Hey @rsamso thanks for reaching out! I appreciate your kind words :)

There's a working ticket #750 that aims to solve this issue in the near future! If you'd ever like to help out with the project, development wise or financially, feel free to reach out on Discord or on our Website!

[2021-09-16 20:59] #838 closed, assigned to nobody

[2021-09-16 21:30] ZeldaZach commented on #837
Hey @ThauEx thanks for the ticket! I've looked into how I handle foreign data and it seems I forgot to handle the case where several hundred iterations of a card exist (re: Basic lands). I'll have a fix up shortly :) Thank you!!

[2021-09-16 22:10] ZeldaZach commented on #834
Thanks for pointing this out! I'll have a fix up shortly :)

[2021-09-17 00:28] kodawah opened #847 "Update TcgplayerSkus with finish information"
https://mtgjson.com/abstract-models/tcgplayer-skus/

For sku id, we need to add which finish among the possible values.

I propose

[code]

but I would not be against a more complex structure like

[code]

@tpblaster any opinions?

[2021-09-17 00:30] kodawah commented on #827
added as https://scryfall.com/card/pbfz/217p/omnath-locus-of-rage

[2021-09-17 00:31] #827 closed, assigned to nobody

[2021-09-17 00:31] kodawah commented on #826
I believe it is because Dungeons are listed as Tokens whereas AtomicCards only covers Card objects.

[2021-09-17 00:34] kodawah commented on #813
since we're in perennial spoiler season, the builds have become daily. However it is beneficial to keep older sets up to date as they might contain fixes and adjustments that get reported over time.

[2021-09-17 00:35] kodawah commented on #809
fixed in https://github.com/mtgjson/mtgjson/pull/843

[2021-09-17 00:35] #809 closed, assigned to nobody

[2021-09-17 00:37] kodawah commented on #787
As someone wiser than me said:

We receive all of those fields from Cardmarket, we fetched the 1-day avg, the 7-day avg, and the overall "avg sell price", in that order of preference. Usually the day-1 avg is the best measure of a card's changing value. It's not really MTGJSON's responsibility to prevent people from underselling rares. Or perhaps a lower price would be more appropriate for that ra

[2021-09-17 00:38] #787 closed, assigned to nobody

[2021-09-17 00:40] kodawah commented on #780
i think the official card name from wotc for mh2 and mh1reprints is "Retro Frame" not "Timeshifted". I think it'd be fine to move the boolean value to the rarity section for TSP and TSR, and just leave the rest as is (being part of two different sets, there is no need to distinguish them with a boolean)

[2021-09-17 00:42] #760 closed, assigned to nobody

[2021-09-17 00:42] #780 closed, assigned to nobody

[2021-09-17 01:03] AncientSwordRage commented on #813
If an old set is updated with fixes/adjustments the version number should change.

What I'm more after is a version number that does get updates weekly if there is no change at all.

[2021-09-17 01:10] taw commented on #799
Is this about decklists?

If you have any specific issues related to decklists, report them at https://github.com/taw/magic-preconstructed-decks

There one repo for that data: https://github.com/taw/magic-preconstructed-decks

And repo I used to export processed json: https://github.com/taw/magic-preconstructed-decks-data

[2021-09-17 01:23] ZeldaZach commented on #813
It's tricky to handle those kind of changes with versioning, as different components update at different times, so we'd have a really wack system. I feel we can sub-ticket this to the Delta patch ticket #634 where we'll provide a change log between each day/week files, giving the user more visibility on the changes that take place.

Based on that, I'm inclined to close this ticket in favor of the

[2021-09-17 01:23] #813 closed, assigned to nobody

[2021-09-17 02:34] KingSupernova31 commented on #826
If that's the case that's incorrect, Dungeons are cards, not tokens.

[2021-09-17 11:24] kodawah commented on #826
yes but they appear in the token sheet - they cannot appear in AFR since their collector number would overlap with a existing cards, so they need to go in a separate set (the token one) which is not covered by AtomicCards

[2021-09-17 21:55] #834 closed, assigned to ZeldaZach

[2021-09-17 21:55] #837 closed, assigned to ZeldaZach

[2021-09-17 21:55] #840 closed, assigned to ZeldaZach

[2021-09-17 21:55] #841 closed, assigned to ZeldaZach

[2021-09-17 22:09] ZeldaZach commented on #791
Hi @gweniche ! I'm not sure I understand the issue. Should the French translation of Eldrich Moon be "CONFRONTEZ LES TÉNÈBRES" or "Lune Hermétique" ?

[2021-09-17 22:28] ZeldaZach commented on #797
This was addressed on May 17th, forgot to close ticket (was handled upstream). Sorry for the delay in response!

[2021-09-17 22:28] #797 closed, assigned to nobody

[2021-09-17 22:31] ZeldaZach commented on #798
Hi @lafadot I just checked and confirmed we now have all the MCM IDs for STA set :)

@Samurus Thanks for taking the time to provide all that information! If I missed any of it on my imports, do let me know in a new ticket.

This ticket is now resolved :)

[2021-09-17 22:31] #798 closed, assigned to nobody

[2021-09-17 22:32] #793 closed, assigned to ZeldaZach

[2021-09-17 22:34] ZeldaZach commented on #815
I'll be marking OC21 with isOversized, since that's the intended purpose of the field (to denote a card is not 'legal' in traditional sense).

[2021-09-17 22:41] taw commented on #815
Yeah, that works.

[2021-09-17 22:46] ZeldaZach commented on #817
I need to talk with upstream about this one, that's both funny and a bit weird

[2021-09-17 22:46] #815 closed, assigned to ZeldaZach

[2021-09-17 23:29] KingSupernova31 commented on #826
What products they're printed in isn't relevant to how they're categorized by WOTC. As far as game mechanics and definitions are concerned, Dungeons are exactly like all other nontraditional cards such as Conspiracies, Planes, Vanguards, etc. and should be treated the same way.

Also note that no tokens are in AtomicCards, despite the fact that many of them have been printed on the same sheets as

[2021-09-17 23:34] #818 closed, assigned to ZeldaZach

[2021-09-17 23:37] ZeldaZach commented on #821
Data isn't available upstream on Gatherer, so we have no way of getting this data unfortunately. This has been reported to Wizards, so no need to track on my end. Thanks for your bug report!

[2021-09-17 23:37] #821 closed, assigned to nobody

[2021-09-17 23:38] taw commented on #817
If they want to have some nickNames like Bob or Tim, that's fine, but it should be a separate field.

[2021-09-17 23:49] ZeldaZach commented on #829
I just closed another ticket in regards to `+2 Mace` (#821). There won't be a fix for that one at this time, unfortunately.

I've taken the time to re-audit the Basics and found quite a few missing across multiple languages. I have filed a report upstream and this should hopefully be resolved soon!

[2021-09-17 23:53] ZeldaZach commented on #830
Looks to be an upstream issue. I've reported it and it should be resolved soon!

[2021-09-18 11:12] kodawah commented on #799
@taw yes, trying to associate sets and decklists together, not sure whether we should duplicate the list of ids or provide an external reference to them

the links looks useful, thanks for sharing them

[2021-09-18 15:54] ZeldaZach commented on #817
This has been changed to meet documentation.

[2021-09-18 15:54] #817 closed, assigned to nobody

[2021-09-18 16:02] ZeldaZach commented on #826
I'm in agreement with @KingSupernova31 here. Since AtomicCards supports Conspiracies and Vanguards, I see no reason it shouldn't support Dungeons. This is a valid ticket and i'll see what i can do.

[2021-09-19 08:00] gweniche commented on #791
It's " La Lune Hermétique ".

[2021-09-19 18:08] #847 closed, assigned to ZeldaZach

[2021-09-19 18:10] ZeldaZach commented on #835
Done

[2021-09-19 18:10] #835 closed, assigned to nobody

[2021-09-19 18:10] ZeldaZach commented on #829
This has been addressed!

[2021-09-19 18:10] #829 closed, assigned to nobody

[2021-09-19 19:05] ZeldaZach commented on #824
I looked further into this and it appears the 37 cards from Jumpstart that were brand new are now available on MTGO. I've filed a ticket with upstream.

[2021-09-19 19:08] #826 closed, assigned to ZeldaZach

[2021-09-24 20:45] #765 closed, assigned to nobody

[2021-09-26 13:38] taw opened #855 "STA baseSetSize is incorrectly listed as 0"
It was previously incorrectly listed as 126. Now it's incorrectly listed as 0.

Cards have it printed as 63, so that's what it should be.

Actually there's been a lot of baseSetSize changes.

* a lot of them look like fixes (MH1, STX, AFC etc.)
* some of them previously worked (UND now incorrectly 100, printed 96 was correct)
* many don't have any base set printed on cards, so I'm not sure what th

[2021-09-27 02:17] ZeldaZach commented on #855
I think I'm just gonna load in an external dependency source, since this is really hard to gauge effectively. I knew a bunch would change, and the ones we tested looked right... @kodabb blahhh

[2021-10-02 19:32] Marcel-Brouette opened #857 "MultiverseId Missing"
On the V5 API, no multiverseid appears on J21 edition (https://mtgjson.com/api/v5/J21.json). For instance the card "Teyo, Aegis Adept" as the multiverseid 534585 => https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=534585.

In fact, there is a good number of online edition which are on the gatherer but no multiverseid are enable on mtgjson. (I don't have an exhaustive listing).

Th

[2021-10-05 16:03] AEFeinstein opened #858 "MH2's Yavimaya Elder Modern Legality Missing"
#### Version(s) tested against

MTGJSON v5.1.0+20211002

#### Description of Bug

In MH2.json, Yavimaya Elder is missing "modern" in it's legalities:

[code]

This made my parser think that MH2 wasn't modern legal (it checks all cards in a set for non-null legalities). If there's a better way to determine if a set is legal in a given format, I'm all ears.

Original report: https://discord.com/chan

[2021-10-06 03:06] ZeldaZach commented on #858
This has been addressed

[2021-10-06 03:06] #858 closed, assigned to ZeldaZach

[2021-10-06 03:14] AEFeinstein commented on #858
Much appreciated!

[2021-10-10 20:34] #763 closed, assigned to ZeldaZach

[2021-10-10 20:58] #611 closed, assigned to nobody

[2021-10-12 20:44] #628 closed, assigned to ZeldaZach

[2021-10-13 18:27] #855 closed, assigned to ZeldaZach

[2021-10-17 13:09] karlosss opened #863 "Scryfall IDs not matching?"
Hi!

Maybe I just don't know how to use it. I would like to fetch card images from somewhere, however I struggle with that. I start with [ModernAtomic.json](https://mtgjson.com/api/v5/ModernAtomic.json), which has a `scryfallOracleId` in the `identifiers` field of each card. However, when I use this ID in `https://c1.scryfall.com/file/scryfall-cards/large/front/6/9/${id}?1619398799`, the image is

[2021-10-17 19:16] ZeldaZach commented on #863
Hi there @karlosss while this isn't a MTGJSON issue per say, I'm more than happy to point you in the right direction.

Per Scryfall Documentation: OracleIDs are a bit different than main IDs, since every printing of a specific card will have the same OracleID. The way you tried to load images from the CDN is explicitly denounced by the Scryfall Team, since they shard images for efficiency.

You ca

[2021-10-17 19:16] #863 closed, assigned to nobody

[2021-10-17 19:24] ZeldaZach commented on #669
We've (for the most part) migrated to daily builds. So this is a bit moot.

[2021-10-17 19:24] #669 closed, assigned to nobody

[2021-10-17 19:39] ZeldaZach commented on #660
This has been addressed and all variants are now in the main file.

[2021-10-17 19:39] #660 closed, assigned to nobody

[2021-10-17 19:45] ZeldaZach commented on #676
After reviewing the case, I believe this is correct as-is. Alternatives gets tagged to all cards nowadays that aren't in the "base set" which is defined (for newer sets) by the card being <= the baseSetSize.

If this is incorrect assumption, maybe there are other issues of a similar vein we need to tackle.

[2021-10-17 19:45] #676 closed, assigned to nobody

[2021-10-17 19:47] ZeldaZach commented on #688
This was fixed a while ago, guess I missed tagging this ticket.

[2021-10-17 19:47] #688 closed, assigned to nobody

[2021-10-17 19:47] ZeldaZach commented on #689
Should be addressed now

[2021-10-17 19:47] #689 closed, assigned to nobody

[2021-10-18 18:18] kodawah commented on #676
I think you mean `>=`, right?

I believe that is incorrect, all the "booster fun" cards from newer sets are /not/ tagged isAlternative and that is correct. Case in point `The Great Henge` 361, or if you need a borderless version (like the 2xm box toppers) see `Alrund's Epiphany` 295: neither of these are tagged as isAlternative afaik, and that is correct.

2xm is the only set where this does not h

[2021-10-19 15:36] staghouse commented on #842
I agree with you. Closing for now and we can revisit renaming the field later if it seems like a good idea.

[2021-10-19 15:36] #842 closed, assigned to nobody

[2021-10-19 15:58] staghouse commented on #824
@taw is this resolved?

[2021-10-21 11:29] liquera opened #874 "source text issue"
### Steps to reproduce
Open cards.csv or .json anyway you want.
Do a simple search for "lifelinkat", for instance.

### What is expected?
There should be a space between keyword habilities and card's specific habilities.

### What is actually happening?
Specific habilities are being appended without space, generating unwanted text data.
i.e.: FlyingWhen, FlyingLandfall, lifelinkAt, creatureWhen, V

[2021-10-25 22:52] taw commented on #824
@staghouse  I think so, yeah.

[2021-10-30 11:04] lfgcampos opened #864 "Add VOW to daily spoiler builds."
I believe VOW spoilers started already, thanks.

[2021-10-31 21:54] ZeldaZach commented on #864
Thanks for the reminder. VOW is in!

[2021-10-31 21:54] #864 closed, assigned to nobody

[2021-11-02 09:04] lfgcampos commented on #864
hey @ZeldaZach, not sure what happened but they are not running (at least the website is not updated)

[2021-11-11 00:09] kodawah opened #865 "VOW DFCs do not have FlavorName field"
The new dual faced cards from VOW of the Dracula series do not have FlavorName set to the alternative name.

example `Voldaren Bloodcaster // Bloodbat Summoner` #.338 would need `Dracula, Lord of Blood // Dracula, Lord of Bats` as FlavorName

Note that I believe we should report the full alternative name in FlavorName, if we want to track different flavored face names we should introduce a new fie

[2021-11-11 00:43] kodawah commented on #865
upon thinking on it, it'd be nice to have FaceFlavorName available (so that downstream can check for single faces of the alternate card)

[2021-11-11 07:08] Palladinium opened #866 "Split/transform/flip cards missing TCGPlayer paper prices"
#### Version(s) tested against

AllPrices.json
MTGJSON 5.1.0+20211130

#### Description of Bug

Split, transform and flip cards seem to be missing TCGPlayer prices, and instead of the typical payload they only have `{"currency" => "USD"}` under `json["data"][id]["paper"]["tcgplayer"]`

Examples:
`0ad9df53-068e-5bbd-9a83-d0dc4168ce6e` Fire // Ice (split card)
`7f5f719b-947a-50b0-834b-693f59fc0bea`

[2021-11-12 00:29] giniman opened #867 "Many VOW DFC cards' Multiverse IDs are missing."
9	Distracting Geist // Clever Distraction
10	Drogskol Infantry // Drogskol Armaments
12	Faithbound Judge // Sinner's Judgment
21	Katilda, Dawnhart Martyr // Katilda's Rising Dawn
22	Kindly Ancestor // Ancestor's Embrace
28	Panicked Bystander // Cackling Culprit
31	Radiant Grace // Radiant Restraints
40	Twinblade Geist // Twinblade Invocation
45	Wedding Announcement // Wedding Festivity
48	Binding

[2021-11-14 05:13] ZeldaZach commented on #867
I've fixed this up. Feel free to pull the latest!

[2021-11-14 05:13] #867 closed, assigned to ZeldaZach

[2021-11-14 05:17] ZeldaZach commented on #857
Looks to be an upstream issue, I'll leave a note and see if we can get this fixed up!

[2021-11-14 05:17] #824 closed, assigned to nobody

[2021-11-14 05:19] ZeldaZach commented on #790
This should be fixed now

[2021-11-14 05:19] #790 closed, assigned to nobody

[2021-11-14 05:35] ZeldaZach commented on #764
I put a note upstream with fixes for the gods & pathways pointed out

[2021-11-14 20:07] ZeldaZach commented on #801
I've been thinking about this for a while, and I'm not sure if limiting ourselves to "Real Magic" only is necessarily correct. These types _are_ types given to card(s) in Magic's history, which leads the discussion on why am I to decide what should I arbitrarily support? It's worked the same for so long now, that a change might be undesired by downstream (& upstream) sources.

Maybe I'm wrong here

[2021-11-14 20:08] #865 closed, assigned to ZeldaZach

[2021-11-14 20:08] #812 closed, assigned to ZeldaZach

[2021-11-15 21:31] patrickgaskill commented on #801
This is sort of my point, that while using just CardTypes.json I can't tell which types are legal in Comprehensive Rules land, and which aren't.

I'm trying to build an app that has some very light rules simulation (imagine a dropdown where you choose a creature type to name for Cavern of Souls) so I'd love to have an easy way to get to game-legal-only types.

How would you feel about adding a ver

[2021-11-16 17:13] ZeldaZach commented on #764
Fixed this up :)

[2021-11-16 17:13] #764 closed, assigned to nobody

[2021-11-17 16:33] weirddan455 opened #870 "Duplicate mtgArenaId on cards with different names"
#### Version(s) tested against
AllPrintings.json downloaded from mtgjson.com on 11-17-2021

#### Description of Bug
I was under the impression that the mtgArenaId should be unique to a given card name.  I found several instances where this is not the case.  This is what I've extracted from the json file in the format of mtgArenaId : card name : UUID

Let me know if I should format this differently

[2021-11-18 22:57] lfgcampos opened #871 "Innistrad: Double Feature (DBL) is already full spoiled"
Innistrad: Double Feature (DBL) is already full spoiled but not availble on mtgjson.

https://mtgjson.com/api/v5/DBL.json
https://scryfall.com/sets/dbl?as=grid&order=set

[2021-11-23 13:16] kodawah commented on #871
it is up now

[2021-11-23 13:26] kodawah opened #872 "proposed changes to a few set types"
I was looking through the set type categories, I'd like to propose a few changes

- a new type for Art Series, leaving `memorabilia` for old gold bordered cards and similar. It seems like this type of subset is going to stay so it makes sense to give its own category, such as `artseries`
- a new type for Minigames, leaving `funny` for un-sets and similar, I propose a plain `minigames`
- a new type

[2021-11-25 01:41] ZeldaZach commented on #871
Yep, sorry for not responding to the comments!

[2021-11-25 01:41] #871 closed, assigned to nobody

[2021-11-27 17:07] BrucePetrie opened #873 "Incorrect Card Count (Mind Control) in Illusionary Might Pre-con"
### Steps to reproduce
Download JSON decklist from https://mtgjson.com/api/v5/decks/IllusionaryMight_M12.json

### What is expected?
IllusionaryMight_M12['data']['mainBoard'][12]['count'] = 3

### What is actually happening?
IllusionaryMight_M12['data']['mainBoard'][12]['count'] = 1

### Other relevant information
card [12] is "Mind Control"
https://magic.wizards.com/en/game-info/products/card-set

[2021-11-29 05:04] giniman opened #876 "Missing AER cards"
#### Version(s) tested against

MTGJSON 5.1.0+20211126

#### Description of Bug
AER-173, AER-174, AER-175 are missing.

[2021-11-30 03:09] Palladinium opened #877 "Crimson Vow has no cards"
#### Version(s) tested against
AllPrintings.json
MTGJSON 5.1.0+20210922

#### Description of Bug

The Crimson Vow set appears to not have any cards. Specifically:

`json['data']['VOW']['cards'] == []`

[2021-11-30 05:23] Palladinium commented on #877
Nevermind, it just occurred to me I was using an older json file instead of a fresh one I had just downloaded. Looks fine in version `5.1.0+20211129`

[2021-11-30 05:23] #877 closed, assigned to nobody

[2021-12-01 04:25] Palladinium commented on #866
Here's a list of affected cards:
[missing_prices.zip](https://github.com/mtgjson/mtgjson/files/7630835/missing_prices.zip)

[2021-12-04 17:20] GooseDeer opened #878 "Missing CMC value for Zndrsplt, Eye of Wisdom // Zndrsplt, Eye of Wisdom (379) in Secret Lair Drop (SLD)"
#### Version(s) tested against
"meta": { "date": "2021-11-30", "version": "5.1.0+20211130" }

#### Description of Bug
The card `Zndrsplt, Eye of Wisdom // Zndrsplt, Eye of Wisdom (379)` for set `Secret Lair Drop (SLD)` has a CMC value of "" rather than 5.0.

Card on Scryfall Api: https://api.scryfall.com/cards/d5dfd236-b1da-4552-b94f-ebf6bb9dafdf

Not sure if this is the only card in the set with

[2021-12-04 19:52] GooseDeer commented on #878
itemfive on discord mentioned:

"All cards with layout "reversible_card" have blank manaValues, not just 'Zndrsplt, Eye of Wisdom // Zndrsplt, Eye of Wisdom'. So The Secret Lair Drop cards "Krark's Thumb // Krark's Thumb", "Okaun, Eye of Chaos // Okaun, Eye of Chaos" , "Propaganda // Propaganda" , "Stitch in Time // Stitch in Time" , and "Zndrsplt, Eye of Wisdom // Zndrsplt, Eye of Wisdom" are all

[2021-12-05 21:23] jmcsmith commented on #878
I am seeing this issue also, causes SLD to fail decoding.

[2021-12-08 21:46] #878 closed, assigned to ZeldaZach

[2021-12-08 21:56] ZeldaZach commented on #876
Just took a look and these cards appear within the system. Maybe it was a one off issue on the 26th? Lmk if you spot any other missing entities!

[2021-12-08 21:56] #876 closed, assigned to nobody

[2021-12-08 22:13] #782 closed, assigned to ZeldaZach

[2021-12-09 03:17] ZeldaZach opened #881 "AtomicCard ordering for flip cards is wrong"
https://twitter.com/CubeApril/status/1467256619553771525

[2021-12-09 03:29] april commented on #881
Thanks for looking into this!

[2021-12-09 04:21] #881 closed, assigned to ZeldaZach

[2021-12-09 23:13] couitchy opened #884 "foreignData field empty for double cards"
#### Version(s) tested against
5.1.0+20211208
#### Description of Bug
I noticed the foreignData field is empty for double cards.
For example, Baithook Angler // Hook-Haunt Drifter (Innistrad: Midnight Hunt) have no foreign data at all.
The field is correct for other non double cards though.

[2021-12-11 02:29] ZeldaZach opened #885 "Support for Alchemy Cards"
This is a fun one. Baseline idea is we'll have duplicate entries for sets with "Rebalanced" cards, and establish a trait so we can easily filter them in/out when necessary. Rebalanced cards will find their home in the original set the card was printed/modified from (at least for now). They will have the alternative flag established to indicate it's different, as well as a different collector numbe

[2021-12-14 18:14] kodawah opened #886 "TAFR dungeons have a normal layout"
all the tokens have a `layout` set to `token` but this series doesn't
there needs to be a uniquivocal way to determine whether a card is a token without looking at the parent set

[2021-12-16 13:31] kodawah opened #887 "add a parentCode to tokens when mixed with normal sets"
a lot of tokens reside in their own custom set, example PLNY
however things get organized in a strange way when the sets are mixed with cards and tokens: for example Unglued

the tokens reference a set, TUGL, which does not exist in the allprintings map - the user needs to know to drop the T in order to access the parent set -- however it's not always need, for example when building the image url,

[2021-12-17 03:03] AEFeinstein opened #888 "Add 'isFunny' to Card Data Model"
Currently a card's funniness can more or less be determined by the [`bordercolor`](https://mtgjson.com/data-models/card-set/#bordercolor) and [`legalities`](https://mtgjson.com/data-models/card-set/#legalities) attributes in the data model. 'Funny' cards have silver borders (except for CMB1 and CMB2) and aren't legal anywhere.

[Unfinity will be adding black bordered funny cards](https://magic.wiz

[2021-12-17 03:07] AEFeinstein commented on #888
Looks like Scryfall's sense of humor is
* Playtest cards
* HasCon
* Happy Holidays
* Heroes of the Realm
* Un- sets

[2021-12-17 04:57] ZeldaZach commented on #888
Seems reasonable, will look into this

[2021-12-17 05:01] AEFeinstein commented on #888
For completeness, you may also want to look into a `holofoil_stamp` field, with options like oval, [triangle](https://c1.scryfall.com/file/scryfall-cards/large/front/0/a/0a8e78b3-3232-4d48-9d6c-540951a0330e.jpg?1638596643), acorn, and whatever else WotC can dream up. Tracking that manually may be a huge pain though.

[2021-12-17 07:22] ZeldaZach commented on #873
cc @taw

[2021-12-17 07:26] ZeldaZach commented on #886
If an entity is found within the "tokens" array of a set object, they are 100% a token. The layout doesn't necessarily determine the type. This is the same as all entities found within the "cards" array of a set object are 100% a card in the set, and not a token.

If this isn't clear, we can discuss it further, but I'm not inclined to change anything as of this point.

[2021-12-17 07:37] ZeldaZach commented on #884
Hey @couitchy! I'm pretty sure this is a dupe, but I can't find the original. In any case, the reason foreignData is missing for Baithook Angler (and most other double-sided cards) is because Gatherer doesn't offer translations on these cards. Most of these translation pages only have the English version of the text, making translation a nightmare as we don't have any image recognition to pull the

[2021-12-17 07:37] #884 closed, assigned to nobody

[2021-12-17 07:39] ZeldaZach commented on #872
I don't consider this a bug, but I'm open to the idea of changing these in the future. Will discuss more.

[2021-12-17 07:40] ZeldaZach commented on #870
Hey @weirddan455 sorry for the delay in response. I looked further into this, and it appears... MTG Arena actually has duplicate IDs... of course.

The welcome/intro cards (setCode ANB) do not have unique IDs for some reason, and overlap with real cards.

I'll be sure we put a note within the Documentation to indicate this potential overlap. cc: @staghouse

[2021-12-17 07:40] #870 closed, assigned to nobody

[2021-12-17 07:41] ZeldaZach commented on #888
Fixed in #889

[2021-12-17 07:41] #888 closed, assigned to ZeldaZach

[2021-12-17 08:57] ZeldaZach commented on #866
Hey @Palladinium i'll look into this soon, thanks for the bump :)

Ref: Priority

[2021-12-17 09:01] ZeldaZach commented on #792
Hey there @rjmac ! I took another look into this issue and it seems like it was solved at the same time as #790. If you identify any other card(s) that have incorrect originalText, please do open a new ticket and, if possible, provide a list of the card names so I can dig deeper and reproduce the issue.

Thanks for helping improve our service!!

[2021-12-17 09:01] #792 closed, assigned to nobody

[2021-12-17 10:37] kodawah commented on #886
how does the entity know it's found within a token array? There might be a set->token relationship but not a object->token one. It's the same rationale why it's important for a cardObject to have their own setCode

[2021-12-17 12:11] AEFeinstein commented on #888
Holy cannoli that was fast. Guess it's easy when scryfall already collects the data. Thanks!

[2021-12-17 16:52] ZeldaZach commented on #874
Hi there @liquera ! Sorry I missed your ticket originally. I took a look just now at AllPrintings.json and cards.csv, and I see what went wrong. When pulling data in from Gatherer, because they use separate divs for each line, I was inadvertently dropping the implicit line break. Will see what I can do soon :)

[2021-12-17 16:53] AEFeinstein opened #892 "Add Legalities to Set Data Model"
Currently the [`Legalities`](https://mtgjson.com/data-models/legalities/) data model is only a child of Card (Atomic), Card (Deck), and Card (Set). I would like this data model added as a child of [`Set`](https://mtgjson.com/file-models/set/) as well. This would make tasks like finding a list of [Standard legal](https://magic.wizards.com/en/content/standard-formats-magic-gathering) Sets easy.

[2021-12-17 17:02] rjmac opened #893 "Some double-faced cards have the wrong originalText on one face"
#### Version(s) tested against
MTGJSON 5.1.0+20211216

#### Description of Bug
Same as #792 - some double-faced cards' faces have the originalText of the other face.  Creating a new issue per @ZeldaZach's request For example, ae4e6e88-7801-54f1-8372-8e78386ae6e3 (the back face of Alrund, God of the Cosmos // Hakka, Whispering Raven) contains

[code]

Birgi, God of Storytelling // Harnfel, Horn of

[2021-12-17 19:01] ZeldaZach commented on #892
Hi there @AEFeinstein Can you go more into detail on why you think something like this is necessary? Not every card in a specific set is legal in all formats (See the new Unfinity, for example). This would make having a blanket Legalities statement on the Set level awkward and misleading.

[2021-12-17 19:16] #874 closed, assigned to ZeldaZach

[2021-12-17 19:23] ZeldaZach commented on #828
Having a field that omits italics could be interesting, but I'm not sure the value it necessarily provides. I can tell you're trying to target AFR with this ticket, but how would you recommend handling ability words like Chroma?

[2021-12-17 19:26] ZeldaZach commented on #816
The reason I'm a bit hesitant on this is because UUIDs don't hold in AtomicCards, for example. I wouldn't be able to provide the content there. Then again, I did consider UUIDs in #891 so I'm not sure.

Any other opinions on this topic?

[2021-12-17 19:28] ZeldaZach commented on #799
I haven't thought about this ticket in a while, will push off for now. I know @tpblaster set up the original products setup, will see if they can assist further and/or provide more context

[2021-12-17 19:31] AEFeinstein commented on #892
On a personal level, my current SQLite database setup has a table for Sets, a table for Cards, and a table for banned/restricted information. They all get joined together for queries and it works reasonably well.

Currently I'm inferring a Set's legality by inspecting the cards within it. If all cards have the optional property (legal, banned, or restricted) for a given format, then the Set is con

[2021-12-17 19:34] ZeldaZach commented on #777
This is a sub-ticket of #781

[2021-12-17 19:35] ZeldaZach commented on #769
I like the idea, I'll see what we can come up with in the future!

[2021-12-17 19:37] #791 closed, assigned to ZeldaZach

[2021-12-17 19:40] ZeldaZach commented on #892
I have a community feedback PR open #891 if you'd like to leave comments / ideas on it. I've seen a few ideas float around and I"m trying to figure out the best approach.

[2021-12-17 19:46] KingSupernova31 commented on #828
I'm a little confused by your question, can you elaborate? The value is that programs that care about card functionality will have a way to look at a card's rules text, which as of AFR is very difficult.

[2021-12-17 19:57] ZeldaZach commented on #756
After talking with several folks, I've decided against this issue. If we added support for Tajuru Paragon to have extra components in its type line, we'd then set a weird precedent that we have to analyze card text to set visible attributes. For example, we'd have to add _every_ creature type to the type line for Changelings, which gets super awkward. A card's types and its type line are not neces

[2021-12-17 19:57] #756 closed, assigned to nobody

[2021-12-17 20:05] ZeldaZach commented on #753
originalReleaseDate is associated with cards that appear in a set and the card wasn't in the set at launch. FNM Promos are a good example, as they're in one encompassing set, but the cards don't release until the proper week.

Supporting a release date on a card-by-card basis in AtomicCards could be an interesting change, and i'd be willing to convert this ticket towards that goal.

[2021-12-17 20:31] #752 closed, assigned to ZeldaZach

[2021-12-17 21:22] #727 closed, assigned to ZeldaZach

[2021-12-17 22:18] taw commented on #873
Data in my repo is correct. I think your import script is confused by card appearing in both mainboard and sideboard.

[code]

[2021-12-17 22:57] #705 closed, assigned to ZeldaZach

[2021-12-17 23:21] #873 closed, assigned to ZeldaZach

[2021-12-17 23:29] ZeldaZach commented on #828
I can understand how parsing AFR might be a bit tricky. You can parse on the dash and see if the word(s) before it are found in https://mtgjson.com/api/v5/EnumValues.json's `keywords` section. If it's not there, it can be safely discarded.

Hopefully this workaround is sufficient? I just don't see a huge benefit of offering a separate field in such a way, outside of this niche case offered so far.

[2021-12-19 04:43] #885 closed, assigned to ZeldaZach

[2021-12-20 15:46] kalinon opened #900 "`sealedProduct` is missing from sets"
#### Version(s) tested against
MTGJSON 5.1.0+20211219

#### Description of Bug
`sealedProduct` is missing from sets at https://mtgjson.com/api/v5/SetList.json

it is present in the `5.1.0+20211218` backup

[2021-12-20 21:41] ZeldaZach commented on #900
TCGPlayer had an outage during my build on the 19th, leading to a lack of IDs and products. This should hopefully be resolved in today's build. Will close once I can confirm it.

[2021-12-21 00:02] kalinon commented on #900
ah, makes sense. Glad we know the root cause 👍

[2021-12-21 00:07] ZeldaZach commented on #900
Can confirm new build will have it, new build deploys in an hour or so. Thanks for your report!

[2021-12-21 00:07] #900 closed, assigned to nobody

[2021-12-21 14:44] kalinon commented on #900
Confirmed its in `5.2.0+20211220` Thanks!

[2021-12-30 00:21] aaronmallen opened #901 "AFR Dungeon Cards Have manaValue null"
#### Version(s) tested against

5.2.0+20211228

#### Description of Bug
Three cards having type "Dungeon" have `manaValue` `null` instead of `0`

[2022-01-02 19:47] taw commented on #799
Well, let me know if you need some assistance from me. My decklists are associated with sets, and generally have names which match product name exactly.

[2022-01-03 11:58] mmurdoch opened #903 "'Arm for Battle' commander deck misnamed 'Armed for Combat'"
#### Version(s) tested against
5.2.0+20220102

#### Description of Bug
The Commander Legends commander deck 'Arm for Battle' is incorrectly named 'Armed for Combat'. Rather than being available at https://mtgjson.com/api/v5/decks/ArmForBattle_CMR.json its URL is: https://mtgjson.com/api/v5/decks/ArmedForCombat_CMR.json

[2022-01-03 16:24] kodawah commented on #799
@taw I appreciate the offer, I think the only missing link on the decklist points is understanding which decklist belongs to which product. I was thinking we could associate a list of decklist names under each product entry so that they can be optionally retrieved. But not sure how to do that except manually keep track of things...

example

[code]

So that we can retrieve them by looking up deckl

[2022-01-13 05:32] pbaranay opened #905 "Improve representation of artists"
Currently, the `Card (Set)` data model represents a card's `artist` as a string. However, this representation is overly simple and has a couple downsides:

1) strings aren't stable identifiers for people, as some artists have changed their names over time (e.g. Jenn Ravenna -> Jenn Ravenna Tran -> Ravenna Tran)
2) "funny" artists from Unsets can't be easily resolved into their real artist; for exa

[2022-01-13 19:30] ThauEx opened #906 "Prices of two sides cards are splittet on both sides"
Hi,

I noticed that the price for e.g. "Blex, Vexing Pest" is separated on the sides.
Front (5a52cce7-3897-5901-a0ab-d1ed087c41ee):
- cardkingdom

Back (55cd326c-01c3-5523-b2fe-22a614594d5c):
- cardmarket
- tcgplayer

They should be on both sides or only the front one and not separated/splitted on both.

[2022-01-13 23:51] ZeldaZach commented on #905
Artist IDs are an interesting concept, I'll have to check those out. I like keeping `artists` as-is, but having some way of better identifying components.

[2022-01-17 14:33] kodawah opened #907 "VOW Forest 276 has an extra frameEffects tag"
today (2022-01-16) build has this forest with an extra `frameEffects` field with "inverted" and "showcase" tags that are not present upstream (https://scryfall.com/card/vow/276/forest)

[2022-01-21 16:57] taw opened #909 "Duel Commander legality issues for 7 "offensive" cards"
As per https://www.mtgdc.info/banned-restricted:

"Also, this implies cards marked offensive by Wizards of the Coast. Click here for the list. This list is a work in progress."

It's kinda on them for not listing these cards explicitly on the banlist, but from what I understand, the whole 7 is meant to be banned, and that's not currently matching mtgjson.

[2022-01-28 22:52] sunsetsnow opened #910 "DFCs in MID and VOW are missing frameEffects"
#### Version(s) tested against

MTGJSON 5.2.0+20220127

#### Description of Bug

None of the DFCs in Innistrad: Midnight Hunt and Innistrad: Crimson Vow and their associated promo sets (PMID, PVOW) have `sunmoondfc` in the frameEffects field, at least in AllPrintings.json (I haven't checked the other files). The frameEffects isn't entirely empty, however, as legendary DFCs in those sets *do* have

[2022-01-30 16:10] kodawah commented on #866
these cards seem to be missing from the TCGSKU file too, but they do have `tcgplayerProductId` correctly initialized (for both sides too)

I wonder if the tcg provider gets confused by the fact there are two sides but that wouldn't explain how meld cards work. The CK provider loads these entries just fine

[2022-02-03 14:16] GooseDeer opened #911 "tokens in ASTX & AMH2 do not have a side `b` for tokens with `s` in the number."
#### Version(s) tested against
https://mtgjson.com/api/v5/ASTX.json
date: 2022-02-02
version: 5.2.0+20220202

#### Description of Bug
In ASTX & AMH2 each token has two version `1` & `1s` for example. This represents the signed token and non-signed token.

Tokens that have `s` in the `number` seem to have `null` for the `side` instead of `b`:

![image](https://user-images.githubusercontent.com/2640

[2022-02-06 03:53] staghouse opened #912 "Mignight Hunt Commander (likely all commander sets) are reporting `parentCode` as Midnight Hunt"
#### Version(s) tested against
MTGJSON v5.2.0+20220205

#### Description of Bug

The parent code for `Midnight Hunt Commander` is reporting as `Midnight Hunt`. I believe this is counter to the purpose of sets like this where Commander is its own Set with its own Symbol.

Example of offense:
<img width="384" alt="image" src="https://user-images.githubusercontent.com/1939508/152667061-b203dfa3-fc80-

[2022-02-06 15:42] taw opened #913 "J21 missing a lot of artists"
The "artist" field is missing in mtgjson for these.

Here's the list of affected J21 cards (multipart cards listed as a/b):

* No artist for Abiding Grace j21 32
* No artist for Abzan Battle Priest j21 33
* No artist for Abzan Falconer j21 34
* No artist for Ainok Bond-Kin j21 36
* No artist for Angelic Purge j21 42
* No artist for Angel of the God-Pharaoh j21 44
* No artist for Anointer of Valor

[2022-02-07 01:38] kodawah opened #914 "empty/not existing PC20 set"
In the latest version of AllPrintings there is an empty set which is not tracked by Scryfall (so it probably doesn't exist?)

[code]

[2022-02-07 01:45] kodawah opened #915 "duplicated variants in ARN"
In today's snapshot of AllPrintings the "Light Mana" variants in Arabian Nights are duplicated - so there are 3 variants per card instead of the usual 2

[2022-02-07 22:32] kodawah commented on #915
with today's (2022-02-06) the issue is not present any more, so just a transient cache problem?

[2022-02-08 21:27] ZeldaZach commented on #915
Sounds like it @kodabb

[2022-02-08 21:27] #915 closed, assigned to nobody

[2022-02-11 18:33] ZeldaZach commented on #914
Looks like they removed this set at some point. Will reach out for more info.

[2022-02-11 18:35] ZeldaZach commented on #913
Seems to be missing in the source, will investigate further

[2022-02-11 18:36] ZeldaZach commented on #912
Since these commander decks are affiliated with the set in question, I'm okay with this distinction. ParentCode more so indicates what it's related to vs a direct 1:1. If you don't feel this holds, we can discuss it further.

[2022-02-11 18:54] ZeldaZach commented on #911
Confirmed to be an issue. Working on a fix. Thanks for the report!!

[2022-02-11 20:16] ZeldaZach commented on #910
Looks to be missing in upstream. I'll see what I can do about this. Thanks for the report!

[2022-02-11 20:18] ZeldaZach commented on #909
Thanks for the report. I've confirmed it's an upstream issue and will work towards addressing it.

[2022-02-11 20:23] ZeldaZach commented on #907
Looks to have self resolved

[2022-02-11 20:23] #907 closed, assigned to nobody

[2022-02-11 20:23] ZeldaZach commented on #903
Seems like an upstream issue cc @taw

[2022-02-11 20:31] ZeldaZach commented on #901
Dungeons are not castable cards, so they implicitly don't have a mana cost / mana value. They're akin to a token.

Any reason you feel Dungeons should have a mana value established?

[2022-02-11 20:32] #911 closed, assigned to ZeldaZach

[2022-02-11 20:33] aaronmallen commented on #901
The dungeon cards are the only cards with manaValue `null` (as of when this issue was created) even basic lands have manaValue `0`. Is there any reason these cards should not follow that pattern?

[2022-02-11 20:35] ZeldaZach commented on #901
Basic lands can be played in a deck and played. It makes sense they have no mana value established. Dungeons, however, are kind of like tokens (think Clue, Treasure, etc) in regards to having no mana cost since you can't play them in a deck, but Dungeons can only exist in the Command Zone (similar to Emblems).

[2022-02-11 20:36] aaronmallen commented on #901
https://discord.com/channels/224178957103136779/448295284137656342/925904885289975901

[2022-02-11 21:06] #901 closed, assigned to ZeldaZach

[2022-02-12 00:42] taw commented on #903
Well, that's where I got it from https://mtg.fandom.com/wiki/Commander_Legends/Commander_decks?diff=388726&oldid=388725

Anyway, fixing it now.

[2022-02-12 01:17] taw commented on #903
Fixed.

[2022-02-12 18:08] ZeldaZach commented on #914
Should be fixed today

[2022-02-12 18:08] #914 closed, assigned to nobody

[2022-02-12 18:08] ZeldaZach commented on #913
Should be fixed today

[2022-02-12 18:08] #913 closed, assigned to nobody

[2022-02-12 18:08] ZeldaZach commented on #909
Should be fixed today

[2022-02-12 18:08] #909 closed, assigned to nobody

[2022-02-12 18:08] ZeldaZach commented on #910
Should be fixed with today’s build

[2022-02-12 18:08] #910 closed, assigned to nobody

[2022-02-12 18:09] #903 closed, assigned to nobody

[2022-02-12 19:56] kennydee opened #918 "French Translation for double cards is missing"
#### Version(s) tested against
MTGJSON 5.2.0+20221002 (All Printings SQL)

#### Description of Bug
Since all double cards, it seems the missing translation is impossible to find in the foreign_data table (by the uuid, or multiverseid).
I even try to look at the french translation directly in the table, and they are not present at all.

Example to reproduce on "Howlpack Piper // Wildsong Howler" fr

[2022-03-02 09:07] giniman opened #919 "Gloomshrieker(NEO-219) has the English contents in Foreign object(in Korean)"
#### Version(s) tested against

Gloomshrieker(NEO-219) has the English contents in Foreign object(in Korean)
#### Description of Bug

[2022-03-02 13:22] GooseDeer opened #920 "Multiple Sealed Products contains incorrect tcg player ids"
#### Version(s) tested against
2022-03-01
5.2.0+20220301

#### Description of Bug
I have gathered a list of mtg sets that contain incorrect sealed projects and therefor incorrect tcgplayer ids.

| code   | name                                      | sealed product name                                    | tcgplayer id |
|--------|-------------------------------------------|------------------------

[2022-03-12 03:48] ThePieBandit opened #923 "Keyrune Code for Elves Vs Goblins Duel Deck incorrect."
#### Version(s) tested against

MTGJSSON 5.2.0

#### Description of Bug
The keyrune code for Elves Vs Goblins is incorrect. This impacts both the original and Anthologies version. Keyrune uses EVG, the json lists it as DD1
https://keyrune.andrewgioia.com/icons.html?icon=evg

[2022-03-19 08:28] SteButler opened #925 "Pricing file issues"
The pricing file (as at 19/03/2022, downloaded from the site) doesnt seem to follow the "finishes" column for any given uuid. EG :

Card uuid "075d381a-35ff-583a-91ad-94570f6b8260" has finishes = "etched"

The JSON has entries for :
    cardmarket->retail->normal
    cardmarket->retail->foil

There is no entry for ->etched for any pricing source.

Can finishes and the pricing file be aligned?

[2022-03-22 06:01] #866 closed, assigned to ZeldaZach

[2022-03-28 14:09] van-riper commented on #925
what is the name of this card and from what set?

[2022-03-28 14:17] SteButler commented on #925
The Example is Tormod, the Desecrator, CMR 569. But I dont think it's limited to one single card.

[2022-03-28 15:28] van-riper commented on #925
it looks like cardmarket is the only vendor that doesn't have an etched option. I would need to know of another card or two with this same exact issue in order to find a pattern and fix it

[2022-03-28 16:15] van-riper commented on #923
@ZeldaZach this can be fixed by adding `{"DD1": "EVG"}` to [keyrune_code_overrides.json](https://github.com/mtgjson/mtgjson/blob/master/mtgjson5/resources/keyrune_code_overrides.json) right?

[2022-03-28 16:26] #923 closed, assigned to nobody

[2022-03-28 16:27] ZeldaZach commented on #923
Yep, correct @maallaard!  Got a fix in

[2022-03-29 13:03] van-riper commented on #905
@pbaranay I'll be willing to do some R&D on an artist data model, what other artist info would you want to be included/considered?

[2022-03-29 13:12] pnametala opened #927 "Changes to AllPrices"
AllPrices.json is roughly 800MB now and is quite a problem to download/iterate over it on a daily base.

A few suggestions that might improve the usability.

Publish AllPrices as both JSON and CSV.

Publish a new file (LatestPrices) with the latest available price for each card.

Thanks in advance :)

[2022-03-29 13:31] van-riper commented on #927
It shouldn't be a problem to download it, since that file also is available compressed in zip, bz2, gz, and xz, all of which are under 80MB. I'm not sure how a csv version could work for this model. The only reasonable way I can think to implement that is to have a row for each card, and a column for each day. That would require an unnecessarily large file size to work. This is disregarding that t

[2022-03-29 14:29] ZeldaZach commented on #927
This feels like a dupe to #673

[2022-03-29 14:29] #927 closed, assigned to nobody

[2022-03-29 17:38] pbaranay commented on #905
Thanks @maallaard!

For an actual Artist model, the only information I can think of is the person/entity's _canonical_ name (which could change over time), and a unique identifier. Integrating with the Scryfall artist UUIDs would also be handy. From there, the big value add would be updating the `Card (Set)` model to represent the card's artist(s) via a unique identifier, as well as their name(s).

[2022-04-01 04:40] JBeezy-Code opened #928 "Sealed Product Price List"
Could be beneficial to collect pricing data for sealed products.

SUGGESTION:
Collect SealedProduct pricing data by UUID.
Connect Sealed Product UUID to AllPrices file.

EXAMPLE:

**|identifiers|	|name|	|purchaseUrls|	|releaseDate|	|uuid|**
{'tcgplayerProductId': '202297'}	Theros Beyond Death Booster Box Case	{'tcgplayer': 'https://mtgjson.com/links/f3e0d...	2020-01-24	489b3869-a6ca-5549-912b-d2b7

[2022-04-02 05:28] ZeldaZach commented on #906
This was fixed up in #926 :)

[2022-04-02 05:28] #906 closed, assigned to nobody

[2022-04-10 08:18] giniman opened #931 "MID-172 is missing."
#### Version(s) tested against

MTGJSON  v5
2022-04-10 Allprintings.json

#### Description of Bug
MID-172 Briarbridge Tracker is missing.

[2022-04-11 14:41] noob247365 opened #932 "Add a "language" or "lang" field to cards to specify the default language (such as Japanese for Ukiyo-e lands from NEO)"
There is a website I use for recording my magic collection, and I noticed it was listing only EN/English for the Neon Dynasty Ukiyo-e lands. When looking at the card, you can see they are actually JP/Japanese only.

After reviewing the data provided by the NEO set JSON file (https://mtgjson.com/api/v5/NEO.json) I noticed the 293 Ukiyo-e land lacks any "foreignData". The 284 basic land does provide

[2022-04-11 15:56] staghouse commented on #932
I think this is an easy win since the data exists upstream and would help everyone differentiate cards that are non-english which some-what address this ticket: https://github.com/mtgjson/mtgjson/issues/759

I do think to keep it in line which our property names being full characters, it should be at least `"language"`

[2022-04-14 04:42] Rodentman87 opened #933 "Two cards missing otherFaceIds"
#### Version(s) tested against
MTGJSON 5.2.0+20220406

#### Description of Bug
All three paper versions of Alrund, God of the Cosmos (KHM 40, KHM 302, PKHM 40s) and the Secret Lair version of Zndrsplt, Eye of Wisdom are missing otherFaceIds (on both sides of each card)

[2022-04-15 07:44] Hamusutaa opened #934 "ANEO tokens have two b sides"
#### Version(s) tested against
5.2.0+20220414

#### Description of Bug
In the Neon Dynasty Art Series (ANEO) tokens, most of the tokens have two "b" sides and no "a" side.  20 of the 81 tokens correctly have an "a" and a "b" side.

[2022-04-16 13:14] ghost opened #935 "Mtgo tix prices?"
I've seen that you get mtgo prices from Cardhoarder in USD. Is there a conversion rate I can get programmatically to convert mtgo prices to TIX?

[2022-04-16 16:19] ZeldaZach commented on #935
CardHoarder prices value MTGO Tickets at $1/each from what I understand. @cheyner might be able to provide more insight if my assumption is wrong.

[2022-04-18 10:50] rjrportillo opened #936 "ADD LOW MID HIGH PRICE in ALLPRICES.JSON"
I am currently using the ALLPRICE.JSON file and it is a HUGE help in automating my pricing and inventory processes in my newly opened online singles shop (hopefully, I can afford to open a full pledged LGS soon). However, the market here in our country uses TCG MID prices in pricing singles. Would really appreciate it if this pricing data is added to the ALLPRICE.JSON file. Cheers!

[2022-04-19 16:02] notverymoe opened #937 "Incorrect data on some cards"
#### Version(s) tested against
MTGJSON 5.2.0+20220418, AtomicCards.json from website downloads.

#### Description of Bug

Some incorrect card data:
- Trial and Error (Test Card)
- Old Fogey (Unhinged)
- Xyru Specter (Test Card)
- Throat Wolf (Test Card)
- Spellbinding Soprano (Regular Card)

I don't know for certain, but I believe they have the following issues:
- Have the had their Summon card ty

[2022-04-19 18:09] #767 closed, assigned to ZeldaZach

[2022-04-22 07:06] GooseDeer commented on #934
This seem to be an issue with New Capenna Art Series (ASNC) as well. However in this set all the tokens are marked as side b

[2022-04-22 15:24] ZeldaZach commented on #934
Thanks for the ticket. I’ll try to take a look over the weekend

[2022-04-27 23:20] zqft9001 commented on #937
This looks to be mostly (but not entirely) a Gatherer issue, and technically anything it says on Gatherer is as "correct" as it gets.

Gatherer still has the type "Summon" for Xyru Specter, Throat Wolf, and Old Fogey, so that appears to be accurate.:
https://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&type=+[%22Summon%22]

For the subtype issue, Gatherer reports "Wolf" as a card

[2022-04-28 13:39] notverymoe commented on #937
Oh, sorry for the misunderstanding on my part for a few of those! Seems really weird they have errata rulings on Xyru and Throat but haven't applied them. Maybe I can lodge something with wizards on that...  I'll try a poke, you never know right?

Thanks for reporting upstream, I'll make sure to do in the future

[2022-04-28 15:00] zqft9001 commented on #937
Yeah, they're very lax about updating "funny" cards on Gatherer. Looks like Scryfall has already updated Xyru Specter, so that should be correct in the next build.

[2022-04-30 04:41] notverymoe commented on #937
They got back to me, they've apparently forwarded to an internal department. So we'll see if they agree and get around to it, or not

[2022-05-02 22:02] ZeldaZach commented on #937
Thanks for taking the lead on this @zqft9001 ! I'm taking a look at the history and it seems like things are working as they should. Rulings on Trial and Error (Surprised they exist...) "Elemental is a card type, and Fire is an elemental type. This has no relation to the creature type Elemental. If an effect refers to an Elemental, it refers to the creature type."

For the other cards, things look

[2022-05-02 22:02] #937 closed, assigned to nobody

[2022-05-02 22:04] ZeldaZach commented on #935
@HarleyQuinn-Z6 You can safely assume that Tix are 1:1 for USD

[2022-05-02 22:04] #935 closed, assigned to nobody

[2022-05-02 22:16] ZeldaZach commented on #934
Confirmed upstream is missing an attribute we rely on -- I've let them know and will update here when I have more information.

[2022-05-02 22:53] ZeldaZach commented on #933
Thanks for the report! I've confirmed this to be an issue and am working on a fix. Seems to affect cards that were apart of the historic rebalance setup

[2022-05-02 23:41] #933 closed, assigned to ZeldaZach

[2022-05-02 23:49] ZeldaZach commented on #932
This seems like an easy win for sure. Will work on an integration

[2022-05-03 00:04] #932 closed, assigned to ZeldaZach

[2022-05-03 02:17] ZeldaZach commented on #931
This should be addressed on tomorrow's build

[2022-05-03 02:26] #931 closed, assigned to ZeldaZach

[2022-05-08 19:36] #912 closed, assigned to nobody

[2022-05-16 16:50] ZeldaZach opened #942 "Support MultiverseBridge"
https://www.multiversebridge.com/

CardSphere Ids can come from this API

[2022-05-17 02:56] ZeldaZach commented on #857
I wrote a script to address this and it should be fixed in tomorrow's build!

[2022-05-17 02:56] #857 closed, assigned to nobody

[2022-05-17 03:21] ZeldaZach commented on #925
This appears to be a limitation of CardMarket, as they don't discern etched vs normal foil. Unfortunately there isn't much I can until they work towards their new API that will hopefully support this functionality.

[2022-05-17 03:21] #925 closed, assigned to nobody

[2022-05-18 18:33] ZeldaZach commented on #942
Fixed in #943

[2022-05-18 18:33] #942 closed, assigned to ZeldaZach

[2022-05-26 02:20] zqft9001 commented on #919
This appears to persist into at least 5.2.0+20220516, and to all languages for this card.

Looks to be an upstream issue, but doesn't appear to be affecting all cards from NEO on Scryfall. Reported to Scryfall for this card.

Comparison:

Gloomshrieker
EN:
https://scryfall.com/card/neo/219/gloomshrieker
KO:
https://scryfall.com/card/neo/219/ko/gloomshrieker

Ao, the Dawn Sky (correct for KO and ot

[2022-05-26 02:47] zqft9001 commented on #919
This is a bigger issue, but it's all specific cards looks like. Still appears to be upstream.

Searching with

```SELECT cards.name, cards.setCode, cards.text AS "english_text", foreign_data.text AS "foreign_text", foreign_data.`language`, cards.scryfallId FROM cards JOIN foreign_data ON cards.uuid = foreign_data.uuid WHERE cards.text = foreign_data.text AND cards.type NOT LIKE "%Basic Land%" AND

[2022-05-26 21:03] zqft9001 commented on #919
---
| name | setCode | URL |
| --- | --- | --- |
| Catti-brie of Mithral Hall | AFC | https://scryfall.com/card/afc/44/de/ |
| Catti-brie of Mithral Hall | AFC | https://scryfall.com/card/afc/44/es/ |
| Catti-brie of Mithral Hall | AFC | https://scryfall.com/card/afc/44/fr/ |
| Catti-brie of Mithral Hall | AFC | https://scryfall.com/card/afc/44/it/ |
| Catti-brie of Mithral Hall | AFC | https://sc

[2022-05-26 21:11] HighlyTrainedNeuralNetwork opened #945 "cardKingdomId identifier seemingly missing"
#### Description of Bug
Looking at the latest available version of AllPrintings and AllIdentifiers at https://mtgjson.com/api/v5/ the cardKingdomId identifer seems to no longer be present. Documentation at https://mtgjson.com/data-models/identifiers/ still suggests that this identifier should be present. To provide a concrete example, the card "Ancestor's Chosen" with scryfallID "7a5cd03c-4227-455