[2019-04-06 14:27] ZeldaZach commented on #291
cc: @csuhta

[2019-04-07 07:45] csuhta commented on #291
CP2 release date has been fixed upstream

[2019-04-08 21:32] #291 closed, assigned to nobody

[2019-04-10 11:01] ivodopyanov opened #293 "Pain \\ Suffering split card sides have same multiverseid in AllSets.json"
#### MTGJSON Version: 4.3.2

#### Description of Bug:

There are two json card records for Invasion set:
First one with name="Suffering", multiverseid=20578, manacost="{3}{R}", side="b"
Second one with name="Pain", multiverseid=20578, manacost="{B}", side="a"

Everything correct except multiverseid. Pain's should be 20577

[2019-04-10 20:54] ZeldaZach commented on #293
I've reported this upstream, but is this a problem for all split cards or just this one unique pair? Gatherer does report the same content no matter which MID you use, so it shouldn't be that big of a deal.

[2019-04-11 03:30] taw opened #294 "Flip/transform card faceConvertedManaCost is zero but it shouldn't be"
#### MTGJSON Version: 4.3.2

#### Description of Bug:

IIRC `faceConvertedManaCost` was supposed to show split/aftermath cards cmc, since after rules change they have different value on stack and different value elsewhere (or when fused on stack).

Somehow flipped version of flip cards got 0 `faceConvertedManaCost` and I can't see any reason why it should be so. They never have 0 cmc in any zone.

[2019-04-11 03:44] taw commented on #294
Now that I keep checking, it looks like it also affects all cards with `layout` `transform`. They have 0 cmc when they copy something, but not otherwise.

Somehow `layout` `meld` cards avoided this issue.

Basically, `faceConvertedManaCost` should only be defined for split / aftermath cards.

(unless I missed some multipart layout)

[2019-04-11 03:50] taw commented on #294
... and those flip cards should also have `manaCost` matching their other side as per rule 709.1c.

[2019-04-11 03:55] taw opened #295 "CMA releaseDate is wrong"
#### MTGJSON Version: 4.3.2

#### Description of Bug:

It's listed as `"releaseDate": "2017-06-06"`

It seems should be 2017-06-09

* https://magic.wizards.com/en/products/commander-anthology
* https://mtg.gamepedia.com/Commander_Anthology

[2019-04-11 04:12] ZeldaZach commented on #295
cc: @csuhta

[2019-04-11 04:13] ZeldaZach commented on #294
Looking at it, I see no issues with leaving the fCMC value as 0 for those parts. The information is (technically) correct, as that face does not have a mana cost value. The manaCost fields should be matching on the front/back, so if that's not the case please do open a separate issue.

Any other opinions on this?

[2019-04-11 04:14] csuhta commented on #295
Fixed upstream

[2019-04-11 04:15] #295 closed, assigned to nobody

[2019-04-11 04:19] ZeldaZach commented on #293
This is an upstream issue. If you'd like to report any and all combinations that would be cool. I'll be closing this as it's not a MTGJSON fix directly, but any changes upstream will get incorporated in our releases :)

Thanks for your report and helping to make MTGJSON the best!

[2019-04-11 04:19] #293 closed, assigned to nobody

[2019-04-11 04:25] taw commented on #294
For my local workaround, I can choose cmc/fcmc based on layout, but it's quite awkward to fill in `manaCost` for flip cards to one that agrees with the rules, as that means I need to chase the other side.

It's just trying to treat split cards, flip cards, and transform cards same way, but they have different rules, and (I'd guess) different user expectations.

[2019-04-11 04:52] taw opened #296 "In DDR "Ob Nixilis Reignited Emblem" is a card"
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/DDR.json

#### Description of Bug:

This is in `cards`, should be in `tokens`:
[code]

The same emblem in BFZ is correctly in `tokens`.

[2019-04-11 05:13] taw opened #297 "APC Portuguese Life / Death is wrong"
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/APC.json

#### Description of Bug:

I don't systematically check these, I just have some regexps to clean up split card foreign names as they had issues on gatherer, and I noticed that it's flipped backwards to what it should be (and from what v3 had).

[code]

[code]

It's actually a more systematic problem, as [Apocalypse was apparently print

[2019-04-11 05:27] ZeldaZach commented on #296
Thanks for catching this, simple fix. Will push shortly.

[2019-04-11 05:38] ZeldaZach commented on #297
This seems like an upstream issue as all translations come from SF. cc: @csuhta

[2019-04-11 05:38] #296 closed, assigned to nobody

[2019-04-11 05:42] taw opened #301 "Aftermath cards should have layout aftermath not layout split"
#### MTGJSON Version: 4.3.2

#### Description of Bug:
It worked this way in v3. They don't look the same, and they don't work the same according to rules.

This information can be reverse engineered, but it needs layout, card's rules text, and then finding the other side and and checking that side's rules text, so it's quite awkward.

[2019-04-11 05:49] taw commented on #297
Assault // Battery is reversed in multiple translations. I'm sure there's more, since I keep running into them without even trying.

[2019-04-11 05:49] csuhta commented on #297
Fixed all APC Portuguese split cards upstream

[2019-04-11 05:54] taw opened #302 "S99 release date seems wrong"
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/S99.json

#### Description of Bug:

`"releaseDate": "1999-07-01"`

[Wiki](https://mtg.gamepedia.com/Starter_1999) and v3 have it as `1999-07-12`.

[Wizards' page](http://www.wizards.com/magic/starter/starter/welcomeold2.asp) doesn't seem to list any date.

[2019-04-11 06:45] taw opened #303 "Artists for some DFCs listed twice as "X & X""
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/RIX.json

#### Description of Bug:

There are entries like (each of those 4 twice):

[code]

It doesn't seem to affect any other sets. All other "X & Y" are actually two different names.

[2019-04-11 13:03] taw opened #304 "boosterV3 field wrong for 4 sets"
#### MTGJSON Version: 4.3.2

https://mtgjson.com/json/NEM.json
https://mtgjson.com/json/ME1.json
https://mtgjson.com/json/MED.json
https://mtgjson.com/json/TSB.json

#### Description of Bug:

NEM and ME1 should have booster field, they were regular booster sets.

MED and TSB shouldn't have boosters. TSB is included as one card in sheets of another set, and MED sort of too, except in only weird spe

[2019-04-11 16:08] ZeldaZach commented on #304
I'll get this fixed up later

[2019-04-11 16:10] ZeldaZach commented on #303
Looks like an oversight on my part. I"ll see about fixing this later.

[2019-04-11 16:10] ZeldaZach commented on #302
cc: @csuhta

[2019-04-11 16:11] ZeldaZach commented on #301
Gonna need more opinions to make a change to how I'm handling it right now.

However, as I've said in the past, V4 != V3 and we made changes we thought would improve the data set.

[2019-04-11 16:37] jmcsmith opened #305 "Add set meta data or build date to setlist.json"
Add set meta data or build date to setlist.json
This will allow for consumers of these json files to determine which ones they need to update without pulling down every set file and checking meta data.
Setlist nodes could look like the following:
`{
     "code": "WAR",
     "name": "War of the Spark",
     "releaseDate": "2019-05-03",
     "type": "expansion",
     "meta": {
          "date": "201

[2019-04-11 20:10] ZeldaZach opened #306 "MKM API Implementation"
Add support for MKM based on new partnership.

SDK for easier impl: https://github.com/evonove/mkm-sdk

[2019-04-13 01:17] csuhta commented on #302
I'm hesitant to change this since we have no authoritative source. Someone may need to ask WotC on Twitter or something

[2019-04-13 01:49] taw commented on #302
I tried to do a quick sanity check based on days of the week, but while now it's always Friday, it wasn't like that back then:

* lea - 1993-08-05 - Thu
* leb - 1993-10-04 - Mon
* 2ed - 1993-12-01 - Wed
* ced - 1993-12-10 - Fri
* cei - 1993-12-10 - Fri
* arn - 1993-12-17 - Fri
* pdrc - 1994-01-01 - Sat
* atq - 1994-03-04 - Fri
* 3ed - 1994-04-01 - Fri
* leg - 1994-06-01 - Wed
* drk - 1994-08-08 -

[2019-04-13 05:52] silasary commented on #301
As I have previously mentioned, this change would be very useful for image
processing

[2019-04-14 05:24] KingSupernova31 opened #307 "Modern Horizons cards are missing "future" legality"
The current spoilers from Modern Horizons are missing the "future" legality that cards from the WAR spoiler have.

[2019-04-15 19:23] ZeldaZach opened #310 "Add set type to SetList array"
Would be useful for people who want to know what type of set it is.

[2019-04-15 19:23] #297 closed, assigned to nobody

[2019-04-15 19:23] #302 closed, assigned to nobody

[2019-04-15 19:23] ZeldaZach commented on #302
Closing as I'm not planning on fixing via my side

[2019-04-15 19:27] ZeldaZach commented on #307
From what I understand, "future" means it will be legal in the _next_ standard, after rotation. MH will skip standard, so it won't get this tag. Correct me if I'm wrong please.

cc: @csuhta

[2019-04-15 19:27] #307 closed, assigned to nobody

[2019-04-15 21:37] KingSupernova31 commented on #307
The documentation is completely wrong about "future". It claims that it's a properly value, whereas the files have it as a key. This was already discussed months ago, but apparently was never fixed.

[2019-04-16 18:48] ZeldaZach commented on #310
It's already there... how'd i forget?

[2019-04-16 18:48] #310 closed, assigned to nobody

[2019-04-16 18:58] #305 closed, assigned to nobody

[2019-04-16 19:21] #301 closed, assigned to nobody

[2019-04-16 19:28] #303 closed, assigned to nobody

[2019-04-16 19:34] #304 closed, assigned to nobody

[2019-04-16 19:38] #265 closed, assigned to nobody

[2019-04-16 19:59] #294 closed, assigned to nobody

[2019-04-16 22:32] aleohnesTUBS opened #316 "Foreign names for Sets"
It would be great to have foreign names for Magic sets.

Thanks in advance!

[2019-04-17 03:00] ZeldaZach commented on #316
Dupe #285 Solved in #288

[2019-04-17 03:00] #316 closed, assigned to nobody

[2019-04-17 03:01] ZeldaZach commented on #316
Hey @aleohnesTUBS this has been added, just it won't be live until we offer a full rebuild of the service in a week or so. Hang tight!

[2019-04-20 06:07] taw opened #318 "Should multipart cards have multiple Gatherer multiverseids?"
#### MTGJSON Version: 4.3.2

#### Description of Bug:

This seems to apply to all multipart cards. So for example:

* https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=20579
* https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=20580

Presumably the first ID is meant to be for first part of the card, and the second ID for the second part of the card. Gatherer displays

[2019-04-20 16:47] ZeldaZach commented on #306
Initial support is in, lets see what happens

[2019-04-20 16:47] #306 closed, assigned to nobody

[2019-04-20 19:25] ZeldaZach commented on #318
There's no guarantee in ordering of multiverseIDs for the sides (at least, I haven't coded one in). I'm not sure if this is something that needs to be looked into, but if you have suggestions I'm open to them

[2019-04-20 19:45] taw commented on #318
From examples I've seen they were always consecutive numbers, so presumably left side would have earlier id than right part by one.

Maybe just pick whichever one as canonical in some consistent way so it stays the same between mtgjson updates (either first or last), and then stuff the other as `other_multiverseid`, in case there's some use for cross-referencing?

[The obvious problem card](https:

[2019-04-21 04:14] ZeldaZach opened #319 "Stop using base set size file"
Can easily infer newer sets

[2019-04-22 19:08] ZeldaZach commented on #319
https://scryfall.com/search?q=set%3AWAR+is%3Abooster

[2019-04-22 19:09] ZeldaZach commented on #318
I've found counter examples in the past that do not have consecutive numbers. As such, I can't safely add it without introducing issues... not sure if it's worth it honestly as the system returns the same, and people really _shouldn't_ be using gatherer for development purposes 🤷‍♂️

[2019-04-22 19:15] ZeldaZach commented on #319
https://scryfall.com/search?q=set%3AWAR+is%3Abooster+unique%3Aprints gets the correct value

`set: ${SETCODE} is:booster unique:prints` Easily callable via the api `https://api.scryfall.com/cards/search?order=set&q=set:WAR%20is:booster%20unique:prints`

[2019-04-22 20:00] ZeldaZach commented on #319
Fixed in e02a763241b472a56c9c19560f18e44387494e53

[2019-04-22 20:00] #319 closed, assigned to nobody

[2019-04-23 05:31] silasary commented on #319
Hate to do this to you, but that number isn't always right.
See CN2 with foil Kaya, and War of the Spark with 36 extra Japanese walkers

[2019-04-23 05:32] ZeldaZach commented on #319
I ran a regression test against scryfall's count and manually put corrections in for the ones they don't agree with me on. See https://github.com/mtgjson/mtgjson/blob/master/mtgjson4/resources/base_set_sizes.json. Thanks for the concern, tho. Appreciate the oversight :)

[2019-04-25 01:55] loicgasser opened #321 "mutltiverseId is missing in War of the Spark"
#### MTGJSON Version: 4.3.2

#### Description of Bug:

It seems that multiverseId is missing from War of the Spark. See json sample:

[code]

It could be a problem in scryfall as I don't know where your getting these ids from.
It is also missing there.
See:
https://api.scryfall.com/cards/search?q=Widespread%20Brutality

But the multiverseId already exists:
https://gatherer.wizards.com/Pages/Card/D

[2019-04-25 16:02] jmcsmith opened #322 "Only update Setlist.json set meta data date field if data other than prices change."
With the addition of prices, and potentially automatic weekly builds (to update prices), only update the meta data date field if data other than prices has changed.
With that said maybe add an additional field in meta data that tracks when the last time the prices were updated.

This will allow people to either update when prices change or only when card data changes if they are not including pric

[2019-04-25 16:02] ZeldaZach opened #323 "Consolidation of Compressoin"
Move compress_json into the main program, with a flag

[2019-04-25 16:03] ZeldaZach commented on #322
can easily add `priceDate` that will update weekly, and `date` will only update if a diff of OLD and NEW show more than just price changes... will be tricky to add in, as I'll need older builds to confirm, but I can think about it

[2019-04-25 16:04] ZeldaZach commented on #321
Will be fixed in the 4.4.0 release this weekend.

[2019-04-25 16:04] #321 closed, assigned to nobody

[2019-04-25 16:06] loicgasser commented on #321
Ok thanks!

[2019-04-25 16:11] ZeldaZach opened #324 "CardHoarder digital prices"
https://www.cardhoarder.com Will need to investigate it more as they rely on MTGOID, which I don't necessarily have access to right now, but can be useful in the near future. WIll _NOT_ be in 4.4.0, but could be a good addition.

Good thing I did "paper" as a key for prices :D

[2019-04-25 19:13] tooomm opened #325 "add spoiler flag"
Also needs documentation then once added.

[2019-04-25 19:35] ZeldaZach commented on #324
Pop-able from `mtgo_id` and `mtgo_foil_id` (future) on SF

[2019-04-26 08:00] DJCatBlitz opened #326 "Sideboard is a copy of mainboard"
MTGJSON Version: 4.2.3

Description of Bug:
I checked most of the decks in AllDeckFiles.zip. In all cases the sideboard is a copy of the mainboard

[2019-04-27 01:28] ZeldaZach commented on #326
Sounds like an upstream thing. cc: @taw

[2019-04-27 01:29] ZeldaZach commented on #325
Will consider after 4.4.0 release

[2019-04-27 01:29] ZeldaZach commented on #324
Will delay till after 4.4.0. Looking at all options.

[2019-04-27 01:29] ZeldaZach commented on #323
Done

[2019-04-27 01:29] #323 closed, assigned to nobody

[2019-04-27 02:07] taw commented on #326
Yeah, the script exporting to https://github.com/taw/magic-preconstructed-decks-data had exactly this bug. Script fixed and new data uploaded now.

[2019-04-27 10:02] lebenski opened #330 "multiverseId for WAR"
Hey guys!  Just need the multiverseIds for WAR when you get a chance.  Would also be great to get them for SS2, PWAR and PRW2.  Many Thanks

[2019-04-27 10:12] ZeldaZach commented on #330
Already addressed in another ticket. Will be live Sunday.

[2019-04-27 10:12] #330 closed, assigned to nobody

[2019-04-28 00:04] #322 closed, assigned to nobody

[2019-04-28 00:18] #326 closed, assigned to nobody

[2019-04-29 03:37] mcgrogan91 opened #332 "Documentation link is a 404"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
The link in the **About Us** section related to documentation is now a 404 (`https://mtgjson.com/docs.html`)

[2019-04-29 10:02] skoogiz opened #333 "TypeError when running mtgstocks.py"
#### MTGJSON Version: 4.X.X
4.4.0

#### Description of Bug:

Executing `python3 -m mtgjson4 -ac --skip-keys` and results is this:

[code]

[2019-04-29 10:31] DJCatBlitz opened #334 "Aid the Fallen is missing a blank after 'Choose one or both'"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Aid the Fallen is missing a blank after 'Choose one or both'.
All other cards with this template have this blank

[2019-04-29 10:38] taw opened #335 "War of the Spark Mythic Edition cards lack multiverseids"
#### MTGJSON Version: 4.4.0

#### Description of Bug:

* https://mtgjson.com/json/MED.json
* https://gatherer.wizards.com/Pages/Search/Default.aspx?set=[%22War+of+the+Spark+Mythic+Edition%22]

Also Gatherer has it as 3 separate sets, and mtgjson as 1, but that's a judgement call.

Printed card metadata says something like `MED WS2/008` etc. - same code suggesting one set, but `/008` and being rela

[2019-04-29 10:44] taw commented on #318
4.4.0 now flipped one card from `"multiverseid": 20582` to `"multiverseid": 20581` (both are two sides of same card).
It would be nice if they at least got stable at some point.

[2019-04-29 18:17] ZeldaZach commented on #333
What version of Python3 are you running? I build and test with 3.7.3

[2019-04-29 19:07] skoogiz commented on #333
I also run Python 3.7.3

[2019-04-29 19:08] ZeldaZach commented on #335
cc: @csuhta

[2019-04-29 19:08] ZeldaZach commented on #334
cc: @csuhta

[2019-04-29 19:10] skoogiz commented on #333
I tweeked it to use the same skip as the other price sites to be able to build
[code]

[2019-04-29 19:10] ZeldaZach commented on #332
Addressed, ty!

[2019-04-29 19:10] #332 closed, assigned to nobody

[2019-04-29 19:13] ZeldaZach commented on #333
New PR is up if you want to try it out

[2019-04-29 19:16] skoogiz commented on #333
I just succesfully finished my build with the same snipet

[2019-04-29 19:18] ZeldaZach commented on #333
Fixed in #336

[2019-04-29 19:18] #333 closed, assigned to nobody

[2019-04-29 19:19] ZeldaZach opened #337 "Automate sqlite generation in full build"

[2019-04-30 06:39] skoogiz opened #338 "Warnings while building deck data"
#### MTGJSON Version: 4.X.X
4.4.0

#### Description of Bug:
While buildeing the decks I get blocks of warnings like this.
[code]
What do they mean? Are the mentioned cards not added to the deck or are there some data missing for the cards?

If the affected deck gets incomplete maybe some more info should be added to the warning.

Either way I think the affected deck should be mentioned in the warn

[2019-05-02 19:41] brokentone opened #339 "Omit tcgplayerProductId from AllCards"
#### MTGJSON Version: 4.3.2

#### Description of Bug:
First off, thanks for the work compiling this data! While I was analyzing some cards I found that the AllCards dataset has `tcgplayerProductId` in each entry -- which isn't actually useful on the card level, only on the card + set intersection.

I noticed the following:

And I would think this property likely ought to be omitted as well.

[2019-05-03 11:22] csuhta commented on #334
This is fixed upstream

[2019-05-03 11:26] csuhta commented on #335
Multiverse IDs added upstream

[2019-05-05 03:09] mike1ong opened #340 "cards in set "CNS" have no foreignData"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
cards in set "CNS" have no foreignData
check [Apex Hawks](https://gatherer.wizards.com/Pages/Card/Languages.aspx?multiverseid=382424)

[2019-05-05 03:29] ZeldaZach commented on #340
Upstream as Scryfall doesn't have the JP data
cc: @csuhta

[2019-05-05 03:30] ZeldaZach commented on #339
MTGJSON 4.4.0 has this field omitted in AllCards. Please try updating your downloads :)

[2019-05-05 03:30] #339 closed, assigned to nobody

[2019-05-05 03:31] ZeldaZach commented on #338
This is a leftover from when I was compiling and testing the decks. I do need to fix that up at some point. Thanks for pointing out

[2019-05-05 03:32] ZeldaZach commented on #337
Can write custom script similar to
[code]

[2019-05-05 03:32] #334 closed, assigned to nobody

[2019-05-05 03:33] #335 closed, assigned to nobody

[2019-05-05 05:31] csuhta commented on #340
Added upstream

[2019-05-05 05:44] ZeldaZach commented on #340
Will be added in tomorrow’s rebuild to JSON

[2019-05-05 05:44] #340 closed, assigned to nobody

[2019-05-05 21:44] peterix opened #341 "MTG rules parser went on a journey to lands unknown and brought something back."
#### MTGJSON Version: 4.X.X

#### Description of Bug:
There is some extra text that doesn't belong in https://mtgjson.com/json/CardTypes.json, possibly others.

See:
![image](https://user-images.githubusercontent.com/203326/57200696-21d31980-6f8f-11e9-8469-24ccd98fd4de.png)

[2019-05-05 21:58] ZeldaZach commented on #341
I blame Wizards. The parser is very hacky so I'm not too surprised it broke. Will look into a fix later.

[2019-05-06 14:20] ChainsawXIV opened #342 "Pricing data is included in AllCards when it shouldn't be... probably."
#### MTGJSON Version: 4.4.0

#### Description of Bug: Card pricing data is included in the AllCards data set, which doesn't make sense since the data there is meant to be agnostic to printing and prices vary by printing. Either this data should be excluded or some kind of aggregate (such as lowest and highest prices across a card's various printings) should be included here instead.

[2019-05-06 18:59] ZeldaZach commented on #342
This is an interesting idea... Will prob just rip it out for now, but in the future that could be a fun change

[2019-05-07 08:41] DJCatBlitz opened #343 "Slightly wrong ability text for Tibalt, Rakish Instigator"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Tibalt, Rakish Instigator has "Whenever" instead of "When" in its text

[2019-05-07 15:32] ZeldaZach commented on #343
cc: @csuhta

[2019-05-07 15:39] csuhta commented on #343
This seems like it’s already fixed (?)

[2019-05-07 15:40] ZeldaZach commented on #343
I think I got caught in a MTGJSON cache by accident. You're correct.

[2019-05-07 15:40] #343 closed, assigned to nobody

[2019-05-07 16:07] taw opened #344 "releaseDate is specified per set even for sets which did not release at once like FNM promos"
#### MTGJSON Version: 4.4.0

#### Description of Bug:

https://mtgjson.com/json/F16.json
https://mtgjson.com/json/F17.json
etc.

It's going to be a bit tedious to track them all, but Wizards has announcement articles for all FNM promos.

Tagging them all as January 1st makes some cards appear before their first printing.

Technically they release first Friday of each month.

[2019-05-08 14:59] vrspectre opened #345 "Split cards do not have correct number"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Split cards should have different numbers. They used to, but as of this release that seems to have been removed.

example: The two instances of 430842 should have 153a and 153b as their "number".
https://mtgjson.com/json/HOU.json

[2019-05-14 06:38] ZeldaZach opened #346 "Mark non english sets"
Add to sets a marker to indicate it's not in english. Ex: `isForeignLanguage: true` can be used to denote

Sets include: FBB 4BB RIN and REN

[2019-05-24 14:21] naknut opened #347 ""Global Series Jiang Yanggu & Mu Yanling" cards does not contain duelDeck"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Global Series Jiang Yanggu & Mu Yanling is listed as a duel deck on the MTGJSON website but none of the cards contain the `duelDeck` property that should exist on duel deck cards.

[2019-05-24 23:49] juggler885 commented on #345
I think the side field in the card has this information (at least it contains a and b for instance 430842)

Edit: Also this data seems to come from scryfall, and they don't do this with the collector number either

[2019-05-25 02:43] ZeldaZach commented on #338
Tag @taw To help fix up this: https://paste.ee/p/EJe1j (also pm'd on twitter)

[2019-05-25 02:47] ZeldaZach commented on #347
Didn't meet the normal duelDeck requirements. Added.

[2019-05-25 03:10] #347 closed, assigned to nobody

[2019-05-25 03:35] ZeldaZach commented on #341
Fixed in a694a9bb7b5ad30f2370357556acad7ca34bbb86

[2019-05-25 03:35] #341 closed, assigned to ZeldaZach

[2019-05-25 03:37] ZeldaZach commented on #325
Thought about it some more: In my opinion there is no real need for such a thing. The following query can detect if a set is fully released or not:

`if releaseDate > NOW then spoiler is true`

I'd recommend dr4ft to modify their code to accommodate for this

[2019-05-25 03:37] #325 closed, assigned to nobody

[2019-05-25 03:40] #342 closed, assigned to nobody

[2019-05-25 04:02] #346 closed, assigned to nobody

[2019-05-25 18:10] taw opened #351 "Data changes without version number changes!"
#### MTGJSON Version: 4.4.0

#### Description of Bug:

The "4.4.0" is very different now from what it used to be, and it's not just price data.
Also the new version is bugged. But it's really hard to track this as version stays the same while data changes.

There are `text` changes, `foreignData` changes. Please bump version number if you change content.

[2019-05-25 18:17] taw opened #352 "UTF8 BOM is some foreign names"
#### MTGJSON Version: 4.4.0

#### Description of Bug:

This is a bug in "new 4.4.0", it wasn't a bug in "old 4.4.0" as far as I can tell. (https://github.com/mtgjson/mtgjson/issues/351)

In 4BB, 4ED, 5ED, 6ED, 7ED, 8ED, APC, CHR, EXO, INV, JUD, LGN, MIR, MMQ, NEM, ODY, ONS, P02, PCY, PLS, POR, SCG, STH, TMP, TOR, UDS, ULG, USG, VIS, WTH there's UTF8 BOM included in some foreign names.

For example

[2019-05-25 18:23] taw commented on #338
There's two issues - oversized cards and S00.
I plan to make oversized cards match v4.
S00 is, eh, not fun.

[2019-05-25 18:28] taw opened #353 "PWAR Mobilized District has no artist"
#### MTGJSON Version: 4.4.0

This affects "new 4.4.0" but not "old 4.4.0".

https://mtgjson.com/json/PWAR.json

#### Description of Bug:

`PWAR` Mobilized District has no `artist` field. All other cards in all other sets seem to be fine.

It's probably worth adding an automated check for this.

[2019-05-25 18:30] taw commented on #351
There are even new cards added (in `PWAR`) without version bump.

[2019-05-26 01:32] SternerStock opened #354 "Junk Rules Text in keywords.json"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Keywords.json breaks down on line 41, after "undergrowth" in "AbilityWords".
Maybe an oxford comma was added or removed in the rules text that is being parsed? Line 41 begins with "and will of the council.", and it's just snippets of rules text down from there.
See https://mtgjson.net/json/Keywords.json

[2019-05-26 13:16] taw opened #355 "PRNA set is under PRN in AllSets.json"
#### MTGJSON Version: 4.4.0

https://mtgjson.com/json/AllSets.json

#### Description of Bug:

Set with code `PRNA` is under json key `PRN`. This confuses some tooling, as everything else has matching code and sent code.

All other set codes match.

[2019-05-27 21:57] vrspectre commented on #345
I hadn't noticed there was a side field. Thanks for pointing that out. I must have missed when it got added. I'll update my code to reference it instead.

[2019-05-27 21:57] #345 closed, assigned to nobody

[2019-05-28 00:29] ZeldaZach commented on #351
I'm still working on how should we properly manage spoiler season, price/bug fix updates, etc. Right now, unless I made significant code changes, I'm fine bumping the date and leaving the number, but I'll think about it more and come up with a better solution

[2019-05-28 00:29] ZeldaZach commented on #354
Handled. Also dupe #341

[2019-05-28 00:29] #354 closed, assigned to nobody

[2019-05-30 00:16] taw opened #356 "Planar card subtypes are incorrectly split into multiple subtypes"
#### MTGJSON Version: 4.4.0

#### Description of Bug:

For example here https://mtgjson.com/json/OPCA.json

It's listed as:

[code]

It should be:

[code]

And so on. It seems to affect all planar cards with multiword subtypes.

[2019-05-30 00:42] ZeldaZach commented on #356
That's my fault for splitting on spaces :D Will need a new method

[2019-05-30 00:44] taw commented on #356
Just split everything on spaces except when it's Plane, then don't split on anything.

I don't think there are any exceptions to this rule.

[2019-05-31 15:17] ZeldaZach commented on #355
Stupid bug I introduced. Simple fix. WIll push in a sec.

[2019-05-31 15:18] ZeldaZach commented on #355
31521b2f6f2d6093a2482ba6f6b7ceb9d6525f66

[2019-05-31 15:18] #355 closed, assigned to nobody

[2019-05-31 15:28] #356 closed, assigned to nobody

[2019-05-31 15:30] ZeldaZach commented on #353
Appears to be upstream issue.

cc: @csuhta

[2019-05-31 15:39] ZeldaZach commented on #351
My newest idea is to bump versions using pre-release notation
`4.4.1-alpha` -> `4.4.1-alpha.2` -> ... until `4.4.1` is fully released

[2019-05-31 15:40] ZeldaZach commented on #344
Since we do per-set releases and not per-card releases now, I'm inclined to close this as a no-fix as it doesn't really benefit anyone as far as I can see. If you see otherwise, please do let me know how we could possibly improve on this.

[2019-05-31 15:40] #344 closed, assigned to nobody

[2019-05-31 15:43] ZeldaZach commented on #352
Not to sure what the issue is... can you explain in further detail please?

[2019-05-31 15:45] ZeldaZach commented on #337
Wrote a script, this isn't necessary now.

[2019-05-31 15:45] #337 closed, assigned to nobody

[2019-05-31 15:46] ZeldaZach commented on #318
That's a flip upstream then, as my methods aren't race-time bound. I'm inclined to no-fix this for the time being, but I'll bring it up with upstream to see if they have any interest.

[2019-05-31 15:46] #318 closed, assigned to nobody

[2019-05-31 15:50] ZeldaZach commented on #338
Just ping back whenever you're up-to-date and I'll re-work on a fix

[2019-05-31 15:53] taw commented on #352
There's an extra invisible character ([UTF8 BOM](https://en.wikipedia.org/wiki/Byte_order_mark#UTF-8)) in a lot of places in JSON files.

You generally won't see it in browser preview, but if you parse that json with any programming language there will be extra character there.

[2019-05-31 15:54] taw commented on #351
Any version number system works, as long as they're tagged somehow.

[2019-05-31 15:57] taw commented on #344
Per-set release dates really don't work for a lot of promo "sets" which are just collections of cards released at various times.

It's a bit less of a problem, as most of them got split into annual subsets, but it still loses data compared with v3.

[2019-05-31 15:58] ZeldaZach commented on #344
I know it's a loss, but it's a trivial one to me. If I get a compelling case from someone who's actively looking for such data and they have a quality source that makes parsing such data easy, I will gladly reconsider.

[2019-05-31 15:58] taw commented on #338
Oversized cards now match v4.
I think S00 is the only difference affecting precons.

[2019-05-31 16:06] taw commented on #344
I use those exact dates for two features:

* which cards in a set are reprints
* which cards were legal in various formats at various times

I don't know of any machine readable sources. Release months or sets for [FNM cards are listed on this wiki](https://mtg.gamepedia.com/FNM_card).

[2019-06-01 00:43] csuhta commented on #353
Fixed upstream

[2019-06-01 02:02] ZeldaZach commented on #352
Can you check if this comes from upstream or if I introduce it?

[2019-06-01 02:02] #353 closed, assigned to nobody

[2019-06-01 02:17] ZeldaZach commented on #352
cc: @csuhta

[2019-06-01 02:40] ZeldaZach commented on #352
Handled; the cards updated were
https://api.scryfall.com/cards/d47ef7e7-d034-43aa-b0ad-9967e43c76a8
https://api.scryfall.com/cards/de94b4d5-be8a-431a-bfb4-7e0f7cd021eb
https://api.scryfall.com/cards/f7e209fd-526c-4a0e-b90b-f8712d040b36
https://api.scryfall.com/cards/ffa5e788-9489-451d-9239-c0d34d06837f
https://api.scryfall.com/cards/09d69b12-79af-47e7-98bf-297a8dd7d4a4
https://api.scryfall.com/car

[2019-06-01 02:40] #352 closed, assigned to nobody

[2019-06-03 15:17] naknut opened #358 "Some cards are missing frameEffect"
#### MTGJSON Version: 4.4.0

#### Description of Bug:
Some cards seem to be missing the frameEffect field when it should be set. For example "Niv-Mizzet Reborn" in "War of the Spark". He has a legendary frame but the frameEffect is omitted.

[2019-06-03 20:08] ZeldaZach commented on #358
Seems to be an upstream issue. cc: @csuhta

Niv doesn't have `frame_effect`: https://api.scryfall.com/cards/56a2609d-b535-400b-81d9-72989a33c70f?format=json&pretty=true

But Gwafa does: https://api.scryfall.com/cards/da097d1a-6e51-41d7-8dfe-f26acfb0038f?format=json&pretty=true

[2019-06-03 21:47] thinkingofmaud opened #359 "Proposal: storing booster generation instructions on the set info"
In mtgjson, most sets have the boosterV3 property, which is an array of rarities.
Let's see, for example: Shards of Alara

[code]

This does not reflect at all how boosters should be generated. I think better format for that.
I looked around, for example, mtggen uses this format to generate packs: https://github.com/copperdogma/mtgen/blob/master/mtgen/wwwroot/ala/packs.json. That may be too unters

[2019-06-04 03:04] ZeldaZach commented on #359
I purposely marked the field as "boosterV3" because I knew we would come up with a better solution for V4, just we didn't have an idea established before launching.

I would gladly look into something like your proposal, with some changes.

[code]

Explained:
`type`: What are the restrictions on the card? (Can say "legendary creature", "planeswalker", etc...)
`odds`: (Optional) What are the odds o

[2019-06-04 03:22] thinkingofmaud commented on #359
Scryfall already has a syntax for that, so we can have "r:common t:land" for the guildgates or "t:basic" for the snow land.

That syntax may also be used for the "one planeswalker per pack" of War of The Spark and the "one legendary creature per pack" of Dominaria.
I think the foil cards dont count for that rule, but I could not find any source on that.

This does not solve the Alliances shenaniga

[2019-06-04 03:24] ZeldaZach commented on #359
🤷‍♂ It's hard to set the standard. If you have other ideas do feel free to post!

[2019-06-04 03:29] taw commented on #359
You wish it was that simple.

Some relevant code behind [Sealed simulator](http://mtg.wtf/sealed): [1](https://github.com/taw/magic-search-engine/blob/master/search-engine/lib/card_sheet_factory.rb) [2](https://github.com/taw/magic-search-engine/blob/master/search-engine/lib/pack_factory.rb).

So what I'm basically doing for very simple "normal" set:

* preparing print sheets, each by a query (one

[2019-06-04 03:35] taw commented on #359
I literally use MCI style queries for mtg.wtf's Sealed simulator, but that's really not the right approach for mtgjson, unless it starts bundling a search engine with itself. I mean, mtg.wtf's is open source, but it's not something that would be terribly convenient to use for most software.

The only sensible solution is to somehow list which card goes onto which sheet, at which rate, either insid

[2019-06-04 03:49] thinkingofmaud commented on #359
Partner is https://magic.wizards.com/en/articles/archive/news/find-your-partner-battlebond-2018-05-18, right?

Zach had a post about color balance - https://github.com/dr4fters/dr4ft/issues/454#issue-438130114

[2019-06-04 14:11] taw commented on #359
[You can see this issue](https://github.com/taw/magic-search-engine/issues/106).

Battlebond collation [explained here](https://twitter.com/GavinVerhey/status/999437362357649408).

It would either need special BBD-specific logic (what I do), or one 2-card print sheet per pair, then one 2-card print sheet for foil version of that pair, followed by obscene number of booster types.

It doesn't _reall

[2019-06-05 08:52] DJCatBlitz commented on #334
Umezawa's Charm and Twisted Reflection have the same problem

[2019-06-05 08:54] DJCatBlitz opened #360 "Umezawa's Charm and Twisted Reflection are missing a blank after 'Choose one'"
#### MTGJSON Version: 4.4.1 (?)

#### Description of Bug:
see title

[2019-06-05 14:20] jmcsmith opened #361 "PWAR missing TCGPlayerID"
PWAR is missing TCGPlayerID for all cards except Deliver Unto Evil.

[2019-06-05 15:09] RDWonline opened #362 "Missing Multiverse ID values for Modern Horizons (MH1)"
I downloaded the latest version of MTGJSON AllSets.json (4.4.1) and inserted the contents to my local MySQL databases.  After running it twice I confirmed that the multiverseID value does not exist for any of the MH1 cards.

[2019-06-05 16:05] hankinsoft commented on #362
Signature Spellbook: Gideon is also missing MultiverseIds.

[2019-06-05 16:50] ZeldaZach commented on #362
Upstream: cc @csuhta

[2019-06-05 16:50] ZeldaZach commented on #361
Upstream; cc: @csuhta

[2019-06-05 16:51] ZeldaZach commented on #360
Upstream: cc @csuhta

[2019-06-05 17:11] taw opened #363 "HHO uses unnecessary (b) for second printing"
#### MTGJSON Version: 4.4.0

https://mtgjson.com/json/HHO.json

#### Description of Bug:

"Gifts Given (b)"  / "Gifts Given"
"Stocking Tiger (b)" / "Stocking Tiger"

They differ by just presence or absence of "Happy Holidays YYYY" in corner of the art, so they should just have same name as their base card.

It's not like Very Cryptic Commands, which have completely different card text.

[2019-06-05 17:17] taw commented on #344
PPRO is even more annoying, as cards in it were printed anywhere from 2007 to 2018.

[2019-06-05 23:39] ZeldaZach commented on #363
It's considered a "variation", so it should be marked in the variation field, not card name. Will look into this.

[2019-06-06 03:24] thinkingofmaud commented on #359
The gen property may also be used to store sheet, subsheet, and collation data, as well as the sources from where it was researched, when applicable.
Is there a set where we have perfect collation and sheet data?
It also seems that even on modern sets, some cards are "shortprinted" on the sheets, so, yeah, weight correction needs to be considered even on a pure statistical model, ignoring sheet co

[2019-06-06 03:46] taw commented on #359
[Outstanding issues are documented in this ticket](https://github.com/taw/magic-search-engine/issues/106).

Situation of pre-Alara basic lands is of the things that needs double checking.

[2019-06-06 04:24] taw commented on #359
So I took a quick stab at exporting. Here's one for RNA. This format is not quite what I had it mind (it shouldn't repeat identical sheets, it should flatten away subsheets, have sheet names not just `sheet-1` etc.). It's also verbose as hell. Well, it's a starting point for export script.

[rna.txt](https://github.com/mtgjson/mtgjson/files/3259980/rna.txt)

[2019-06-06 04:28] taw commented on #359
As for 4th Edition, with says:

I'll probably need to go through all the pre-Alara sets again, and double check that basic lands are ok for each one.

[2019-06-06 05:03] thinkingofmaud commented on #359
Nice. Well, it's something.

There are pictures of the visions sheets in https://mtg.gamepedia.com/Print_sheet#cite_note-How-7

Still, it's not clear how the commons subsheet on the rare sheet are distributed on packs. It's one of the common slots, as in 10 commons, 3 uncommons, 1 common from the rare sheet, 1 rare?

[2019-06-06 05:37] csuhta commented on #360
Fixed on Scryfall

[2019-06-06 05:40] csuhta commented on #362
MH1 has been updated on Scryfall
SS2 is not on Gatherer yet

[2019-06-06 05:53] #360 closed, assigned to nobody

[2019-06-06 05:53] #362 closed, assigned to nobody

[2019-06-06 09:35] taw commented on #359
Which sets are you talking about?

[2019-06-06 19:16] thinkingofmaud commented on #359
Visions, where the rare sheet has 50 commons (upper half subsheet) and 50 rares (bottom half subsheet) printed on it.

https://mtg.gamepedia.com/File:Uncut-VIS-R.jpg

Sorry for not being clear.

[2019-06-07 00:46] taw commented on #359
Did they just physically cut it into halves before the rest of the process? If so, then it's basically two sheets with extra steps.

Anyway, here's updated rna.txt export. Now with identical sheets merged, and with more concise format of card information. It's actually borderline readable now.

[rna.txt](https://github.com/mtgjson/mtgjson/files/3263971/rna.txt)

Next steps is flattening subsheets

[2019-06-08 06:30] jhallbachner commented on #359
I think for general use you can build a heuristic-based approach that's a lot simpler. The thing that matters most that isn't cleanly covered by full random selection is color balance; every set basically has different "buckets" of cards (colors, color pairs, artifacts, lands) that should be distributed somewhat evenly.

If we assume that we have a value for "printed rarity" (i.e. the sheet(s) a c

[2019-06-08 12:14] tooomm opened #364 "Several set name translations are inaccurate"
#### MTGJSON Version: 4.4.1-prerelease

#### Description of Bug:
- Betrayers of Kamigawa has wrong french translation:
`"French": "神河謀叛",` in `translations`<br>
Same problem for "Champions of Kamigawa", and maybe others?

- Japanese translations are often framed in `『』` signs, see https://github.com/mtgjson/mtgjson-website/issues/187#issuecomment-499261172.

- Some sets contain an empty translatio

[2019-06-08 15:16] thinkingofmaud commented on #359
Time spiral is easy, the special slot uses the same logic as basic lands in most sets.

I think your heuristic is spot on, for the commons. You still need to even the buckets with the actual slots, or you will get probabilities that are off.

Example: Time Spiral
* Pack Contents: 9 Commons, 1 Common or Foil, 3 Uncommons, 1 Rare, 1 Timeshifted.
* All cards with the same rarity appear at the same ra

[2019-06-11 00:09] Buried-In-Code opened #365 "Deck Naming"
#### MTGJSON Version: 4.4.1

#### Description of Bug:
There are 3 decks called "Jace", 1 for JVC, 1 for DDM and 1 for DD2.
Due to the way it is setup they all try to use the link: https://mtgjson.com/json/decks/Jace.json which resolves to the JVC deck making it not possible to get the decks for DDM and DD2

[2019-06-11 00:48] Buried-In-Code commented on #365
Looking at other decks this also applies to "Liliana"
M19, GVL, DDD resolves to M19
https://mtgjson.com/json/decks/Liliana.json

[2019-06-11 00:52] ZeldaZach commented on #365
cc: @taw

[2019-06-11 01:07] taw commented on #365
Well, that's what Wizards does a lot so 🤷‍♂ . They won't have unique names.
They also reprint the same deck a lot, so it will definitely have same name.
(also funny story, Planechase Anthology reprinted decks, but they have different decklists as plane cards are not really included in reprinted decks, but in a separate all-planes deck, just in case you thought it's not complicated enough)

I use u

[2019-06-11 05:03] Buried-In-Code commented on #365
It's not so much about the unique names, i'm just seeing if something can be added to make them unique as you have done for your urls

[2019-06-11 05:03] ZeldaZach commented on #365
My compromise is to rename them `name_setcode.json` if you think that would be helpful

[2019-06-11 05:05] Buried-In-Code commented on #365
Yes that would definitely be helpful, thanks

[2019-06-12 17:48] ZeldaZach commented on #364
My translations come directly from `https://magic.wizards.com/en/products/card-set-archive` by changing "en" to the appropriate language. As such, I'm hesitant to change it unless we can get a full list of all mandatory changes. I'd rather keep this system automated if possible.

[2019-06-12 17:48] #365 closed, assigned to nobody

[2019-06-12 18:01] #363 closed, assigned to nobody

[2019-06-12 18:11] ZeldaZach commented on #338
Re-build attached, still quite a few errors @taw :

[mtgjson_2019-06-12_14.07.39.log](https://github.com/mtgjson/mtgjson/files/3282637/mtgjson_2019-06-12_14.07.39.log)

[2019-06-12 18:12] #351 closed, assigned to nobody

[2019-06-12 21:48] taw commented on #338
Hmm, I thought everything except S00 was fixed already. I'll fix them for reals on next update I guess.

[2019-06-13 03:06] ancestral opened #368 "Wrong data for Liliana Death Wielder Planeswalker Deck"
#### MTGJSON Version: 4.4.1
MTGJSON Version: 4.4.1
#### Description of Bug:
Wrong data in this JSON file.

The JSON file says there are two of every card, but that’s not the case in real life. There are:

    1 Liliana, Death Wielder
    1 Channeler Initiate
    1 Oracle's Vault
    2 Liliana's Influence
    1 Festering Mummy
    2 Dune Beetle
    4 Tattered Mummy
    2 Baleful Ammit
    3 Desicca

[2019-06-13 03:10] ancestral commented on #368
![IMG_0959](https://user-images.githubusercontent.com/735024/59400993-d87ca380-8d5e-11e9-8e48-c895d90a3a0a.jpeg)

[2019-06-13 04:56] taw opened #369 "DDR Ob Nixilis Reignited Emblem is in cards"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/DDR.json

#### Description of Bug:

It actually appears twice - once in cards (which should go), and once in tokens (which should stay I guess).

[2019-06-13 06:30] taw opened #370 "DPA foiling is wrong"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/DPA.json

#### Description of Bug:

It's marked as all nonfoil, but 5 of those cards are actually foils:

* Ascendant Evincar
* Immaculate Magistrate
* Kamahl, Pit Fighter
* Mahamoti Djinn
* Verdant Force

Reference: https://mtg.gamepedia.com/Duels_of_the_Planeswalkers_(decks)

[2019-06-13 07:23] taw commented on #338
I refreshed the data. I think that should solve all warnings other than S00.

[2019-06-13 07:32] taw opened #371 "DDR foiling is missing"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/DDR.json

#### Description of Bug:

In Duel Decks: Nissa vs. Ob Nixilis deck, all cards are marked as non-foil, but these are actually in foil version:

* Nissa, Voice of Zendikar
* Ob Nixilis Reignited

As can be easily verified by star in their footer, or [any box opening video](https://www.youtube.com/watch?v=l7GD7ocRBCQ).

[2019-06-13 09:10] DJCatBlitz opened #372 "Italic format correct?"
#### MTGJSON Version: 4.4.1

#### Description of Bug:
I'm not sure if this is working as intended, but it is the first time, that my parser found &lt;i&gt (italic format) in ability texts for english texts. (for cards: Arcum's Astrolabe and Icehide Golem)
Is this intended?

[2019-06-13 11:44] hankinsoft opened #373 "`Forbidden` when running python3 -m mtgjson4 -ac"
#### Description of Bug:

When trying to run the script:

`python3 -m mtgjson4 -ac`

It fails with 'forbidden' with the following output:

[code]

I'm using Python 3.7.3.

[2019-06-13 17:30] ZeldaZach commented on #373
You don't have any partner keys, so you'll want to pass the `--skip-keys` flag to any and all builds you make. I'll see about making it more explicit

[2019-06-13 17:32] ZeldaZach commented on #372
Upstream issue. Nice catch :)

cc: @csuhta

[2019-06-13 17:32] ZeldaZach commented on #371
Upstream issue
cc: @csuhta

[2019-06-13 17:33] ZeldaZach commented on #370
Upstream issue, thanks for the find

cc: @csuhta

[2019-06-13 17:34] ZeldaZach commented on #369
I swear I put an exception rule in place already... will re-investigate

[2019-06-13 17:34] ZeldaZach commented on #368
Upstream issue

cc: @taw

[2019-06-13 17:39] hankinsoft commented on #373
Thanks, adding `--skip-keys` let the script continue.

[2019-06-13 20:25] csuhta commented on #372
Fixed on Scryfall

[2019-06-13 20:30] #372 closed, assigned to nobody

[2019-06-13 23:20] taw opened #374 "MIR:87† marked as having foil"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/MIR.json

#### Description of Bug:

So there's this card in MIR, which seems to be a Spanish alt art, and mtgjson thinks it has both foil and nonfoil versions.

While I'm no expert on rare foreign printings, this seems pretty unlikely as [first foils were only released two years after Mirage](https://mtg.gamepedia.com/Foil_card). And also looke

[2019-06-14 00:39] taw opened #375 "M19 Pendulum of Patterns marked as having foil"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/M19.json

#### Description of Bug:

This baffled me, as it's a common from Tezzeret planeswalker deck. Deck opening videos reveal 4 nonfoils in Tezzeret planeswalker deck, I can't find any information about it, and nobody actually sells it (a few sites list it with "none in stock" for foil version, they probably just list every card).

I'm like

[2019-06-14 03:11] ZeldaZach commented on #375
cc: @csuhta

[2019-06-14 03:12] ZeldaZach commented on #374
cc: @csuhta

[2019-06-14 03:42] csuhta commented on #374
This card is already marked as nonfoil only on Scryfall. Maybe stale data?

[2019-06-14 03:45] csuhta commented on #371
Fixed on Scryfall

[2019-06-14 03:45] csuhta commented on #375
Fixed on Scryfall

[2019-06-14 03:47] csuhta commented on #370
Fixed on Scryfall

[2019-06-14 04:48] #370 closed, assigned to nobody

[2019-06-14 04:48] #375 closed, assigned to nobody

[2019-06-14 04:48] #371 closed, assigned to nobody

[2019-06-14 04:50] ZeldaZach commented on #374
Could be. I'll be building Sunday so no worries.

[2019-06-14 04:50] #374 closed, assigned to nobody

[2019-06-14 05:01] #373 closed, assigned to nobody

[2019-06-14 05:23] #369 closed, assigned to nobody

[2019-06-14 05:26] ZeldaZach commented on #338
Will re-check after Sunday's rebuild

[2019-06-14 05:52] taw opened #378 "VMA really has one extra rarity"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/VMA.json

#### Description of Bug:

So mtgjson v4 decided to get rid of `special` and `basic` rarities.

This is mostly fine, but VMA really has one extra rarity beyond mythic, and it's currently not indicated in any way.

`boosterV3` field sort of suggests this.

Some references:

* https://mtg.gamepedia.com/Vintage_Masters
* https://gatherer.

[2019-06-14 06:10] ancestral commented on #359
Here’s my take:

I don’t like guessing.

MTGJSON is a resource with factual information.

If you want to build a booster generator, don’t put it in this project.

If the data can’t be sourced reliably, then it shouldn’t be captured.

[2019-06-14 11:40] taw commented on #359
Other than foils, which are known to be approximate, and some sets with weird rules (like DOM, BBD, WAR), contents of boosters are known quite well.

[2019-06-14 11:57] taw commented on #359
So I got the export to state I'm reasonably happy with.

All sets:
[export_sealed.txt](https://github.com/mtgjson/mtgjson/files/3290444/export_sealed.txt)

Just RNA:
[rna.txt](https://github.com/mtgjson/mtgjson/files/3290446/rna.txt)

Notes:

* the only place where I threw out data was which BBD card partners with which other card, everything else is flattened but as complete as I have it
* overal

[2019-06-14 12:22] ancestral commented on #359
* The commons are actually split onto two sheets where there are actually a handful of cards that printed more frequently. Which ones? We have no idea.
* Wizards has certain rules about color variance in a pack, and rumor has it number of creatures and non-creature spells.
* Your “weird sets” example is starting to become the norm. Wizards can now set rules on how boosters are made, like a Planesw

[2019-06-14 12:32] taw commented on #359
Those sets are actually 100% known, Wizards back then provided official information about that, [you can check them out](https://github.com/taw/magic-search-engine/tree/master/data/print_sheets).

So what actually happens is that collation is done by hand. It includes color, estimated power level etc.

For a few sets we have full print sheets, but mostly we don't. It's just a limitation of what we

[2019-06-14 13:16] taw opened #379 "BFZ/OGW non-full-art basics shouldn't have foils"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/BFZ.json
https://mtgjson.com/json/OGW.json

#### Description of Bug:

Those two sets have two versions of each basic. The full-art ones are in boosters, and have foils and nonfoils.

The non-full-art are in intro packs only, and as far as I can tell, don't have foil versions.

References:

* https://mtg.gamepedia.com/Battle_for_Zendikar
* https

[2019-06-14 13:29] taw opened #380 "5ED had no foils"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/5ED.json

#### Description of Bug:
5 variant cards in 5ED are marked as `"hasFoil": true`.

Foils didn't exist back then. [The first core set that had foils was 7ED](https://mtg.gamepedia.com/Seventh_Edition).

[2019-06-14 13:59] taw opened #381 "WC02 World Championships Ad is listed as card, should be token"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/WC02.json

#### Description of Bug:

`2002 World Championships Ad` is in wrong place. It should be in tokens, is in cards.

[2019-06-14 18:27] ZeldaZach commented on #380
cc: @csuhta

[2019-06-14 18:29] ZeldaZach commented on #381
🤷‍♂ It's not a card nor a token. I'd lean towards tokens for sure. Will see what upstream thinks, then make my move

[2019-06-14 18:30] ZeldaZach commented on #379
cc: @csuhta

[2019-06-14 18:30] ancestral commented on #359
It’s not always just that simple. For example, with Fallen Empires, it is not unheard of to get two versions of the same card, with alternate art.

No, but if we don’t have the formula, then we’re guessing what the formula is.

We are taking what Scryfall has sourced, and what Wizards provides on Gatherer, and their official information. Release date and legality data is coming from those sources,

[2019-06-14 18:32] ZeldaZach commented on #378
I'm still uncertain what to do with this right now, but you are correct they should have some distinction...

[2019-06-14 18:36] ZeldaZach commented on #359
I'm very hesitant to add such large chunks of data at this time. I am not saying no, but I just don't find this to be the correct path. Ancestral is correct that this would make a great addition to the dr4ft project in generations. I have no problems re-working what we currently have, but I don't think this is the right path. For something this large, I'd like a few more people to weigh in before

[2019-06-14 20:18] thinkingofmaud commented on #359
probably can never be re-created correctly **because the order on the sheets is unknown**.

Very true. For alpha, even the distribution of basic lands is unknown!

[2019-06-14 21:16] ancestral commented on #359
Yeah, it sucked for those people who bought packs and could get a basic land as their rare, as the basic lands were on the same sheet as the rares.

[2019-06-14 22:20] csuhta commented on #379
Fixed on Scryfall

[2019-06-14 22:20] csuhta commented on #380
Fixed on Scryfall

[2019-06-15 10:54] fenhl opened #382 "Missing watermarks on basic lands"
#### MTGJSON Version: 4.4.1

#### Description of Bug:

MTG JSON 3 had the mana symbols in the `"watermark"` field on basic lands where appropriate (e.g. in *Portal* but not in *Alpha*). These seem to be missing in v4 in all or almost all sets.

[2019-06-15 22:42] ZeldaZach commented on #382
Feature not brought over from V3. Do you have any reasons why this should be?

[2019-06-15 22:54] fenhl commented on #382
The information is simply missing. The cards have watermarks but MTG JSON does not list them.

[2019-06-16 03:11] ZeldaZach commented on #382
https://markrosewater.tumblr.com/post/167578433383/for-druid-of-the-scared-beaker-do-the-mana#notes

I'm gonna call this a no fix based on upstream and maro responses. Sorry mate <3

[2019-06-16 03:11] #382 closed, assigned to nobody

[2019-06-17 23:35] #380 closed, assigned to nobody

[2019-06-17 23:35] #379 closed, assigned to nobody

[2019-06-18 13:55] jmcsmith commented on #361
appears to be corrected with the latest build except for the Japanese plainswalkers.

[2019-06-19 05:25] Buried-In-Code opened #383 "Decks don't show lands"
#### MTGJSON Version: 4.4.1

#### Description of Bug:
When you pull a deck, example 'Goblins_DDT' it clumps all the lands into 1 giving the impression there are 20 of the same Mountain land cards rather than split across the 4 possible Mountain land cards.
As far as I can tell this is happening with all the decks.

[2019-06-19 14:25] taw commented on #383
Hi @Macro303

I maintain the decks data in mtgjson.

So the way it works is:

* there's collection of decklists like https://github.com/taw/magic-preconstructed-decks/blob/master/data/cmd/c18/Subjective%20Reality.txt with links to original source (some annotations like which card is a foil, error corrections etc. are just in the repo)
* there's a multistage indexer which uses some logic to transla

[2019-06-19 14:26] taw commented on #381
There's a bunch of other things with `"type": "Card"` even in the same set, all in tokens, so this one should definitely go where they go.

Other WC* sets do the same, putting various `"type": "Card"` stuff in tokes. This one just disagrees with all other such cases.

[2019-06-19 21:49] ZeldaZach commented on #383
I'm leaning towards agreeing with Taw here. Not sure if we can do much more without a solid background knowledge bank. If what we provide isn't satisfactory to your needs, please do reach out and I'll see if we can come up with an alternative together :)

[2019-06-19 21:50] Buried-In-Code commented on #383
Thanks @taw for the info. That's fine, if there's no source to pull it from then sticking with what you have is good enough
Yea I don't think anyone would want to watch that many videos that closely. 😆

[2019-06-19 21:50] #383 closed, assigned to nobody

[2019-06-20 04:29] silasary commented on #381
Fixed upstream

[2019-06-20 05:47] taw opened #385 "SOI Tamiyo' Journal issues"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/SOI.json

#### Description of Bug:

Gatherer doesn't do variants, so it has just 1 version.

mtgjson has 2 variants. There are 6 as far as I know:
* [random reddit thread](https://www.reddit.com/r/magicTCG/comments/4dab5h/tamiyos_journal_and_clues_did_anyone_find_any_of/) mentions six - 434, 922, 855, 653, 546, 711.
* [some random ebay listing

[2019-06-20 11:30] magreenblatt opened #386 "MH1 missing "boosterV3" field"
#### MTGJSON Version: 4.4.1

#### Description of Bug:
AllSets.json is missing the "boosterV3" field for set MH1.

[2019-06-20 11:48] ZeldaZach commented on #386
I really need to make a build hide for myself that includes updating booster file... thanks for reminder

[2019-06-21 05:49] taw opened #387 "P02 boosterV3"
#### MTGJSON Version: 4.4.1-rebuild.1

https://mtgjson.com/json/P02.json

#### Description of Bug:

It had boosters ([source with pic](https://mtg.gamepedia.com/Portal_Second_Age)), and in V3 it had:

[code]

But V4 dropped it.

[2019-06-21 09:41] taw commented on #338
@ZeldaZach Is it all gone except S00?

[2019-06-21 14:49] jmcsmith opened #388 "Setlist.json not updating with single set build."
M20 meta data is not being updated in SetList.json when the set is rebuild for spoilers.

[2019-06-21 22:56] ZeldaZach commented on #388
Yeah, I forgot a flag. Will fix tonight.

[2019-06-21 22:56] #388 closed, assigned to nobody

[2019-06-22 00:39] taw opened #389 "What's up with PZ1 and PZ2 ?"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/PZ1.json
https://mtgjson.com/json/PZ2.json

#### Description of Bug:

PZ2 claims to refer to https://mtg.gamepedia.com/You_Make_the_Cube
Or maybe it's meant to be https://mtg.gamepedia.com/Treasure_Chests

Cube list is presumably https://magic.wizards.com/en/MTGO/articles/archive/magic-online/you-make-cube-voting-2016-10-17 (under "SIMONOT TIMO

[2019-06-22 13:28] silasary commented on #389
These sets refer to the prize packs associated with the cubes, and are the only method in which cards from recent precons/supplemental sets are made available online

[2019-06-23 02:55] #386 closed, assigned to nobody

[2019-06-23 03:25] ZeldaZach commented on #338
Yep, look into that when you can? Closing as this isn't an issue on my side now.

[2019-06-23 03:25] #338 closed, assigned to nobody

[2019-06-23 03:25] ZeldaZach commented on #358
Seems to be fixed

[2019-06-23 03:25] #358 closed, assigned to nobody

[2019-06-23 03:26] ZeldaZach commented on #361
🤷‍♂ Not much I can do then, this is a TCGPlayer issue

[2019-06-23 03:26] #361 closed, assigned to nobody

[2019-06-23 03:28] #381 closed, assigned to nobody

[2019-06-23 03:34] taw commented on #368
Where do you see "two of every card"?

https://mtgjson.com/json/decks/LilianaDeathWielder_AKH.json shows correct card numbers.

Full art basics are a mistake, I'll add some logic to it to figure out correct basics.

[2019-06-23 03:43] #387 closed, assigned to nobody

[2019-06-23 03:46] #385 closed, assigned to nobody

[2019-06-23 03:47] ZeldaZach commented on #389
Closing as a no-fix since SF updated the names and the set codes don't really mean what they originally did back then.

[2019-06-23 03:47] #389 closed, assigned to nobody

[2019-06-23 05:03] ancestral commented on #368
In the JSON file, there are two Liliana, Death Wielder, aren’t there?

[2019-06-23 05:23] taw commented on #368
Oh right, it seems so. I thought you meant `count`s are all `2`. All decks seem to have their contents duplicated :-/

[2019-06-23 05:54] ancestral commented on #368
I believe other decks also have duplicated contents too.

[2019-06-23 13:19] taw opened #391 "10E Canopy Spider"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/10E.json

#### Description of Bug:

10E has separate nonfoil (without reminder text) and foil (with reminder text) versions.

Regular Canopy Spider is marked as both foil and nonfoil. All other cards seem fine.

[2019-06-23 13:21] taw opened #392 "10E originalText"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/10E.json

#### Description of Bug:

This is a bit nitpicky bug, but 10E has regular (with reminder text) and foil (without reminder text) versions.

Those foils lack any `originalText`. It could be generated with a regexp from base card `originalText` (just remove everything in parentheses).

(I don't use `originalText` myself, and I always pre

[2019-06-23 13:41] taw commented on #378
I think the best match to how other sets do it (with masterpiece sets like `MPS` `EXP` etc.) is to move them to separate set. `VMA9` would be an obvious code for that.

Extra rarity or flag would increase complexity everywhere else.

[2019-06-23 15:31] taw opened #393 "Can we get some flag for partially spoiled sets in progress?"
#### MTGJSON Version: 4.4.1

https://mtgjson.com/json/M20.json etc.

#### Description of Bug:

There are probably some hacks to detect this already, as it misses a lot of data, but could we just get some flag like `isIncompleteSpoiler`?

[2019-06-23 16:43] ZeldaZach commented on #391
Yep good spotting!

[2019-06-23 16:44] ZeldaZach commented on #392
originalText comes from gatherer, which doesn't discern cards at this level. I could agree with you here, though. I'll add something in. Are there any other sets that have this rule?

[2019-06-23 16:50] taw commented on #392
As far as I know it was a 10E only gimmick.

[Also foil versions without reminder text sometimes had extra flavor text instead](https://mtg.gamepedia.com/Tenth_Edition/Changes#Added_flavor_text), but mtgjson seems to handle this just fine already.

[2019-06-23 17:24] #392 closed, assigned to nobody

[2019-06-23 21:41] ZeldaZach commented on #324
Closing in-favor of MTGSTOCKS implementation coming in the near future.

[2019-06-23 21:41] #324 closed, assigned to nobody

[2019-06-24 06:09] taw opened #395 "Some flag to indicate card is full art"
As far as I can tell, there isn't any. It's quite rare, so basically a short list could do it.

[2019-06-24 06:11] taw opened #396 "Some flags for isPaper isMTGO isArena"
So mtgjson still has v3 style `isDigital`, but it only covers 2 out of 7 possible combinations.

It would be nice to tag per-set if card exists as paper / MTGO / Arena card.

[2019-06-25 03:06] taw opened #397 "Astral Cards from Shandalar?"
So here's an idea. [There was this one extra game with extra cards](https://magic.wizards.com/en/articles/archive/feature/astral-cards-2009-02-12). Maybe they could be an extra set?

A lot of non-playable sets like HHO are included. Not sure if this is too silly or not.

[2019-06-26 00:54] #391 closed, assigned to nobody

[2019-06-26 00:55] ZeldaZach commented on #395
Sure, easily do-able.

[2019-06-26 00:56] #368 closed, assigned to nobody

[2019-06-26 01:02] ZeldaZach commented on #395
Fixed in ab58b1f7a031b773e7e61d94c8e7ad7bb257a502

[2019-06-26 01:02] #395 closed, assigned to nobody

[2019-06-26 01:04] ZeldaZach commented on #393
My initial thought is they can read the releaseDate and understand the set's not released. Do you really think something like this would be needed? (If so, this is how I would do it anyway...)

[2019-06-26 01:09] ZeldaZach commented on #397
On the backlog of upstream. If they're not available by the next major release I'll look at doing it manually.

[2019-06-26 01:10] ZeldaZach commented on #396
Hmm... do you have a source to mark this as appropriate?

Upstream only has "digital" so I have no real way of discerning it... tag @csuhta

[2019-06-26 01:20] csuhta commented on #396
`digital` on Scryfall means that the specific print is only on digital games, never paper. We also provide the `games` array on each card object to show which systems you can obtain the card in. Perhaps use that instead of `digital`?

[2019-06-26 01:24] taw commented on #393
Well, sets tend to get fully spoiled awhile before getting released, and checking `releaseDate` against current date isn't really reliable, as you'd also need to know which exact date mtgjson got its data at.

A flag would be simplest solution.

[2019-06-26 01:30] ZeldaZach commented on #396
Learn something new everyday. Thanks, Corey!

[2019-06-26 02:03] #396 closed, assigned to nobody

[2019-06-26 02:20] taw opened #400 "Treat planeswalker loyalty cost as symbol"
So mana costs are marked like `{2}{W}`, but planeswalker loyalty abilities are just `+2` or `0`.

What I do with some simple regexps is converting:
[code]

to:

[code]

[Which then can be displayed with proper styling](http://mtg.wtf/card/ogw/104/Chandra-Flamecaller).

Maybe this feature could be upstreamed. Almost all other special symbols in text box (like mana, energy) get tagged, why not this

[2019-06-26 02:33] ZeldaZach commented on #400
Interesting approach. @csuhta What do you think?

[2019-06-26 02:45] taw commented on #400
Oh and I'm using different brackets as `[0]` loyalty ability and `{0}` mana cost would conflict otherwise.

[2019-06-30 08:44] taw commented on #385
It looks like foiling for 6 variants is still totally random. I think it should be "hasFoil": true, "hasNonFoil": true` for all 6.

[2019-06-30 09:05] taw opened #401 "isMisprint"
mtgjson v4 has a bunch of variant cards that are basically misprints like MIR 87†, 4ED 243† etc.

I'm not totally sure if they should really be included, but they should probably be marked with `isMisprint` or something.

For extra complication ARN has accidental printing variants, but they're officially acknowledged, so not sure if they should count as misprints or not.

[2019-06-30 19:14] ZeldaZach commented on #401
We only include 'misprints' that were widespread. Simple misprints that occur normally as one or two offs are not included. I'm not opposed to a flag to denote them, but I'm not sure if this is the right move.

Looking for more insight by the community.

[2019-07-01 10:31] DJCatBlitz opened #402 "Wrong template in ability text for Bloodsoaked Altar"
#### MTGJSON Version: 4.4.2

#### Description of Bug:
Bloodsoaked Altar should have
Activate this ability only any time you could cast a sorcery.
instead of
Activate this ability only any time you could play a sorcery.

[2019-07-01 16:37] taw opened #403 "Who/What/When/Where/Why lacks artist"
#### MTGJSON Version: 4.4.2

https://mtgjson.com/json/UNH.json

#### Description of Bug:

It should be Dan Frazier for all 5 parts.

[2019-07-01 16:43] taw opened #404 "UNH foil cards have no reason to be marked (b)"
#### MTGJSON Version: 4.4.2

https://mtgjson.com/json/UNH.json

#### Description of Bug:

So UST needs this silly `(b)` `(c)` etc. convention, as those cards have different text for same title, but UNH doesn't need the `(b)`. They're just usual foils with slightly fancier foiling process (like card-specific watermark and such).

[2019-07-01 17:02] ZeldaZach commented on #402
Nice spotting, informed upstream. Will be fixed soon.

[2019-07-01 17:02] #402 closed, assigned to nobody

[2019-07-01 17:04] ZeldaZach commented on #404
Would you be happier seeing them as a "variation" then? (Similar to what we did with HHO)

[2019-07-01 17:07] taw commented on #404
UNH should probably do just follow 10E and other such sets with fancy foils.
I think HHO does the same as 10E right?

[2019-07-01 17:07] ZeldaZach commented on #404
Yep, can do.

[2019-07-01 17:21] #404 closed, assigned to nobody

[2019-07-01 17:32] #403 closed, assigned to nobody

[2019-07-01 17:48] ZeldaZach commented on #401
See `isAlternative`

[2019-07-01 17:48] #401 closed, assigned to nobody

[2019-07-01 19:41] ZeldaZach commented on #393
Fair enough, I can add an internal flag for `if (build.date() < releaseDate) { add flag }`

[2019-07-01 19:51] thinkingofmaud commented on #359
[code]

or, in json

[code]

[2019-07-01 20:06] #393 closed, assigned to nobody

[2019-07-01 20:21] taw opened #409 "UNH Old Fogey"
#### MTGJSON Version: 4.4.2

https://mtgjson.com/json/UNH.json

#### Description of Bug:

It has 106 and 106★ variants, both of which are marked as `"hasFoil": true, "hasNonFoil": true`.

106 is nonfoil, 106★ is foil.

[2019-07-01 20:34] #409 closed, assigned to nobody

[2019-07-01 22:01] omfgitsmark commented on #400
I kinda love this idea. While looking at the plain text of a Dovin PW the other day I was thinking about how cluttered it looked and it not being very readable.

Along with the "Level Up" cards I'd like to add Saga enchantments to the list as well, though they are still not as relevant as PWs either.

[2019-07-02 06:47] taw opened #410 "UST flavor text errors"
#### MTGJSON Version: 4.4.2

#### Description of Bug:

I'll just link to SF as it shows v4 error, and correct pic on the card. These are fine on Gatherer:

* https://scryfall.com/card/ust/54d/extremely-slow-zombie - 5s should be 6s
* https://scryfall.com/card/ust/54c/extremely-slow-zombie - 5i should be 7i
* https://scryfall.com/card/ust/41d/novellamental - specs should be specks

This is not a co

[2019-07-02 07:31] lfgcampos commented on #400
Sounds like a good idea!!
Displaying them properly would be a very nice addition to most of the projects that use mtgjson.

[2019-07-02 15:46] #400 closed, assigned to nobody

[2019-07-02 15:50] ZeldaZach commented on #359
Interesting approach. You're missing token/ad cards and other misc stuff that might appear in a pack, but overall I kind of like it. Where would the description come from if they're not all the same?

[2019-07-02 19:50] thinkingofmaud commented on #359
I'm using description to point to an article or some other source of that info. That may not be necessary for mtgjson.

The packs are not all the same. For example, Core 20 is core 19 has a new, higher foil ratio. Core 19 is Alara but there is a special land slot. Modern Masters is Alara but instead of a land slot you have a foil slot.

Alpha has basic lands in all of the sheets, Islands on the ra

[2019-07-02 19:53] ZeldaZach commented on #359
Can you show me a few more examples? `ORI UST LEA ZEN EMN UNG XLN C18 WAR` is my standard "quick" testing procedure for seeing if I broke anything

[2019-07-02 20:16] thinkingofmaud commented on #359
UST has the contraptions. Are they all of the same rarity?
LEA has the lands on all slots. I think the easiest way to do it is using the extras to replace cards for lands.
EMN has a slot with a special distribution, the double card.
UNG has one land per pack? Then i can use the same model as Sevent /Eigth Edition (memory fails me right now).
XLN and ZEN have a masterpiece extra. Same approach coul

[2019-07-04 00:11] #410 closed, assigned to nobody

[2019-07-09 14:08] taw opened #412 "Replace or augment set type with list of set type keywords."
Both mtg.wtf and [scryfall](https://scryfall.com/docs/syntax#sets) have overlapping concept of "set types" so a set can have multiple "types", but mtgjson just has one type per set.

Here's a quote from SF docs:

I don't have nice docs for mtg.wtf, but it has some of mtgjson set types, some of same as SF, and few other `st:` like [`st:2hg`](http://mtg.wtf/card?q=st%3A2hg), [st:modern](http://mtg.w

[2019-07-11 16:57] jaikamat opened #413 "Duplicate card entries in AllSets.json (10E specifically)"
#### MTGJSON Version: 4.X.X

Version 4.4.2

#### Description of Bug:

After combing through some of the data I noticed that there seem to be duplicate entries for random cards in Tenth Edition such as `Birds of Paradise` and `Ascendant Evincar`. They have matching `tcgplayerPurchaseUrl`'s, yet the first BoP entry has a `multiverseiId` while the second does not. Curious if this is intentional?

[2019-07-12 03:19] ZeldaZach commented on #413
This is intentional. If you look at the "duplicate" copies, you'll see an `isAlternative` flag attached to them. This is because 10th Edition foils were different in that they did not have reminder text. This lead to a distinction in the cards that is not normally found. You can also see that the normal version has isFoil=False and the foil ones have isNonFoil=False.

Sorry for the confusion on th

[2019-07-12 03:19] #413 closed, assigned to nobody

[2019-07-12 15:40] corneauf opened #414 "Missing sets inside printings section"
#### MTGJSON Version: 4.4.2-rebuild.1

#### Description of Bug:
Some sets are missing inside the `printings` section of some cards. The following bug reproduction will focus on the basic `Island`.

##### Steps taken
- Download the `json.gz` archive.
- Unzip it with `gzip -d AllCards.json.gz`
- Go to the `Island` card. (On vim just search for `/"Island"`.)
- [Look at Gatherer here for the printing

[2019-07-13 18:17] #414 closed, assigned to nobody

[2019-07-24 01:57] omfgitsmark opened #416 "Error in 'duelDeck' docs"
The docs state for the 'duelDeck' field the value can be 'a' or 'b', but some tokens have the value 'c'.

![Capture](https://user-images.githubusercontent.com/35660089/61758962-cac23100-ad94-11e9-9b9f-e75180b31374.PNG)

[2019-07-24 02:28] ZeldaZach commented on #416
Should not have C,D,... Will either need to revoke after signing, or simply figure out how to better sign

[2019-07-26 02:06] #416 closed, assigned to nobody

[2019-07-26 02:07] ZeldaZach commented on #412
I'm all for it, but I'll need to have a source of truth for such a list

[2019-07-27 03:53] taw commented on #412
Well, scryfall has those queries, don't they expose them in their API somehow?

A few of them are a bit questionable, but we can deal with them later.

To be honest I'm not even sure who else could maintain it, since a lot of unofficial promo sets are basically their idea.

[2019-07-27 03:53] ZeldaZach commented on #412
If you know of the queries, do let me know. I don't myself

[2019-07-27 04:29] taw commented on #412
Hmm, https://scryfall.com/docs/api/sets says it's only one set type, so we'd need to poke them to provide everything their `st:` does.

[2019-08-04 21:31] jcorum11 opened #419 "Adding Mtg top 8 pro decklists"
I am an avid player and I have used MTG JSON for a few data science projects related to MTG. What would be most useful to me is to have a convenient way to compare how often a card is used by pros compared to other cards. Unfortunately the resource that I use (mtgtop8.com and others) don't have a convenient statistic on this, though mtg top 8 does have all decklists that has been on their sight si

[2019-08-06 04:10] ZeldaZach commented on #419
Hey JCorum! Having deck stats would be an interesting thing. I don't know if having decklists of non-constructed products is a good use of MTGJSON upstream, but having some usage stats could be helpful. I'll see what I can come up with on this idea.

If anyone wants to chime in, please feel free to!

[2019-08-11 00:59] ZeldaZach commented on #419
I reached out to MTGDecks for more information

[2019-08-12 03:25] nhrsn opened #420 "Hymn to Tourach should be Banned in Pauper"
#### MTGJSON Version: 4.4.1

Can't see a fix in the changelog notes for 4.4.2

#### Description of Bug:

Hymn to Tourach has no key for `pauper` in it's legalities data. The key should exist and the value should be "Banned"

[2019-08-12 03:27] ZeldaZach commented on #420
Legality changes aren't usually documented. I just checked the latest rebuild (that went live a few hours ago) and Hymn is correctly banned in Pauper.

[2019-08-12 03:27] #420 closed, assigned to nobody

[2019-08-12 03:28] nhrsn commented on #420
Thanks, sorry should've checked the latest

[2019-08-12 03:28] ZeldaZach commented on #420
Heh no worries. Thanks for the report as sometimes things slip through! If you find any other issues, do let me know :)

[2019-08-13 09:44] DJCatBlitz opened #421 "Bloodthirsty Blade has typo in ability text"
#### MTGJSON Version: 4.5.0

#### Description of Bug:
Bloodthirsty Blade has typo in ability text:
"Active this ability..." -> "Activate this ability..."

[2019-08-13 12:06] silasary commented on #421
Fixed upstream

[2019-08-13 12:13] #421 closed, assigned to nobody

[2019-08-13 19:06] ancestral opened #423 "Missing prices"
#### MTGJSON Version: 4.5.0

#### Description of Bug:
Prices data missing from most cards from C19. I understand the set been released yet, but sites are using prices for C19 as the cheapest price, meaning in some cases it’s nearly a dollar or more less. Given you are supporting the spoiled set, people will want to order the new cards, and it looks like MTGStocks and others have the data for them.

[2019-08-13 19:16] ancestral commented on #397
I’m not so sure this is a good idea. The cards aren’t in Gatherer and don’t exist in physical form, and the game is barely available or easily playable on modern computers today, so it’s as if they don’t exist.

On top of that, the Astral cards don’t have up-to-date templating or errata (“play X random fast effects”) and the images are hard to come by.

By that measure, if you decide to include th

[2019-08-13 19:43] taw commented on #397
mtgjson already has a lot of cards with no legal paper version.
It's more or less these: https://mtg.wtf/card?q=-in%3Apaper

[2019-08-13 21:46] ZeldaZach commented on #423
Upstream issue with MTGStocks. I have reported it to them and will rebuild when they're updated.

In the future, we'll be using a variety of sources.

[2019-08-13 21:46] #423 closed, assigned to nobody

[2019-08-13 22:34] ancestral commented on #397
I think the biggest difference is Wizards actually designed those.

[2019-08-13 23:05] taw commented on #397
You're sure they weren't designed by Wizards?

[Also fun fact](https://magic.wizards.com/en/articles/archive/feature/astral-cards-2009-02-12):

[It was printed by Wizards, and has Wizards copyright on it](https://www.ebay.co.uk/itm/Aswan-Jaguar-Jumbo-Oversized-6X9-Arena-Promo-Card-MTG-Magic-Hot-Sexy-Pimp-OOP/323283864519?hash=item4b45384bc7:g:nBkAAOSwRNRbEdmo).

[2019-08-15 04:30] ancestral commented on #423
Hey, I totally get you’re figuring this out. Again, no worries, but maybe the ticket should still be open, unless it’s good now?

[2019-08-15 16:39] omfgitsmark opened #424 "One token still has a "duelDeck" field...and it's still "c""
#### MTGJSON Version: 4.5.0

#### Description of Bug:
![image](https://user-images.githubusercontent.com/35660089/63110524-a7387380-bf59-11e9-934e-81370268b3ff.png)

[2019-08-16 14:12] omfgitsmark opened #425 "Offer "min" version"
By removing formatting (tabs, line breaks, etc.) it is possible to get the size of each json file down to almost 1/4 of it's normal size.

![image](https://user-images.githubusercontent.com/35660089/63173154-3bafde00-c00d-11e9-9392-d26c24619e9e.png)

For anyone (including myself) who doesn't need it to be pretty or human-readable, a .min version would be great. A smaller file would be easier to wo

[2019-08-18 19:51] ZeldaZach commented on #425
Yeah. This will be the default. See 590ed20a34228c387a880e5c3288ccd55b1a20ac

[2019-08-18 19:51] #425 closed, assigned to nobody

[2019-08-19 00:42] omfgitsmark commented on #397
Shandalar is one of my favorite games of all time, I highly support this idea. I actually have the game installed on my PC right now, so saying "...the game is barely available or easily playable on modern computers today..." is pretty inaccurate. There's actually a pretty big community that keeps the game updated for modern computers and more, so it's actually prevalent and pretty easy to find.

[2019-08-19 04:31] ancestral commented on #47
Revisiting this. @staghouse supported me in the idea of having format-specific downloads beyond just Standard, Modern and Vintage, which is really what this ticket was about in the first place.

The suggestion is one for each of the formats Scryfall supports (Legacy, Brawl, Commander, Pauper, Penny Dreadful and Duel Commander). If you want to stick with Wizards-recognized formats only of those, al

[2019-08-19 17:55] ancestral commented on #397
That's a little misleading. It was an oversized promo card for the game.

I’m only saying we need to be careful with these [because there are some weird “cards” out there](http://www.magiclibrarities.net/444-rarities-microprose-computer-game-cards-english-cards-development.html#card018) — if you can call them that. There is no up-to-date errata, and in the case of the SEGA cards, they’ve never had

[2019-08-20 15:11] APrettyCoolProgram opened #427 "Card page"
#### MTGJSON Version: 4.X.X
4.5.0-rebuild.1
#### Description of Bug:
The card page (https://mtgjson.com/structures/card/) is missing "tcgplayerPurchaseUrl".

[2019-08-21 02:33] ZeldaZach commented on #427
Thanks for the reminder ticket. `tcgplayerPurchaseUrl` was deprecated in 4.4.0 and slated for removal in 4.5.0. It will be gone in the rebuild posted on Sunday.

[2019-08-21 02:33] #427 closed, assigned to nobody

[2019-08-21 06:54] ancestral opened #428 "Crawling Gamepedia is a serious risk"
#### MTGJSON Version: 4.5.0

#### Description of Bug:
MTGJSON crawls https://mtg.gamepedia.com/Modern for a list of sets that are legal.

This is insecure. Anyone can edit that page and insert or delete a set before a rebuild occurs. Or less maliciously, the page could easily get designed, reformatted, or redirected without notice.

We need a safer method. Either a trusted site like Scryfall, or a

[2019-08-21 14:02] taw opened #429 "M20 foiling errors for some precon cards"
#### MTGJSON Version: 4.5.0

#### Description of Bug:

* `CardPrinting(Ironclad Krovod, m20) should be nonfoil`
* `CardPrinting(Vivien, Nature's Avenger, m20) should be foilonly`

These are cards from [this](https://mtg.gamepedia.com/Core_Set_2020/Planeswalker_decks) and [this](https://mtg.gamepedia.com/Core_Set_2020/Welcome_decks) decks.

[2019-08-21 14:04] taw opened #430 "C19 missing artists"
#### MTGJSON Version: 4.5.0

#### Description of Bug:

* No artist for Deep Analysis c19 83
* No artist for Druid's Deliverance c19 162

[2019-08-21 18:19] ZeldaZach commented on #430
cc: @csuhta

[2019-08-21 18:19] ZeldaZach commented on #429
cc: @csuhta

[2019-08-21 18:21] ZeldaZach commented on #428
It's a low level of risk imo, but I'm fine looking for alternatives. If you have any to suggest, please feel free to. I _could_ also host my own list, which might be a good idea, but I'd like to see my options first.

[2019-08-21 18:22] ZeldaZach commented on #424
It's the Ob Emblem. Will need to figure out how to parse that out correctly later.

[2019-08-21 20:18] ancestral commented on #428
Doesn’t the card data already come with legalities included?

[2019-08-22 01:58] csuhta commented on #430
Fixed on Scryfall

[2019-08-22 01:58] csuhta commented on #429
Fixed on Scryfall

[2019-08-23 06:47] harbingerofme opened #431 "Missing legalities for MTG Arena Best of One."
#### MTGJSON Version: 4.X.X

#### Description of Bug:
[Nexus of Fate is banned in MTGA best of one formats. ](https://magic.wizards.com/en/articles/archive/news/mtg-arena-banned-and-restricted-announcement-2019-02-14) This is not reflected in the mtgjson.

[2019-08-23 07:50] Nicate opened #432 "Support for Arena specific properties of cards: collectability and craftability"
Is it an idea to support some of these aspects of Arena (only) cards?

- Collectability status: Some cards (and tokens) in the New Player Experience are part of the ANA set, but cannot be collected inside the game. This also means you cannot import deck lists that contain these cards. Something to help filter out these cards could be useful for that.
- Craftability status: One of the New Player Ex

[2019-08-25 02:26] omfgitsmark commented on #397
I feel like I should note, originally the fact that I love the Shandalar game(s) I was a bit blinded by nostalgia and my opinion was clearly bias. After consideration, @ancestral makes valid points and I completely understand his position against adding these cards. So I am going to rescind my support for this and abstain from agreeing or disagreeing; I stand mute. _Let the chips fall where they m

[2019-08-28 00:21] ZeldaZach commented on #431
I'd consider making a change, but since it rotates in a few weeks I'm inclined to no-fix. We also don't support BO1 currently.

[2019-08-28 00:22] ZeldaZach commented on #432
This is an interesting concept. I don't know enough about how Arena works with getting specific cards, but it's not out of the question. Will research more later.

If any others have opinions on this, feel free to drop a line

[2019-08-28 00:22] #431 closed, assigned to nobody

[2019-08-28 00:23] #430 closed, assigned to nobody

[2019-08-28 00:23] #429 closed, assigned to nobody

[2019-08-28 03:05] Nicate commented on #431
Be advised that when the format rotates, Arena will introduce an additional format called Historic, in which presumably Nexus of Fate will still be banned for Bo1 (it was banned since it could essentially stall the game for half an hour). How they will choose to term that I don't know, since I'm guessing you can probably also play best-of-three in this format.

It may also be possible that bans li

[2019-08-28 06:08] ZeldaZach commented on #431
If that happens we will re address

[2019-08-28 06:45] mike1ong opened #433 "Foreigndata have wrong prefix"
#### MTGJSON Version: 4.5.0

#### Description of Bug:
It should be an upstream issue, two cards have this problem
Scryfall ID:
ebff1b5d-b948-48fa-9fa7-690b13ab5d71
ea65e470-4892-4b2b-b187-2296c7a8d46a

These foreign names has a wrong "XX" prefix:

language|multiverseId|name
---|---|---
Chinese Simplified|131122|XX骁勇
French|131243|XXLa Valeur
German|131364|XXDie Tapferkeit
Italian|131485|XXIl Valor

[2019-08-28 23:50] ZeldaZach commented on #433
Ref: https://github.com/scryfall/gatherer-bugs/issues/24

[2019-09-01 12:52] nicho92 opened #434 "Keywords.json data is break"
#### MTGJSON Version: 4.5.0
data in https://mtgjson.com//json/Keywords.json are broken after "undergrowth" keyword

#### Description of Bug:
![image](https://user-images.githubusercontent.com/11507615/64076650-bd6b6100-ccc7-11e9-917f-8860c3cc78dc.png)

[2019-09-01 16:18] #434 closed, assigned to nobody

[2019-09-01 17:02] ZeldaZach commented on #434
It’s a game of cat and mouse with Wizards haha. All fixed. Will he in today’s rebuild.

[2019-09-02 05:06] #433 closed, assigned to nobody

[2019-09-05 00:06] cbljames opened #435 "MTGJSON script: fallback lookup on multiverseId"
We have a dependency on multiverseId as the main identifier for cards. We know that MTGJSON pulls this from Scryfall, but Scryfall typically lags behind Gatherer in terms of having the multiverseId populated.

In the MTGJSON build script, it would be great if the script can "fallback" and populate based on Gatherer if the Scryfall ID check fails. From a practical standpoint, this helps us get our

[2019-09-05 00:07] cbljames opened #436 "Flag representing if card can have any number of cards in deck (e.g. 'Rat Colony')"
We are searching for string 'A deck can have any number of cards named' in card text. Would be great to have a more elegant method.

[2019-09-05 00:07] cbljames opened #437 "Flag representing if card can be a commander."
We are checking if card is 'Legendary Creature' or card text contains 'can be your commander' (e.g. 'Will Kenrith'). Would like a more elegant solution.

[2019-09-05 00:20] ZeldaZach commented on #436
I really like this idea, it's like the "basic" super type. Will look into this.

[2019-09-05 00:20] ZeldaZach commented on #437
Seems like a neat idea. Useful to help shortcut for some people (Similar to what I've done for Hideaway)

[2019-09-06 21:51] #436 closed, assigned to nobody

[2019-09-06 21:51] #437 closed, assigned to nobody

[2019-09-10 21:12] ZeldaZach opened #439 "Move to AWS"
We want to move MTGJSON builds to AWS (Lambda to trigger an EC2 instance). This would allow us to have a continuous integration, supporting the basis of daily pricing

[2019-09-10 21:15] ZeldaZach commented on #419
No response unfortunately. Will have to close as a no-fix until we can get more information.

[2019-09-10 21:15] #419 closed, assigned to nobody

[2019-09-10 21:20] ZeldaZach opened #440 "Document setting up dev env"

[2019-09-10 21:42] ZeldaZach commented on #47
What I'm looking for now is essentially an expansion of what we offer

We have `Vintage.json`, `Standard.json`, etc. These files are all a subset of `AllSets`. I'm looking for `VintageCards.json`, `StandardCards.json`, etc which will be a subset of `AllCards`.

[2019-09-11 19:58] henry739 commented on #47
Actively working on this; please could I be assigned?

[2019-09-13 11:25] jmcsmith opened #442 "Throne Adventure cards have incorrect Scryfall id"
Throne Adventure cards have incorrect Scryfall id.

See Bring to Life:
MTGJson
"scryfallId": "32158458-42eb-41bc-a15a-11af28463eb0"

Scryfall
"id": "a8924faa-d5f5-4119-9fa1-be0789a5655d"

The "Big" part of the physical card works (Animating Faerie)

[2019-09-15 18:49] ZeldaZach commented on #442
Just re-tested. I had to make one slight modification, but the SF Id seems to be correct now. Feel free to re-test with the rebuild today!

[2019-09-15 18:51] #442 closed, assigned to nobody

[2019-09-17 03:40] ZeldaZach opened #443 "Prevent rebuilds of translations if cache disabled"

[2019-09-17 11:50] ebbit1q opened #444 "Allsets misses card types for modern horizons art cards"
Noted in cockatrice here: https://github.com/Cockatrice/Cockatrice/issues/3815
Around 54 cards are missing card types.

[2019-09-17 11:59] ebbit1q commented on #444
so apparently in the output for AMH1 every even card will have the types `["Card"]` and the uneven ones will be empty.

[2019-09-17 12:16] ebbit1q commented on #444
So confusion stemmed from that these are in fact the art cards and not the set itself. Anyhow the typeline still seems weird to me but it isn't a problem.

[2019-09-17 14:53] ebbit1q commented on #444
Special corner case time! The way it deals with these being two faced cards doesn't correctly register because both sides have the same name. ( Introduced here: https://github.com/mtgjson/mtgjson/pull/111 )

[2019-09-17 15:17] ZeldaZach commented on #444
Will fiddle around with this tonight... I had issues building them last night and put some hacks in. Will prob revert those out and come up with a better solution.

[2019-09-17 15:31] ebbit1q commented on #444
Maybe come up with a way to differentiate double face cards that doesn't look baseline illegal?

[2019-09-17 15:54] TheYsconator opened #445 "Database is locked"
#### MTGJSON Version: current master

#### Description of Bug:
When running ```pipenv run python3 -m mtgjson4 -acz``` on a fresh install (after having installed the requirements), I get the following error: https://puu.sh/EigcN/5df6b55b21.png

Is there a way to circumvent this?

[2019-09-17 16:41] ZeldaZach commented on #444
I'm gonna shove them into the tokens array, for one. That's my biggest issue. I somewhat rushed to get it building last night. My mistake

[2019-09-17 22:46] ZeldaZach commented on #444
Fixed in 52421726f1aefd4a02b286744609aaf68f5a102a, rebuilding and will re-deploy

[2019-09-17 22:46] #444 closed, assigned to ZeldaZach

[2019-09-18 14:40] TheYsconator commented on #445
Disabling the cache appears to work (I guess because then there is no database that can be locked), but I was wondering if there is something I have to do additionally to get caching to work.

[2019-09-18 15:32] ZeldaZach commented on #445
I have never experienced such an issue with the cache system, so it's a bit hard for me to diagnose. Looking online, it might be a thread issue. https://codeday.me/es/qa/20190419/523050.html is the best thing I've seen related to this issue, but I'll continue to dig.

[2019-09-20 19:30] thinkingofmaud commented on #359
On Throne of Eldraine - https://mtg.gamepedia.com/Throne_of_Eldraine

New rarity for collectors, in an alternate pack, that works like a urza foil. New bike shed for every set.

[2019-09-20 23:56] ZeldaZach opened #446 "Add types array to Tokens"
Requested by Mythic Patron

[2019-09-23 15:30] ZeldaZach commented on #443
Seems this was a bug and i was crashing in the code. Addressed in 57eb449dd14c2749a3b72804c58d7b91f1645d69

[2019-09-23 15:30] #443 closed, assigned to ZeldaZach

[2019-09-23 15:34] ZeldaZach commented on #445
@TheYsconator I did some googling and this appears to be a local issue not relating to MTGJSON. Guides online say you may have had the cache DB open accidentally, in the wrong format (did you manually create?) , or didn't have permissions to write to the location (most probable). Feel free to report back :)

[2019-09-23 15:34] #445 closed, assigned to nobody

[2019-09-23 15:42] ZeldaZach commented on #359
I saw that and was thinking "ughhhhh." Not sure how we should handle it, but this is going to force our hand for a V4. I'm still leaning towards using an enum-type class and not defining odds initially, but leave room for them to come in the future. This field should be easy enough for people and machines to understand. Will brainstorm soon.

[2019-09-23 15:43] ZeldaZach commented on #364
I think this function disagrees with my prior comment: https://github.com/mtgjson/mtgjson/blob/master/mtgjson4/provider/wizards.py#L386 As such, if someone provides me a list of corrections I'm more than willing to import and apply them.

[2019-09-23 15:50] taw commented on #359
Just saying, the machine-readable system I have can handle that just fine.

Simpler systems just can't deal with the kind of complexity WotC is going to throw at us.

[2019-09-23 16:59] lionelh commented on #364
Hello,
Here is a list of all the incorrect French translations i have found :
Fourth edition is still in English (the right French value is "Quatrième édition")
Ice age is still in English (the right French value is "Ère glaciaire")
Homelands is still in English (the right French value is "Terres natales")
Fifth edition is still in Enfliqh (the right French value is "Cinquième édition")
Weatherlig

[2019-09-23 17:17] lionelh commented on #364
Here is the list in CSV format (first column is the set's code and second column is the French translation).
The list only contains the sets wich need translation fix.

[french-translation-fix.txt](https://github.com/mtgjson/mtgjson/files/3643326/french-translation-fix.txt)

[2019-09-24 19:16] TheYsconator commented on #445
Hmm I didn't create the cache manually, nor were there (as far as I know) any other applications running that would've touches that database. I was using pipenv instead of pip and virtualenv though, so I can try again tomorrow with pip and virtualenv.

As for the possibility of insufficient permissions; I wouldn't know why my general user level permissions wouldn't be enough, and I guess that it w

[2019-09-25 12:35] taw opened #447 "UNH 106★ `frameVersion`"
#### MTGJSON Version: 4.5.1

#### Description of Bug:

So I decided to actually use mtgjson `frameVersion` instead of guessing based on `releaseDate` like back in v3. Of course I ran into issues right away ;-)

https://mtgjson.com/json/UNH.json

UNH 106 is correctly marked as having old `frameVersion` (`"1997"`), but its promo version 106★ is not, and has incorrect `"2003"`.

They should both be `

[2019-09-25 13:19] DJCatBlitz opened #448 "Grumgully, the Generous has typo in ability text"
MTGJSON Version: v4.5.0-rebuild.7

Description of Bug:
Each other non-Human creature you controls enters...
->
Each other non-Human creature you control enters...

[2019-09-27 23:46] taw opened #449 "ELD buy a box promo Kenrith, the Returned King 303 has foil and nonfoil versions?"
#### MTGJSON Version: 4.X.X

https://mtgjson.com/json/ELD.json

#### Description of Bug:

It's tagged as such, but all BoB promos were foil-only (except MH1), so that looks like a mistake.

(unless it's some shenanigans related to all those weird booster types etc., but I don't think so)

[2019-09-28 00:05] ZeldaZach commented on #449
The $450 product had a non foil version

[2019-09-28 00:05] #449 closed, assigned to nobody

[2019-09-28 10:06] taw opened #450 "No artist for Festive Funeral ELD 87"
#### MTGJSON Version: 4.X.X

#### Description of Bug:

https://mtgjson.com/json/ELD.json

https://mtg.wtf/card/eld/87/Festive-Funeral

No artist is listed. It should be Zack Stella.

[2019-09-29 01:53] ZeldaZach commented on #450
cc: @csuhta

[2019-09-29 01:54] ZeldaZach commented on #448
cc: @csuhta

[2019-09-29 01:54] ZeldaZach commented on #447
cc: @csuhta

[2019-09-29 02:10] csuhta commented on #450
This seems to have been fixed upstream already

[2019-09-29 02:10] csuhta commented on #447
Fixed on Scryfall

[2019-09-29 02:10] csuhta commented on #448
Fixed on Scryfall

[2019-09-30 01:06] #447 closed, assigned to nobody

[2019-09-30 01:06] #448 closed, assigned to nobody

[2019-09-30 01:06] #450 closed, assigned to nobody

[2019-09-30 03:59] #446 closed, assigned to ZeldaZach

[2019-09-30 04:41] #47 closed, assigned to henry739

[2019-09-30 04:41] #428 closed, assigned to nobody

[2019-09-30 04:44] ZeldaZach commented on #432
I'm curious what @csuhta has to say about such an idea

[2019-09-30 04:46] ZeldaZach commented on #412
Hey @csuhta any chance we'll see the full list of set types?

[2019-09-30 22:09] ancestral opened #453 "Change `leadershipSkills` to something else"
Currently, one of the structures MTGJSON uses is one that details the different commander-like formats the card is legal to be your commander with, called `leadershipSkills`.

It’s not very obvious what `leadershipSkills` means. The first thing that came to my mind is tracking for some kind of card attribute. Maybe a new name is advisable… maybe `commander`?

But does this need to be its own struc

[2019-09-30 23:57] bababiff opened #454 "ELD / CELD combined data corruption"
When the ELD / CELD were merged the tcg product id, perhaps other meta data got mismatched with cards of the same name

[2019-10-01 14:43] MidnightLightning opened #455 "World Championship cards missing "isPaper" and "isMtgo" flags"
#### MTGJSON Version: 4.5.1-rebuild.2
AllSets.json

#### Description of Bug:
Cards in the "World Championship" sets (e.g. WC99, WC00, WC01, etc.) do have `hasFoil`, `hasNonFoil`, `isReprint`, and `isStarter` flags, but do not have the `isPaper` and `isMtgo` flags that cards in other sets have.

This is an issue for scripts that parse through the entire set looking for "all cards that have a paper

[2019-10-05 17:16] ZeldaZach commented on #455
cc: @csuhta

[2019-10-05 17:16] ZeldaZach commented on #454
Will investigate soon, sorry for the delay

[2019-10-05 17:17] ZeldaZach commented on #453
Changing struct names isn't something we can do easily, as we'd have to deprecate, publish both old and new, then remove old over a period of time. The docs should be clear enough to indicate what this field does, and I'm relatively happy with it as-is.

[2019-10-05 17:17] #453 closed, assigned to nobody

[2019-10-07 05:48] csuhta commented on #455
I think this may be a misinterpretation of Scryfall data. We set `paper`, `mtgo`, and `arena` in the `games` array field for our card objects. Those indicate what play formats a card is available for. The World Champ decks are not legal/available on MTGO and they aren't legal for paper play, so they don't have those markers.

If you're looking for Scryfall field to indicate "this object made of ca

[2019-10-07 05:54] csuhta commented on #412
The set `type` on Scryfall indicates why the set exists (for the most part). That will only ever have one value.

The other search terms like `st:wpn` are actually aliases for [`is:wpn`](https://scryfall.com/search?q=is%3Awpn) which are boolean flags we set on individual card prints. Those flags aren't exposed fully via the API yet due to their messiness/un-final naming scheme. We plan to expose t

[2019-10-07 13:53] MidnightLightning commented on #455
"Aren't legal for paper play"? The Championship decks are legal for Vintage, Legacy and Commander use, according to Scryfall data under the `legalities` property (e.g. https://api.scryfall.com/cards/0bf2ee15-fdcb-40b0-9688-6eae31e59549?format=json&pretty=true).

Silver-bordered cards, like the _Unstable_ set, have all the `legalities` set to `not_legal`, but does have `games: paper` set, and MTGJS

[2019-10-07 14:08] ZeldaZach commented on #455
The paper/mtgo/arena flags on JSON are supposed to mean the card was printed there. If I am confused on this, I can revise documentation

[2019-10-09 07:23] carlol opened #457 "ELD only Standard legal"
#### MTGJSON Version: 4.5.1-rebuild.2

#### Description of Bug:
Hi,
Thank you for your work, I noticed that ELD cards are only Standard legal and I have to force other legality manually.

Best regards,

CL

[2019-10-09 22:22] ZeldaZach commented on #454
Appears to be fixed from today's hot-fix rebuild. Lmk if that's not the case, and with examples

[2019-10-09 22:22] #454 closed, assigned to nobody

[2019-10-09 22:23] ZeldaZach commented on #457
Just checked and it appears cards are correct for standard-ness from today's hot-fix rebuild. Let me know if this isn't the case, and with examples. Thanks for using MTGJSON! :)

[2019-10-09 22:23] #457 closed, assigned to nobody

[2019-10-09 22:40] ZeldaZach commented on #455
Note for me (or whoever fixes this): `isPaper` should be set to true if we see `digital == false` or it's a golden border. `https://scryfall.com/search?page=7&q=include%3Aextras+-game%3Apaper+not%3Adigital` gives a list of cards affected. I'd probably just look for gold border as our field is _slightly_ different than what SF proposes. This is indeed a bug on our side.

[2019-10-09 23:34] ZeldaZach commented on #440
First rendition is live now.

[2019-10-09 23:34] #440 closed, assigned to ZeldaZach

[2019-10-11 08:00] lfgcampos opened #458 "Throne of Eldraine Promos (PELD) is gone"
Since last rebuild Build: (`v4.5.1-rebuild.2`), `Throne of Eldraine Promos (PELD)` is not available anymore: https://www.mtgjson.com/json/PELD.json

[2019-10-13 05:10] Fryyyyy opened #460 "ForeignNames still missing?"
#### MTGJSON Version: 4.X.X
Downloaded on 2019-10-13

#### Description of Bug:

 "Armed": {"colorIdentity": ["G", "R"], "colors": ["R"], "convertedManaCost": 6.0, "edhrecRank": 19155, "faceConvertedManaCost": 2.0, "foreignData": [],

But Gatherer has a number of foreign names for Armed (// Dangerous):

Translated Card Name | Language | Translated Language
-- | -- | --
武裝 // 危險 | Chinese Traditiona

[2019-10-13 05:33] ZeldaZach commented on #460
Ran Dragon's Maze through an analyzer to see how many printings across all languages a card sees on Scryfall.
[code]

Appears that split cards only ever have received English translations on Scryfall, for the most part. This is a deficit in upstream data source.

Maybe it's an oversight on their part or still on the backlog. If it's a critical issue here, I can look into alternatives.

cc: @csuhta

[2019-10-13 05:38] ZeldaZach commented on #458
Just went through the latest rebuild logs. It seems the set was empty at the time it was attempting to build. Hit a race time with Scryfall updating that set. It should be back online with tomorrow's full rebuild. Sorry for the delays!

[2019-10-13 05:38] #458 closed, assigned to nobody

[2019-10-13 07:50] csuhta commented on #460
We haven't been able to pull localized data for split cards in DGM because many of the pages on Gatherer are corrupt or incorrect. We've reported it to WotC but they haven't published a fix.

For example:
https://gatherer.wizards.com/Pages/Card/Details.aspx?printed=true&multiverseid=370080

- Same mana cost on both sides (we can recover from this issue)
- Name doubled-up on both sides (we can reco

[2019-10-13 22:29] KingSupernova31 opened #461 "Add isPaper/Mtgo/Arena to "AllCards""
The isOnlineOnly attribute only applies to individual printings of a card, which makes sense. However there are some cards like Shorecomber Crab that do not exist in paper in any printing. There should be a better way to determine this than going to allSets.json and checking if any printing of that card is not online only. I see two good options, which are not mutually exclusive:

Add an attribute

[2019-10-14 00:11] Fryyyyy commented on #460
Can't you still continue - not have the text but at least still get the name ?

[2019-10-14 09:18] mike1ong opened #462 "Tokens has no uuid field"
#### MTGJSON Version: 4.5.1-rebuild.4

#### Description of Bug:
Tokens data has no uuid field after 1st Oct,
don't konw if it deprecated,

still need this to be a key, thanks!

[2019-10-14 13:22] ZeldaZach commented on #462
Woah, that's not good. Regression for sure. Will look into this tonight

[2019-10-14 13:59] lfgcampos commented on #458
Just my opinion about closing the issues, you should/could create a label for it when you are going to fix (but this is not fixed yet) or mark it to be fixed in release x.y.z making it clear to everyone.

[2019-10-19 10:00] taw opened #463 "frameEffect missing from AllSets"
#### MTGJSON Version: 4.X.X

#### Description of Bug:

It's per-printing not per-card so understandably got removed from AllCards, but it seems it accidentally got removed from AllSets too.

It should definitely be there.

[2019-10-20 19:35] fenhl commented on #463
Probably a result of <https://scryfall.com/blog/new-preview-field-and-frame-effect-deprecation-notice-213>.

[2019-10-21 02:48] ZeldaZach commented on #463
Yeah I'll have a fix for this up with a new release (because I have to end support for frameffect at the same time)

[2019-10-21 03:04] #463 closed, assigned to ZeldaZach

[2019-10-21 04:15] #462 closed, assigned to ZeldaZach

[2019-10-21 04:22] ZeldaZach commented on #461
I could see expanding `isPaper, isMtgo, and isArena` to AllCards as a collective OR for the printings.

I really want to move away from AllCards right now. It seems almost all of the questions we get asked about that file are solved with AllSets... Issue for another ticket, but AllCards will be renamed soon.

[2019-10-23 04:20] ZeldaZach opened #466 "Add Pioneer support"
Pioneer.json and PioneerCards.json

[2019-10-25 11:43] nicho92 opened #467 "Keyword is broken #2"
The game continue ! #434
data seems broken after 38'th abilityWord

[2019-10-27 18:57] #466 closed, assigned to ZeldaZach

[2019-10-27 18:58] #467 closed, assigned to ZeldaZach

[2019-10-27 18:58] ZeldaZach commented on #439
Done with 4.6.0 :)

[2019-10-27 18:58] #439 closed, assigned to omfgitsmark

[2019-10-27 19:06] #424 closed, assigned to nobody

[2019-10-29 13:43] ZeldaZach opened #473 "More Prices Support (file formats)"
Providers have asked for SQL/SQLite/CSV formats of the daily price data. Seems reasonable.

[2019-10-29 13:43] ZeldaZach commented on #473
cc: @omfgitsmark

[2019-10-29 13:44] ZeldaZach opened #474 "Daily Paper Pricing updates"
Lets start moving away from MTGStocks weekly dumps and look into daily updates direct from TCGPlayer API. Can store same method as CardHoarder, using backlog from MTGStocks as validation.

[2019-10-30 02:00] omfgitsmark opened #475 "Generate version.json During Price Builds"
Price builds should export a version.json with the new/correct data.

Will this cause any problems with inconsistencies through the already in place full build files and the new Prices.json file?

[2019-11-02 03:59] #474 closed, assigned to ZeldaZach

[2019-11-05 22:32] #475 closed, assigned to ZeldaZach

[2019-11-08 04:51] ZeldaZach opened #478 "Translations Missing"
Gotta see why Translations didn't populate last full build

[2019-11-08 22:33] omfgitsmark commented on #473
Do they want a seperate SQLite database of just prices or should we just rebuild the AllPrintings.sqlite file in a price build?

[2019-11-08 22:36] ZeldaZach commented on #473
Probably the latter. Since we have prices included in the SQL already

[2019-11-09 19:19] omfgitsmark commented on #473
Alright, I updated the build script to rebuild mtgsqlive during a price build. I will use tonight's price build to test and make sure it works correctly before closing this.

[2019-11-09 22:02] omfgitsmark commented on #473
Working beautifully. All sql and csv files are now generated during a price build and uploaded daily.

[2019-11-09 22:02] #473 closed, assigned to nobody

[2019-11-11 09:00] DJCatBlitz opened #480 "Missing split card Start//Finish"
#### MTGJSON Version: v4.6.0+20191110

#### Description of Bug:
The Start part of split card Start//Finish is missing
It seems it was overwritten by the test card Start//Fire

[2019-11-12 20:50] omfgitsmark commented on #478
Still not populating. Where are they pulled from?

[2019-11-12 21:06] ZeldaZach commented on #478
Wizard's website. https://magic.wizards.com/en/products/card-set-archive

Change "en" to whatever you need.

[2019-11-14 11:20] peardox opened #481 "mtgJSON mtgArenaId discrepancies"
I've found some small issues using ELD.json

You quote all the cards with mtgArenaId where applicable

I noticed one discrepancy between mtgJSON + Arena logs (Lonesome Unicorn) - where do the codes come from?

The different code numbers were worked out from a screen grab of a booster opening vs the JSON in the log vs ELD.json

Also Arena have Wildcards - there's an uncommon below (code = 8), it'd

[2019-11-15 22:59] omfgitsmark commented on #478
Hmm. I tested the soup parsing for a few languages and they worked fine. I think they updated the english version recently since the new sets (basically anything in standard) are in there own little thing at the top now, instead of the normal table design, and I don't remember it looking like that. I don't think that would affect building the translation table though, would it? You'd know better t

[2019-11-18 18:02] omfgitsmark opened #482 "Tokens with multiple UUIDs"
It's been reported that there are duplicate tokens appearing. They have the same scryfallId but different mtgjson UUIDs.

Example given:
"Brainiac" token from UST
3edb5529-0895-5bd1-9852-365d42474f39
d2690c9c-fb4d-5235-91a9-125755c09929

[2019-11-19 14:44] multimeric opened #483 "https://mtgjson.com blocking Python's urllib user agent"
#### MTGJSON Version: 4.6.0

#### Description of Bug:
Any request using Python's `urllib` will fail with a 403 error. For example:
[code]

This gives you:
[code]

It's evident that this is a user agent-based blacklist, because if I manually change the user agent, it works:

[code]

[2019-11-19 15:12] DJCatBlitz commented on #480
Now Bind and Liberate also also gone (for the same reason as above I think)

[2019-11-19 15:14] ZeldaZach commented on #480
Will investigate soon. Thanks for the report.

[2019-11-22 03:51] Jeabs1987 opened #484 "Smelt from Smelt // Herd // Saw not in allcards.json due to smelt already being a card"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
Smelt from Smelt // Herd // Saw not in allcards.json due to smelt already being a card and taking that name property in the json

[2019-11-22 20:45] ZeldaZach commented on #484
Dupe #480

[2019-11-22 20:45] #484 closed, assigned to nobody

[2019-11-24 13:39] tooomm opened #487 "version.json has wrong date?"
### Steps to reproduce
Go to https://www.mtgjson.com/files/version.json

As of today, you will get:
`{"date": "2019-11-23", "pricesDate": "2019-11-23", "version": "4.6.0+20191123"}`

### What is expected?
There is a `date` and a `pricesDate`. The last one is obvious and correct as it always updates every day.

The first one though is supposed to be the date when card data got updated the last time

[2019-11-25 01:25] staghouse commented on #487
This would be an upstream discussion/issue with the main app I believe

[2019-11-25 19:28] Frankacy opened #485 "Inconsistencies surrounding types, subtypes and super types in CardTypes.json"
#### MTGJSON Version: 4.X.X

#### Description of Bug:

I've noticed that `CardTypes.json` does not, in fact, contain all card types.

It seems to be missing types and subtypes from Unglued/Unhinged (such as Clamfolk, Cyborg, Donkey, etc), promotional cards (such as Autobot, Legend), and other special releases (like the Hero super type).

I was wondering if this is by design, and if so, are there a

[2019-11-25 19:53] ZeldaZach commented on #483
Ok, so CloudFlare requires a user agent to be set in order for access to a website to be granted. As such, this is no longer a bug and is a requirement.

Have you tried [requests](https://pypi.org/project/requests/)?

[2019-11-25 19:53] #483 closed, assigned to nobody

[2019-11-28 02:04] emaiax opened #486 "Proposal: link split cards by their UUIDs"
About split cards, as the doc says `Basically each ‘sub-card’ has its own record`, this means they should be the "same card" (as in having the same multiverse_id) but also has it's own record? My question is regarding specifically about having a way to identify a counter part of a split record.

For example, looking for `Wax/Wane`, i can see we have 6 records, 3 split cards from `Archenemy, Invasi

[2019-11-28 02:10] ZeldaZach commented on #486
We currently have a `variations` field which links a card to other records by a list of MTGJSON UUIDs. I feel like we can steal from that field and make `namesIds` which would link to all of the appropriate MTGJSON UUIDs. Seems like a solid suggestion.

[2019-11-28 02:12] ZeldaZach commented on #486
Also, _don't_ use multiverseIDs for anything useful. They're inconsistent and not found in every record.

[2019-11-30 00:14] ZeldaZach commented on #478
I have a hack fix in place (seems my replacements are busted now) d067a92531a4b14c9bcd8dec5824585a5dfdc07c Still should look into better parsing

[2019-11-30 00:19] ZeldaZach commented on #485
Wizards doesn't include these types in their comprehensive rules, so I don't have a source for this information. [I sent a tweet](https://twitter.com/Zoozach/status/1200570020977360897) so we can wait and see what happens for now.

[2019-11-30 00:22] ZeldaZach commented on #487
Daily builds with prices should only update priceDate, not both dates. Fix to be done.

[2019-11-30 00:24] ZeldaZach commented on #487
This is a build script issue. Tag @omfgitsmark

[2019-11-30 05:01] #486 closed, assigned to ZeldaZach

[2019-11-30 05:02] ZeldaZach commented on #485
Sooo upstream has no desires to track such a thing. I'm gonna have to figure out a method. For the time being, it's black/white border only unfortunately.

[2019-11-30 19:20] Frankacy commented on #485
First of all, thanks for looking into this 🙇🏻‍♂️

I wasn't aware these types were coming from the comp rules. From that perspective, the current behaviour makes sense. If the intention is only to have tournament-legal card types, that's totally fine. Though it might be a good idea to mention it in the documentation :)

[2019-11-30 19:20] #485 closed, assigned to nobody

[2019-12-01 20:10] #478 closed, assigned to nobody

[2019-12-07 04:14] eddie-g opened #489 "Wrong Price Version for Online Cards"
There is a bug in pricing with all the Promo WAR walkers, and perhaps others too.

For example:

Teferi, Time Raveler
for UUID(cd15b31d-1c66-5421-a9cb-cecb83f08f53) this is the WAR edition 221
last updated date is : 2019-10-08 with price 45.99

However it seems that

Teferi, Time Raveler
for UUID(7d8e9b39-11b3-5e45-a246-93b962f404b3) this is WAR edition 221★
has last updated date of : 2019-12-06 w

[2019-12-07 05:12] omfgitsmark commented on #487
Fixed and tested. It will be correct in tomorrow's price build.

[2019-12-07 05:12] #487 closed, assigned to omfgitsmark

[2019-12-07 14:11] jazcarate opened #490 "Some card are missing Foreign Data"
#### MTGJSON Version: 4.6.1

#### Description of Bug:
In `AllCards.json` file, there are cards with empty `foreignData` key, when ther should have.

At first glance, I though that cards that had multiple printings, and the original printing had no foreign data, were not calculating the foreign data from subsequent printings.
i.e:
*Arc Lightning* has an empty array as `foreignData`.
Original printi

[2019-12-08 00:47] tooomm commented on #487
Data is still wrong @omfgitsmark
[code]

`date` should be "2019-12-04"
At least that's what is written in the [changelog for 4.6.1](https://mtgjson.com/changelog/#_4-6-1).

[2019-12-08 04:49] ZeldaZach commented on #490
Gatherer is too fractured to accurately pull primary data from it. As such, we default to SF currently, using gatherer as a backup for several fields.

For foreign printings, if any exist, it should take place in AllCards. This is something I will look into soon.

[2019-12-08 23:07] omfgitsmark opened #491 "Prices are using date instead of pricesDate"
Since I fixed the price builds to not update the meta field `date`, price builds have only been updating prices up to that date, instead of using `pricesDate`.

As of right now, prices are only being generated and output up to 12/1/19 instead of the current date. Somewhere I think the prices are getting pointed to `date` instead of `pricesDate`.

[2019-12-10 13:01] tooomm commented on #487
- 10th December 2019
`{"date": "2019-12-08", "pricesDate": "2019-12-08", "version": "4.6.1+20191208"}`

- 17th December 2019
`{"date": "2019-12-15", "pricesDate": "2019-12-15", "version": "4.6.1+20191215"}`

[2019-12-14 19:56] omfgitsmark commented on #491
It looks like this was a one-off issue, as new price files have been accurate since. I will keep an eye on them to see if it happens again and we can re-open and investigate but it looks resolved for now.

[2019-12-14 19:56] #491 closed, assigned to ZeldaZach

[2019-12-17 22:14] ZeldaZach opened #492 "Price Support from new sources"
From my CommandFestDC Trip, it seems people want access to the following:
- CardKingdom Pricing
- StarCityGames Pricing
- Amazon Pricing

Will be investigating soon.

[2019-12-22 19:41] tooomm commented on #487
@omfgitsmark while it's better now and no longer the same value, it's still wrong as of today (22th of december):
`{"date": "2019-12-01", "pricesDate": "2019-12-21", "version": "4.6.1+20191221"}`

`date` should be `2019-12-04` (see https://mtgjson.com/changelog/#_4-6-1)

[2019-12-23 05:31] ancestral opened #496 "Fish // Kraken token is missing a scryfallIllustrationId"
#### MTGJSON Version: 4.6.1

#### Description of Bug:
Fish // Kraken token is missing a `scryfallIllustrationId`.

Similar to #167 but `scryfallIllustrationId` is also affected.

[2019-12-23 05:35] ancestral opened #497 "Star (★) and Asterisk (*) used interchangeably"
#### MTGJSON Version: 4.6.1

#### Description of Bug:
Cards are using star (★) and asterisk (*) interchangeably for fields. For example, the Fish // Kraken DFC token is using a star for the card number, whereas other cards are using * for power.

I think some consistency would be welcome across fields that reference stars. * seems like a safer bet for all fields that want to represent stars.

[2019-12-23 06:01] ancestral commented on #359
Given the complexities we’ve witnessed with Collector’s Edition packs, Promo Packs, and now how [Theme Boosters will feature unique rares in THB](https://magic.wizards.com/en/articles/archive/card-preview/theros-beyond-death-theme-boosters-2019-12-17) not found in booster box packs, I feel like this booster generation is something that either should be dropped as a feature, or pushed to version 5

[2019-12-23 06:07] ancestral commented on #378
What is Scryfall doing here? They’re using Mythic Rare for the 382841 and 382914.

[2019-12-23 20:04] vadtec opened #498 "Add column field for "isDated" and "hasDated""
You have a field for isPromo, but not one for isDated, for dated promo cards. This would be a nice addition. Same thing for "hasDated". This would help with finding dated cards.

[2019-12-24 01:01] #496 closed, assigned to ZeldaZach

[2019-12-24 01:04] ZeldaZach commented on #497
_technically_ they're different. You can clearly see that P/T use asterisks vs card numbers that use a star icon. I'm not feeling inclined to change this right now. If you'd like to discuss this point further, do post!

[2019-12-24 01:09] ZeldaZach commented on #498
Sure good idea!

[2019-12-24 01:17] #498 closed, assigned to ZeldaZach

[2019-12-24 01:21] ZeldaZach commented on #482
Looks to be an upstream issue that was fixed.

[2019-12-24 01:21] #482 closed, assigned to ZeldaZach

[2019-12-24 01:22] ZeldaZach commented on #481
I don't see any issues with arenaIDs currently, but if you have a specific list do let me know.

I also don't support wildcards right now as they don't really serve a purpose for data collections as they have no attributes or anything.

[2019-12-24 01:22] #481 closed, assigned to nobody

[2019-12-24 01:27] ZeldaZach commented on #378
I'm most inclined to go with a new rarity of some kind ("Ultra Mythic Rare") or something. I don't like the idea of a new set or a new flag (that would only be active for a few cards)

[2019-12-24 01:28] ZeldaZach commented on #359
I somewhat agree, @ancestral . I'm gonna need a new format for boosters, and nothing we have currently will support what I"d like. I plan on supporting, in V3 format, only draft boosters. Will be working on V5 and ideas for that soon.

[2019-12-24 04:52] ancestral commented on #497
But they’re stars on both parts of the card, in real life. Why have a harder-to-type Unicode symbol in the card number?

[2019-12-27 08:15] giniman opened #501 "Some transform cards (especially promotional) has same scryfall_id of both side."
For example, Search for Azcanta // Azcanta, the Sunken Ruin has same scryfall_ids if it is promo

PXLN-74s, PXTC-74 are problem.

Need to check other transform cards.

Thanks.

[2019-12-27 21:34] taw opened #502 "Meld cards have incorrect Penny Dreadful legality"
Affected set: https://mtgjson.com/json/EMN.json
Version: 4.6.1+20191222

`Chittering Host` and `Hanweir, the Writhing Township` are not marked as legal in Penny Dreadful, even though both cards on the other side of their meld are.

(`Brisela, Voice of Nightmares` correctly isn't, as `Gisela, the Broken Blade` is not Penny-legal, even though its other part is)

[2019-12-27 22:11] ZeldaZach commented on #501
I'm looking at the outputs, but the appear to be as expected. Unlike Scryfall, who aims to provide whole card objects that include all sides, MTGJSON provides card segments. Transform cards will have the same Scryfall ID as Scryfall sees both sides as one entity. You can link two halves together via "names" or "otherFaceIds"

[2019-12-27 22:11] #501 closed, assigned to nobody

[2019-12-31 11:09] tooomm commented on #487
🙈

As of 31th december...

- on page header: `20191229`
![date](https://user-images.githubusercontent.com/9874850/71619728-0c69ca00-2bc6-11ea-874c-627c057abfb2.png)

- in [version.json](https://www.mtgjson.com/files/version.json) file: `20191227`
`{"date": "2019-12-01", "pricesDate": "2019-12-27", "version": "4.6.1+20191227"}`

[2019-12-31 17:25] ZeldaZach commented on #487
Try hard refreshing. It is correct on my screen.

[2020-01-02 00:27] tooomm commented on #487
Well, the "priceDate" updated... the "date" is still wrong and both show the same value again:
`{"date": "2019-12-29", "pricesDate": "2019-12-29", "version": "4.6.1+20191229"}`

[2020-01-02 22:37] HerveH44 commented on #359
@taw Hi, I am currently trying to refactor dr4ft backend. I think I could use your booster generation file. I'd like to know if you can get it available through APIs. Also I don't know if you want to change some things, but I'd love to have the weight of the cards as a key in the sheet (so it would be easier to calculate the odds). For example instead of

`      "mh1_basic": {
        "cards": {

[2020-01-03 06:56] taw commented on #359
@HerveH44

I can setup something similar to https://github.com/taw/magic-preconstructed-decks-data for API.  I could do some trivial structure changes, but it's easy to do it at consumer level as well. I forgot mtgjson added uuids, I could make a json with those too.

[All the code is here](https://github.com/taw/magic-search-engine/tree/master/search-engine/lib).

[In particular color balancing c

[2020-01-03 19:15] kodawah opened #503 "Add Variations field for Unstable cards"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
I noticed that Unstable cards with different variations (like Everythingamajig) do not have a Variations field

I see that the names have the letter from the card number, like
- `Everythingamajig [no letter]` -> 147a
- `Everythingamajig (b)` -> 147b
- and so on

However without the Variations field it's a bit harder to pinpoint to the various c

[2020-01-04 11:59] HerveH44 commented on #359
@taw I wrote to your mail address Tomasz.Wegrzanowski@gmail.com. Is it correct? I don't know how to reach you privately otherwise :( !

I did a first implementation very basic and it seems to work.

[2020-01-04 23:15] omfgitsmark opened #504 "Structures.json"
A file containing the structures in JSON format should be offered, possibly automatically generated.

Currently, in order to change/add/remove a property there are at least 3 things that need to be updated (repo, docs, mtgsqlive), possibly more. If everything references back to a single file, simply changing that file will update everything necessary. It could also be very useful for end users and

[2020-01-06 13:07] kodawah opened #505 "Death Baron from PM19 has both foil and non foil versions"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
Death Baron from PM19 (97d106d2-5270-5a8d-afc0-6e2fcd175edf) has `hasNonFoil` incorrectly set to `false`

The card has both a foil and non foil version, see https://shop.tcgplayer.com/magic/promo-pack-core-set-2020/death-baron?xid=i98c34f92f9b344e3823222d7e10eb24a

[2020-01-06 13:10] ZeldaZach commented on #505
cc: @csuhta

[2020-01-07 04:10] csuhta commented on #505
Fixed upstream

[2020-01-07 04:38] #505 closed, assigned to nobody

[2020-01-08 22:11] kodawah opened #507 "Grimlock, Dinobot Leader should have isStarter set"
#### MTGJSON Version: 4.6.1

#### Description of Bug:
Grimlock, Dinobot Leader (ed04ca30-2b3c-5a01-9e9b-39ecade75f3e) does not have `isStarter` set, however its other face (Grimlock, Ferocious King) does. I feel like this is incorrect as, "Dinobot" is the main card and should have the relevant properties that are found on the transformed side.

Would it be possible to move `isStarter` to the main

[2020-01-10 03:35] kodawah opened #508 "Add isPlanewalkerStamped field to promo pack cards"
#### MTGJSON Version: 4.6.1

#### Description of Bug:
I propose we should add this field to each card having the silver planeswalker logo, usually coming from the "promo pack" boosters. This is similar to what is is done for prerelease and a few release cards with `isDateStamped`

When using mtgjson with a limited amount of information, currently it is extremely hard to pinpoint exactly to which w

[2020-01-10 15:32] taw commented on #359
I setup JSON data export to: https://github.com/taw/magic-sealed-data in two formats (compact one, and one with uuids for easier interoperability). Hopefully this will be useful to someone.

[2020-01-10 17:20] kodawah commented on #492
MagicCardMarket?

[2020-01-11 21:19] DominikMendel opened #513 "AllPrices paper/paperFoil outdated"
### Steps to reproduce
Downloaded AllPrice from 1/11/2020
### What is expected?
paper/paperFoil have prices past 2019-12-05.
### What is actually happening?
There is no updated information for paper/paperFoil after 2019-12-05.
### Other relevant information
There is updated information for mtgo and mtgoFoil though.

[2020-01-12 06:19] taw opened #509 "isBuyABox"
Magic set structure gets more and more complicated, so a few flags like isBuyABox could help organize things up. Scryfall already has this data.

[2020-01-13 06:44] ZeldaZach commented on #509
Sure, cool idea!

[2020-01-13 06:48] ZeldaZach commented on #508
Good idea, will see about implementation soon.

[2020-01-13 09:09] tooomm commented on #487
As of 13th of janaury:
`{"date": "2019-12-01", "pricesDate": "2020-01-08", "version": "4.6.1+20200108"}`
Where is that "date" coming from... we are back to https://github.com/mtgjson/mtgjson/issues/487#issuecomment-562900795 again.

How can the "date" (=["When all files were last completely built."](https://mtgjson.com/)) be older than the last version release?
I expect that on a new version relea

[2020-01-13 14:26] DJCatBlitz commented on #480
Just a proposal:
Could you hard code at least for the three double defined cards something to skip the mystery booster cards, so the "real" cards show up again?
I assume the correct fix is cmplicated, because card name can't be used as a key?

[2020-01-13 22:55] kodawah opened #510 "a handful of cards have the "promo" star (*) prefixed rather than suffixed to the collector number"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
I noticed a few cards, like Day of Judgement or Gravecrawler from the promos sets, have this oddly formatted number (`*64`) with the star  prefixed rather than suffixed.

For the sake of uniformity, since all recent promos have either a * or a unicode star suffixed, would it be possible to change those number to follow the new format? It would

[2020-01-14 04:34] ZeldaZach commented on #510
If you take a look at the card, the number is _actually_ written as is. Unfortunately I am inclined to stick with how it was printed and close as a no-fix. This does bring up a good point on better documentation on my part!

![image](https://user-images.githubusercontent.com/7460172/72314448-08758780-365d-11ea-976a-a6908193afdf.png)

![image](https://user-images.githubusercontent.com/7460172/72314

[2020-01-14 04:34] #510 closed, assigned to nobody

[2020-01-14 05:18] ZeldaZach commented on #509
Fixed in #511

[2020-01-14 05:18] #509 closed, assigned to ZeldaZach

[2020-01-14 18:08] kodawah commented on #510
fair enough, i honestly didn't notice and i agree it's better to keep them as written on the card, thank you

[2020-01-17 08:10] kodawah opened #512 "a couple of WCD inconsistencies/fixes"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
Hi, i found a couple of inconsistencies for WCD cards, there still might be more, I'll report here if I find any.

* The following cards should be suffixed with `sb` to indicate they come from the sideboard (and have the sideboard badge)
Envelop - dh39
Shatter - gb219
Relic Barrier - gn147
Misdirection - ab87
Torture - ll59b
Autumn Willow - et8

[2020-01-17 16:28] kodawah commented on #512
Misdirection - `ab87sb` would conflict with Wash Out from the same same, so one of the two needs to be changed (Misdirection -> ab87asb?)

[2020-01-18 21:14] ZeldaZach commented on #512
Looks like an upstream issue. cc: @csuhta

[2020-01-19 05:21] ZeldaZach commented on #513
Fix incoming

[2020-01-19 05:23] #513 closed, assigned to ZeldaZach

[2020-01-19 05:38] ZeldaZach commented on #502
This appears to be an upstream issue. cc: @csuhta

[2020-01-20 05:32] DanielHeath opened #515 "Theros - Beyond Death release"
The new set is live on gatherer, but not on mtg-json (according to the version file).

I haven't tried to run the v4 scripts yet, but I could give it a shot if nobody else expects they'll get to it this week.

[2020-01-20 06:14] ZeldaZach commented on #515
I didn't bump the version number, but MTGJSON has had Theros for over a week now. I'll publish an official version tomorrow with changelog.

Thanks for your concern, I do appreciate it!!

[2020-01-20 06:14] #515 closed, assigned to nobody

[2020-01-20 17:25] #503 closed, assigned to ZeldaZach

[2020-01-20 17:43] ZeldaZach commented on #497
This makes sense to me. I took a look and it seems the stars are arbitrary. Will convert.

[2020-01-21 06:11] kodawah commented on #510
hmm browsing around, there are come cards that are printed as *<num> but they are numbered as <num><star>

example https://scryfall.com/card/proe/4%E2%98%85/emrakul-the-aeons-torn

should those be changed instead?

[2020-01-22 13:02] Siemienik opened #517 "Getting all sets doesn't works on website"
Hi guys! It's my first issue written here, so I want to thank you very much for an amazing job :)
#### MTGJSON Version: 4.X.X
I don't know the present version, if I could ask you, please edit this line and add the correct info

#### Description of Bug:
On the mtgjson website, the page which lists all available sets doesn't work:

![image](https://user-images.githubusercontent.com/2893099/72896197-

[2020-01-22 15:03] ZeldaZach commented on #517
Hey @Siemienik I just took a look and it appears you are on an outdated cache. I have triggered the site to dump the entire cache, but if you hard refresh (CTRL+F5 or Shift+Command+R) the page should work for you. Let me know if this is not the case!!

[2020-01-22 15:03] #517 closed, assigned to nobody

[2020-01-23 23:52] silasary commented on #510
Please report those using the "Report Card Issue" button on the appropriate
Scryfall card pages

On Tue, Jan 21, 2020, 17:11 Vittorio Giovara <notifications@github.com>
wrote:

[2020-01-28 11:44] DJCatBlitz opened #518 "Two typos in ability text"
#### MTGJSON Version: 4.6.2

#### Description of Bug:
Nexus Wardens: "under you control" -> "under your control"
Skophos Maze-Warden: "until the end of turn" -> "until end of turn"

And as a reminder: Bind//Liberate and Start//Finish are still missing :(
Currently I have to patch the json file for those cards hard coded after each update
I hope this can be fixed somehow

[2020-01-28 20:42] skwerlman commented on #518
both of these typos exist in scryfall as well

[2020-01-28 23:10] kodawah commented on #512
I reported these with the "report card problem" in scryfall

[2020-01-28 23:44] ZeldaZach commented on #518
cc: @csuhta

[2020-01-29 07:53] silasary commented on #518
These are fixed

[2020-01-29 14:50] #518 closed, assigned to nobody

[2020-01-31 07:39] CajunAvenger opened #519 "Flavor text quote errors"
Many of the older cards with quotes are not linebreaking their attribution, while newer ones are. While working on a fix for this, I also found a number of cards (mostly FNM promos) were missing quotation marks in their flavor texts that were printed on the card.

For the attributions I used the regex `/([^\n])( |["\/] ?)— ?([A-Z"])/`, replacing `capture[0]` with `capture[1] + capture[2] + "\n—" +

[2020-01-31 15:20] cheyner opened #520 "Add isOnlineOnly to setlist file"
I routinely will pull in the setlist to make sure i'm up-to-date, but I'd like to excldue online sets.  It'd be super handy to have isOnlineOnly in the setlist file so I can check for it.

[2020-01-31 15:24] ZeldaZach commented on #520
Small change, very reasonable. I'll get this added.

[2020-01-31 15:26] ZeldaZach commented on #519
Looks like an upstream issue. Thanks for taking the time to compile this list!!

cc: @csuhta

[2020-01-31 15:33] cheyner commented on #497
I've gotten tripped up by this myself.  Because set number is routinely used by us (and others) as part of URL slugs, I'd vote for something more URL-friendly like "P".

[2020-02-01 09:58] silasary commented on #520
Can we also get a isPaperOnly while you're in there?

[2020-02-02 02:56] ZeldaZach commented on #520
I don't see why not, sure!

[2020-02-02 03:04] #520 closed, assigned to ZeldaZach

[2020-02-06 07:31] csuhta commented on #502
Fixed upstream!

[2020-02-06 07:40] csuhta commented on #512
These have all been fixed on Scryfall

[2020-02-06 07:46] csuhta commented on #519
Thanks for the 50-card list, we spot checked and confirmed it seems accurate (that we have quote issues to fix there).

For the other flavor text line-break fixes, we are not willing to blindly run a regex of this nature against all of our flavor texts. Would it be possible for you to create a CSV or other list of `scryfallId` fields to target for fixes here?

[2020-02-06 18:22] kodawah commented on #512
thanks @csuhta!

[2020-02-06 18:31] #512 closed, assigned to nobody

[2020-02-06 18:32] ZeldaZach commented on #519
Primary issue is solved, secondary can be taken upstream

[2020-02-06 18:32] #519 closed, assigned to nobody

[2020-02-08 02:43] magreenblatt opened #522 "Secret Lair (SLD) cards missing multiverseId"
#### MTGJSON Version: 4.6.2+20200207

#### Description of Bug:
Secret Lair Drop cards exist in Gatherer: https://gatherer.wizards.com/Pages/Search/Default.aspx?action=advanced&set=[%22Secret%20Lair%20Drop%22]

However, no multiverseId values are included for these cards in AllPrintings.json at the current version.

[2020-02-09 14:43] cheyner opened #523 "Various Missing Cards"
#### MTGJSON Version: 4.6.2+20200206

#### Description of Bug:
I've been manually going through our card data, and have noticed some missing items.  Here's the run down:

"In Oketra's Name" is missing from Mystery Booster (MB1)

There are several promo versions that are missing.  In this case, the prerelease promo (XXXs) is present but the promo pack version (XXXp) is not.  I've listed the cards a

[2020-02-15 06:28] kodawah opened #524 "Path to Exile (MagicFest 2020) hasNonfoil incorrectly set to false"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
https://scryfall.com/card/pf20/1/path-to-exile

There are two versions of this card, one is foil and one is non foil.

[2020-02-15 06:38] kodawah opened #525 "More range groups for Set information"
The Set information contains the overall set size (TotalSetSize) and number of actual cards (BaseSetSize) and it's great for spotting promo cards sneaking in the main expansion

However with the recent addition of extended art, showcase and super foils, there is no information where each of these duplicated card set starts or ends, making it very hard to identifying cards and introducing a lot of

[2020-02-16 07:27] kodawah commented on #524
actually there are a couple of promo pack cards with incorrect `hasNonFoil` too

* a27c50c88ae8 Steel Leaf Champion
* 8e22c3379ed4 Athreos, Shroud-Veiled

[2020-02-16 19:48] ZeldaZach commented on #524
cc: @csuhta

[2020-02-16 19:48] ZeldaZach commented on #523
cc: @csuhta

[2020-02-16 19:49] ZeldaZach commented on #522
Yep you're right! cc: @csuhta

[2020-02-17 05:58] csuhta commented on #523
I spot-checked this, and this report seems to be a bit outdated or working from incorrect data.

- In Oketra's Name is not in MB1, that was a mistake that WotC corrected after publishing their full card list. A lot of other sites (including Scryfall) originally generated an image for that card and then removed it later. https://magic.wizards.com/en/articles/archive/news/mystery-booster-revealed-20

[2020-02-17 05:59] ZeldaZach commented on #523
Thanks for that. The version number posted made me question it a bit, but I couldn't find any answers.

[2020-02-17 05:59] #523 closed, assigned to nobody

[2020-02-17 06:04] csuhta commented on #524
I fixed Path to Exile and Athreos, Shroud-Veiled upstream. I don't know which version of Steel Leaf Champion is being referred to here, could you link to a Scryfall permapage?

[2020-02-17 12:52] cheyner commented on #523
Ok.  That 165p version of Mirage Mirror, is not in the PHOU file that I downloaded on 1/30.  And so on.

I can see that the current PHOU.json file does have the card as expected.  So not sure what changed in the meantime.

[2020-02-17 15:47] cheyner commented on #523
Here is one that is still missing from the MTGJSON file:
https://www.cardmarket.com/en/Magic/Products/Singles/Theros-Beyond-Death-Promos/Legion-Warboss

https://scryfall.com/search?as=grid&order=released&q=%21%22Legion+Warboss%22&unique=prints

[2020-02-17 16:49] kodawah commented on #524
thanks @csuhta, i can't find it any more in the most recent dump either, maybe it got fixed already

while on the subject, would it be possible to add the promo pack version for https://scryfall.com/card/grn/109/legion-warboss please?

[2020-02-18 03:24] csuhta commented on #524
Added https://scryfall.com/card/pgrn/109p/legion-warboss

[2020-02-18 20:54] kodawah commented on #524
thank you all, I'll go ahead and close this for now :-)

[2020-02-18 20:54] #524 closed, assigned to nobody

[2020-02-19 04:44] csuhta commented on #522
Added (for the ones that exist on Gatherer so far)

[2020-02-23 00:14] kodawah opened #526 "extra space for Duels of the Planeswalkers 201* Promos"
#### MTGJSON Version: tonight's release

#### Description of Bug:
There seems to be a typo in the set name for a few Duels of the Planeswalkers

[2020-02-23 17:37] #526 closed, assigned to nobody

[2020-03-08 02:35] alfchaval opened #527 "Wrong name in some Spanish cards"
I have found in AllPrintings that there are 238 cards that have more than a name in their Spanish version, some of them are translation errors that were printed, but there are others that do not match the printed text.
Unfortunately finding images of old Spanish cards can be difficult, but here is the list of errors I could check.

(Set) English card name | wrong Spanish cardname -> correct Spanis

[2020-03-08 18:35] omfgitsmark commented on #527
I show all the capitalization and spelling correct for the translated names you listed, so I'm wondering where you are seeing that?

The split card names are swapped for those listed cards. I'm looking into how those are getting swapped only for those cards.

The untranslated names are that way on both Gatherer and Scryfall in the text, even though the card images do show the correct translations

[2020-03-08 19:01] omfgitsmark commented on #527
It appears the swapped split card names are also from scryfall.

cc: @csuhta

[2020-03-08 19:12] omfgitsmark commented on #527
I was wrong, you are correct about some mispellings/capitilization errors but you have some wrong sets. I'll list them below:

`Etherium Sculptor` is actually missing a letter in PS11 but is correct in C18.

[2020-03-13 20:56] CajunAvenger opened #529 "-X loyalty abilities misformatted"
Loyalty costs with numbers are enclosed in brackets ([+1], [-1], [0], etc), but -X loyalty costs are just left as -X. Can be seen on the following cards, appears to affect all printings:

Chandra Nalaar
Tezzeret the Seeker
Ashiok, Nightmare Weaver
Ugin, the Spirit Dragon
Liliana, Heretical Healer//Liliana, Defiant Necromancer
Chandra, Flamecaller
Sorin, Grim Nemesis
Huatli, Warrior Poet
Nahiri, St

[2020-03-13 21:47] kodawah opened #530 "Will Kenrith and Rowan Kenrith foil-only"
Would it be possible to add some kind of flag to distinguish these two planeswalkers? In Battlebond they are numbered 1/255 and 2/256, and there is no way to distinguish them apart.
I believe just adding a IsAlternative=true would be enough, barring some additional fields in Set as suggested here: https://github.com/mtgjson/mtgjson/issues/525

[2020-03-16 05:00] kodawah opened #531 "Add Variations field for Unstable cards, the (a) versions too"
This is a followup to https://github.com/mtgjson/mtgjson/issues/503 - the fix seems incomplete: all the cards in unstable that have the "a" variant (so name is the main one) do not have any variation array at all, and that makes impossible determine if the cards has any variation at all (at least without looping through the entire db)

Would it be possible to add the variation array to the main re

[2020-03-16 05:01] kodawah commented on #531
example: Secret Base

[2020-03-16 05:10] kodawah opened #532 "Keep Name as printed on the card, add a separate VariantName field"
Expanding on my suggestion in https://github.com/mtgjson/mtgjson/issues/531 - having a custom tag in the card.Name can lead to problems and different expectations. In particular when dealing with non-mtgjson sources, one cannot use equality with that field, as the suffix would negate it, and one should derive the custom tag from the number which is not always available (or more simply one cannot k

[2020-03-16 06:10] kodawah opened #533 "bind from invasion missing from AllCards because of bind//liberate"
It looks like Bind from invasion (https://scryfall.com/card/inv/182/bind) is missing from AllCards, while Bind//Liberate (https://scryfall.com/card/cmb1/88/bind-liberate) is present in its place.

This is the opposite behavior of Smelt // Herd // Saw: that card is rightfully is missing because the card Smelt should be more relevant.

Would it be possible to give priority to cards from expansions w

[2020-03-16 06:11] kodawah commented on #533
the same happens for Liberate https://scryfall.com/card/inv/21/liberate

[2020-03-16 10:59] DJCatBlitz commented on #533
see also #480

[2020-03-17 21:21] kodawah commented on #480
@DJCatBlitz one idea could to have separate fields, as exposed here https://github.com/mtgjson/mtgjson/issues/532: ideally Name could be the card as printed (with // and whatnot), and VariantName could be the single side of the card

[2020-03-18 04:49] kodawah opened #534 "add Set.IsNonFoilOnly field"
Would it be possible to add and `isNonFoilOnly` property to the Set object?
It could be useful when parsing cards and make sure that the foil property is correctly not-set.
It would couple a similar role as `isFoilOnly`.
I tried implementing it on my end but there are too many scattered editions to check

[2020-03-20 04:41] rpsands opened #535 "Create friendly names using something like ascii/translit or python unidecode for cards with utf-8 characters"
Cards like LIM-DÛL'S VAULT are often rendered lim-dul's vault or similar by players and having friendly name(s) as a field would be useful for matching.

I'm normalizing using python's unidecode module but might be useful in the db itself.

[2020-03-23 03:46] vhaso opened #536 "Flip/transform legends with incorrect leadershipSkills"
#### MTGJSON Version: 4.6.2

#### Description of Bug:

The AllCards.json has a field leadershipSkills which indicates wether a card can be your Brawl, EDH or Oathbreaker commander. A number of legendary creatures that are flipped/transformed sides of artifacts, lands and (non-)legendary creatures have a label leadershipSkills['commander'] that is true. Under common rules for Commander these creatu

[2020-03-24 04:47] skwerlman opened #537 "Server incorrectly sends compressed files"
#### MTGJSON Version: 4.6.2+20200323

#### Description of Bug:

MTGJSON is sending down BZIP-compressed files when asked for plain JSON, causing Oracle users to see a confusing error message: Cockatrice/Cockatrice#3928

[2020-03-24 05:12] ZeldaZach commented on #537
Cronjob executed too early. Moved an hour later. No issues.

[2020-03-24 05:12] #537 closed, assigned to nobody

[2020-03-26 17:52] omfgitsmark commented on #533
@ZeldaZach
will be addressed in v5.
AllCards should not use card names as a key or they overwrite eachother, and can cause other serialization issues.

[2020-03-26 19:57] kodawah commented on #533
@omfgitsmark well having a way to figure out if a card existed or not with a simple map lookup was a useful feature, how is this going to be solved?

[2020-03-27 07:05] kodawah commented on #530
confirmed, adding isAlternative is all that is needed, it's a similar case like kaya, ghost assassin

[2020-03-28 08:11] jorimp opened #538 "Add color to boosterV3"
New MB1 set has specific colors assigned to each slot in the pack along with rarity. Suggesting this enhancement to boosterV3 so that boosterV3 can be added to MB1.

[2020-03-28 08:17] jorimp opened #539 "Add boosterV3 to MB1"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
MB1 set is missing boosterV3 field.

[2020-03-28 19:38] ZeldaZach commented on #539
Dupe #538

[2020-03-28 19:38] #539 closed, assigned to nobody

[2020-03-28 20:11] ZeldaZach commented on #536
Thanks for catching this! Working on a fix for v5 :)

[2020-03-28 20:37] ZeldaZach commented on #536
Fixed in v5 (to be published soon).

[2020-03-28 20:37] #536 closed, assigned to ZeldaZach

[2020-03-28 20:38] ZeldaZach commented on #538
Addressed in v5 (to be published soon). Will backport later tonight

[2020-03-28 20:38] #538 closed, assigned to ZeldaZach

[2020-03-28 21:16] ZeldaZach commented on #535
Added in v5. might port back to v4.

[2020-03-28 21:16] #535 closed, assigned to ZeldaZach

[2020-03-28 21:20] ZeldaZach commented on #534
Unfortunately I don't have an easy way of doing this. Might be a good suggestion for upstream.

cc: @csuhta

[2020-03-28 21:21] ZeldaZach commented on #533
Card names _will_ be the key, but I'll have to get clever with how I'm handling dupe named cards. I'm probably gonna go with the (b), (c) approach.

[2020-03-28 22:05] kodawah commented on #533
@ZeldaZach unless you're referring to the (to-be-implemented) VariantName, I don't think that is a good solution. The actual card Name *needs* to be the card as printed, or it risks causing even more confusion than now.

Have you considered using an array for multiple printings? If backward compatibility needs to be respected it could be done in a separate file - AllCards.json (as is now, only one

[2020-03-28 23:49] ZeldaZach commented on #533
I like the idea! V5 will have compatibility changes, and making each card name an array seems like a solid approach. Would handle the un-cards well too!

[2020-03-29 20:25] kodawah opened #540 "planeshift cards with foil-only counterparts also have normal foils"
the three planeshift special cards
* "Skyship Weatherlight" ("1ccd68e3-9293-5c59-ac45-28a8b330da16")
* "Ertai, the Corrupted" ("fddac3e2-62f2-5cba-9efa-72f996b4fd10")
* "Tahngarth, Talruum Hero" ("8fc138f9-046e-53b8-bbc3-70c899e09d86")
that *do not* have the special tag (start) to their number have `hasFoil` incorrectly set to false.

The normal variant of these card have a foil printing: see for

[2020-03-29 20:26] kodawah commented on #540
(maybe upstream issue, cc: @csuhta)

[2020-03-31 07:23] kodawah commented on #540
i noticed the same is true for Tenth Edition foil-only booster cards too, but I'm not too sure.
I believe 10th edition have nonfoil, foil and superfoil, but the links in scryfall point to the same page

https://scryfall.com/card/10e/244%E2%98%85/uncontrollable-anger and https://scryfall.com/card/10e/244/uncontrollable-anger both point to https://shop.tcgplayer.com/magic/10th-edition/uncontrollable

[2020-04-08 08:04] sboosali commented on #504
https://gist.github.com/omfgitsmark/8582b05b356abedb4dd1595e40c5ec1a is dead link (or has a typo?)

[2020-04-08 19:17] omfgitsmark commented on #504
Yeah, I think I deleted that gist because it was just an example. It's a little outdated now, but I did end up reposting a full Structures.json here: https://gist.github.com/omfgitsmark/11a024d297dcb7dbf2af7831d19f7f61

I'm not sure this idea will ever come to fruition though.

[2020-04-08 21:33] ZeldaZach commented on #504
This is a real pain point for me as there's no way I could easily handle this internally unless I started slopping config files together and such... Not sure what our best approach is here.

[2020-04-09 20:46] csuhta commented on #540
We've correct the Planeshift foils on Scryfall.

For 10th edition, I do not believe there are regular foils. All foils have the alternate reminder text and typography, according to this article https://magic.wizards.com/en/articles/archive/premium-foils-tenth-edition-2007-07-12

[2020-04-09 20:58] #540 closed, assigned to nobody

[2020-04-10 11:01] taw opened #541 "DOM frameEffect mostly disappeared"
#### MTGJSON Version: 4.X.X

https://mtgjson.com/json/DOM.json

#### Description of Bug:

In latest update, only 10 cards have frameEffect legendary. There should be 59 of them.
It was correct previous week.

[2020-04-10 20:11] kodawah commented on #540
Thanks! I didn't know about 10E, and was surprised that they got the (*) specifier.

[2020-04-10 22:31] #533 closed, assigned to nobody

[2020-04-10 23:09] #530 closed, assigned to ZeldaZach

[2020-04-10 23:20] ZeldaZach commented on #541
I just rebuilt it using v4 and v5, without seeing this strange bug. Gonna close for now, but if you see it again in next week's build on Monday night let us know

[2020-04-10 23:20] #541 closed, assigned to nobody

[2020-04-10 23:21] ZeldaZach commented on #532
We decided to go with this approach, using
[code]

[2020-04-10 23:21] #532 closed, assigned to ZeldaZach

[2020-04-10 23:32] ZeldaZach commented on #531
Fixed in v5, not backporting

[2020-04-10 23:32] #531 closed, assigned to nobody

[2020-04-10 23:43] #529 closed, assigned to ZeldaZach

[2020-04-10 23:43] ZeldaZach commented on #529
Thanks for the ticket! Silly mistake on my part :)

[2020-04-10 23:53] ZeldaZach commented on #508
Added to v5, not backporting to v4

[2020-04-10 23:53] #508 closed, assigned to nobody

[2020-04-10 23:54] #522 closed, assigned to nobody

[2020-04-11 00:05] #507 closed, assigned to ZeldaZach

[2020-04-11 00:05] #502 closed, assigned to nobody

[2020-04-11 00:08] ZeldaZach commented on #480
This is addressed in v5, will not be addressed in v4

[2020-04-11 00:08] #480 closed, assigned to nobody

[2020-04-11 00:16] ZeldaZach commented on #504
I've decided to abandon this ticket. We split the repos for a reason when v4 came about, and I'm happy with the results.

[2020-04-11 00:16] #504 closed, assigned to nobody

[2020-04-11 17:13] kodawah commented on #497
i also run into this but i believe it's better to keep information from cards as printed, instead of introducing yet another standard.. that means surgical extraction gets * and emrakul gets (star)

also, what wrong of having the star in the link, it's not anybody is typing them out, and browsers support the string conversion correctly https://scryfall.com/card/proe/%E2%98%854/emrakul-the-aeons-to

[2020-04-11 17:25] ZeldaZach commented on #497
@kodabb brings up a good point. Why change what many other sources are following? I want to keep data interchangeable if possible. This can be converted on the end user's side. We should make a note about the use cases.

cc: @staghouse

[2020-04-11 17:25] #497 closed, assigned to ZeldaZach

[2020-04-11 21:35] ZeldaZach commented on #492
Support for MKM is complete in v5. Not backporting. Ticket staying open.

[2020-04-17 18:09] ZeldaZach commented on #489
This should be addressed in v5 now :)

[2020-04-17 18:09] #489 closed, assigned to nobody

[2020-04-17 18:14] ZeldaZach commented on #359
I'm honestly happy with the work @taw did at https://raw.githubusercontent.com/taw/magic-sealed-data/master/sealed_basic_data.json and I'm going to consider importing it as a separate file within MTGJSON (AllBoosterPackLayouts (?))

[2020-04-17 18:55] ancestral commented on #359
Technically, the weighting of commons on the commons sheet isn’t weight of 1. The commons are actually printed across multiple sheets of 121 cards, so a handful of commons are technically more common than others. I think it ends up being two sheets, meaning there are 40 commons in a large set that appear slightly more often than others. Wizards will supposedly select a handful to occupy those comm

[2020-04-17 18:59] taw commented on #359
@ancestral [Here's one source](http://www.lethe.xyz/mtg/collation/101-commons.html)

Anyway, the real collation process is really complicated. I think what I have is the best machine readable information, but it could be improved. If we know which common is half-rarity, we could simulate this.

Some of the time it's a decent guess - like M10 has just one colorless common Terramorphic Expanse so I'

[2020-04-18 03:52] kodawah opened #542 "whirling dervish tcgplayerProductId error"
hi,
i believe whirling dervish (d546d705-189d-5662-98e0-9baaa9aab670) has a wrong `tcgplayerProductId`: currently 38229 points to the Junior Euro Series, while the `number` (2U07) makes the card belong to the Junior APAC Series (which is missing from TCG entirely)

[2020-04-18 03:54] kodawah commented on #542
the euro version of the card (a8aec7b9-179e-5db6-a5da-9bf04bb9610a) correctly points to the correct tcg edition fwiw

[2020-04-20 15:55] giniman opened #543 "Some missing foreign language cards (Korean) in Ikoria"
IKO-118 Footfall Crater
IKO-226 Lurrus of the Dream Den

[2020-04-20 16:07] ZeldaZach commented on #543
Thanks for your report!!

foreignData will be added, in full, with today's build. If it's still an issue tomorrow morning, do re-open.

[2020-04-20 16:07] #543 closed, assigned to nobody

[2020-04-21 11:51] taw opened #544 "C20 release date"
https://www.mtgjson.com/json/C20.json

It is incorrectly listed as  "releaseDate": "2020-04-24".

[That was the original release date, but it changed to  "releaseDate": "2020-04-17".](https://mtg.gamepedia.com/Commander_2020)

[2020-04-21 11:55] taw opened #545 "C20 foils"
https://www.mtgjson.com/json/C20.json

There are 210 cards with `"hasFoil": true`. That's mostly wrong.

Actually there are only 4 foil cards per deck, so 20 total. Feel free to double check, but the correct list seems to be only these cards (commander, alt commander, and 2 partners for each deck) :

* Akim, the Soaring Wind
* Brallin, Skyshark Rider
* Cazur, Ruthless Stalker
* Gavi, Nest Warden
*

[2020-04-21 14:44] ZeldaZach commented on #545
Took a look, and this appears to be an upstream issue

cc: @csuhta

[2020-04-21 14:44] ZeldaZach commented on #544
Upstream issue

cc: @csuhta

[2020-04-21 14:49] ZeldaZach commented on #542
Nice spotting! Appears to be upstream

cc: @csuhta

[2020-04-21 20:29] csuhta commented on #542
Hey there, could you please provide Scryfall IDs and what their product ID should be? I'm not sure which versions you are talking about (we don't have a card with UUID d546d705-189d-5662-98e0-9baaa9aab670)

[2020-04-21 20:35] csuhta commented on #544
Changed on Scryfall (also IKO too)

[2020-04-21 22:07] #544 closed, assigned to nobody

[2020-04-21 22:09] ZeldaZach commented on #542
Referring to https://api.scryfall.com/cards/cd0aef6e-39ba-4231-9d53-2619930f52b4?format=json&pretty=true and https://api.scryfall.com/cards/3a24a043-b8e4-42de-bfa4-e7e8bb9c473a?format=json&pretty=true

@csuhta

[2020-04-22 23:43] carlol opened #546 "IKO release missed"
#### MTGJSON Version: 4.X.X

Hi, probably I'm missing something but I don't know where to find the latest release (IKO). I see in the GitHub repo home the 3.6.3 badge but I don't find it.

Could you help me?

Best regards

#### Description of Bug:

[2020-04-24 00:47] staghouse commented on #546
You can find it near the top of the sets downloads list here:

https://mtgjson.com/downloads/all-sets/

Directly from the individual set source here:

https://www.mtgjson.com/json/IKO.json

Or you can find it with all the other printings in AllPrintings which you can find here:

https://mtgjson.com/downloads/all-files/

[2020-04-24 12:14] jroed opened #547 "Artifact in CardTypes missing "Gold" subtype"
#### MTGJSON Version: 4.6.3+20200422

CardTypes.json

#### Description of Bug:

Artifact in CardTypes.json is missing `Gold` subtype.

[2020-04-25 02:53] staghouse opened #548 "Rename/Alter "AttributeValues""
#### MTGJSON Version: 5.0.0

**Rename:** The new AttributeValues file should be named back to its original "KeyValues" name as it is more precise.

**Alter:** The following data points need to be adjusted:

card =>
- remove types
- remove subtypes
- remove supertypes
- remove foreignData

set =>
- remove code
- add type

add foreignData (top level) =>
- add language

[2020-04-25 15:29] zovt opened #549 "Various pricing data issues"
#### MTGJSON Version: 4.6.3+20200424

#### Description of Bug:
Some pricing data appears to be missing for a bunch of cards in a variety of ways. For example, Abomination (16376f75-9dcb-583b-9094-161ead43dd82) and Zuran Orb (224263a4-f3a6-5587-b39f-834735133ffa) are completely missing any historical data, and Abduction (595a775a-7bef-5ffb-a4f8-bb35257b1e9d) and Absolute Law (9bffc560-c719-5c23-841

[2020-04-25 15:32] zovt commented on #549
`Thalia, Guardian of Thraben` (c5b37a65-d68d-5ff8-9d25-c9e500ee7ea3) seems to be completely missing data as well as an example of a newer card missing data

[2020-04-26 04:28] ZeldaZach commented on #547
Seems to be missing upstream in the artifact catalog

cc: @csuhta

[2020-04-26 04:32] #546 closed, assigned to nobody

[2020-04-26 04:42] ZeldaZach commented on #549
Hey @zovt Thanks for the report! Having oversight on my work is always appreciated.

I went through each and every card you reported on this ticket. From my investigation, it appears that TCGPlayer no longer has any copies of these specific printings available, which leads them not to report back data. As such, the system is working as expected.

If you come across listings for these cards, do let

[2020-04-26 04:42] #549 closed, assigned to nobody

[2020-04-26 04:49] ZeldaZach commented on #548
Addressed

[2020-04-26 04:49] #548 closed, assigned to ZeldaZach

[2020-04-26 05:14] staghouse opened #550 "(v5) Update EnumValues.json to include more fields"
Add: deck => type
Add: keywords => abilityWords, keywordAbilities, keywordActions

[2020-04-27 18:22] allentiak opened #551 "Document program parameters as in the README"
#### MTGJSON Version: 4.X.X

master (ef7b551)

#### Description of Bug:

The repo README explains how to use the program. But the program itself does not show that info in any visible way...

- Once installed, if I invoke the program without parameters, it gives no useful info: the user has to infer what each parameter does...

[code]

- Once installed, inferring `-h` as the "help" option, I if I

[2020-04-27 20:20] kodawah opened #552 "sprite dragon (369) is missing frameeffects = inverted"
This card ("d1a83411-2f0d-5e07-8af6-ae8a34c7c0a1") seems to have a missing frameEffect property

[2020-04-27 22:10] staghouse opened #553 "(v5) SetList.json not returning any data"
<img width="243" alt="image" src="https://user-images.githubusercontent.com/1939508/80438972-745dc200-88d3-11ea-8905-b3ed8ba83351.png">

[2020-04-28 02:05] staghouse opened #554 "(v5) CompiledList.json data has a "files" key and is not alphabetized"
<img width="235" alt="image" src="https://user-images.githubusercontent.com/1939508/80438870-38c2f800-88d3-11ea-9a47-013e1a0fbf95.png">

[2020-04-28 02:06] staghouse opened #555 "(v5) DeckList.json has a "decks" key"
<img width="223" alt="image" src="https://user-images.githubusercontent.com/1939508/80438928-598b4d80-88d3-11ea-82d5-41ef9f1b6d8a.png">

[2020-04-28 02:44] kodawah commented on #542
please note that this seems recurring with the Junior APAC series, Sakura-Tribe Elder (https://scryfall.com/card/pjas/1U06/sakura-tribe-elder) is affected as well and soltari priest too.
Since the edition is not on TCG it should be possible to just exclude the cards from this set to be extra ssafe https://scryfall.com/sets/pjas

[2020-04-28 03:26] #555 closed, assigned to ZeldaZach

[2020-04-28 03:27] #554 closed, assigned to ZeldaZach

[2020-04-28 03:27] #553 closed, assigned to ZeldaZach

[2020-04-28 03:27] #550 closed, assigned to ZeldaZach

[2020-04-28 03:30] ZeldaZach commented on #552
Good catch! Links back to SF UUID 7172db88-2208-47c4-8226-bc094fd04a9b

cc: @csuhta

[2020-04-28 04:23] TripleEquals opened #556 "HTML In"
As of the date of this reporting, in the IKO.json file it has been noted that certain cards are including HTML in the "originalText" attribute, specifically <i> tags in the reminder text.

Full extent of affect set files is unknown.
Full extent of affected fields is unknown.
Full list of extra html tags is unknown.

[2020-04-28 04:24] TripleEquals commented on #556
Example issue in "Brokkos, Apex of Forever".

Original description - "Mutate {2}{UB}{G}{G} <i>(If you cast this spell for its mutate cost, put it over or under target non-Human creature you own. They mutate into the creature on top plus all abilities from under it.)</i>\nTrample\nYou may cast Brokkos, Apex of Forever from your graveyard using its mutate ability."

[2020-04-28 20:30] csuhta commented on #552
Fixed on Scryfall

[2020-04-28 20:30] #552 closed, assigned to nobody

[2020-04-28 20:30] csuhta commented on #547
Fixed on Scryfall

[2020-04-28 20:31] #547 closed, assigned to nobody

[2020-04-28 20:44] csuhta commented on #545
Fixed on Scryfall

[2020-04-28 21:07] csuhta commented on #542
I'm having trouble reconciling this because TCGplayer has the cards in two sets, while we have 4 Junior sets, and also their images are very low-resolution so I cannot check collector numbers.

If you're sure what needs to be changed, could you please provide a list or CSV for me with the corrections? Ideally mapping the Scryfall ID → TCGplayer ID (or empty if it needs to be unset)

[2020-04-28 21:47] #545 closed, assigned to nobody

[2020-04-30 10:23] lionelh commented on #364
Hello @ZeldaZach
Here is a CSV file with an upated list of fixed french trnaslation. I also put some comment because for some expansion there are french translation but that expansion was never print in french.

[french-translation-fix.txt](https://github.com/mtgjson/mtgjson/files/4557648/french-translation-fix.txt)

[2020-05-01 05:55] giniman opened #557 "Arenaid is missing - ArendId : 69450"
#### MTGJSON Version: 4.X.X
I am coding some decklist maker for Arena but this Id code is missing.

#### Description of Bug:

[2020-05-02 22:28] jroed opened #558 "'is' and 'has' property names"
There are several properties that have an 'is' or 'has' prefix. For example `hasFoil` is true or false if the card can be found in foil or not.

It seems that these properties prefixes are not coherently used in some cases. Therefore I would like to propose the following definitions:
1. A property has an 'is' prefix if the property is associated with **THIS variant** of the card.
2. A property has

[2020-05-05 21:39] splatterb0y opened #559 "Missing mcmID's for Mystery Booster and Tempest"
#### MTGJSON Version: 4.6.3+20200505

#### Description of Bug:
Sets "Mystery Booster" (MB1) and "Tempest" (TMP) are both missing mcmId's and purchaseUrls for CardMarket. Is there some way to fix this?

[2020-05-05 22:11] omfgitsmark opened #560 "Wrong version of cards in decks"
Quoted from discord:

[2020-05-05 23:58] johnathanbostrom opened #561 "Keywords.json is Broken: Returns Rules Text Instead of Keyword Abilities"
#### MTGJSON Version: 4.X.X
4.6.3+20200505
#### Description of Bug:
https://www.mtgjson.com/files/Keywords.json
It looks like whatever scraper/parser you are using to automatically get the text for keyword abilities is broken.  Instead of a list of keywords, keywordAbilities contains rules text starting from 702.2a and ending with 702.139f.  KeywordActions has a similar problem.

[2020-05-08 20:04] #561 closed, assigned to ZeldaZach

[2020-05-08 20:05] ZeldaZach commented on #561
I've uploaded a new Keywords.json, but for the compressed versions just wait until Monday's rebuild :)

Thanks for the ticket, much appreciated!!

[2020-05-08 20:14] ZeldaZach commented on #560
I have confirmed this to be an upstream issue re: @taw

<img width="437" alt="Screenshot 2020-05-08 16 14 03" src="https://user-images.githubusercontent.com/7460172/81445500-f907d600-9146-11ea-8465-d5c200333a54.png">

[2020-05-08 21:35] taw commented on #560
Oh right, so generally data we have is just card name / count / foiling of each card in the deck and sideboard.

The script can guess with nearly 100% accuracy which set the card is from based on a few simple rules.

Unfortunately if set has multiple versions of the same card, script just picks one at random. For pretty much whole history of Magic, this simply meant that we didn't have proper info

[2020-05-08 23:06] ZeldaZach commented on #559
Heh, I found some issues within the building scripts. Thanks for reporting! I'll have it fixed on v5, with a possible backport to v4.

[2020-05-08 23:47] #559 closed, assigned to ZeldaZach

[2020-05-08 23:54] ZeldaZach commented on #558
I'm very confused with the request, as the examples you posted are exactly the opposite of what I'd expect.

As one example, isAlternative defines _this_ printing of the card is an alternative. Adding misc keys, like hasAlternative to other printings of the card feel wasteful imo.

I spoke with the full dev team and we all agree it's a bit of an overkill, however we'll do a better job on our docum

[2020-05-08 23:54] #558 closed, assigned to nobody

[2020-05-08 23:59] ZeldaZach commented on #557
I'm gonna need more information on where this is missing from. What card in what set should it go to?

[2020-05-09 00:11] #556 closed, assigned to ZeldaZach

[2020-05-09 00:18] ZeldaZach commented on #551
Ya know, I thought I did this at some point in history, but it appears I forgot. Addressed :)

[2020-05-09 00:18] #551 closed, assigned to ZeldaZach

[2020-05-09 00:21] ZeldaZach commented on #542
If you'd like this addressed further @kodabb please contact Scryfall directly.

[2020-05-09 00:21] #542 closed, assigned to nobody

[2020-05-09 00:21] ZeldaZach commented on #527
This does appear to be an upstream issue. cc @csuhta

[2020-05-09 00:23] ZeldaZach commented on #525
I've decided against this feature, simply because there's no easy way to do this, and to do it manually is a real PITA. Wizards is very inconsistent with these type of things, so having inconsistent data and orderings is not something I feel comfortable doing.

Would consider reviewing a PR, but it's going to be closed for the time being.

[2020-05-09 00:23] #525 closed, assigned to nobody

[2020-05-09 00:35] allentiak commented on #551
Thanks, @ZeldaZach!

[2020-05-09 00:41] omfgitsmark commented on #560
well the only one that's been discovered so far is the one mentioned above.

**Deck:** Flash Of Ferocity
**Set:** Theros Beyond Death (THB)
**Current Card:** Brazen Borrower #281a
**Correct Card:** Brazen Borrower #39

Would it be possible to have it grab the lowest numbered card (which is usually the normal version) or even the number without any extra characters (like the "a" in the above card n

[2020-05-09 01:39] giniman commented on #557
I'll collect more data from MTGA using some self-made tools and report to you. Thanks.

[2020-05-09 08:43] kodawah commented on #525
@ZeldaZach isn't there some way that we could pull this information from scryfall? Somewhat mimicking the separations they have in sets https://scryfall.com/sets/thb ( In Boosters • 254 cards ,  Extended Art Cards • 55 cards , Promos • 6 cards )

Without a precise information like that right now it's not possible to programmatically determine if a card is a Bundle promo, and it would vastly simpli

[2020-05-09 14:25] silasary commented on #525
Scryfall doesn't provide that data through its API right now

[2020-05-09 16:59] kodawah commented on #525
@silasary are you saying that it's a limitation upstream would need to address?

[2020-05-10 18:55] omfgitsmark commented on #560
Ok, It's a bit more than just the one wrong card. I have to go through and get the actual numbers when I have some time, but here's the list given to me:

- Final Adventure deck: Foulmire Knight // Profane Insight, Murderous Rider // Swift End, Blacklance Paragon, Order of Midnight // Alter Fate
 - Flash of Ferocity - Thassa's Intervetion, Wavebreak Hippocamp, Brazen Borrower // Petty Theft
 - All

[2020-05-12 22:07] taw commented on #560
[I created issue in upstream repository](https://github.com/taw/magic-search-engine/issues/141). Currently 199 non-basic cards match multiple printings in same set, so this needs more systematic approach.

If you want to help, use that list, and check manually which card should be used (give me numbers for each conflict).
You can ignore cards with ★ or †, I'll have indexer deal with them automatic

[2020-05-13 05:52] taw commented on #560
@omfgitsmark With new heuristics all those issues are fixed, but it would be nice if someone went through https://mtg.wtf/deck and checked if everything is correct.

(like I've noticed some full art basics in some decks, that's definitely wrong; I didn't notice any other issues)

[2020-05-13 07:31] DJCatBlitz opened #562 "Better german translations"
Hi Zach!
My son complained that he does not understand all the english cards, so I changed my Magic software to use german cards using your files.
I had a few major problems:
- around 1000 cards are not translated
- for many cards AllPrintings does not contain the most current translation
- MANY translation are really bad, because they contradict the current rule set
- subtypes are not changed, wh

[2020-05-13 22:12] kodawah opened #563 "Unsanctioned lands have the same tcgplayerid per land type"
Both https://scryfall.com/card/und/95/forest and https://scryfall.com/card/und/96/forest point to the same product page https://shop.tcgplayer.com/magic/unsanctioned/forest?id=208389&partner=Scryfall. The same is true for all the basic lands.

The tcgplayer id should be

Forest
        208379, (full)
        208389

Island
        208383, (full)
        208453

Mountain
        208382, (full)

[2020-05-14 18:44] GaryTheHutt opened #577 "token faces"
MD1 tokens are listed as 'normal' layout, but should be double-sided.

There are 3 combos:
Soldier / Spirit
Soldier/ Elspeth, Knight-Errant Emblem
Spirit / Myr

[2020-05-14 19:46] GaryTheHutt opened #576 "C14 token layout"
Commander 2014 tokens were all double_sided, but marked for normal layout in data. The 24 cards are:

Angel / Cat
Goat / Goblin
Goat / Wurm mtgjson/mtgjson-website#32
Goat / Wurm mtgjson/mtgjson-website#33
Kor Soldier / Pegasus
Soldier / Spirit
Fish / Zombie mtgjson/mtgjson-website#11
Kraken / Zombie mtgjson/mtgjson-website#11
Whale / Zombie mtgjson/mtgjson-website#11
Zombie mtgjson/mtgjson-websit

[2020-05-14 22:36] GaryTheHutt opened #575 "Commander 2015 token layout"
The double-sided experience counter token is missing from your collection. https://shop.tcgplayer.com/magic/commander-2015/experience-double-sided-token?partner=mtgtcg

Other tokens in the set are double-sided, but marked as normal in your layout field. The 26 token versions are:

Experience / Experience
Shapeshifter / Shapeshifter
Shapeshifter / Elemental Shaman
Angel / Knight mtgjson/mtgjson-web

[2020-05-15 08:09] GaryTheHutt opened #574 "C16 layout"
Same layout issue with Commander 2016 tokens. All tokens are double-sided, but listed as normal in data. The 18 combinations are:
Spirit mtgjson/mtgjson-website#1 / Spirit mtgjson/mtgjson-website#6
Bird mtgjson/mtgjson-website#2 / Spirit mtgjson/mtgjson-website#6
Bird mtgjson/mtgjson-website#2 / Saproling mtgjson/mtgjson-website#16
Bird mtgjson/mtgjson-website#2 / Myr
Elemental / Soldier
Goat / Th

[2020-05-15 08:25] GaryTheHutt opened #573 "PCA token layout"
All Planechase Anthology tokens are double-sided. Listed as normal in data. 14 combinations are:

Eldrazi / Eldrazi Spawn mtgjson/mtgjson-website#2
Eldrazi / Eldrazi Spawn mtgjson/mtgjson-website#3
Eldrazi / Eldrazi Spawn mtgjson/mtgjson-website#4
Angel / Saproling
Goat / Insect
Germ / Goblin
Spider / Saproling
Zombie / Hellion
Dragon / Saproling
Goblin / Boar
Goblin / Saproling
Beast / Saproling

[2020-05-15 09:25] GaryTheHutt opened #572 "AKH token layout"
There were 18 double-sided tokens included in the Amonkhet Bundle missing from the data. The 23 single-sided tokens included in booster packs is accurate. The double sided tokens are:

Angel of Sanctions / Drake
Anointer Priest / Drake
Aven Initiate / Snake
Aven Wind Guide / Hippo
Glyph Keeper / Warrior
Heart-Piercer Manticore / Warrior
Honored Hydra / Warrior
Labyrinth Guardian / Warrior
Labyrint

[2020-05-15 20:31] GaryTheHutt opened #571 "E01 token layout"
Tokens in the Archenemy: Nicol Bolas set are all double-sided. Data lists all as normal layout.
Combinations are:

Soldier / Spirit
Soldier / Beast mtgjson/mtgjson-website#4
Soldier / Beast mtgjson/mtgjson-website#5
Horror / Zombie

[2020-05-15 20:57] GaryTheHutt opened #570 "HOU token layout"
There are 24 double-sided Hour of Devastation tokens missing from the data:

Adorned Pouncer / Horse
Adorned Pouncer / Warrior mtgjson/mtgjson-website#17 (AKH)
Champion of Wits / Insect
Champion of Wits / Warrior mtgjson/mtgjson-website#17 (AKH)
Dreamstealer / Insect
Dreamstealer / Warrior mtgjson/mtgjson-website#17 (AKH)
Earthshaker Khenra / Cat (AKH)
Earthshaker Khenra / Zombie (AKH)
Proven Comb

[2020-05-15 21:07] GaryTheHutt opened #569 "C17 token layout"
All tokens in Commander 2017 are double sided. Layout is currently set to normal. There are 12 combinations:

Cat / Rat
Cat / Cat Warrior
Bat / Vampire
Rat / Cat Warrior
Vampire / Zombie
Vampire / Eldrazi Spawn
Zombie / Gold
Dragon mtgjson/mtgjson-website#6 / Cat Dragon
Dragon mtgjson/mtgjson-website#6 / Gold
Dragon mtgjson/mtgjson-website#7 / Cat Dragon
Dragon mtgjson/mtgjson-website#7 / Gold
Cat

[2020-05-15 21:33] staghouse commented on #577
@GaryTheHutt Are these data inconsistencies? The website uses schemas to show data as examples, it rarely, if ever used real data

[2020-05-15 21:58] GaryTheHutt opened #568 "E02 token layout"
All tokens in Explores of Ixalan Boxed Set were double-sided. There are 5 combinations:

Saproling / Treasure mtgjson/mtgjson-website#7 (XLN)
Vampire (XLN) / Treasure mtgjson/mtgjson-website#8 (XLN)
Saproling / Treasure mtgjson/mtgjson-website#10 (XLN)
Dinosaur (XLN) / Treasure mtgjson/mtgjson-website#8 (XLN)
Dinosaur (XLN) / Treasure mtgjson/mtgjson-website#9 (XLN)

[2020-05-15 23:33] GaryTheHutt opened #567 "C18 token layout"
All tokens in Commander 2018 are double-sided. The 24 combinations are:

Manifest / Angel
Manifest / Zombie
Shapeshifter / Zombie
Angel / Cat
Angel / Soldier
Angel / Zombie
Mask / Soldier
Mask / Beast mtgjson/mtgjson-website#14
Mask / Horror
Cat / Soldier
Myr mtgjson/mtgjson-website#7 / Thopter mtgjson/mtgjson-website#8
Myr mtgjson/mtgjson-website#7 / Construct mtgjson/mtgjson#161
Dragon Egg / Dra

[2020-05-16 00:16] GaryTheHutt opened #566 "GNT missing tokens"
There are 6 distinct double-sided tokens in the Game Night Box which aren't in the data:

Goblin (M19) / Thopter (M19)
Knight (M19) / Goblin (M19)
Knight (M19) / Thopter (M19)
Knight (M19) / Zombie (M19)
Zombie (M19) / Goblin (M19)
Zombie (M19) / Thopter (M19)

[2020-05-16 00:49] GaryTheHutt opened #565 "token layout errors"
There are 8 double-sided token combinations in the Ravnica Alliance Guild Kit. They are listed as normal layout in the data:

Bird / Sphinx
Bird / Thopter
Spirit mtgjson/mtgjson-website#1 / Spirit mtgjson/mtgjson-website#10
Bat / Spirit mtgjson/mtgjson-website#10
Cleric / Treasure
Dragon / Goblin

[2020-05-16 01:42] GaryTheHutt opened #564 "missing double-sided tokens"
There was a mixture of normal and double-sided tokens in Modern Horizons booster packs. The more common non-foil tokens are all double sided (76 combinations) and the normal layouts are all foil (except there are no single sided foil emblems). The double sided versions missing from the data are:

Shapeshifter / Angel
Shapeshifter / Bear
Shapeshifter / Elephant
Shapeshifter / Rhino
Shapeshifter / S

[2020-05-16 02:28] staghouse commented on #565
@GaryTheHutt Please log data deficiencies at the Python application repository here: https://github.com/mtgjson/mtgjson

It's also helpful to group the issues you are seeing as one ticket relating to the same issue as opposed to individual tickets 😃

Im going to be transferring all these tickets to that repo.

[2020-05-16 07:29] taw commented on #560
[As far as I can tell, the only remaining issues are in DKM and CM2 and they're trivial](https://github.com/taw/magic-search-engine/issues/141#issuecomment-629601118) so this probably counts as fixed.

[2020-05-16 09:00] GaryTheHutt commented on #565
It seemed more workable to submit each ticket within the context of the set I was seeing the problem since the errors are not consistent across sets. However, if that's your preference I will just add comments regarding each instance I see the same error.

[2020-05-16 09:06] GaryTheHutt commented on #565
Same error in C19 set. All tokens are double sided; 21 combinations:

Bird #1 / Sculpture
Bird #2 / Sculpture
Human / Pegasus
Human / Spirit
Human / Drake
Human / Treasure
Angel of Sanctions / Horror
Heart-Piercer Manticore / Dragon
Assassin / Morph
Zombie #10 / Zombie #11
Zombie #10 / Ob Nixilis Reignited Emblem
Beast #13 / Wurm
Beast #14 / Wurm
Centaur / Egg
Egg / Rhino
Egg / Gargoyle
Egg / Eldr

[2020-05-16 09:39] GaryTheHutt commented on #564
Throne of Eldraine draft packs include normal layout non-foil tokens, but collector packs included double-sided foil tokens. The latter are all missing from the data. 56 combinations:

Goat / Food #15
Goat / Food #16
Goat / Food #17
Goat / Food #18
Human / Food #15
Human / Food #16
Human / Food #17
Human / Food #18
Knight / Food #15
Knight / Food #16
Knight / Food #17
Knight / Food #18
Mouse / Foo

[2020-05-16 12:40] krijoh92 opened #578 "Bant on the march deck file redirect to 404"
#### MTGJSON Version: 4.6.3+20200514

#### Description of Bug:

Requesting https://www.mtgjson.com/json/decks/BantOnTheMarch_CON.json deck file gets redirected to  https://www.mtgjson.com/json/decks/BantOnTheMarch_CON_.json

[2020-05-16 17:24] GaryTheHutt commented on #577
Not sure what you mean by the website showing data. I downloaded the AllPrintings.json file and expanded all the data into spreadsheets. In most of the places the Layout field in the Token object should be 'double-sided' it is set to 'normal' and there is no side-b relationship set, so it looks like all the tokens for those sets are single sided. But it is inconsistent. For a few sets, it is corre

[2020-05-16 17:30] GaryTheHutt commented on #565
Same error in GN2 set. All tokens are double sided; 6 combinations:

Dragon #1 / Zombie #6 (M20)
Dragon #2 / Dinosaur
Dragon #2 / Zombie #6 (M20)
Soldier (M20) / Zombie #6 (M20)
Dinosaur / Soldier (M20)
Zombie (M20) / Wolf (M20)

[2020-05-17 01:12] ZeldaZach commented on #578
Thanks for catching this. Fixed :)

[2020-05-17 01:14] ZeldaZach commented on #566
Dupe #565

[2020-05-17 01:14] #566 closed, assigned to nobody

[2020-05-17 01:14] ZeldaZach commented on #576
Dupe #565

[2020-05-17 01:14] #576 closed, assigned to ZeldaZach

[2020-05-17 01:14] ZeldaZach commented on #575
Dupe #565

[2020-05-17 01:14] #575 closed, assigned to ZeldaZach

[2020-05-17 01:14] ZeldaZach commented on #574
Dupe #565

[2020-05-17 01:14] #574 closed, assigned to ZeldaZach

[2020-05-17 01:14] ZeldaZach commented on #573
Dupe #565

[2020-05-17 01:14] #573 closed, assigned to ZeldaZach

[2020-05-17 01:14] ZeldaZach commented on #572
Dupe #565

[2020-05-17 01:14] #572 closed, assigned to nobody

[2020-05-17 01:15] ZeldaZach commented on #570
Dupe #565

[2020-05-17 01:15] #570 closed, assigned to nobody

[2020-05-17 01:15] ZeldaZach commented on #569
Dupe #565

[2020-05-17 01:15] #569 closed, assigned to nobody

[2020-05-17 01:15] ZeldaZach commented on #568
Dupe #565

[2020-05-17 01:15] #568 closed, assigned to nobody

[2020-05-17 01:15] ZeldaZach commented on #567
Dupe #565

[2020-05-17 01:15] #567 closed, assigned to nobody

[2020-05-17 01:15] ZeldaZach commented on #571
Dupe #565

[2020-05-17 01:15] #571 closed, assigned to nobody

[2020-05-17 01:16] ZeldaZach commented on #577
Dupe #565

[2020-05-17 01:16] #577 closed, assigned to ZeldaZach

[2020-05-17 11:40] GaryTheHutt commented on #564
Theros: Beyond Death (THB) draft packs include normal layout non-foil tokens, but collector packs included double-sided foil tokens. The latter are all missing from the data. 24 combinations:

Goat / Human Soldier
Goat / Satyr
Human Soldier / Pegasus
Human Soldier / Kraken
Human Soldier / Reflection
Human Soldier / Tentacle
Human Soldier / Zombie
Human Soldier / Elemental
Human Soldier / Spider
Hu

[2020-05-17 11:46] GaryTheHutt commented on #565
Same error in UND set. All tokens are double sided; 4 combinations:

Beeble / Squirrel
Beelble / Dragon
Goblin / Giant Teddy Bear
Giant Teddy Bear / Acorn Stash

[2020-05-17 21:26] ZeldaZach commented on #565
@GaryTheHutt For your info, if you see the same issue across 2 or 3 sets, it's a compilation thing that will (probably) impact every set. Based on the work you've done, I have enough to look into what's happening.

[2020-05-17 21:26] ZeldaZach commented on #564
Dupe #565

[2020-05-17 21:26] #564 closed, assigned to ZeldaZach

[2020-05-17 23:05] omfgitsmark opened #579 "File Hashes For Downloads"
A file hash or some sort of signature should be provided for each download. Especially since they will often be downloaded programmatically then decompressed, it is extremely helpful to have a quick way to verify the data was not corrupted during download or decompression.

I think a simple SHA256 of the actual .json file is all that's really necessary since that is the standard nowadays, but offe

[2020-05-18 15:12] GaryTheHutt commented on #565
I looked at that, but it was not across every set where it was applicable. A few sets were configured correctly, but it is *almost* every set where applicable. Sorry for generating so much feedback, but I thought it would make it easier to fix if I gave you the specifics.

[2020-05-21 04:28] kodawah opened #580 "Godzilla, Doom Inevitable is missing hasNonFoil=true"
https://shop.tcgplayer.com/magic/ikoria-lair-of-behemoths/godzilla-doom-inevitable-yidaro-wandering-monster?xid=piaf73c996-0159-421e-9f96-19a763653c6a

[2020-05-23 08:04] kodawah opened #581 "temple of abandon 347★ has wrong tcgplayer id"
it is pointing to https://shop.tcgplayer.com/magic/theros-beyond-death/temple-of-abandon?id=206632 while it should point to https://shop.tcgplayer.com/magic/theros-beyond-death/temple-of-abandon-extended-art?id=206641

[2020-05-26 00:39] johnathanbostrom opened #582 "Extra OtherFaceIds for Adventure Cards"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
**For Order of Midnight:**
`"otherFaceIds": ["31752f2c-b744-5327-ac10-618c0b6bf313", "5efd5d93-5608-57b1-a285-efd853489a9e", "ba891e0c-60c8-59f1-88a4-19dd0d25118e"]`
**For Alter Fate:**
`"otherFaceIds": ["31752f2c-b744-5327-ac10-618c0b6bf313", "5efd5d93-5608-57b1-a285-efd853489a9e", "89279745-4caf-5b2b-a9c1-45601a87fcdf"]`
Each of these cards h

[2020-05-27 02:41] csuhta commented on #534
We just added this upstream, as `nonfoil_only`!

(Also we now fully-automate both fields so they should always match data)

https://scryfall.com/docs/api/sets

[2020-05-27 02:58] kodawah commented on #534
this is sweet, thanks @csuhta !

[2020-05-29 00:30] ZeldaZach commented on #581
Looks to be an upstream issue
cc: @csuhta

[2020-05-29 00:31] ZeldaZach commented on #580
Nice catch

cc: @csuhta

[2020-05-29 05:27] csuhta commented on #580
Fixed!

[2020-05-29 05:28] csuhta commented on #581
Fixed on Scryfall

[2020-05-29 22:09] ZeldaZach commented on #563
Interesting catch. Looks to be a slight oversight.

cc: @csuhta

[2020-05-29 22:10] #581 closed, assigned to nobody

[2020-05-29 22:10] #580 closed, assigned to nobody

[2020-05-30 17:18] omfgitsmark opened #583 "set.isPartialPreview not included in SetList"
Should `isPartialPreview` be included in SetList.json and marked as `manifest`? It really seems like it should. I kinda figured all the boolean properties would be included in the manifest, but `isPartialPreview` may have fallen through the cracks.

[2020-05-30 22:37] kodawah opened #584 "every godzilla cards have the wrong tcgproductid"
The current tcgproductid for the IKO godizlla cards are pointing to the normal version

The correct list seems to be this

Godzilla Name - Normal Name | TCG Product Id
-- | --
Ghidorah, King of the Cosmos - Illuna, Apex of Wishes | 212004
Biollante, Plant Beast Form - Nethroi, Apex of Death | 212076
Mothra, Supersonic Queen - Luminous Broodmoth | 212007
Bio-Quartz Spacegodzilla - Brokkos, Apex of

[2020-05-30 23:29] ZeldaZach commented on #584
cc: @csuhta

[2020-05-31 00:36] #583 closed, assigned to ZeldaZach

[2020-05-31 01:11] #582 closed, assigned to ZeldaZach

[2020-05-31 01:14] #534 closed, assigned to ZeldaZach

[2020-05-31 01:15] #560 closed, assigned to nobody

[2020-05-31 01:16] ZeldaZach commented on #557
This ID seems to be defined now. Upstream had some issues.

[2020-05-31 01:16] #557 closed, assigned to ZeldaZach

[2020-05-31 01:24] ZeldaZach commented on #565
After reviewing the situation, I've had to decide not to pursue this feature. The value gained for repeated contents is minimal, and I don't have a strong source to provide this data other than hearsay. I appreciate your help in pointing out deficiencies within the project, but for the time being this will have to go as a no-fix.

If you do require the information to be more precise than I provide

[2020-05-31 01:24] #565 closed, assigned to nobody

[2020-05-31 02:02] #579 closed, assigned to ZeldaZach

[2020-05-31 03:06] csuhta commented on #584
Fixed on Scryfall

[2020-05-31 03:06] csuhta commented on #563
Fixed on Scryfall

[2020-05-31 03:07] #584 closed, assigned to nobody

[2020-05-31 03:07] #563 closed, assigned to nobody

[2020-05-31 21:27] ZeldaZach commented on #359
Took just under a year, but we got this done! ✋

[2020-05-31 21:27] #359 closed, assigned to nobody

[2020-05-31 22:18] ZeldaZach commented on #461
After discussing it further with the team, this kind of operation breaks the "atomic" nature of AtomicCards (formerly AllCards). As such, I can't seem to justify adding such a feature at this time. We highly discourage the use of the AtomicCards file for anything other than seeing if a card exists, and always push for AllPrintings to be the go-to file.

[2020-05-31 22:18] #461 closed, assigned to nobody

[2020-06-02 18:53] nicho92 opened #585 "Classic VI edition wrong number"
#### MTGJSON Version: 4.6.3+20200601
Gatherer give wrong collector number

#### Description of Bug:
![image](https://user-images.githubusercontent.com/11507615/83558237-01b7b600-a513-11ea-9c69-10819b8e54db.png)

[2020-06-02 19:01] ZeldaZach commented on #378
I've decided to stick with upstream's inclination for rarity, as our new booster field (1519fe5489b9fb2894f2d75a72003a8faee134ec) better handles this. If someone wants to make a booster, we have enough details for them to do so.

[2020-06-02 19:01] #378 closed, assigned to nobody

[2020-06-02 19:07] ZeldaZach commented on #585
Hmm, seems to be a more widespread issue in 6th Edition. Will talk with upstream and figure out what's up.

[2020-06-02 20:54] ZeldaZach commented on #397
And we're done :) https://scryfall.com/sets/past

[2020-06-02 20:54] #397 closed, assigned to nobody

[2020-06-03 03:23] ZeldaZach commented on #527
Poke @csuhta

[2020-06-07 03:02] ZeldaZach commented on #364
Thanks for that @lionelh I've applied it as a fix to mtgjsonv5 (still in development)

[2020-06-07 03:05] ZeldaZach commented on #364
As translation fixes come in, I'll add them to the override. But this should be on a ticket-by-ticket bases, not in a block ticket like this.

[2020-06-07 03:05] #364 closed, assigned to nobody

[2020-06-07 03:11] ZeldaZach commented on #585
Fixed upstream, will be addressed on Monday here!

[2020-06-07 03:11] #585 closed, assigned to nobody

[2020-06-07 03:36] ZeldaZach commented on #562
Hey @DJCatBlitz thanks for taking the time to do this! While I want to address foreign cards better, I don't think I can do much with your translations at the moment. The issue is Wizards provides official translations for cards. While they struggle to update foreign translations, we don't have a great way to validate 3rd party translations right now. I think this was a great learning project for

[2020-06-07 03:36] #562 closed, assigned to ZeldaZach

[2020-06-07 04:18] #455 closed, assigned to nobody

[2020-06-07 04:46] ZeldaZach commented on #460
After speaking with upstream, I unfortunately have to no-fix this unless someone were to manually transcribe the contents (which is time consuming and not too practical). Hopefully Gatherer gets an update in the future, or another source of this data comes about.

Sorry mate :(

[2020-06-07 04:46] #460 closed, assigned to nobody

[2020-06-07 05:12] csuhta commented on #527
Fixed on Scryfall!

[2020-06-07 05:12] #527 closed, assigned to nobody

[2020-06-07 10:24] kodawah commented on #542
i've completed my research, i'll forward it to scryfall and leave a copy here for posterity

Sakura-Tribe Elder
 - PJAS: unset tcgproductid
 - PJJT: unset tcgproductid
 - PJSE: no change
 - PSUS: unset tcgproductid

Serra Avatar
 - PSUS: no change

Shard Phoenix
 - PJAS: unset tcgproductid
 - PJJT: unset tcgproductid
 - PJSE: no change
 - PSUS: unset tcgproductid

Lord of Atlantis
 - PSUS: no chan

[2020-06-07 11:44] DJCatBlitz commented on #562
OK L

You are right, that Wizard provides translations, but they don’t do it for at least 1100 older cards. So I thought this would be nice for foreign players to have translations for them.

Von: Zach H [mailto:notifications@github.com]
Gesendet: Sonntag, 7. Juni 2020 05:36
An: mtgjson/mtgjson
Cc: DJCatBlitz; Mention
Betreff: Re: [mtgjson/mtgjson] Better german translations (#562)

Hey @DJCatBlit

[2020-06-09 07:34] kodawah opened #586 "Missing canonical Conflux set entry"
#### MTGJSON Version: 🔢 FIVE 🔢

I thought i was going insane but my app couldn't load Conflux data any more: this is because v5 does not seem to have a "CON" entry in AllPrintings.json, but rather a "CON_" due to an ancient Windows curse.

However *everywhere* in AllPrinting file Conflux is referenced as "CON", especially in the Printings array. Separate files are ok, but the main file is missing

[2020-06-10 05:27] csuhta commented on #542
Updated on Scryfall

[2020-06-11 01:36] #586 closed, assigned to ZeldaZach

[2020-06-13 18:34] ZeldaZach commented on #432
After speaking with upstream, I've decided to close as a no-fix. The reasoning is upstream will be removing non-craftable cards in the near future (that are fake cards that have no purpose outside of the tutorial) as they can't be used anywhere. By default then, all arena cards are craftable.

[2020-06-13 18:34] #432 closed, assigned to nobody

[2020-06-14 18:08] Nicate commented on #432
That sounds like a good idea, then you can't create decklists from MTGJSON that cannot be imported.

Do note that there are many uncraftable cards in Arena, for example all the special lands that were either rewards or purchasable. But I'm guessing that's not what you meant.

[2020-06-15 05:49] taw opened #587 "isShandalar"
So now that we have Shandalar cards in PAST set, maybe we could have `isShandalar` in addition to `isArena`, `isMtgo`, and `isPaper`?

[There are some lists like this one](http://www3.sympatico.ca/eleibrock/Magic/Shandalar/Shandalar.htm). Of course this leads to question which edition is that from.

[2020-06-15 21:13] ZeldaZach commented on #492
Support for CardKingdom is complete in v5 31c318717ebbf4a89a664f4949a3f4193bae19cd. Not backporting. Will be closing the ticket and calling other providers advancements of the future

[2020-06-15 21:13] #492 closed, assigned to ZeldaZach

[2020-06-15 21:20] ZeldaZach commented on #587
Hmm, I see Scryfall supports "astral" as a game type for those 12 cards in PAST. This could be expanded out to those cards on the list you provided, Taw. Maybe this is an enhancement upstream can do? cc: @csuhta

[2020-06-15 21:24] csuhta commented on #587
`astral` is the same as `shandalar`, we use `"astral"` because that seems to be [how WotC chooses to refer to these cards / this game](https://magic.wizards.com/en/articles/archive/feature/astral-cards-2009-02-12). (The game is officially just called "Magic: The Gathering", so these different identifiers are all community-driven for the most part)

We also have `"sega"` as a game value now too: ht

[2020-06-15 21:25] ZeldaZach commented on #587
Do you plan on supporting the `astral` tag for more than just the 12 cards in PAST? Such as https://scryfall.com/card/arn/1/abu-jafar

[2020-06-15 22:10] #587 closed, assigned to nobody

[2020-06-16 05:22] ZeldaZach opened #588 "Store all IDs in a struct"
MTGJSON5 introduces 13 Ids to the program. That's a lot. A sub-struct in each card object to house all Ids would make things cleaner imo

Instead of having all IDs are the root level, I'll have "identifiers" that breaks down into a map of source (i.e. the old root level key) and value

[2020-06-16 16:02] #588 closed, assigned to ZeldaZach

[2020-06-17 19:23] omfgitsmark opened #589 "Compressing price build creates empty AllSetFiles, AllDeckFiles, etc. [v5]"
When compressing a price build empty files are still created for any directory based files:

- AllSetFiles
- AllDeckFiles
- AllPrintingsCSVFiles

[2020-06-18 08:16] taw opened #590 "C20 cards all marked as having nonfoil version"
https://www.mtgjson.com/json/C20.json

As far as I known, 20 cards with foils only exist in foil versions.

[2020-06-18 08:18] taw opened #591 "C20 release date is wrong"
https://www.mtgjson.com/json/C20.json

It incorrectly has `"releaseDate": "2020-04-24"`. That was the original planned release, [but it got moved to 2020-04-17](https://mtg.gamepedia.com/Commander_2020).

[2020-06-18 15:10] oelarnes opened #592 "Lurrus missing MTGO Price"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
Seems to be the only card in IKO missing an mtgo price. I strongly suspect it's due to the fact that mtgo exports the name as "Lurrus of the Dream Den" rather than "Lurrus of the Dream-Den"

[2020-06-18 15:15] oelarnes opened #593 "WAR Planeswalkers mismatched prices"
#### MTGJSON Version: 4.X.X

#### Description of Bug:
The WAR file has records for the Japanese alt-art planeswalkers with collector numbers like "number": "1★" (at least, this is how scryfall represents things). The mtgo prices for the usual version of the card is being attached to these records.

[2020-06-18 21:20] staghouse opened #594 "(v5) EnumValues.json is not capturing individual deck "type""
In https://mtgjson.com/api/v5/EnumValues.json, the property of `data.deck.type` is an empty array. It seems these are no longer being capture as enum values and thus not in the generated json.